<div class="xb-shop__product md-padding-top-2 md-padding-right-2 md-padding-left-2 md-margin-bottom-2">
  <div class="xb-shop__header"></div>
  <div class="xb-shop__product-buttons md-padding-bottom-1">
    <button mat-raised-button color="accent" >
      <div fxLayout="row" fxLayoutAlign="start center" routerLink="../blog/create">
        <i class="material-icons">add</i>
        <span class="md-margin-left-1">Create a Blog Post</span>
      </div>
    </button>
  </div>
  <mat-tab-group color="accent" (selectedTabChange)="changeBlog($event)"  [(selectedIndex)]="selectedIndex">
    <mat-tab label="Published Posts" >
      <div class="md-margin-top-2 ">
        <app-blog-title [status]="0"></app-blog-title>
      </div>
      <div class="md-margin-top-2">
        <div class="xb-shop__product-list xb-shop__statistic-bg" *ngFor="let item of blog;let i = index;">
          <app-blog-item [blog]="item" [index]="i" (blogChange)="blogChange($event)"></app-blog-item>
        </div>
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="changePage($event, 0)"
                       *ngIf="blog && blog.length > 0">
        </mat-paginator>
        <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="blog && blog.length <= 0">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://media.socialcommer.com/source/web/pic/pic-blog.png">
            <span class="md-dark-secondary">You haven't published any blog yet.</span>
            <div class="md-margin-top-3">
              <button mat-raised-button color="primary" routerLink="../blog/create">Publish Your First Blog</button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Saved Drafts">
      <div class="md-margin-top-2 ">
        <app-blog-title [status]="1"></app-blog-title>
      </div>
      <div class="md-margin-top-2">
        <div class="xb-shop__product-list xb-shop__statistic-bg" *ngFor="let item of blog;let i = index;">
          <app-blog-item [blog]="item" [index]="i" (blogChange)="blogChange($event)" [status]="1"></app-blog-item>
        </div>
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="changePage($event, 1)"
                       *ngIf="blog && blog.length > 0">
        </mat-paginator>
        <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="blog && blog.length <= 0">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://media.socialcommer.com/source/web/pic/pic-blog.png">
            <span class="md-dark-secondary">You currently have no drafts saved. </span>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
