<div class="xb-bonus-dialog">
  <div class="xb-bonus-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-bonus-dialog__title-1">
    By switching to Inactive status, your store will be unavailable to access! Are you sure?
  </div>
  <div class="xb-bonus-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="close()">YES</button>
    <button mat-button color="primary" (click)="open()">NO</button>
  </div>
</div>
