.line-through{
  text-decoration: line-through;
}

.vertical-align-middle{
  vertical-align: middle;
}

.border-bottom{
  border-bottom: 1px solid #dcdcdc;
}

.text-underline{
  text-decoration: underline;
}

