@charset "UTF-8";
@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-bonus {

  &__bg{
    padding: 32px 72px;
    background-color: $whiteColor;
    border-radius: 4px;
    height: 282px;
  }

  &__item{
    position: absolute;
    left: 0;
    top: 0;

    &-bg{
      position: relative;
      height: 200px;
    }
  }

  $widths: (0 12.5%) (1 25%) (2 50%) (3 75%) (4 100%);
  @each $width in $widths {
    &__item-#{nth($width, 1)} {
      width: nth($width, 2);
      &-line{
        background-color: rgba(0,0,0,.08);
        height: 20px;
        border-radius: 10px;
        margin-top: 20px;
      }

      i{
        color: $primaryColor;
      }
    }
  }

  &__line-1{
    width: 1px;
    height: 44px;
    background-color: $primaryColor;
  }

  &__target{
    position: absolute;
    left: 0;
    top: 84px;
    &-line{
      background: linear-gradient(180deg, #42dcf0 0, #00bcd4 100%);
      height: 20px;
      border-radius: 10px;
    }

    &-shadow{
      @include box-shadow(0 1px 3px 2px rgba(0, 0, 0, 0.19));
    }

    &-line-1{
      margin-top: 10px;
      width: 1px;
      height: 80px;
      background-color: $orangeColor;
    }
  }

  &__text{
    line-height: 14px;
    margin: 8px 0;
    white-space: nowrap;
  }

  &__text-1{
    line-height: 14px;
    white-space: nowrap;
  }

  &__sales{
    width: 1px;
  }
}



