<div class="xb-bonus__item" fxLayout="row" fxLayoutAlign="start center"
     *ngFor="let item of bonusList;">
  <div class="md-align-center" fxFlex="25">{{item.bonus | currency: currency: true}}</div>
  <div class="md-align-center" fxFlex="25">{{item.sales | currency: currency: true}}</div>
  <div class="md-align-center" fxFlex="25">{{monthSale | currency: currency: true}}</div>
  <div class="md-align-center" fxFlex="25">{{(item.sales - monthSale > 0? item.sales - monthSale: 0) | currency: currency: true}}</div>
</div>
