<div class="xb-4-template-navigation__container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
  <ng-container *ngFor="let value of contents ;let i=index">
    <div class="xb-4-template-navigation xb-pointer"
         *ngIf=" !(i==1 && !isNavigationHaveBlog)"
         [ngClass]="{active: ((i == navigationIndex) && !isCategory)}" (click)="changeNavigation(i)">
      {{value.name |makeFirstLetterBig}}
    </div>
  </ng-container>
  <div class="xb-4-template-navigation xb-pointer" *ngFor="let category of categories ; let i=index"
       [ngClass]="{active: ((i == navigationIndex) && isCategory)}" (click)="changeCategoryNavigation(i)">
    {{category.name | makeFirstLetterBig}}
  </div>
  <div class="xb-store-template__cart-order-and-cart" fxLayout="row" fxLayoutAlign="start center">
    <i class="iconfontXberts icon-pic-per xb-store-template__cart-icon md-margin-right-4"
       (click)="openStoreOrder()"></i>
    <div class="xb-store-template__cart-position" (click)="openStoreCart()">
      <i class="iconfontXberts icon-pic-cart1 xb-store-template__cart-icon"></i>
    </div>
  </div>
</div>


