<div class="xb-share-dialog xb-share-dialog__width-100">
  <div class="xb-share-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-affiliate-dialog__title">
    Change Password
  </div>
  <form class="md-margin-top-2" [formGroup]="settingForm" novalidate fxLayout="column" fxLayoutAlign="start stretch">
    <div class="xb-input-error md-margin-bottom-2" *ngIf="settingErr">{{settingErr}}</div>
    <div class="md-dark-secondary">
      Current Password
    </div>
    <mat-form-field>
      <input matInput type="password" formControlName="currentPassword">
    </mat-form-field>

    <div *ngIf="formErrors['currentPassword']" class="xb-input-error">
      {{ formErrors['currentPassword'] }}
    </div>

    <div class="md-dark-secondary">
      New Password
    </div>
    <mat-form-field>
      <input matInput type="password" formControlName="password"
             validateEqual="confirmPassword"
             reverse="true">
    </mat-form-field>
    <div *ngIf="formErrors['password']" class="xb-input-error">
      {{ formErrors['password'] }}
    </div>

    <div class="md-dark-secondary">
      Confirm Password
    </div>
    <mat-form-field>
      <input matInput type="password" formControlName="confirmPassword"
             validateEqual="password"
             reverse="false">
    </mat-form-field>

    <div *ngIf="formErrors['confirmPassword']" class="xb-input-error">
      {{ formErrors['confirmPassword'] }}
    </div>
  </form>
  <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
    <button mat-raised-button color="primary"
            (click)="changePassword()">SAVE CHANGE</button>
  </div>
</div>
