<div class="xb-bonus-dialog">
  <div class="xb-bonus-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-bonus-dialog__title">
    Earn Extra Bonus for Reaching Monthly Sales Target
  </div>
  <div class="xb-bonus-dialog__title-1">
    The higher sales target you reach, the higher bonus you earn!
  </div>
  <div *ngIf="storeCurrency == 'USD'">
    <div>
      Earn $50 bonus for reaching $500 in sales within the current month
    </div>
    <div>
      Earn $150 bonus for reaching $1000 in sales within the current month
    </div>
    <div>
      Earn $350 bonus for reaching $2000 in sales within the current month
    </div>
    <div>
      Earn $600 bonus for reaching $3000 in sales within the current month
    </div>
    <div>
      Earn $1000 bonus for reaching $4000 in sales within the current month
    </div>
  </div>
  <div *ngIf="storeCurrency == 'INR'">
    <div>
      Earn Rs. 300 bonus for reaching Rs. 3000 in sales within the current month
    </div>
    <div>
      Earn Rs. 900 bonus for reaching Rs. 6000 in sales within the current month
    </div>
    <div>
      Earn Rs. 1750 bonus for reaching Rs. 10000 in sales within the current month
    </div>
    <div>
      Earn Rs. 3000 bonus for reaching Rs. 15000 in sales within the current month
    </div>
    <div>
      Earn Rs. 5000 bonus for reaching Rs. 20000 in sales within the current month
    </div>
  </div>
  <div class="md-margin-top-2 xb-bold">
    * Please note this doesn’t include any canceled and refunded orders.
  </div>
  <div class="xb-bonus-dialog__title-1">How can I check my total bonus? </div>
  <div>
    You can check your bonus history by following “Payment —> Balance —> Bonus Earned” on the navigation bar.
  </div>
  <div class="xb-bonus-dialog__title-1">
    When can I withdraw my bonus?
  </div>
  <div>
    Your monthly bonus will be paid 60 days from the end of the current month, because it takes time for us to
    deliver your orders and process potential refunds.
  </div>
  <div class="xb-bonus-dialog__title-1">
    Does canceled or refunded orders affect my bonus?
  </div>
  <div>
    Yes. For any canceled or refunded orders, it will be deducted from your sales revenue. If your adjusted
    revenue is lower than the original sales target you have reached, your bonus will also be adjusted accordingly.
  </div>
  <div class="xb-bonus-dialog__title-1">
    How do I withdraw my bonus?
  </div>
  <div>
    Your bonus will be calculated into your total earnings, so you can withdraw your bonus from your available
    balance. The money will be deposited into your selected payment method.
  </div>
  <div class="xb-bonus-dialog__margin-top" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="close()">GOT IT!</button>
  </div>
</div>
