@import "../../styles/utils/_index";
@import "../../styles/_variables";

// main
.xb-4-template {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $whiteColor;
  z-index: 500;

  &__edit-text-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
    white-space: nowrap;
  }

  &__divider-line {
    background-color: #dcdcdc;
    height: 1px;
    width: 100vw;
  }

  &__cancel-save {
    position: relative;
    height: 72px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
  }

  &__1200px {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__jump-button {
    margin-top: 20px;
    margin-bottom: 40px;
    > a {
      width: 224px;
      text-align: center;
      line-height: 40px;
      border-radius: 4px;
      cursor: pointer;
      background-color: $primaryColor;
      color: $whiteColor;
      @include media();

      @include xb-xs-screen {
        line-height: 36px;
      }
    }
  }

  &-content {
    background-color: #f1f1f1;
    min-height: calc(100vh - 408px);
  }

  &__mobile {
    position: relative;
  }
  &__menu {
    position: absolute;
    top: 16px;
  }
  &__w960 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  &__w720 {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    font-size: 24px;
    font-family: Didot, Helvetica;
    line-height: 58px;
    margin-left: 24px;
    @include xb-xs-screen {
      border: 2px solid #e1ab18;
      border-radius: 4px;
      font-size: 16px;
      padding-left: 16px;
      padding-right: 16px;
      height: 40px;
      line-height: 36px;
      margin-top: 8px;
    }
  }
  &__left-24px {
    margin-left: 24px;
  }
  &__edit-border {
    border: 1px solid $primaryColor;
    > input {
      border: none;
      font-size: 24px;
      width: auto;
      height: 55px;
      line-height: 55px;
      font-family: Didot, Helvetica;
      text-align: center;
      background-color: transparent;
    }
  }
  &__detail {
    margin-top: 20px;
    margin-bottom: 56px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 40px 40px;
    background-color: $whiteColor;
    @include xb-xs-screen {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    &-close {
      position: absolute;
      left: calc(100% + 24px);
      top: 0;
      color: $whiteColor;
      cursor: pointer;
      i {
        font-size: 56px;
        line-height: 56px;
      }

      @include xb-xs-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }

      @include xb-sm-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }
  &__mobile-dialog-inner {
    @include xb-xs-screen {
      padding: 16px;
    }
    @include xb-sm-screen {
      padding: 16px;
    }
  }

}

// home
.xb-4-template-home {
  background-color: #f1f1f1;
  padding-bottom: 100px;
  &__background {
    height: 645px;
    position: relative;
    @include xb-xs-screen {
      height: 320px;
    }
  }
  &__title {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: $whiteColor;
    margin-top: 200px;
    @include xb-xs-screen {
      margin-top: 105px;
      text-align: center;
      min-width: 100px;
      width: calc(100vw - 64px);
    }
  }
  &__des {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: $whiteColor;
    margin-top: 230px;
    @include regular();
  }
  &__about-store {
    margin-top: 112px;
  }
  &__about-cover {
    position: relative;
    width: 393px;
    height: 393px;
  }
  &__about-des {
    background-color: $whiteColor;
    max-width: 607px;
    height: 393px;
    overflow-y: scroll;
    &-content {
      width: 100%;
      position: relative;
    }
  }
  &__about-title {
    position: relative;
    height: auto;
    color: $whiteColor;
    margin-top: 126px;
    margin-left: auto;
    margin-right: auto;
  }
  &__blog {
    &-background {
      height: 560px;
      position: relative;
      margin-top: 96px;
      @include xb-xs-screen {
        height: 320px;
      }
    }

    &-title {
      font-family: Didot, Helvetica;
      font-size: 48px;
      font-weight: bold;
      margin-top: 180px;
      color: $whiteColor;
      text-align: center;
      position: relative;

    }

    &-des {
      margin-top: 12px;
      height: auto;
      position: relative;
      width: 1000px;
      color: $whiteColor;
    }
    &-see-more {
      position: relative;
      width: 160px;
      height: 48px;
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      font-family: Helvetica;
      @include regular();
      color: white;
      border: 1px solid white;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

}

// home ->products
.xb-4-template-products {
  margin-top: 88px;

  &__no-goods {
    margin-top: 32px;
    text-align: center;
  }
  &__collection-no-goods {
    margin-top: 105px;
    text-align: center;
  }

  @include xb-xs-screen {
    margin-top: 24px;
  }
  &__text {
    width: 48%;
    @include xb-xs-screen {
      width: 100%;
    }
  }
  &__title {
    margin-top: 72px;
    position: relative;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    @include xb-xs-screen {
      margin-top: 54px;
    }
  }
  &__subtitle {
    margin-left: 48px;
    margin-right: 48px;
    position: relative;
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;
    @include xb-xs-screen {
      margin-bottom: 28px;
    }
    &-image {
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      position: relative;
      > a {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        > img {
          position: absolute;
          width: 100%;
        }
      }
    }

    &-title {
      margin-top: 24px;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      height: 28px;
      font-family: Didot, Helvetica;
      @include text-overflow();
      width: 100%;
      text-align: center;
    }
    &-price {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }
    &-original {
      font-size: 16px;
      font-family: Didot, Helvetica;
      font-weight: bold;
      margin-left: 16px;
      @include regular();
      color: black;
    }
  }

}

//home->blog
.xb-4-template-blog {
  padding-top: 64px;
  background-color: #f1f1f1;
  &__article {
    margin-top: 48px;
    @include xb-xs-screen {
      margin-top: 40px;
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: bold;
    font-family: Didot, Helvetica;
    text-align: center;
    @include xb-xs-screen {
      text-align: center;
    }
  }
  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;
    @include xb-xs-screen {
      margin-bottom: 0;
    }
    &-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 40%;
      overflow: hidden;
      > img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
    &-date {
      font-size: 14px;
      margin-top: 16px;
      color: rgba(0, 0, 0, 0.54);
      font-family: Helvetica;
      @include regular();
    }
    &-context {
      font-size: 16px;
      @include regular();
      line-height: 28px;
      max-height: 84px;
      overflow: hidden;
      font-family: Helvetica;
      margin-top: 8px;

    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      max-height: 64px;
      overflow-y: hidden;
      font-family: Didot, Helvetica;
      margin-top: 8px;
    }
  }
  // blog-->detail
  &__detail {
    &-container {
      text-align: center;
      @include xb-xs-screen {
        margin-top: 8px;
      }
      > img {
        @include xb-xs-screen {
          width: calc(100vw - 32px);
          margin-left: 16px;
          margin-right: 16px;
        }
      }
    }
    &-content {
    }
    &-title {
      margin-top: 32px;
      font-size: 34px;
      font-weight: bold;
      line-height: 48px;
      text-align: center;
      @include xb-xs-screen {
        text-align: left;
        font-size: 24px;
        line-height: 36px;
        margin-left: 16px;
        margin-right: 16px;
      }
    }
    &-time {
      margin-top: 12px;
      font-size: 14px;
      @include regular();
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
      @include xb-xs-screen {
        text-align: left;
        margin-left: 16px;
      }
    }
    &-des {
      margin-top: 32px;
      line-height: 24px;
      margin-left: 16px;
      margin-right: 16px;
    }
    &-share {
      width: 40px;
      height: 92px;
      position: fixed;
      bottom: 32px;
      left: 0;

    }
    &-share-item {
      background-color: #e0ac18;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      i {
        font-size: 24px;
        color: white;
      }
    }
    &-display {
      position: relative;
    }
  }
}

//blog与首页的想区分
.xb-4-template-blog-two {
  margin-top: 32px;
  &__card {
    display: block;
    width: 720px;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
    @include xb-xs-screen {
      margin-bottom: 0;
    }
    &-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 41%;
      overflow: hidden;
      > img {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
    &-date {
      font-size: 14px;
      margin-top: 12px;
      color: rgba(0, 0, 0, 0.54);
      font-family: Helvetica;
      @include regular();
    }
    &-context {
      font-size: 16px;
      @include regular();
      line-height: 28px;
      max-height: 84px;
      overflow: hidden;
      font-family: Helvetica;
      margin-top: 8px;

    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      font-family: Didot, Helvetica;
      margin-top: 24px;
    }
    &-info {
      margin-left: 24px;
    }
    &-publish {
      font-family: Didot, Helvetica;
      font-size: 16px;
      font-weight: bold;
      margin-top: 16px;
      color: #000000;
    }
    &-view {
      font-family: Helvetica;
      font-size: 14px;
      @include regular();
      margin-top: 32px;
    }
  }
}

//导航 navigation
.xb-4-template-navigation {
  @include regular();
  text-align: center;
  font-size: 16px;
  font-family: Helvetica;
  &.active {
    font-weight: bold;
  }
  &__container {
    height: 72px;
  }

  &__side-bg {
    height: 100vh;
    margin-left: 16px;
  }
  &__side-flex {
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    &.active {
      font-weight: bold;
    }
  }
  &__side_container {
    width: calc(100vw - 56px);
    padding-top: 20px;
    background-color: #f9f9f9;
  }
  &__store-name {
    font-family: 'Didot';
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-left: 48px;
  }

}

//collections
.xb-4-template-collection {
  margin-top: 24px;
  &__category {
    width: 220px;
  }
  &__product {
    width: 100%;
    margin-top: 40px;
    @include xb-xs-screen {
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }

}

//分类category
.xb-4-template-category {
  margin-top: 72px;
  &__list {
    padding-top: 64px;
    padding-bottom: 32px;
    background-color: #f1f1f1;
  }
  &__title {
    font-family: Didot, Helvetica;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  &__see-more {
    width: 160px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: Helvetica;
    @include regular();
    border: 1px solid #000000;
    &:hover {
      background-color: black;
      color: $whiteColor;
    }
  }

}

//about
.xb-4-template-about {
  margin-top: 24px;
  &__image {
    width: 100%;
  }
  &__content {
    position: relative;
  }
}

//图片
.xb-4-template-picture {
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

    @include xb-xs-screen {
      overflow-y: hidden;
    }
  }
}

// store
.xb-4-template-store {
  &__title-1 {
    font-size: 24px;
    @include media();
    margin-bottom: 8px;
  }
  &__content-1 {
    margin-bottom: 24px;
  }
  &__width-100 {
    width: 100%;
  }
  &__margin-top-48 {
    margin-top: 48px;
  }

}

//edit
.xb-4-template-edit {
  &__magleft-12 {
    margin-left: 12px;
  }
  &__add-blog {
    font-size: 14px;
    @include media();
    color: $primaryColor;
  }
  &__icon {
    font-size: 24px;
    color: $primaryColor;
  }

  &__nav-right {
    position: absolute;
    top: 16px;
    right: 48px;
  }
  &__left {
    position: absolute;
    height: 100%;
    left: 48px;
    cursor: pointer;
  }
  //是否编辑blog的页面
  &__button-2 {
    line-height: 40px;
    border-radius: 16px;
    background-color: #ffc400;
    color: black;
    width: 186px;
    text-align: center;
    cursor: pointer;
  }

  &__button {
    line-height: 40px;
    border-radius: 16px;
    background-color: $whiteColor;
    color: $primaryColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  &__button-1 {
    line-height: 40px;
    border-radius: 16px;
    background-color: $primaryColor;
    color: $whiteColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  &__save-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
  &__banner-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
}


//product --detail
.xb-4-template-detail {
  padding-top: 64px;
  background-color: #f1f1f1;
  overflow-x: hidden;
  @include xb-xs-screen {
    padding-top: 16px;
    background-color: white;
  }

  &__nav-line {
    height: 0;
    background-color: rgba(0, 0, 0, 0.12);
    @include xb-xs-screen {
      height: 1px;
    }
  }
  &__content {
    position: fixed;
    max-width: 365px;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    margin-left: 640px;
    &-mobile{
      height: 100%;
      overflow-y: visible;
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
      padding-left: 0;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }
  &__price {
    font-size: 16px;
    font-weight: bold;
  }
  &__original-price {
    font-size: 16px;
    margin-left: 40px;
    @include regular();
  }
  &__buy-buttons {
    display: block;
    background-color: black;
    border-radius: 4px;
    height: 40px;
    width: 132px;
    cursor: pointer;
    color: $whiteColor;
    font-size: 14px;
    @include media();
    @include xb-xs-screen {
    }
  }
  &__line {
    margin-top: 32px;
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
  }
  &__store-left{
    background-color: white;
    max-width: 600px;
  }
  &__store-owner {
    margin-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    &-title {
      font-weight: bold;
      font-size: 24px;
      color: black;
      font-family: Didot, Helvetica;
    }
    &-des {
      margin-top: 24px;
      font-size: 14px;
      @include regular();
      line-height: 24px;
      margin-right: 24px;
      margin-bottom: 32px;

    }
  }
  &__recommend {
    @include xb-xs-screen {
      background-color: #f1f1f1;
    }

    &-title {
      margin-top: 95px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      font-family: Didot, Helvetica;
      @include xb-xs-screen {
        margin-top: 0;
        padding-top: 40px;
      }
    }
  }
  &__buttons_bg {
    @include xb-xs-screen {
      margin-top: 16px;
    }
  }
}

// 购物车变体
.xb-store-template {
  &__car {
    &-margin-top {
      margin-top: 24px;
      @include xb-xs-screen {
        margin-top: 32px;
      }
    }

    &-margin-top-1 {
      margin-top: 12px;
      @include xb-xs-screen {
        margin-top: 0px;
      }
    }

    &-margin-top-2 {
      margin-top: 20px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-left-part {
      @include media();
      color: rgba(0, 0, 0, .54);
      width: 54px;
      margin-right: 24px;
      @include xb-xs-screen {
        width: auto;
        margin-right: 0;
        margin-bottom: 12px;
      }
    }

    &-bg {
      margin-top: 32px;
      background-color: #efefef;
      border-radius: 4px;
      padding: 24px;
      @include xb-xs-screen {
        margin-top: 32px;
      }
    }

    &-left-part-1 {
      @include media();
      color: rgba(0, 0, 0, .54);
      width: 145px;
      margin-right: 32px;
    }

    &-image {
      width: 54px;
      height: 54px;
      position: relative;
      margin-right: 8px;
      margin-bottom: 8px;
      border: 1px solid #dedede;
      overflow: hidden;
      cursor: pointer;
      > img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
      &.active {
        border: 2px solid black;
      }
    }

    &-text {
      font-size: 16px;
      color: rgba(0, 0, 0, .87);
      padding: 0 8px;
      line-height: 32px;
      margin-right: 16px;
      cursor: pointer;
      @include text-overflow();
      &.active {
        @include media();
        border: 2px solid black;
      }
    }

    &-item {

      &-input {
        border: 1px solid #dedede;
        border-radius: 2px;
        input {
          width: 100%;
          line-height: 40px;
          font-size: 16px;
          border: none;
          text-align: center;
          padding: 0;
        }
      }

      &-add {
        > i {
          display: block;
          user-select: none;
        }
      }
    }
  }

}

.xb-store__footer {
  padding: 64px 16px 0;

  &-word {
    font-size: 14px;
    @include regular();
    cursor: pointer;
    color: black;
  }

  &-title {
    font-size: 24px;
    @include media();
    font-family: Didot, Helvetica;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &-content {
  }

  &-bottom-content {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    height: 54px;
    margin-top: 72px;
  }

  &-icons {
    i {
      font-size: 24px;
    }
  }
}

