<div class="xb-account-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-account-navigation__title md-padding-left-2 md-margin-right-2" fxFlex="5"
       fxLayout="row" fxLayoutAlign="center center">No.
  </div>
  <div class="xb-account-navigation__title xb-account-item__width" fxFlex="none"
       fxLayout="row" fxLayoutAlign="start center">Product
  </div>
  <div class="xb-account-navigation__title md-align-center" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Total Views
  </div>
  <div class="xb-account-navigation__title md-align-center" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Unit Sold
  </div>
  <div class="xb-account-navigation__title md-align-center" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Conversion
  </div>
  <div class="xb-account-navigation__title md-align-center" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Total Sales
  </div>
  <div class="xb-account-navigation__title md-align-center md-padding-right-2" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Total Commission
  </div>
</div>
