<div class="xb-4-template-blog  xb-4-template__w960 ">
  <div class="xb-4-template-blog__title">
    BLOG
  </div>
  <div class="xb-4-template-blog__article" fxLayout="row wrap" fxLayoutAlign="space-between start"
       fxLayout.xs="column wrap" fxLayoutAlign.xs="start center" fxLayoutGap.xs="32px"
  >
    <app-shop-item-blog-card-4 class="preview-home-blog-box"
                               *ngFor="let item of blog"
                               fxFlex.xs="48" fxFlex.gt-xs="45"
                               [blog]="item" [status]="1"></app-shop-item-blog-card-4>
  </div>
  <div class="xb-4-template-collection__more-button" fxLaout="row" fxLayoutAlign="center center"
       (click)="jumpList()" *ngIf="nextPage && blog.length > 0">
    <div>
      SEE MORE
    </div>
  </div>
  <div class="xb-4-template-collection__no-goods" *ngIf="blog.length==0">There are no blogs.</div>
</div>
