<div class="xb-shop__card">
  <div>
    <div class="xb-shop__card-image">
      <div class="xb-pointer" routerLink="/shop/products/1">
        <img src="//img14.360buyimg.com/n1/jfs/t5404/37/1574400102/222809/4907a2f6/59123908Nffed2d63.jpg">
      </div>
    </div>
    <div class="xb-shop__card-content" fxLayout="column">
      <div class="xb-shop__card-title xb-pointer" routerLink="/shop/products/1">Aroma Essential Oil Diffuser 130ML Aromatherapy Cool Mist Humidifier</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-shop__card-price">$8.00</div>
        <div class="line-through md-margin-left-1">$12.00</div>
        <div class="xb-shop__card-sale md-margin-left-1">50% OFF</div>
      </div>
      <div class="xb-shop__card-action md-margin-top-2">
        <div fxLayout="column">
          <button mat-raised-button color="primary" routerLink="/shop/products/1/preview">Add to Store</button>
        </div>
      </div>
    </div>
  </div>
</div>
