<div class="xb-shop__card">
  <div>
    <div class="xb-shop__card-image">
      <div class="xb-pointer" (click)="jumpLink()"
           [@goodsState]="animationState"
           (mouseenter)="changeAnimationState()"
           (mouseleave)="changeAnimationState()">
        <img [src]="product.mainImage">
      </div>
    </div>
    <div class="xb-shop__card-content" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-shop__card-commission">
          Sales Commission: {{commission + '%'}}
        </div>
      </div>
      <div class="xb-shop__card-title xb-pointer" (click)="jumpLink()">{{product.title}}</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center" *ngIf="currency != 'INR'">
        <div class="xb-shop__card-price">{{product.saleUnitPrice | exchangeCurrency:currency | currency: currency: true}}</div>
        <div class="line-through md-margin-left-1" *ngIf="product.unitPrice> 0">
          {{product.unitPrice | exchangeCurrency:currency |currency: currency: true }}</div>
        <div class="xb-shop__card-sale md-margin-left-1" *ngIf="product.unitPrice > 0">
          {{product.saleUnitPrice|saleDiscount:product.unitPrice}} OFF</div>
      </div>
      <div class="md-margin-top-1" *ngIf="currency == 'INR'">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-shop__card-price">{{product.saleUnitPrice | exchangeCurrency:currency | currency: currency: true}}</div>
          <div class="line-through md-margin-left-1" *ngIf="product.unitPrice> 0">
            {{product.unitPrice | exchangeCurrency:currency |currency: currency: true }}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-shop__card-sale md-margin-top-1" *ngIf="product.unitPrice > 0">
            {{product.saleUnitPrice|saleDiscount:product.unitPrice}} OFF</div>
        </div>
      </div>
      <div class="xb-shop__card-action md-margin-top-2" *ngIf="!isRecommend">
        <div fxLayout="column">
          <button mat-raised-button color="primary" (click)="jumpEditLink()">Add to Sell</button>
        </div>
        <div fxLayout="column" class="md-margin-top-1">
          <div class="xb-shop__card-button" (click)="shareToEarn()">Share to Earn</div>
        </div>
      </div>
    </div>
  </div>
</div>
