@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-social-share{
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  color: $whiteColor;

  &__margin-left{
    margin-left: 48px;

    @include xb-xs-screen{
      margin-left: 16px;
    }
  }

  &__facebook{
    background-color: $facebookColor;
  }

  &__twitter{
    background-color: $twitterColor;
  }

  >i{
    font-size: 24px;
    line-height: 24px;
    color: $whiteColor;
  }

  >div{
    margin-left: 16px;
  }

}

