<div class="xb-cart__item" fxLayout="row" fxLayoutAlign="start center" fxHide.xs fxHide.sm>
  <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="40">
    <div class="xb-cart__item-image" fxFlex="none">
      <img [src]="product.imageUrl">
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <div class="xb-cart__item-title">
        {{product.title}}
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-margin-right-2" *ngFor="let item of product.variant.attributeValues;">
          {{item.value}}
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="start center">
    <div  fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-1 xb-cart__item-add" (click)="minusNumber()" fxFlex="none">
        <i class="material-icons xb-pointer" >remove</i>
      </div>
      <mat-form-field class="xb-cart__item-input unicorn-dark-theme md-align-center">
        <input type="number" class="unicorn-dark-theme xb-cart__align-center" matInput [ngModel]="product.number" step="1" min="0"
          (ngModelChange)="numberChanges($event)">
      </mat-form-field>
      <div class="md-margin-left-1 xb-cart__item-add" (click)="plusNumber()" fxFlex="none">
        <i class="material-icons xb-pointer" >add</i>
      </div>
    </div>
  </div>
  <div fxFlex="15" fxLayout="column" fxLayoutAlign="start center">
    <div class="xb-cart__item-sale">
      {{product.salePriceAmount | exchangeCurrency:product.salePriceCurrency |currency: product.salePriceCurrency }}</div>
    <div class="line-through md-dark-secondary xb-cart__item-original">
      {{product.originalPriceAmount | exchangeCurrency:product.salePriceCurrency |currency: product.salePriceCurrency }}
    </div>
  </div>
  <div fxFlex="20"  fxLayout="column" fxLayoutAlign="center center">
    <div class="unicorn-dark-theme" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field class="xb-cart__item-select" fxFlex>
        <mat-select [ngModel]="shipping" name="shipping"
          (valueChange)="changeShipping($event)">
          <mat-option class="unicorn-dark-theme"  *ngFor="let item of shippingLists" [value]="item">
            {{ item.type }} Shipping
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="xb-cart__item-select-text xb-bold">{{shipping.priceItem | exchangeCurrency:product.salePriceCurrency |currency: product.salePriceCurrency }}</div>
    <div class="md-margin-top-1">{{shipping.shippingTimeMin}}-{{shipping.shippingTimeMax}} days</div>
  </div>
  <div fxFlex="5" fxLayout="row" fxLayoutAlign="end center">
    <div class="xb-cart__icon xb-pointer">
      <i class="material-icons md-dark-secondary" (click)="delete()">delete</i>
    </div>
  </div>
</div>
<div class="xb-cart__item" fxLayout="row" fxLayoutAlign="start start" fxHide.gt-sm>
  <div class="xb-cart__item-image" fxFlex="none">
    <img [src]="product.imageUrl">
  </div>
  <div *ngIf="!isEdit" fxFlex>
    <div class="xb-cart__item-title">
      {{product.title}}
    </div>
    <div class="md-margin-top-1"  fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-2 xb-cart__item-variant" *ngFor="let item of product.variant.attributeValues;">
        {{item.value}}
      </div>
    </div>
    <div class="md-margin-top-1" *ngIf="shipping">
      <span class="xb-cart__item-shipping">
        {{shipping.type}} Shipping
      </span>
      <span class="xb-cart__item-shipping md-margin-left-1">
        {{shipping.priceItem == 0 ? '': shipping.priceItem | exchangeCurrency:product.salePriceCurrency | currency: product.salePriceCurrency }}
      </span>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-cart__item-sale">{{product.salePriceAmount | exchangeCurrency:product.salePriceCurrency | currency: product.salePriceCurrency }}</div>
      <div class="line-through md-dark-secondary xb-cart__item-original">
        {{product.originalPriceAmount | exchangeCurrency:product.salePriceCurrency | currency: product.salePriceCurrency }}
      </div>
    </div>
  </div>
  <div *ngIf="isEdit" fxFlex fxLayout="column" fxLayoutAlign="center start">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-1" (click)="minusNumber()">
        <i class="material-icons xb-pointer" >remove</i>
      </div>
      <mat-form-field class="xb-cart__item-input unicorn-dark-theme md-align-center">
        <input type="number" class="unicorn-dark-theme xb-cart__align-center" matInput [ngModel]="product.number" step="1" min="0"
               (ngModelChange)="numberChanges($event)">
      </mat-form-field>
      <div class="md-margin-left-1" (click)="plusNumber()">
        <i class="material-icons xb-pointer" >add</i>
      </div>
    </div>
    <div *ngIf="shipping" class="md-margin-top-2">
      <div class="xb-cart__item-select xb-cart__item-select-mobile" (click)="openDialog()">
        {{shipping.type}} Shipping
        <span class="xb-cart__item-select-tri"></span>
      </div>
      <div class="xb-cart__item-sale md-margin-top-1">
        {{shipping.priceItem | exchangeCurrency:product.salePriceCurrency | currency: product.salePriceCurrency }}
      </div>
      <div class="md-margin-top-1">{{shipping.shippingTimeMin}}-{{shipping.shippingTimeMax}} days</div>
    </div>
  </div>
  <div fxFlex="none" fxLayout="column" fxLayoutAlign="center center" *ngIf="!isEdit">
    <div class="xb-cart__item-icon xb-pointer" (click)="onEdit()">
      <i class="material-icons" >edit</i>
    </div>
    <div class="xb-cart__item-icon xb-pointer md-margin-top-1" (click)="delete()">
      <i class="material-icons" >delete</i>
    </div>
    <div class="md-margin-top-1">
      × {{product.number}}
    </div>
  </div>
  <div fxFlex="none" fxLayout="column" fxLayoutAlign="start center" *ngIf="isEdit">
    <div class="unicorn-dark-theme">
      <button class="xb-cart__item-button" mat-raised-button color="primary" (click)="onEdit()">SAVE</button>
    </div>
  </div>
</div>
<div class="xb-cart__dialog" *ngIf="isDialogOpen" (click)="openDialog()" fxLayout="column" fxLayoutAlign="end stretch"
  fxHide.gt-sm>
  <div class="unicorn-dark-theme background-bg-white" (click)="$event.stopPropagation()">
    <mat-radio-group [ngModel]="shipping" (ngModelChange)="changeShipping($event)" fxLayout="column">
      <mat-radio-button class="xb-cart__dialog-list" *ngFor="let item of shippingLists" [value]="item" color="primary">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span>{{ item.type }} Shipping</span>
            <div class="md-margin-left-2 xb-cart__item-sale">
              {{item.priceItem == 0 ? '': item.priceItem | exchangeCurrency:product.salePriceCurrency | currency: product.salePriceCurrency }}
            </div>
          </div>
          <div class="md-dark-secondary xb-cart__dialog-margin-top">
            {{item.shippingTimeMin}}-{{item.shippingTimeMax}} days
          </div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
