<div class="xb-4-template-category xb-4-template__w960">
  <div class="xb-4-template-category__title">
    {{categoryName | uppercase}}
  </div>
  <div class="xb-4-template-collection__product " fxLayoutAlign="space-between start" fxLayout="row"
       fxLayoutGap.xs="16px"
       fxLayoutWrap>
    <ng-container *ngFor="let item of product">
    <app-shop-item-product-card-5
                                  fxFlex.xs="44" fxFlex.gt-xs="30"
                                  [product]="item" [status]="0"></app-shop-item-product-card-5>
    </ng-container>
    <div fxFlex.xs="44" fxFlex.gt-xs="30"></div>
  </div>
  <div class="xb-4-template-category__see-more xb-pointer" fxLayout="row" fxLayoutAlign="center center"
       (click)="jumpToCategory()">
    SEE MORE
  </div>
</div>


