<div class="xb-store__background" (click)="close()" appViewScrollTop [ContainerSelector]="'xb-store__background'">
  <div class="xb-store__details-close" (click)="close()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store__details" (click)="$event.stopPropagation();">
    <div class="xb-store__details-close" (click)="close()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-shop__padding-bottom" fxLayout="row" fxLayoutAlign="start start"
         fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
      <div class="xb-store__details-margin-right">
        <app-left-products-image [images]="image" [selectedImage]="selectedImage" *ngIf="imageSources.length > 0"
                                 [imageSources]="imageSources" [insertImage]="insertImage"></app-left-products-image>
      </div>
      <div class="xb-store__details-content" fxFlex>
        <div>{{category}}</div>
        <div class="xb-store__details-title md-margin-top-1">{{product.title}}</div>
        <div class="xb-store-promotion">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="xb-store__details-left-part">Price</div>
            <div class="xb-store__details-price" *ngIf="!isHaveVariant">
              {{ salePrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="xb-store__details-price" *ngIf="isHaveVariant && isPriceRange && minSalePrice!=maxSalePrice">
              {{minSalePrice | exchangeCurrency:currency |currency: currency }} - {{maxSalePrice |
              exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="xb-store__details-price" *ngIf="isHaveVariant && isPriceRange && minSalePrice==maxSalePrice">
              {{minSalePrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="xb-store__details-price" *ngIf="isHaveVariant && !isPriceRange">
              {{ salePrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="line-through md-margin-left-1"
                 *ngIf="!isHaveVariant && salePrice != originalPrice ">
              {{ originalPrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="line-through md-margin-left-1"
                 *ngIf="isHaveVariant && salePrice != originalPrice && !isPriceRange">
              {{ originalPrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="xb-store__details-sale md-margin-left-1"
                 *ngIf="!isHaveVariant && salePrice != originalPrice ">
              {{ salePrice|saleDiscount:originalPrice}} OFF
            </div>
            <div class="xb-store__details-sale md-margin-left-1"
                 *ngIf="isHaveVariant && salePrice != originalPrice && !isPriceRange">
              {{ salePrice|saleDiscount:originalPrice}} OFF
            </div>
          </div>
          <div *ngIf="isPromotionOnGoing" [ngStyle]="{'margin-left':'54px'}">
            <div class="xb-store-promotion__processing">
              <div class="xb-store-promotion__processing-line"></div>
              <div class="xb-store-promotion__processing-line" [ngStyle]="{'width':progressPercentage+'%'}"></div>
            </div>
            <div class="xb-store-promotion__count md-margin-top-1" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="xb-store-promotion__count-word">{{progressPercentage}}% claimed</div>
              <div class="xb-store-promotion__count-word" fxLayout="row" fxLayoutAlign="start center">
                <span class="xb-bold">Ends in:&nbsp;&nbsp;</span>
                <app-find-countdown  [countdownTimer]="countdownLeftTime"></app-find-countdown>
              </div>
            </div>
          </div>
          <div *ngIf="isPromotionScheduled" [ngStyle]="{'margin-left':'54px'}" class="md-margin-top-2" fxLayout="row"
               fxLayoutAlign="start center">
            <div class="xb-store-promotion__upcoming">Upcoming</div>
            <div class="xb-store-promotion__upcoming-time" fxLayout="row" fxLayoutAlign="start center">
              <span class="xb-bold">Starts in:&nbsp;&nbsp;</span>
              <app-find-countdown  [countdownTimer]="countdownLeftTime"></app-find-countdown>
            </div>
          </div>
        </div>
        <div class="xb-store__details-margin-top-2">
          <div class="xb-store__details-margin-top" *ngFor="let item of variantList;let i = index;"
               fxLayout="row" fxLayoutAlign="start start"
               fxLayout.xs="column" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part" [ngClass]="{'xb-store__details-margin-top-1':item.id == 2}">
              {{item.name}}
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start start">
              <div *ngFor="let value of item.value;let j = index;">
                <div class="xb-store__details-image" [ngClass]="{'active':value.isSelected}"
                     *ngIf="value.image" (click)="selectVariant(value, item)">
                  <img [src]="value.image"/>
                </div>
                <div *ngIf="!value.image" class="xb-store__details-text"
                     [ngClass]="{'active':value.isSelected}" (click)="selectVariant(value, item)">
                  {{value.value}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="xb-store__details-bg" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part-2">Your Commission</div>
            <div>{{commission | exchangeCurrency:currency |currency: currency }}</div>
          </div>
          <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part-2">Supplier</div>
            <div class="text-underline xb-bold xb-pointer"
                 routerLink="/shop/listings/items/supplier/{{product.supplierId}}/">{{supplierName}}
            </div>
          </div>
        </div>
        <div class="xb-store__details-buttons" fxLayout="column">
          <button mat-raised-button color="primary" (click)="shareToEarn()">Share to Earn</button>
        </div>
        <div class="md-margin-top-1" fxLayout="column">
          <div class="xb-store__details-buttons-1" (click)="addEdit()" *ngIf="!isAdded">Add To Sell</div>
          <button mat-raised-button color="primary" disabled *ngIf="isAdded">Added</button>
        </div>

      </div>
    </div>
    <div class="xb-shop__tab-scroll">
      <div class="xb-shop__tab-bg" fxLayout="row" fxLayoutAlign="start start">
        <div class="xb-shop__tab" [ngClass]="{'active': tabNumber == 0}"
             (click)="changeTab(0);">Product Description
        </div>
        <div class="xb-shop__tab" [ngClass]="{'active': tabNumber == 1}"
             (click)="changeTab(1);">Shipping Policy
        </div>
        <div class="xb-shop__tab" [ngClass]="{'active': tabNumber == 2}"
             (click)="changeTab(2);">Return Policy
        </div>
      </div>
    </div>
    <div class="xb-shop__content" *ngIf="tabNumber == 0">
      <div class="ql-editor" [innerHTML]="description | safeHtml"></div>
    </div>
    <div class="xb-shop__content" *ngIf="tabNumber == 1">
      <div class="md-dark-secondary">Shipping Availability</div>
      <div class="xb-shop__margin-top xb-shop__width" fxLayout="row" fxLayout="start center">
        {{country}}
      </div>
      <div class="md-dark-secondary md-margin-top-3">Ships In</div>
      <div class="xb-shop__margin-top">2-5 days</div>
      <div class="md-dark-secondary md-margin-top-3">Shipping Method</div>
      <div class="xb-shop__margin-top">
        <div class="xb-shop__text" *ngFor="let item of shipping">
          {{item.type}} Shipping: {{item.shippingTimeMin}}-{{item.shippingTimeMax}}
          days{{item.type != 'Free'? ', ' + (item.priceItem | exchangeCurrency:currency |currency: currency):''}}
        </div>
      </div>
    </div>
    <div class="xb-shop__content" *ngIf="tabNumber == 2">
      <div class="xb-shop__title">What is the Return Policy?</div>
      <div class="xb-shop__text xb-shop__margin-top">Your customer can request a refund or exchange on any item
        that is not as described within {{currency == 'INR'? '10' : 30}} days of delivery, and they will receive a full
        refund or a replacement
        for the returned item once we receive the package.
      </div>
      <div class="xb-shop__text xb-shop__margin-top">Please note that any shipping fee of the returned package
        will not be included in the refund. The customer will be responsible for the return shipping cost.
      </div>

      <div class="xb-shop__title md-margin-top-3 xb-shop__margin-top">How dose the Return Policy Work?</div>
      <div class="xb-shop__text"><span class="xb-bold">Step1:</span> Your customers can initiate return requests on your
        store’s website by
        entering their email address and Guest Order Number on the page of “View Your Order”.
      </div>
      <div class="xb-shop__text"><span class="xb-bold">Step2:</span> Our customer support will process the return
        requests for you and either
        issue them full refunds or send them new exchanged items.
      </div>
    </div>
    <div class="xb-shop__title-1 md-align-center md-margin-top-5">Related Products</div>
    <div class="md-margin-top-4" fxLayout="row wrap" fxLayoutAlign="space-between center"
         fxHide.xs>
      <app-product-item-card *ngFor="let product of productList" [product]="product" [supplier]="isSupplierDetail"
                             [isRecommend]="true" fxFlex="32"></app-product-item-card>
      <div fxFlex="32"></div>
    </div>
    <div class="md-margin-top-4 xb-shop__recommend-content" fxLayout="column" fxLayoutAlign="start stretch"
         fxHide.gt-xs>
      <app-product-item-card *ngFor="let product of productList" [product]="product" [supplier]="isSupplierDetail"
                             [isRecommend]="true"></app-product-item-card>
    </div>
  </div>
</div>
