<div class="md-padding-left-2 md-padding-top-2">
  <div class="md-margin-right-2">
    <div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-shop__dashboard-number xb-bold xb-shop__dashboard-margin-right">Overview</div>
        <app-catalog-time-select [time]="timeOverview" (timeChange)="getStore($event)" [times]="times"></app-catalog-time-select>
      </div>
      <div class="md-margin-top-2" fxLayout="row wrap" fxLayoutAlign="space-between center"
           fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-1" fxFlex.gt-sm="32" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-earning" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.totalEarning ? (storeStatistic.totalEarning | exchangeCurrency:currency|currency:currency) : 0}}</div>
          <div>Total Earning</div>
        </div>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-2" fxFlex.gt-sm="32" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-cart1" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.totalOrders ? storeStatistic.totalOrders : 0}}</div>
          <div>Total Orders</div>
        </div>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-3" fxFlex.gt-sm="32" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-sales" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.totalSales ? (storeStatistic.totalSales | exchangeCurrency:currency|currency:currency) : 0}}</div>
          <div class="">Total Sales</div>
        </div>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-4" fxFlex.gt-sm="32" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-view1" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.viewTotal ? storeStatistic.viewTotal: 0}}</div>
          <div>Total Pageviews</div>
        </div>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-5" fxFlex.gt-sm="32" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-group" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.visitorTotal ? storeStatistic.visitorTotal: 0}}</div>
          <div>Total Visitors</div>
        </div>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-6" fxFlex.gt-sm="32" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-rate" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.conversionRate ? storeStatistic.conversionRate + '%': 0.00 + '%'}}</div>
          <div>Conversion Rate</div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start stretch" >
    <div class="xb-shop__navigation-card md-margin-top-2 md-margin-right-2" fxFlex fxFlex.sm="none" fxFlex.xs="none">
      <div class="xb-shop__navigation-bg" fxLayout="row" fxLayoutAlign="start center">
        Monthly Bonus Tracker
      </div>
      <div class="md-padding-bottom-2">
        <div class="md-margin-top-2 xb-shop__navigation-card-inner xb-shop__dashboard-title">
          Earn up to {{currency != 'INR' ? '$1000':'Rs.5000'}} extra bonus for reaching your monthly sales targets!
          <a class="md-margin-left-1 text-underline xb-pointer xb-bold" (click)="openBonusTipDialog()">Learn More</a></div>
        <app-shop-bonus-item [monthSale]="monthlySale"></app-shop-bonus-item>
      </div>
    </div>
    <div class="xb-shop__navigation-card xb-shop__navigation-width md-margin-top-2 md-margin-right-2"
         *ngIf="currency == 'USD'" fxFlex.sm="none" fxFlex.xs="none">
      <div class="xb-shop__navigation-bg">Monthly Reward</div>
      <div class="md-margin-top-2 xb-shop__navigation-card-inner xb-shop__dashboard-title" >
        Make over $100 sales within current month, then you can pick one of the following items for product review in the
        next month. You can keep the item for free!
        <a class="md-margin-left-1 text-underline xb-pointer xb-bold" routerLink="/shop/reward">Learn More</a>
      </div>
      <div class="md-margin-top-3 md-margin-bottom-3 xb-shop__navigation-card-inner">
        <app-shop-dashboard-reward-item></app-shop-dashboard-reward-item>
      </div>
    </div>
  </div>
  <div class="xb-shop__navigation-card md-margin-top-2 md-margin-bottom-2 md-margin-right-2">
    <div class="xb-shop__navigation-bg">Top Selling Products</div>
    <div class="md-margin-top-2 xb-shop__navigation-card-inner" fxLayout="row" fxLayoutAlign="start center">
      <app-catalog-time-select [time]="timeStatistic" (timeChange)="getProduct($event)" [times]="times"></app-catalog-time-select>
    </div>
    <div class="md-margin-top-2 ">
      <app-statistic-title></app-statistic-title>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" >
      <div class="xb-shop__none" fxLayout="row" fxLayoutAlign="center center"
           *ngIf="productStatistic && productStatistic.length <= 0">
        <div fxLayout="column" fxLayoutAlign="center center">
          <img src="https://media.socialcommer.com/source/web/pic/pic-no-data.png">
          <span class="md-dark-secondary">Your store doesn't have any products yet.</span>
          <div class="md-margin-top-3">
            <button mat-raised-button color="primary" routerLink="/shop/listings/items">Add Your First Product</button>
          </div>
        </div>
      </div>
      <div class="xb-shop__statistic-bg" *ngFor="let item of productStatistic;let i = index;" >
        <div class="xb-shop__statistic-inner-container" >
          <app-statistic-item [data]="item" [index]="i"></app-statistic-item>
        </div>
      </div>
    </div>

  </div>
</div>
