@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-edit-1__cart {
  &-position {
    position: relative;
    @include xb-xs-screen {
      margin-right: 24px;
    }
  }
  &-container {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 28px;
  }
  &-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: relative;
  }
  &-order-and-cart {
    position: absolute;
    z-index: 10;
    right: 20px;
  }
  &-circle {
    width: 16px;
    height: 16px;
    background: red;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: -11px;
    top: 0;
    text-align: center;
  }
}
.xb-edit-1{
  &__name{
    margin: auto;
    width: 300px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  &__line{
    width: 100vw;
    height: 1px;
    background-color: rgba(0,0,0,.12);
  }
}

.preview-home-box {
  max-width: 31% !important;
  flex: 1 1 300px !important;
  -webkit-flex: 1 1 300px !important;
  min-width: 31%;

  @include xb-xs-screen {
    max-width: 48% !important;
    flex: 1 1 200px !important;
    -webkit-flex: 1 1 200px !important;
    min-width: 48%;
  }
  @include xb-sm-screen {
    max-width: 31% !important;
    flex: 1 1 200px !important;
    -webkit-flex: 1 1 200px !important;
    min-width: 31%;
  }
  @include xb-md-screen {
    max-width: 31% !important;
    flex: 1 1 300px !important;
    -webkit-flex: 1 1 300px !important;
    min-width: 31%;
  }
  @include xb-lg-screen {
    max-width: 31% !important;
    flex: 1 1 300px !important;
    -webkit-flex: 1 1 300px !important;
    min-width: 31%;
  }

}

