<form [formGroup]="storeTemplateForm" novalidate>
  <div class="xb-shop__store-bg">
    <div class="xb-4-template-edit__cancel-save">
      <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
          SAVE
        </div>
        <div class="xb-4-template-edit__button" (click)="close()" [hidden]="isGuide">
          CANCEL
        </div>
      </div>
    </div>
    <div class="xb-4-template-edit__divider-line"></div>
    <div class="xb-shop__template-banner" fxLayout="column" fxLayoutAlign.xs="center center"
         [ngStyle]="{'background': 'url(' + imageSrc + ') center / auto 100% ' }">
      <div class="xb-shop__template-mask"></div>
      <div class="xb-store__content-2">
        <div class="xb-edit-1__cart-container" fxShow="true" fxShow.xs="false">
          <div class="xb-edit-1__cart-order-and-cart" fxLayout="row" fxLayoutAlign="start center">
            <i class="iconfontXberts icon-pic-per xb-edit-1__cart-icon md-margin-right-4"
               (click)="jumpStoreOrder()"></i>
            <div class="xb-edit-1__cart-position" (click)="jumpStoreCart()">
              <i class="iconfontXberts icon-pic-cart1 xb-edit-1__cart-icon"></i>
            </div>
          </div>
        </div>
        <div class="xb-edit-1__name">
          {{nameTag}}
        </div>
        <div class="xb-shop__template-title xb-shop__template-edit">
          <quill-editor formControlName="titleTag" [(ngModel)]="titleTag"
                        (ready)="getTitleInputEdit($event)"
                        [options]="editorConfig"></quill-editor>
          <div class="xb-shop__template-edit-text-button" (click)="editTitleInput()">
            CLICK TO EDIT TEXT
          </div>
        </div>

        <div class="xb-shop__template-description xb-shop__template-edit">
          <quill-editor formControlName="descriptionTag" [(ngModel)]="descriptionTag"
                        (ready)="getDesInputEdit($event)"
                        [options]="editorConfig"></quill-editor>
          <div class="xb-shop__template-edit-text-button" (click)="editDesInput()">
            CLICK TO EDIT TEXT
          </div>
        </div>
      </div>
      <div class="xb-store__store-buttons" fxShow="false" fxShow.gt-xs="true">
        <span>Shop Now</span>
        <br>
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div class="xb-shop__template-edit-button" (click)="editImage()">
        CLICK TO CHANGE IMAGE
      </div>
    </div>
    <div>
      <div class="xb-store__title">My Collections</div>
      <app-store-1-edit-category [category]="category" [categories]="categories" (categoryChange)="changeCategory($event)"
                            fxShow="true" fxShow.xs="false"></app-store-1-edit-category>
      <div class="xb-store__content xb-store__border-bottom">
        <div class="md-margin-top-2" fxLayout="row wrap" fxLayoutAlign="space-between start">
          <app-store-item-card-preview class="preview-home-box"
                                       *ngFor="let item of product"
                                       fxFlex.xs="48" fxFlex.gt-xs="31"
                                       [isShowPromotionFlag]="isPromotion"
                                       (productId)="jumpGoodsDetail($event)"
                                       [product]="item" [status]="0"></app-store-item-card-preview>
          <div class="preview-home-box" fxFlex.xs="48" fxFlex.gt-xs="31"></div>
        </div>
        <div class="xb-store__buttons-bg" fxLaout="row" fxLayoutAlign="center center"
             *ngIf="nextPage && product.length > 0" (click)="jumpList()">
          <div>
            SEE MORE
          </div>
        </div>
        <div *ngIf="categories.length<=0 && product.length <= 0" fxLayout="column" fxLayoutAlign="center center">
          <div>You haven't added any affiliate products yet.</div>
          <div class="md-margin-top-2">
            <button mat-raised-button color="primary">
              <a class="xb-store__buttons-bg-1" routerLink="/shop/listings/items" target="_blank">Add Your First
                Product</a>
            </button>
          </div>
        </div>
      </div>
      <div class="xb-store__content-1">
        <div class="xb-store__title">About Me</div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxLayoutAlign.xs="start center">
          <div class="xb-store__content-left" fxFlex="none">
            <div class="xb-shop__template-header">
              <app-image-upload-header [(previewImgFile)]="previewImgFile" [(previewImgSrcs)]="previewImgSrcs"
                                       [larger]="true"></app-image-upload-header>
            </div>
            <div class="xb-shop__template-user-name xb-pointer" [hidden]="userNameEdited" (click)="editUserName()"
                 [innerHTML]="userProfile.firstName | safeHtml">
            </div>
            <div class="xb-shop__template-user-name xb-shop__template-edit" [hidden]="!userNameEdited">
              <input formControlName="name" [(ngModel)]="userProfile.firstName">
            </div>
            <div class="xb-shop__template-user-country xb-pointer" [hidden]="userCountryEdited"
                 (click)="editUserCountry()"
                 [innerHTML]="userCountry | safeHtml">
            </div>
            <div class="xb-shop__template-user-country xb-shop__template-edit" [hidden]="!userCountryEdited">
              <mat-form-field class="xb-shop__template-user-country-input">
                <mat-select formControlName="country" name="country" [(ngModel)]="userProfile.country">
                  <mat-option *ngFor="let country of countries" [value]="country.code">
                    {{ country.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="xb-store__content-right" fxFlex>
            <div class="xb-store__icons md-dark-third" fxShow.xs="false">
              <i class="iconfontXberts icon-pic-quota"></i>
            </div>
            <div class="xb-shop__template-user xb-shop__template-edit">
              <quill-editor formControlName="userTag" [(ngModel)]="userTag"
                            (ready)="getAboutInputEdit($event)"
                            [options]="editorConfig"></quill-editor>
              <div class="xb-shop__template-edit-text-button" (click)="editAboutInput()">
                CLICK TO EDIT TEXT
              </div>
            </div>
            <div class="xb-store__icons md-dark-third md-margin-top-2" fxLayout="row" fxLayoutAlign="end start"
                 fxShow.xs="false">
              <i class="iconfontXberts icon-pic-quota-2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="xb-store__bottom-bg" fxShow="false">
      <div class="xb-store__title-1">
        Subscribe My Newsletter
      </div>
      <div class="xb-store__bottom-1" fxLayout="row" fxLayoutAlign="center center">
        <div class="xb-store__width">
          <input type="text">
        </div>
        <div class="md-margin-left-2">
          <button mat-raised-button color="primary">SUBSCRIBE</button>
        </div>
      </div>
    </div>
    <div class="xb-store__footer">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
          <div class="xb-store__footer-word">Why Shop With Us</div>
          <div class="xb-store__footer-word xb-store__footer-margin-left">FAQ</div>
          <div class="xb-store__footer-word xb-store__footer-margin-left">Privacy Policy</div>
          <div class="xb-store__footer-word xb-store__footer-margin-left">Return Policy</div>
        </div>
        <div class="xb-store__footer-icons" fxLayout="row" fxLayoutAlign="end center"
             fxLayoutAlign.xs="center center">
          <app-share-show-button [link]="shareLink" [text]="text" [style]="{'store':true}"></app-share-show-button>
        </div>
        <div class="xb-store__footer-right xb-store__footer-mgtop56">© 2018 {{store.name}}. All rights reserved.</div>
        <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="center center"
             fxLayout.xs="column" fxLayoutAlign.xs="center center">
          <div class="xb-store__footer-right xb-pointer" routerLink="/">
            Powered by SocialCommer
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="xb-store__background" *ngIf="imageEdited">
  <div class="xb-store__details-close" (click)="editImage()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store__details">
    <div class="xb-store__details-close" (click)="editImage()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-shop__mobile-dialog-inner">
      <app-image-upload-preview [(previewImgFile)]="imageSrc"
                                (previewImgFileChange)="editImage()"></app-image-upload-preview>
    </div>
  </div>
</div>

<div class="xb-store__background" *ngIf="storeEdited">
  <div class="xb-store__details-close" (click)="editStore()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store__details">
    <div class="xb-store__details-close" (click)="editStore()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-shop__mobile-dialog-inner">
      <div class="xb-shop__template-title-1">
        Ready to Publish?
      </div>
      <div class="xb-shop__template-content-1">
        Make sure all these setting are correct before your store goes live!
      </div>
      <form [formGroup]="storeForm" novalidate>
        <div class="md-margin-top-2 md-margin-right-2" fxLayout="column">
          <div class="md-dark-secondary">
            Store Name
          </div>
          <mat-form-field>
            <input matInput formControlName="name">
          </mat-form-field>
          <div *ngIf="formErrors['name']" class="xb-input-error">
            {{ formErrors['name'] }}
          </div>
          <div class="md-dark-secondary">
            Store Description (Used for social media sharing and search optimization)
          </div>
          <mat-form-field [ngStyle]="{'width':'100%'}">
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <div *ngIf="formErrors['description']" class="xb-input-error">
            {{ formErrors['description'] }}
          </div>
          <div class="md-dark-secondary">
            Your Store URL
          </div>
          <div class="md-margin-bottom-1" fxLayout="row" fxLayoutAlign="start center">
            <div>
              https://www.socialcommer.com/store/
            </div>
            <mat-form-field class="md-margin-left-2 xb-shop__width-1">
              <input matInput formControlName="displayName">
            </mat-form-field>
          </div>
          <div *ngIf="formErrors['displayName']" class="xb-input-error">
            {{ formErrors['displayName'] }}
          </div>
          <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" (click)="changeStore()">PUBLISH</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="goodsDetail">
  <app-store-edit-detail [productId]="selectProductId" (closeDetail)="changeGoodsDetail()"></app-store-edit-detail>
</div>

<div class="xb-store__background" *ngIf="storeCart" [ngStyle]="{'background-color':'white'}">
  <div class="xb-4-template-edit__cancel-save">
    <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
        SAVE
      </div>
      <div class="xb-4-template-edit__button" (click)="close()" [hidden]="isGuide">
        CANCEL
      </div>
    </div>
  </div>
  <div class="xb-edit-1__line"></div>
  <app-edit-cart-main [storeName]="nameTag" (closeStoreCart)="jumpStoreCart()"
                      (openStoreOrder)="OpenStoreOrder()"></app-edit-cart-main>
</div>
<div class="xb-store__background" *ngIf="storeOrder" [ngStyle]="{'background-color':'white'}">
  <div class="xb-4-template-edit__cancel-save">
    <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
        SAVE
      </div>
      <div class="xb-4-template-edit__button" (click)="close()" [hidden]="isGuide">
        CANCEL
      </div>
    </div>
  </div>
  <div class="xb-edit-1__line"></div>
  <app-edit-1-order [storeName]="nameTag" (closeStoreOrder)="jumpStoreOrder()"
                    (openStoreCart)="OpenStoreCart()"></app-edit-1-order>
</div>
