<div class="xb-cart" fxLayout="column">
  <div class="background-bg-white">
    <div class="container">
      <app-store-cart-header></app-store-cart-header>
    </div>
  </div>
  <div class="background-bg-light xb-cart__body" fxFlex="noshrink">
    <div class="container">
      <div class="xb-cart__bg" fxLayout="row" fxLayoutAlign="start start">
        <div class="xb-cart__body-margin-right" fxFlex>
          <form *ngIf="step == 0" [formGroup]="stepOneForm" novalidate>
            <div class="unicorn-dark-theme background-bg-white xb-cart__body-left-form"
                 fxLayout="column" fxLayoutAlign="start stretch" >
              <div class="xb-cart__title">
                Contact Email
              </div>
              <div class="xb-cart__body-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start"
                   fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
                <div fxFlex="48" fxFlex.xs="none" >
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="Email Address" formControlName="emailAddress"
                           validateEqual="confirmEmail"
                           reverse="true">
                  </mat-form-field>
                  <div *ngIf="formErrors['emailAddress']" class="xb-input-error">
                    {{ formErrors['emailAddress'] }}
                  </div>
                </div>
                <div fxFlex="48" fxFlex.xs="none" >
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="Confirm Email Address" formControlName="confirmEmail"
                           validateEqual="emailAddress"
                           reverse="false">
                  </mat-form-field>
                  <div *ngIf="stepOneForm.get('confirmEmail').touched" class="xb-input-error">
                    <div *ngIf="stepOneForm.get('confirmEmail').hasError('required')">
                      This field is required.
                    </div>
                    <div *ngIf="stepOneForm.get('confirmEmail').hasError('validateEqual')">
                      Your Confirm Email doesn't match your Email.
                    </div>
                  </div>
                </div>
              </div>
              <div class="xb-cart__title xb-cart__body-margin-top-1">
                Shipping Address
              </div>
              <div class="xb-cart__body-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start">
                <div fxFlex="48">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="First Name" formControlName="firstName">
                  </mat-form-field>
                  <div *ngIf="formErrors['firstName']" class="xb-input-error">
                    {{ formErrors['firstName'] }}
                  </div>
                </div>
                <div fxFlex="48">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                  </mat-form-field>
                  <div *ngIf="formErrors['lastName']" class="xb-input-error">
                    {{ formErrors['lastName'] }}
                  </div>
                </div>
              </div>
              <div class="xb-cart__body-margin-top" fxLayout="row" fxLayoutAlign="space-between start"
                   fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
                <div fxFlex="48" fxFlex.xs="none">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="Address Line1" formControlName="line1">
                  </mat-form-field>
                  <div *ngIf="formErrors['line1']" class="xb-input-error">
                    {{ formErrors['line1'] }}
                  </div>
                </div>
                <div fxFlex="48" fxFlex.xs="none">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="Address Line2 (Optional)" formControlName="line2">
                  </mat-form-field>
                </div>
              </div>
              <div class="xb-cart__body-margin-top" fxLayout="row" fxLayoutAlign="space-between start"
                   fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
                <div fxFlex="48" fxFlex.xs="none">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="City" formControlName="city">
                  </mat-form-field>
                  <div *ngIf="formErrors['city']" class="xb-input-error">
                    {{ formErrors['city'] }}
                  </div>
                </div>
                <div fxFlex="48" fxFlex.xs="none">
                  <div fxLayout="row" fxLayoutAlign="space-between start" class="xb-cart__width-100">
                    <div fxFlex="46">
                      <mat-form-field class="xb-cart__body-100">
                        <mat-select placeholder="Country" name="country" formControlName="countryId"
                                    (ngModelChange)="changeShippingState($event)">
                          <mat-option class="unicorn-dark-theme" *ngFor="let country of countries" [value]="country.id">
                            {{ country.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="formErrors['countryId']" class="xb-input-error">
                        {{ formErrors['countryId'] }}
                      </div>
                    </div>
                    <div fxFlex="46">
                      <mat-form-field class="xb-cart__body-100">
                        <mat-select placeholder="State" name="state" formControlName="stateId">
                          <mat-option class="unicorn-dark-theme" *ngFor="let state of states" [value]="state.id">
                            {{ state.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="formErrors['stateId']" class="xb-input-error">
                        {{ formErrors['stateId'] }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="xb-cart__body-margin-top" fxLayout="row" fxLayoutAlign="space-between start"
                   fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
                <div fxFlex="48" fxFlex.xs="none" >
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="{{postCodeName}}" formControlName="postcode">
                  </mat-form-field>
                  <div *ngIf="formErrors['postcode']" class="xb-input-error">
                    {{ formErrors['postcode'] }}
                  </div>
                </div>
                <div fxFlex="48" fxFlex.xs="none" fxLayout="row" fxLayoutAlign="start center">
                  <div class="md-margin-right-1">{{phoneCode + ' -'}}</div>
                  <div>
                    <mat-form-field  class="xb-cart__body-100">
                      <input type="text" matInput placeholder="Phone Number" formControlName="phoneNumber">
                    </mat-form-field>
                    <div *ngIf="formErrors['phoneNumber']" class="xb-input-error">
                      {{ formErrors['phoneNumber'] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="md-margin-top-2 background-bg-white xb-cart__body-left-form" fxLayout="column" fxLayoutAlign="start stretch" >
              <div class="xb-cart__product-title-bg" fxLayout="row" fxLayoutAlign="start center" fxHide.xs>
                <div class="xb-cart__title" fxFlex="40">
                  Product
                </div>
                <div class="xb-cart__title" fxFlex="20" fxLaout="column" fxLayoutAlign="center center" fxHide.sm>
                  Quantity
                </div>
                <div class="xb-cart__title" fxFlex="20" fxLaout="column" fxLayoutAlign="center center" fxHide.sm>
                  Unit Price
                </div>
                <div class="xb-cart__title md-align-right" fxFlex="25" fxLaout="column" fxHide.sm>
                  Shipping
                </div>
              </div>
              <div class="xb-cart__product-list" *ngFor="let item of products;let i = index;">
                <app-store-cart-pay-item [product]="item" [currency]="order.currency"></app-store-cart-pay-item>
              </div>
            </div>
            <div class="xb-cart__body-left-button" fxLayout="row" fxLayoutAlign="start center" *ngIf="step == 0">
              <div class="text-underline xb-pointer xb-bold" routerLink="{{cartLink}}" fxHide.xs><< Back</div>
              <div class="md-margin-right-2 unicorn-dark-theme" fxFlex fxLayout="row" fxLayoutAlign="end center">
                <mat-checkbox formControlName="isSaveAddress" color="primary">
                  Save this address for future purchases
                </mat-checkbox>
              </div>
            </div>
          </form>
          <div class="unicorn-dark-theme background-bg-white xb-cart__body-left-form" *ngIf="step == 1"
               fxLayout="column" fxLayoutAlign="start stretch">
            <div></div>
            <div class="xb-cart__title">
              Pay Method
            </div>
            <div>
              <mat-radio-group [ngModel]="payMethod" (ngModelChange)="changePayMethod($event)" fxLayout="row"
                 fxLayout.xs="column">
                <mat-radio-button class="xb-cart__body-margin-top-2 xb-cart__body-margin-right-1"
                                  *ngFor="let item of payMethodList"

                                  [value]="item.content" color="primary">
                  {{ item.content }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div [hidden]="payMethodItem.display" class="xb-cart__body-margin-top-2 md-dark-secondary">
              Please enter you detailed payment information after submitting your order.
            </div>
            <div *ngIf="payMethodItem.display" class="xb-cart__body-margin-top-2"
                 fxLayout="row" fxLayoutAlign="space-between center"
                 fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
              <mat-form-field fxFlex="48" fxFlex.xs="none" class="xb-cart__body-100">
                <input type="text" matInput placeholder="Card Number" [(ngModel)]="cardNumber" maxlength="20">
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="48" class="xb-cart__width-100">
                <mat-form-field fxFlex="46">
                  <input type="text" matInput placeholder="MM/YY" [(ngModel)]="expiryDate" maxlength="5">
                </mat-form-field>
                <mat-form-field fxFlex="46">
                  <input type="text" matInput placeholder="CVC" [(ngModel)]="cvc" maxlength="4">
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="cardMessage" class="xb-input-error">
              {{ cardMessage }}
            </div>
            <div class="xb-cart__title xb-cart__body-margin-top-2" *ngIf="payMethodItem.display">
              Billing Address
            </div>
            <mat-radio-group *ngIf="payMethodItem.display" [ngModel]="shippingMethod" (ngModelChange)="changeShippingMethod($event)" fxLayout="column">
              <mat-radio-button class="xb-cart__body-margin-top-2"
                                *ngFor="let item of shippingMethodList" [value]="item.content" color="primary">
                {{ item.content }}
              </mat-radio-button>
            </mat-radio-group>
            <form class="xb-cart__body-margin-top-2" *ngIf="shippingMethodItem.display" [formGroup]="stepTwoForm" novalidate>
              <div class="xb-cart__body-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start">
                <div fxFlex="48">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="First Name" formControlName="firstName">
                  </mat-form-field>
                  <div *ngIf="formErrors['firstName']" class="xb-input-error">
                    {{ formErrors['firstName'] }}
                  </div>
                </div>
                <div fxFlex="48">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                  </mat-form-field>
                  <div *ngIf="formErrors['lastName']" class="xb-input-error">
                    {{ formErrors['lastName'] }}
                  </div>
                </div>
              </div>
              <div class="xb-cart__body-margin-top" fxLayout="row" fxLayoutAlign="space-between start"
                   fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
                <div fxFlex="48" fxFlex.xs="none">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="Address Line1" formControlName="line1">
                  </mat-form-field>
                  <div *ngIf="formErrors['line1']" class="xb-input-error">
                    {{ formErrors['line1'] }}
                  </div>
                </div>
                <div fxFlex="48" fxFlex.xs="none">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="Address Line2 (Optional)" formControlName="line2">
                  </mat-form-field>
                </div>
              </div>
              <div class="xb-cart__body-margin-top" fxLayout="row" fxLayoutAlign="space-between start"
                   fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
                <div fxFlex="48" fxFlex.xs="none">
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="City" formControlName="city">
                  </mat-form-field>
                  <div *ngIf="formErrors['city']" class="xb-input-error">
                    {{ formErrors['city'] }}
                  </div>
                </div>
                <div fxFlex="48" fxFlex.xs="none">
                  <div fxLayout="row" fxLayoutAlign="space-between start" class="xb-cart__width-100">
                    <div fxFlex="46">
                      <mat-form-field class="xb-cart__body-100">
                        <mat-select placeholder="Country" name="country" formControlName="countryId"
                                    (ngModelChange)="changeBillingState($event)">
                          <mat-option class="unicorn-dark-theme" *ngFor="let country of countries" [value]="country.id">
                            {{ country.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="formErrors['countryId']" class="xb-input-error">
                        {{ formErrors['countryId'] }}
                      </div>
                    </div>
                    <div fxFlex="46">
                      <mat-form-field class="xb-cart__body-100">
                        <mat-select placeholder="State" name="state" formControlName="stateId">
                          <mat-option class="unicorn-dark-theme" *ngFor="let state of statesBilling" [value]="state.id">
                            {{ state.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="formErrors['stateId']" class="xb-input-error">
                        {{ formErrors['stateId'] }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="xb-cart__body-margin-top" fxLayout="row" fxLayoutAlign="space-between start"
                   fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
                <div fxFlex="48" fxFlex.xs="none" >
                  <mat-form-field class="xb-cart__body-100">
                    <input type="text" matInput placeholder="{{postCodeName}}" formControlName="postcode">
                  </mat-form-field>
                  <div *ngIf="formErrors['postcode']" class="xb-input-error">
                    {{ formErrors['postcode'] }}
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="xb-cart__body-left-button" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="step == 1">
            <div class="text-underline xb-pointer xb-bold" (click)="back()"><< Back</div>
          </div>
          <div class="unicorn-dark-theme background-bg-white xb-cart__body-left-form" *ngIf="step == 2"
               fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="xb-cart__title">
                Guest Order Number
              </div>
              <div class="xb-cart__bill-margin-left">
                {{order.number}}
              </div>
            </div>
            <div class="md-margin-top-2 md-dark-secondary">
              Your order had been placed successfully. The full tracking information will be sent to you via email,
              once your order has been dispatched.
            </div>
            <div class="xb-cart__title xb-cart__body-margin-top-2">
              Order Tracking
            </div>
            <div class="md-margin-top-2 md-dark-secondary">
              Your shipment status and updates will be sent to <span>{{order.emailAddress}}</span>
            </div>
            <div class="xb-cart__title xb-cart__body-margin-top-2">
              Shipping Address
            </div>
            <div class="md-margin-top-3" fxLayout="column" >
              <div fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  Name
                </div>
                <div>
                  {{order.shippingAddress.firstName + ' ' + order.shippingAddress.lastName}}
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  Address
                </div>
                <div>
                  <div>{{order.shippingAddress.line1}}</div>
                  <div class="md-margin-top-1">{{order.shippingAddress.line2}}</div>
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  City
                </div>
                <div>
                  <span>{{order.shippingAddress.city}}</span>
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  State
                </div>
                <div>
                  {{order.shippingAddress.state.name}}
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  {{postCodeName}}
                </div>
                <div>
                  {{order.shippingAddress.postcode}}
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  Country
                </div>
                <div>
                  {{order.shippingAddress.country.name}}
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  Phone Number
                </div>
                <div>
                  {{phoneCode + ' - '}}{{order.shippingAddress.phoneNumber}}
                </div>
              </div>
            </div>
            <div class="xb-cart__title xb-cart__body-margin-top-2" *ngIf="order.paymentType == 'Stripe'">
              Billing Address
            </div>
            <div class="md-margin-top-3" fxLayout="column" *ngIf="order.paymentType == 'Stripe'">
              <div fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  Name
                </div>
                <div>
                  {{order.billingAddress.firstName + ' ' + order.billingAddress.lastName}}
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  Address
                </div>
                <div>
                  <div>{{order.billingAddress.line1}}</div>
                  <div class="md-margin-top-1">{{order.billingAddress.line2}}</div>
                </div>
              </div>

              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  City
                </div>
                <div>
                  {{order.billingAddress.city}}
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  State
                </div>
                <div>
                  {{order.billingAddress.state.name}}
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  {{postCodeName}}
                </div>
                <div>
                  {{order.billingAddress.postcode}}
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
                <div class="md-dark-secondary xb-cart__bill-left-1" fxFlex="none">
                  Country
                </div>
                <div>
                  {{order.billingAddress.country.name}}
                </div>
              </div>
            </div>
            <div class="xb-cart__body-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
              <div class="xb-cart__title">
                Payment Method
              </div>
            </div>
            <div class="md-margin-top-3" *ngIf="order.paymentType == 'Stripe'">****{{order.cardLast4}}/{{order.cardBrand}}</div>
            <div class="md-margin-top-3" *ngIf="order.paymentType == 'Paypal'">Paypal</div>
          </div>
        </div>
        <div fxLayout="column" fxHide.xs>
          <div class="xb-cart__bill background-bg-white" fxHide.xs>
            <div class="xb-cart__bill-title" fxLayout="row" fxLayoutAlign="start center">
              Order Summary
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="xb-cart__bill-left">
                <div class="xb-cart__bill-margin-top-1">Subtotal</div>
                <div class="xb-cart__bill-margin-top-1">Shipping</div>
                <div class="xb-cart__bill-margin-top-1">Tax</div>
                <div class="xb-cart__bill-margin-top-2 xb-cart__bill-margin-bottom xb-cart__title">Grand Total</div>
              </div>
              <div>
                <div class="xb-cart__bill-margin-top-1">{{subTotalPrice | exchangeCurrency:(order.currency|uppercase) |currency: (order.currency | uppercase): true }}</div>
                <div class="xb-cart__bill-margin-top-1">{{shippingTotalPrice | exchangeCurrency:(order.currency|uppercase) |currency: (order.currency | uppercase): true }}</div>
                <div class="xb-cart__bill-margin-top-1">{{0 | exchangeCurrency:(order.currency|uppercase) |currency: (order.currency | uppercase): true }}</div>
                <div class="xb-cart__bill-margin-top-2 xb-cart__bill-margin-bottom xb-cart__title">
                  {{totalPrice | exchangeCurrency:(order.currency|uppercase) |currency: (order.currency | uppercase): true}}</div>
              </div>
            </div>
          </div>
          <div class="md-margin-top-2 unicorn-dark-theme" fxLayout="column">
            <button mat-raised-button color="primary" *ngIf="step == 0" (click)="continue()">NEXT</button>
            <div *ngIf="stepOneFormError" class="xb-input-error md-margin-top-2">
              {{ stepOneFormError }}
            </div>
            <button mat-raised-button color="primary" (click)="save()" *ngIf="step == 1 && payMethodItem.display" >COMPLETE ORDER</button>
            <button mat-raised-button color="primary"  *ngIf="step == 2" routerLink="../../order">
              CONTACT SUPPORT
            </button>
            <div class="xb-cart__order-button" [ngClass]="{'xb-cart__order-button-hidden': step != 1 || payMethodItem.display}" >
              <div class="xb-cart__order-button-text">
                PAY WITH PAYPAL
              </div>
              <div class="xb-cart__order-button-inner" id="paypal-button-container" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-cart__fixed-bottom background-bg-white" fxLayout="row" fxLayoutAlign="start center" fxHide.gt-xs>
    <div class="xb-cart__fixed-bottom-dialog" *ngIf="isTotalDialogOpen">
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div>
          <div>{{subTotalPrice | exchangeCurrency:(order.currency|uppercase)|currency: (order.currency | uppercase): true }}</div>
          <div class="md-margin-top-3">{{shippingTotalPrice | exchangeCurrency:(order.currency|uppercase) |currency: (order.currency | uppercase): true }}</div>
        </div>
        <div class="md-margin-left-3">
          <div>Subtotal</div>
          <div class="md-margin-top-3">Shipping</div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex (click)="openDialog()">
      <div class="xb-cart__item-sale md-margin-left-1">
        {{totalPrice | exchangeCurrency:(order.currency|uppercase) |currency: (order.currency| uppercase): true}}
      </div>
      <div class="xb-cart__fixed-bottom-tri xb-cart__fixed-bottom-margin" *ngIf="!isTotalDialogOpen"></div>
      <div class="xb-cart__fixed-bottom-tri-1 xb-cart__fixed-bottom-margin" *ngIf="isTotalDialogOpen"></div>
    </div>
    <div class="unicorn-dark-theme" fxLayout="column" >
      <button mat-raised-button color="primary" *ngIf="step == 0" (click)="continue(true)">NEXT</button>
      <button mat-raised-button color="primary" (click)="save()" *ngIf="step == 1 && payMethodItem.display" >COMPLETE ORDER</button>
      <button mat-raised-button color="primary"  *ngIf="step == 2" routerLink="../../order">
        CONTACT SUPPORT
      </button>
      <div class="xb-cart__order-button" [hidden]="step != 1 || payMethodItem.display" >
        <div class="xb-cart__order-button-text">
          PAY WITH PAYPAL
        </div>
        <div class="xb-cart__order-button-inner" id="paypal-button-container-1"></div>
      </div>
    </div>
  </div>
  <div class="background-bg-white" fxHide.xs>
    <div class="container">
      <app-store-cart-footer></app-store-cart-footer>
    </div>
  </div>
</div>
