.xcard {
  position: relative;
  margin-bottom: 20px;
  background-color: #ffffff;
  word-wrap: break-word;
  border: 1px solid #EEEEEE;
  &__header {
    border-bottom: 1px solid #dcdcdc;
  }
  &__block {
    padding: 20px;
  }
  &__image_wrap {
    @include xaspect-ratio(3, 2);
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }

    // fix chrome bug of adding a border to img of no src
    img[src=""], img:not([src]) {
      border: 0;
      opacity: 0;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
    a {
      color: #333333;
      &:hover {
        color: #333333;
      }
    }
  }
  &__description {
    font-size: 16px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    height: auto;
    line-height: 20px;
    min-height: 20px;
    margin-bottom: 20px;
    max-height: none;
    font-weight: 300;
  }
  &__footer {
    border-top: 1px solid #EEEEEE;
  }

  &--borderless {
    border: none;
  }
  &--background-light{
    background-color: #f9f9f9;
  }

  $parent: &;

  &--image-left {
    @include xb-md-screen {
      padding-left: 270px;
      #{$parent}__image_wrap {
        width: 270px;
        position: absolute;
        left: 0;
        top: 0;
      }
      #{$parent}__block {
        padding: 10px 20px;
      }
      #{$parent}__title {
        margin-bottom: 15px;
      }
      #{$parent}__description {
        margin-bottom: 15px;
      }
      margin-bottom: 40px;
    }
  }

  &--image-left-small {
    padding-left: 90px;
    #{$parent}__image_wrap {
      width: 90px;
      position: absolute;
      left: 0;
      top: 0;
    }
    #{$parent}__block {
      padding: 0 20px;
    }
    #{$parent}__title {
      margin-top: 0;
      font-size: 16px;
      line-height: 20px;
      height: auto;
      max-height: none;
      overflow: auto;
      a {
        color: #333333;
        &:hover {
          color: #333333;
        }
      }
      margin-bottom: 5px;
    }
    #{$parent}__description {
      margin-bottom: 15px;
    }
    margin-bottom: 20px;
  }
}
