<div class="xb-store-template__detail-background" (click)="close()">
  <div class="xb-store-template__details-bg-new" (click)="$event.stopPropagation();">
    <div class="xb-store-template__detail-close" (click)="close()" fxShow="false" fxShow.gt-xs="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-store-template__detail">
      <div class="xb-store-template__nav" fxShow="false" fxShow.xs="show">
        <i class="material-icons md-dark-primary" (click)="close()">keyboard_arrow_left</i> {{store.nameTag ||
        store.name}}
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
        <div class="xb-store-template__detail-margin-right">
          <app-store-detail-picture [images]="image" [selectedImage]="selectedImage"
                                    [imageSources]="imageSources"
                                    [insertImage]="insertImage"></app-store-detail-picture>
          <div class="xb-store-template__detail-store-owner" *ngIf="product.recommendation">
            <div class="xb-store-template__detail-store-owner-title">
              Store Owner Says
            </div>
            <div class="xb-store-template__detail-store-owner-des">
              {{product.recommendation}}
            </div>
          </div>
          <div class="xb-store-template__detail-product">
            <div class="xb-store-template__detail-product-title">
              About the product
            </div>
            <div class="xb-store-template__detail-product-des"
                 [innerHTML]="product.description | safeHtml">
            </div>
          </div>
        </div>
        <div class="xb-store-template__detail-content" fxFlex>
          <div>{{product.categoryName}}</div>
          <div class="xb-store-template__detail-title md-margin-top-1">{{product.title}}</div>
          <div class="xb-store-promotion">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="xb-store-template__car-left-part">Price</div>
              <div class="xb-store-template__detail-price" *ngIf="!isHaveVariant">
                {{ salePrice | exchangeCurrency:currency |currency: currency }}
              </div>
              <div class="xb-store-template__detail-price"
                   *ngIf="isHaveVariant && isPriceRange && minSalePrice!=maxSalePrice">
                {{minSalePrice | exchangeCurrency:currency |currency: currency }} - {{maxSalePrice |
                exchangeCurrency:currency |currency: currency }}
              </div>
              <div class="xb-store-template__detail-price"
                   *ngIf="isHaveVariant && isPriceRange && minSalePrice==maxSalePrice">
                {{minSalePrice | exchangeCurrency:currency |currency: currency }}
              </div>
              <div class="xb-store-template__detail-price" *ngIf="isHaveVariant && !isPriceRange">
                {{ salePrice | exchangeCurrency:currency |currency: currency }}
              </div>
              <div class="xb-store-promotion__details-sale md-margin-left-1"
                   *ngIf="!isHaveVariant && salePrice != originalPrice ">
                - {{ salePrice|saleDiscount:originalPrice}}
              </div>
              <div class="xb-store-promotion__details-sale md-margin-left-1"
                   *ngIf="isHaveVariant && salePrice != originalPrice && !isPriceRange">
                - {{ salePrice|saleDiscount:originalPrice}}
              </div>
            </div>
            <div [ngStyle]="{'margin-left':'54px'}" fxLayout="row" fxLayoutAlign="start center">
              <div class="line-through md-margin-top-1"
                   *ngIf="!isHaveVariant && salePrice != originalPrice ">
                {{ originalPrice | exchangeCurrency:currency |currency: currency }}
              </div>
              <div class="line-through md-margin-top-1"
                   *ngIf="isHaveVariant && salePrice != originalPrice && !isPriceRange">
                {{ originalPrice | exchangeCurrency:currency |currency: currency }}
              </div>
            </div>
            <div *ngIf="isPromotionOnGoing" [ngStyle]="{'margin-left':'54px'}">
              <div class="xb-store-promotion__processing">
                <div class="xb-store-promotion__processing-line"></div>
                <div class="xb-store-promotion__processing-line" [ngStyle]="{'width':progressPercentage+'%'}"></div>
              </div>
              <div class="xb-store-promotion__count md-margin-top-2" fxLayout="row"
                   fxLayoutAlign="space-between center">
                <div class="xb-store-promotion__count-word">{{progressPercentage}}% claimed</div>
                <div class="xb-store-promotion__count-word" fxLayout="row" fxLayoutAlign="start start">
                  <span class="xb-bold">Ends in:&nbsp;&nbsp;</span>
                  <app-store-edit-two-countdown [countdownTimer]="countdownLeftTime"></app-store-edit-two-countdown>
                </div>
              </div>
            </div>
            <div *ngIf="isPromotionScheduled" [ngStyle]="{'margin-left':'54px'}" class="md-margin-top-2" fxLayout="row"
                 fxLayoutAlign="start center">
              <div class="xb-store-promotion__upcoming">Upcoming</div>
              <div class="xb-store-promotion__upcoming-time" fxLayout="row" fxLayoutAlign="start start">
                <span class="xb-bold">Starts in:&nbsp;&nbsp;</span>
                <app-store-edit-two-countdown [countdownTimer]="countdownLeftTime"></app-store-edit-two-countdown>
              </div>
            </div>
          </div>
          <div class="xb-store-template__car-margin-top-2">
            <div class="xb-store-template__car-margin-top" *ngFor="let item of variantList;let i = index;"
                 fxLayout="row" fxLayoutAlign="start start"
                 fxLayout.xs="column" fxLayoutAlign="start start">
              <div class="xb-store-template__car-left-part"
                   [ngClass]="{'xb-store-template__car-margin-top-1':item.id == 2}">{{item.name}}
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start start">
                <div *ngFor="let value of item.value;let j = index;">
                  <div class="xb-store-template__car-image" [ngClass]="{'active':value.isSelected}"
                       *ngIf="value.image" (click)="selectVariant(value, item)">
                    <img [src]="value.image"/>
                  </div>
                  <div *ngIf="!value.image" class="xb-store-template__car-text"
                       [ngClass]="{'active':value.isSelected}" (click)="selectVariant(value, item)">
                    {{value.value}}
                  </div>
                </div>
              </div>
            </div>
            <div class="xb-store-template__car-margin-top" fxLayout="row" fxLayoutAlign="start center"
                 fxLayout.xs="column" fxLayoutAlign.xs="start start" *ngIf="isCanBuy">
              <div class="xb-store-template__car-left-part">Quantity</div>
              <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
                <div class="md-margin-right-2 xb-store-template__car-item-add" fxFlex="none">
                  <i class="material-icons">add</i>
                </div>
                <div class="xb-store-template__car-item-input" fxFlex>
                  <input type="number" [(ngModel)]="number" step="1" min="0">
                </div>
                <div class="md-margin-left-2 xb-store-template__car-item-add" fxFlex="none">
                  <i class="material-icons">remove</i>
                </div>
              </div>
            </div>
          </div>
          <div class="xb-store-template__detail-buttons-bg" fxShow="true" fxShow.xs="false">
            <div *ngIf="isShowCartWarn" class="xb-store-template__red md-margin-bottom-2"> {{cartWarn}}</div>
            <button class="xb-store-template__detail-buttons"
                    [ngStyle]="{'cursor':'initial','background-color': 'rgba(0,0,0,.19)'}" [disabled]="true"
                    *ngIf="isCanBuy && !(isPromotionOnGoing || isPromotionScheduled)">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">ADD TO CART</a>
            </button>
            <button class="xb-store-template__detail-buttons"
                    [ngStyle]="{'cursor':'initial','background-color': 'rgba(0,0,0,.19)'}" [disabled]="true"
                    *ngIf="isCanBuy && (isPromotionOnGoing || isPromotionScheduled)">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">CLAIM IT NOW</a>
            </button>
            <button class="xb-store-template__detail-buttons" [ngStyle]="{'background-color': 'rgba(0,0,0,.19)'}"
                    [disabled]="true" *ngIf="!isCanBuy">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">OUT OF STOCK</a>
            </button>
          </div>
          <div class="xb-store-template__car-bg" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="xb-store-template__car-left-part-1">Estimated Delivery</div>
              <div>{{shippingTimeMin}}-{{shippingTimeMax}} days</div>
            </div>
            <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
              <div class="xb-store-template__car-left-part-1">Return Policy</div>
              <div class="xb-store-template__return-policy" [ngStyle]="{'cursor':'initial'}">{{returnDays}}</div>
            </div>
            <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
              <div class="xb-store-template__car-left-part-1">Shipping Availability</div>
              <div>{{deliveryCountry}}</div>
            </div>
          </div>
          <div class="xb-store-template__detail-buttons-bg xb-store-template__detail-app " fxShow="false"
               fxShow.xs="true">
            <button class="xb-store-template__detail-buttons" [ngStyle]="{'cursor':'initial'}"
                    [ngStyle]="{'background-color': 'rgba(0,0,0,.19)'}" *ngIf="isCanBuy && !(isPromotionOnGoing || isPromotionScheduled)">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">ADD TO CART</a>
            </button>
            <button class="xb-store-template__detail-buttons" [ngStyle]="{'cursor':'initial'}"
                    [ngStyle]="{'background-color': 'rgba(0,0,0,.19)'}" *ngIf="isCanBuy && (isPromotionOnGoing || isPromotionScheduled)">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">CLAIM IT NOW</a>
            </button>
            <button class="xb-store-template__detail-buttons" [disabled]="true"
                    [ngStyle]="{'background-color': 'rgba(0,0,0,.19)'}" *ngIf="!isCanBuy">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">OUT OF STOCK</a>
            </button>
          </div>
          <div fxHide.gt-xs class="xb-store-template__detail-buttons-fixed" fxLayout="column" fxShow="false"
               fxShow.xs="true"
               *ngIf="showButton">
            <button class="xb-store-template__detail-buttons" [disabled]="true"
                    [ngStyle]="{'background-color': 'rgba(0,0,0,.19)'}" *ngIf="isCanBuy && !(isPromotionOnGoing || isPromotionScheduled)">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">ADD TO CART</a>
            </button>
            <button class="xb-store-template__detail-buttons" [disabled]="true"
                    [ngStyle]="{'background-color': 'rgba(0,0,0,.19)'}" *ngIf="isCanBuy && (isPromotionOnGoing || isPromotionScheduled)">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">ADD TO CART</a>
            </button>
            <button class="xb-store-template__detail-buttons" [ngStyle]="{'background-color': 'rgba(0,0,0,.19)'}"
                    [disabled]="true" *ngIf="!isCanBuy">
              <a class="gtag-shop-detail-get-it-now-button xb-store-template__buttons-color">OUT OF STOCK</a>
            </button>
          </div>
          <div class="md-margin-top-2">
            <app-share-button [link]="shareLink" [text]="text"></app-share-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
