<div class="xb-store-template__card">
  <div class="xb-pointer">
    <div class="xb-store-template__card-image" (click)="jumpProductDetail()">
      <a>
        <img [src]="product.mainImage">
      </a>
      <div *ngIf="isPromotionOnGoing" class="xb-store__promotion-ongoing">Ongoing</div>
      <div *ngIf="isPromotionOnGoing" class="xb-store__promotion-countdown" fxShow="true"
           fxShow.xs="false">
        <span *ngIf="days>0"> {{days>1?days+' Days,':'Day,'}}</span> {{hours}} {{hours>1 ? 'Hours':'Hour'}} Left
      </div>
      <div *ngIf="isPromotionScheduled" class="xb-store__promotion-upcoming">Upcoming</div>
    </div>
    <div class="xb-store-template__card-content" fxLayout="column">
      <div class="xb-store-template__card-title">{{product.title}}</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center"
           fxLayout.xs="column" fxLayoutAlign.xs="start start">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-store-template__card-price">{{salePrice|currency: currency }}</div>
          <div class="line-through md-margin-left-1" *ngIf="product.originalPrice > 0">{{product.originalPrice|currency:
            currency }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
