<div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="start center">
  <ng-container  *ngFor="let value of contents;let i = index;">
    <div class="xb-store-template__navigation xb-pointer" [ngClass]="{active: i == navigationIndex}"
         [style.color]="isBlack?'black':'white'"
         *ngIf="!(value.text == 'Flash Sale' && !isHavePromotion)"
         (click)="changeNavigation(i)">
      {{value.text}}
    </div>
  </ng-container>
  <div class="xb-store-template__cart-order-and-cart" fxLayout="row" fxLayoutAlign="start center">
    <i class="iconfontXberts icon-pic-per xb-store-template__cart-icon md-margin-right-4"
       [style.color]="isBlack?'#555555':'white'" (click)="openStoreOrder()"></i>
    <div style="position: relative" (click)="openStoreCart()">
      <i class="iconfontXberts icon-pic-cart1 xb-store-template__cart-icon"
         [style.color]="isBlack?'#555555':'white'"></i>
    </div>
  </div>
</div>
