<div class="xb-store__footer">
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column" >
    <div fxFlex="30">
      <div class="xb-store__footer-title">Contact us</div>
      <div class="xb-store__footer-content">Any questions? Let us know in store at 24/6h Street, or call us on 0800 xxx 637</div>
    </div>
    <div fxFlex="15">
      <div class="xb-store__footer-title">Links</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
        <div class="xb-store__footer-icons xb-pointer gtag-shop-detail-share-button-google"
             appSocialShare  [googlePlus]="{url: shareLink}">
          <i class="iconfontXberts icon-google"></i>
        </div>
        <div class="xb-store__footer-icons xb-pointer md-margin-left-3"
             appSocialShare  [facebook]="{u: shareLink}">
          <i class="iconfontXberts icon-ic-facebook"></i>
        </div>
        <div class="xb-store__footer-icons xb-pointer md-margin-left-3"
             appSocialShare [twitter]="{url: shareLink, text: text, hashtags: '' }">
          <i class="iconfontXberts icon-ic-twitter"></i>
        </div>
      </div>
    </div>
    <div fxFlex="25">
      <!--<div class="xb-store__footer-title">Newsletter</div>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field class="unicorn-dark-theme xb-store__width-100">
          <input class="unicorn-dark-theme" matInput placeholder="email@example.com" >
        </mat-form-field>
        <div class="md-margin-top-1 unicorn-dark-theme">
          <button mat-raised-button color="primary" >SUBSCRIBE</button>
        </div>
      </div>-->
    </div>
  </div>
  <div class="xb-store__footer-bottom-content" fxLayout="row" fxLayoutAlign="start center"
  fxLayout.xs="column" fxLayoutAlign.xs="start start">
    <div>© 2017 All rights reserved.</div>
    <div class="xb-store__footer-bottom-content-left">POWERED BY SocialCommer</div>
  </div>
</div>
