<div class="xb-about">
  <div class="background-bg-white">
    <div class="container">
      <app-navigation-header></app-navigation-header>
    </div>
  </div>
  <div class="xb-about__banner">
    <div class="container" fxLayout="column">
      <div class="xb-about__navigation-title">Terms of Service</div>
    </div>
  </div>
  <div class="xb-about-privacy">
    <div class="xb-about-container">
      <div class="xb-about-privacy__content-1">
        By signing up for the SocialCommer services or its affiliates
        (“SocialCommer”) you are agreeing to be bound by the following terms and conditions (“Terms of Service”). The
        services offered by SocialCommer under the Terms of Service include various products and services to help you
        sell goods and services to buyers online (“Online Services”). Any such services offered by SocialCommer are
        referred to in these Terms of Services as the “Services”. Any new features or tools which are added to the
        current Services shall be also subject to the Terms of Service. You can review the current version of the Terms
        of Service at any time at https://www.socialcommer.com/terms. SocialCommer reserves the right to update and
        change the Terms of Service by posting updates and changes to the SocialCommer website. You are advised to check
        the Terms of Service from time to time for any updates or changes that may impact you.<br><br>
        You must read, agree with and accept all of the terms and conditions contained in this Terms of Service
        agreement, including <a routerLink="/aup">SocialCommer’s Acceptable Use Policy (“AUP”)</a> and <a
        routerLink="/privacy">Privacy
        Policy </a>before you may become a
        SocialCommer user.
      </div>
      <div id="about" class="xb-about-privacy__content-1">
        Everyday language summaries are provided for convenience only and are not legally binding. Please read the
        “Terms of Service” for the complete picture of your legal requirements. By using SocialCommer or any
        SocialCommer services, you are agreeing to these terms. Be sure to occasionally check back for updates.
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">1. Account Terms</span>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>1.1</div>
          <div class="xb-about__left-2">You must be 18 years or older or at least the age of majority in the
            jurisdiction where you reside or from which you use this Service.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>1.2</div>
          <div class="xb-about__left-2"> To access and use the Services, you must register for a SocialCommer account
            (“Account”) by providing your full legal name, current address, phone number, a valid email address, and any
            other information indicated as required. SocialCommer may reject your application for an Account, or cancel
            an existing Account, for any reason, in our sole discretion.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>1.3</div>
          <div class="xb-about__left-2">You acknowledge that SocialCommer will use the email address you provide as the
            primary method for communication.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>1.4</div>
          <div class="xb-about__left-2"> You are responsible for keeping your password secure. SocialCommer cannot and
            will not be liable for any loss or damage from your failure to maintain the security of your Account and
            password.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>1.5</div>
          <div class="xb-about__left-2">You are responsible for all activity and content such as photos, images, videos,
            graphics, written content, audio files, code, information, or data uploaded, collected, generated, stored,
            displayed, distributed, transmitted or exhibited on or in connection with your Account (“Materials”).
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>1.6</div>
          <div class="xb-about__left-2">A breach or violation of any term in the Terms of Service, including
            the <a routerLink="/aup">AUP</a> , as
            determined in the sole discretion of SocialCommer will result in an immediate termination of your services.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>1.7</div>
          <div class="xb-about__left-2">In consideration of use of the Service, you agree to maintain and update true,
            accurate, current and complete Registration Data. If you provide any information that is untrue, inaccurate,
            not current or incomplete, or if SocialCommer has reasonable grounds to suspect that such information is
            untrue, inaccurate, not current or incomplete, we may suspend or terminate your account and refuse any and
            all current or future use of the Service or any portion thereof.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">2. Account Activation</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>2.1</div>
          <div class="xb-about__left-2">SocialCommer Account
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>2.1.1</div>
          <div class="xb-about__left-2"> Subject to section 2.1.2, the person signing up for the Service will be the
            contracting party (“Account Owner”) for the purposes of our Terms of Service and will be the person who is
            authorized to use any corresponding account we may provide to the Account Owner in connection with the
            Service.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>2.1.2</div>
          <div class="xb-about__left-2"> If you are signing up for the Service on behalf of your employer, your employer
            shall be the Account Owner. If you are signing up for the Service on behalf of your employer, then you
            represent and warrant that you have the authority to bind your employer to our Terms of Service.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>2.2</div>
          <div class="xb-about__left-2"> Domain Names
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>2.2.1</div>
          <div class="xb-about__left-2"> Upon purchasing a domain name through SocialCommer, domain registration will be
            preset to automatically renew each year so long as your SocialCommer Account remains active. You acknowledge
            that it is your sole responsibility to deactivate the auto-renewal function should you choose to do so.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">3. General Conditions</span><br>
        <div>You must read, agree with and accept all of the terms and conditions
          contained in these Terms of Service, including the <a routerLink="/aup">AUP</a> and the <a
            routerLink="/privacy">Privacy Policy</a> before you may become a member
          of SocialCommer.
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>3.1</div>
          <div class="xb-about__left-2"> Technical support is only provided to paying Account holders and is only
            available via email.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>3.2</div>
          <div class="xb-about__left-2"> You acknowledge and agree that SocialCommer may amend these Terms of Service at
            any time by posting the relevant amended and restated Terms of Service on SocialCommer’s website, available
            at https://www.socialcommer.com/terms and such amendments to the Terms of Service are effective as of the
            date of posting. Your continued use of the Services after the amended Terms of Service are posted to
            SocialCommer’s website constitutes your agreement to, and acceptance of, the amended Terms of Service. If
            you do not agree to any changes to the Terms of Service, do not continue to use the Service.<br>
            You may not use the SocialCommer service for any illegal or unauthorized purpose nor may you, in the use of
            the Service, violate any laws in your jurisdiction (including but not limited to copyright laws), the laws
            applicable to you in your customer’s jurisdiction.You will comply with all applicable laws, rules and
            regulations in your use of the Service.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>3.3</div>
          <div class="xb-about__left-2"> You agree not to reproduce, duplicate, copy, sell, resell or exploit any
            portion of the Service, use of the Service, or access to the Service without the express written permission
            by SocialCommer.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>3.4</div>
          <div class="xb-about__left-2"> You shall not purchase search engine or other pay per click keywords (such as
            Google AdWords), or domain names that use SocialCommer or SocialCommer trademarks and/or variations and
            misspellings thereof.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>3.5</div>
          <div class="xb-about__left-2"> Questions about the Terms of Service should be sent to
            support@socialcommer.com.
            You understand that your Materials (not including credit card information), may be transferred unencrypted
            and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical
            requirements of connecting networks or devices. Credit Card information is always encrypted during transfer
            over networks.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>3.6</div>
          <div class="xb-about__left-2"> You acknowledge and agree that your use of the Service, including information
            transmitted to or stored by SocialCommer, is governed by its privacy policy
            at https://www.socialcommer.com/privacy
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>3.7</div>
          <div class="xb-about__left-2"> The Terms of Service may be available in languages other than English. To the
            extent of any inconsistencies or conflicts between these English Terms of Service and SocialCommer’s Terms
            of Service available in another language, the most current English version of the Terms of Service
            at https://www.socialcommer.com/terms will prevail.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">4. SocialCommer Rights</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>4.1</div>
          <div class="xb-about__left-2">We reserve the right to modify or terminate the Service for any reason, without
            notice at any time.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>4.2</div>
          <div class="xb-about__left-2"> We reserve the right to refuse service to anyone for any reason at any time.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>4.3</div>
          <div class="xb-about__left-2"> We may, but have no obligation to, remove Materials and suspend or terminate
            Accounts if we determine in our sole discretion that the goods or services offered via a store, or the
            Materials uploaded or posted to a store, violate our <a routerLink="aup">Acceptable Use Policy (“AUP”)</a> or
            these Terms of
            Service.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>4.4</div>
          <div class="xb-about__left-2"> Verbal or written abuse of any kind (including threats of abuse or retribution)
            of any SocialCommer customer, SocialCommer employee, member, or officer will result in immediate Account
            termination.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>4.5</div>
          <div class="xb-about__left-2"> SocialCommer does not pre-screen Materials and it is in our sole discretion to
            refuse or remove any Materials from the Service.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>4.6</div>
          <div class="xb-about__left-2"> We reserve the right to provide our services to your competitors and make no
            promise of exclusivity in any particular market segment. You further acknowledge and agree that SocialCommer
            employees and contractors may also be SocialCommer customers/store owners and that they may compete with
            you, although they may not use your confidential information in doing so.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>4.7</div>
          <div class="xb-about__left-2"> In the event of a dispute regarding Account ownership, we reserve the right to
            request documentation to determine or confirm Account ownership. Documentation may include, but is not
            limited to, a scanned copy of your business license, government issued photo ID, the last four digits of the
            credit card on file, etc.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>4.8</div>
          <div class="xb-about__left-2"> SocialCommer retains the right to determine, in our sole judgment, rightful
            Account ownership and transfer an Account to the rightful owner. If we are unable to reasonably determine
            the rightful Account owner, SocialCommer reserves the right to temporarily disable an Account until
            resolution has been determined between the disputing parties.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">5. Limitation of Liability</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>5.1</div>
          <div class="xb-about__left-2">You expressly understand and agree that SocialCommer shall not be liable for any
            direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to,
            damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or
            inability to use the service.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>5.2</div>
          <div class="xb-about__left-2"> In no event shall SocialCommer or our suppliers be liable for lost profits or
            any special, incidental or consequential damages arising out of or in connection with our site, our services
            or these Terms of Service (however arising including negligence). You agree to indemnify and hold us and (as
            applicable) our parent, subsidiaries, affiliates, SocialCommer partners, officers, directors, agents,
            employees, and suppliers harmless from any claim or demand, including reasonable attorneys’ fees, made by
            any third party due to or arising out of your breach of these Terms of Service or the documents it
            incorporates by reference (including the AUP), or your violation of any law or the rights of a third party.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>5.3</div>
          <div class="xb-about__left-2"> Your use of the Service is at your sole risk. The Service is provided on an “as
            is” and “as available” basis without any warranty or condition, express, implied or statutory.


          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>5.4</div>
          <div class="xb-about__left-2"> SocialCommer does not warrant that the Service will be uninterrupted, timely,
            secure, or error-free.


          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>5.5</div>
          <div class="xb-about__left-2"> SocialCommer does not warrant that the results that may be obtained from the
            use of the Service will be accurate or reliable.


          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>5.6</div>
          <div class="xb-about__left-2"> SocialCommer does not warrant that the quality of any products, services,
            information, or other Materials purchased or obtained by you through the Service will meet your
            expectations, or that any errors in the Service will be corrected.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">6. Waiver and Complete Agreement</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>6.1</div>
          <div class="xb-about__left-2">The failure of SocialCommer to exercise or enforce any right or provision of the
            Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service and the
            documents it incorporates by reference constitute the entire agreement between you and SocialCommer and
            govern your use of the Service, superseding any prior agreements between you and SocialCommer (including,
            but not limited to, any prior versions of the Terms of Service).

          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">7. Intellectual Property and Customer Content</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>7.1</div>
          <div class="xb-about__left-2">We do not claim any intellectual property rights over the Materials you provide
            to the SocialCommer service. All Materials you upload remains yours. You can remove your SocialCommer store
            at any time by deleting your Account.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>7.2</div>
          <div class="xb-about__left-2"> By uploading Materials, you agree: (a) to allow other internet users to view
            the Materials you post publicly to your store; (b) to allow SocialCommer to store, and in the case of
            Materials you post publicly, display your Materials; and (c) that SocialCommer can, at any time, review all
            the Materials submitted to its Service, although SocialCommer is not obligated to do so.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>7.3</div>
          <div class="xb-about__left-2"> You retain ownership over all Materials that you upload to a SocialCommer
            store; however, by making your store public, you agree to allow others to view Materials that you post
            publicly to your store. You are responsible for compliance of the Materials with any applicable laws or
            regulations.


          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>7.4</div>
          <div class="xb-about__left-2"> We will not disclose your confidential information to third parties, except as
            required in the course of providing our services. Confidential information includes any Materials or
            information provided by you to us which is not publicly known. Confidential information does not include
            information that: (a) was in the public domain at the time we received it; (b) comes into the public domain
            after we received it through no fault of ours; (c) we received from someone other than you without breach of
            our or their confidentiality obligations; or (d) we are required by law to disclose.


          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>7.5</div>
          <div class="xb-about__left-2"> SocialCommer shall have the non-exclusive right and license to use the names,
            trademarks, service marks and logos associated with your store to promote the Service.

          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">8. Theme Store</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>8.1</div>
          <div class="xb-about__left-2">You may establish the appearance of your SocialCommer store with a design
            template from SocialCommer’s Theme Store (“a Theme”). If you download a Theme, you are licensed to use it
            for a single store only. You are free to transfer a Theme to a second one of your own stores if you close
            your first store. To initiate a transfer of a Theme to a second one of your stores, please
            email support@socialcommer.com. You are not permitted to transfer or sell a Theme to any other person’s
            store on SocialCommer or elsewhere. Multiple stores require multiple downloads and each download is subject
            to the applicable fee. SocialCommer gives no assurance that a particular Theme will remain available for
            additional downloads.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>8.2</div>
          <div class="xb-about__left-2"> You may modify the Theme to suit your store. SocialCommer may add or modify the
            footer that refers to SocialCommer at its discretion. SocialCommer may modify the Theme where it contains,
            in our sole discretion, an element that violates the SocialCommer AUP or the Terms of Service, even if you
            received the Theme in that condition. SocialCommer may modify the Theme to reflect technical changes and
            updates as required.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>8.3</div>
          <div class="xb-about__left-2">The intellectual property rights of the Theme remain the property of the
            designer. If you exceed the rights granted by your purchase of a Theme, the designer may take legal action
            against you, and SocialCommer may take administrative action such as modifying your store or closing your
            store.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>8.4</div>
          <div class="xb-about__left-2"> Technical support for a Theme is the responsibility of the designer, and
            SocialCommer accepts no responsibility to provide such support. SocialCommer may be able to help you contact
            the designer.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>8.5</div>
          <div class="xb-about__left-2"> It is the responsibility of the user, and not SocialCommer, to ensure that the
            installation of a new theme does not overwrite or damage the current or pre-existing theme, or UI, of the
            user.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">9. Product Recommendation</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>9.1</div>
          <div class="xb-about__left-2">SocialCommer Product Recommendation is an online service that allows you to find
            and list goods available for affiliate sales or dropshipping by third parties (“Product Search Content”).

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>9.2</div>
          <div class="xb-about__left-2"> SocialCommer does not pre-screen Product Recommendation Content and we may
            refuse or remove any Product Recommendation Content on the Product Recommendation Page at any time and in
            our sole discretion. We may, but have no obligation to, review and remove Product Recommendation Content
            containing Materials that we determine in our sole discretion violate the SocialCommer <a>AUP</a> or the
            Terms of
            Service.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>9.3</div>
          <div class="xb-about__left-2">You are solely responsible for all of the terms and conditions of any
            transactions involving the purchase or sale of Product Recommendation Content, including without limitation,
            terms regarding payment, returns, warranties, shipping, handling, transportation, storage, liability,
            insurance fees, applicable taxes, title and licenses, all of which must be in accordance with applicable
            law.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>9.4</div>
          <div class="xb-about__left-2"> The Terms apply to the sale or offering of sale of any Product Recommendation
            Content, and you agree to comply with the Terms regardless of whether or not the transaction respecting
            Product Recommendation Content is processed using the Services.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>9.5</div>
          <div class="xb-about__left-2"> SocialCommer reserves the right, in its sole discretion, to increase the
            Transaction Fees applicable to the sale of any Product Recommendation Content.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>9.6</div>
          <div class="xb-about__left-2"> Under no circumstances shall SocialCommer be liable for any direct, indirect,
            incidental, special, consequential, exemplary or other damages whatsoever, including, without limitation
            damages that result from any transaction involving the Product Recommendation Content or any resulting
            contractual relationship between yourself and a purchaser. These limitations shall apply even if
            SocialCommer has been advised of the possibility of such damages. The foregoing limitations shall apply to
            the fullest extent permitted by law.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">10. Payment of Fees</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>10.1</div>
          <div class="xb-about__left-2">You will pay the fees applicable to your Subscription to our Premium Service and
            any other applicable fees, including but not limited to fees relating to the processing of transactions
            under your Account (“Transaction Fees”), and any fees relating to your purchase of any products or services
            such apps, Themes, domain names or Third Party Services (“Additional Fees”). Together, the Subscription
            Fees, Transaction Fees and the Additional Fees are referred to as the “Fees”.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>10.2</div>
          <div class="xb-about__left-2"> You must keep a valid credit card on file with us to pay for all incurred and
            recurring Fees. SocialCommer will charge applicable Fees to the credit card account that you authorize
            (“Authorized Card”), and SocialCommer will continue to charge the Authorized Card (or any replacement card)
            for applicable Fees until the Services are terminated, and any and all outstanding Fees have been paid in
            full. Unless otherwise indicated, all Fees and other charges are in U.S. dollars, and all payments shall be
            in U.S. currency.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>10.3</div>
          <div class="xb-about__left-2">Subscription Fees are paid in advance and will be billed in 30 day intervals
            (each such date, a “Billing Date”). Transaction Fees and Additional Fees will be charged from time to time
            at SocialCommer’s discretion. You will be charged on each Billing Date for all outstanding Fees that have
            not previously been charged. Fees will appear on an invoice, which will be sent to the Account Owner via the
            email provided. As well, an invoice will appear on the Account page of your SocialCommer administration
            console. Users have approximately two weeks to bring up and settle any issues with the billing of
            Subscription Fees.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>10.4</div>
          <div class="xb-about__left-2"> All Fees are exclusive of applicable federal, provincial, state, local or other
            governmental sales, goods and services, harmonized or other taxes, fees or charges now in force or enacted
            in the future (“Taxes”), and you shall be responsible for payment thereof. You agree to pay for any taxes
            that might be applicable to your use of the Service and payments you make to us.


          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>10.5</div>
          <div class="xb-about__left-2"> SocialCommer does not provide refunds.


          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">11. Cancellation and Termination</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>11.1</div>
          <div class="xb-about__left-2">You may cancel your Account at anytime by emailing support@socialcommer.com and
            then following the specific instructions indicated to you in SocialCommer’s response.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>11.2</div>
          <div class="xb-about__left-2"> Upon termination of the Services by either party for any reason:
            11.2.1 SocialCommer will cease providing you with the Services and you will no longer be able to access your
            Account;
            11.2.2 unless otherwise provided in the Terms of Service, you will not be entitled to any refunds of any
            Fees, pro rata or otherwise;
            11.2.3 any outstanding balance owed to SocialCommer for your use of the Services through the effective date
            of such termination will immediately become due and payable in full; and
            11.2.4 your store website will be taken offline.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>11.3</div>
          <div class="xb-about__left-2">If you purchased a domain name through SocialCommer, upon cancellation your
            domain will no longer be automatically renewed. Following cancellation, it will be your sole responsibility
            to handle all matters related to your domain with the domain provider.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>11.4</div>
          <div class="xb-about__left-2"> If at the date of termination of the Service, there are any outstanding Fees
            owing by you, you will receive one final invoice via email. Once that invoice has been paid in full, you
            will not be charged again.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>11.5</div>
          <div class="xb-about__left-2"> If at the date of termination of the Service, there are any outstanding Fees
            owing by you, you will receive one final invoice via email. Once that invoice has been paid in full, you
            will not be charged again.


          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>11.6</div>
          <div class="xb-about__left-2"> If at the date of termination of the Service, there are any outstanding Fees
            owing by you, you will receive one final invoice via email. Once that invoice has been paid in full, you
            will not be charged again.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">12. Modifications to the Service and Prices</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>12.1</div>
          <div class="xb-about__left-2">Prices for using the Services are subject to change upon 30 days notice from
            SocialCommer. Such notice may be provided at any time by posting the changes to the SocialCommer Site
            (SocialCommer.com) or the administration menu of your SocialCommer store via an announcement.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>12.2</div>
          <div class="xb-about__left-2"> SocialCommer reserves the right at any time, and from time to time, to modify
            or discontinue, the Service (or any part thereof) with or without notice.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>12.3</div>
          <div class="xb-about__left-2">SocialCommer shall not be liable to you or to any third party for any
            modification, price change, suspension or discontinuance of the Service.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">13. Third Party Services</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>13.1</div>
          <div class="xb-about__left-2">In addition to these Terms of Service, you also agree to be bound by the
            additional service-specific terms applicable to services you affiliated from, or that are provided by,
            SocialCommer’s partners or other third parties.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>13.2</div>
          <div class="xb-about__left-2"> SocialCommer may from time to time recommend, provide you with access to, or
            enable third party software, applications (“Apps”), products, services or website links (collectively,
            “Third Party Services”) for your consideration or use, including via the SocialCommer App Store. Such Third
            Party Services are made available only as a convenience, and your purchase, access or use of any such Third
            Party Services is solely between you and the applicable third party services provider (“Third Party
            Provider”). Any use by you of Third Party Services offered through the Services or SocialCommer’s website is
            entirely at your own risk and discretion, and it is your responsibility to read the terms and conditions
            and/or privacy policies applicable to such Third Party Services before using them.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>13.3</div>
          <div class="xb-about__left-2">We do not provide any warranties with respect to Third Party Services. You
            acknowledge that SocialCommer has no control over Third Party Services, and shall not be responsible or
            liable to anyone for such Third Party Services. The availability of Third Party Services on SocialCommer’s
            websites, including the SocialCommer App Store, or the integration or enabling of such Third Party Services
            with the Services does not constitute or imply an endorsement, authorization, sponsorship, or affiliation by
            or with SocialCommer. SocialCommer does not guarantee the availability of Third Party Services and you
            acknowledge that SocialCommer may disable access to any Third Party Services at any time in its sole
            discretion and without notice to you. SocialCommer is not responsible or liable to anyone for
            discontinuation or suspension of access to, or disablement of, any Third Party Service. SocialCommer
            strongly recommends that you seek specialist advice before using or relying on Third Party Services, to
            ensure they will meet your needs. In particular, tax calculators should be used for reference only and not
            as a substitute for independent tax advice when assessing the correct tax rates you should charge to your
            customers.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>13.4</div>
          <div class="xb-about__left-2">If you install or enable a Third Party Service for use with the Services, you
            grant us permission to allow the applicable Third Party Provider to access your data and to take any other
            actions as required for the interoperation of the Third Party Service with the Services, and any exchange of
            data or other interaction between you and the Third Party Provider is solely between you and such Third
            Party Provider. SocialCommer is not responsible for any disclosure, modification or deletion of your data or
            other Materials, or for any corresponding losses or damages you may suffer, as a result of access by a Third
            Party Service or a Third Party Provider to your data or other Materials.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>13.5</div>
          <div class="xb-about__left-2">Under no circumstances shall SocialCommer be liable for any direct, indirect,
            incidental, special, consequential, punitive, extraordinary, exemplary or other damages whatsoever, that
            result from any Third Party Services or your contractual relationship with any Third Party Provider,
            including any Expert. These limitations shall apply even if SocialCommer has been advised of the possibility
            of such damages. The foregoing limitations shall apply to the fullest extent permitted by applicable law.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>13.6</div>
          <div class="xb-about__left-2">You agree to indemnify and hold us and (as applicable) our parent, subsidiaries,
            affiliates, SocialCommer partners, officers, directors, agents, employees, and suppliers harmless from any
            claim or demand, including reasonable attorneys’ fees, arising out of your use of a Third Party Service or
            your relationship with a Third Party Provider.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">14. International Use</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>14.1</div>
          <div class="xb-about__left-2"> Recognizing the global nature of the Internet, you agree to comply with all
            local rules regarding online conduct and acceptable content.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-3">
        <span class="xb-about-privacy__content-2-title">15. DMCA Notice and Takedown Procedure</span><br>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>15.1</div>
          <div class="xb-about__left-2">SocialCommer supports the protection of intellectual property and asks their
            users to do the same. It is our policy to expeditiously respond to clear notices of alleged copyright
            infringement.
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>15.2</div>
          <div class="xb-about__left-2"> It is expected that all users of any part of SocialCommer will comply with
            applicable copyright laws. If, however, we receive proper notification of claimed copyright infringement,
            our response to such notices will include removing or disabling access to material claimed to be the subject
            of infringing activity and/or terminating the subscriber.

          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="start center">
          <div>15.3</div>
          <div class="xb-about__left-2">Please report contents on SocialCommer that you believe violates or infringes
            your copyright by sending an email to report@socialcommer.com. Please note that you will be liable for
            damages (including costs and attorney's fees) if you materially misrepresent that material is infringing
            your copyright(s). Accordingly, if you are not sure if you are the proper copyright holder or if copyright
            laws protect the material, we suggest that you first contact a lawyer.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-bg-white">
    <app-bottom-footer></app-bottom-footer>
  </div>
</div>
