<div class="xb-store-template">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" position="end" fxShow="false" fxShow.xs="true">
      <div class="xb-store-template__side_container">
        <app-store-template-2-navigation></app-store-template-2-navigation>
      </div>
    </mat-sidenav>
    <!--banner图-->
    <div class="xb-store-template__banner "
         [ngStyle]="{'background': 'url(' + (imageList.bannerImageStr == ''? baseImageUrl:imageList.bannerImageStr) + ') center / auto 640px no-repeat ' }">
      <div class="xb-store-template__template-mask"></div>
      <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="start center" fxShow="true" fxShow.xs="false">
        <div class="xb-store-template__store-name ql-editor"
             [innerHTML]="contextList.nameTag | safeHtml" *ngIf="contextList.nameTag">
        </div>
        <app-store-template-2-navigation fxFlex></app-store-template-2-navigation>
      </div>
      <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="space-between center" fxShow="false"
           fxShow.xs="true">
        <div class="xb-store-template__store-name ql-editor"
             [innerHTML]="contextList.nameTag | safeHtml" *ngIf="contextList.nameTag">
        </div>
        <i class="material-icons xb-pointer" [ngStyle]="{'color': 'white','margin-right':'16px'}"
           (click)="sidenav.open()">menu</i>
      </div>

      <div class="xb-store__content-2 xb-store-template__width-1000">
        <div class="xb-store-template__template-title ql-editor"
             [innerHTML]="contextList.titleTag | safeHtml"
             *ngIf="contextList.titleTag">
        </div>
        <div class="xb-store-template__store-description ql-editor"
             [innerHTML]="contextList.descriptionTag | safeHtml"
             *ngIf="contextList.descriptionTag">
        </div>
      </div>
      <div class="xb-store-template__store-buttons" fxShow="false" fxShow.gt-xs="true">
        <span>Shop Now</span>
        <br>
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>
    <!--商家信息介绍-->
    <div class="xb-store-template__introduce" fxShow="true" fxShow.xs="false">
      <div class="xb-store-template__introduce-one" fxLayout="row" fxLayoutAlign="start start">
        <div class="xb-store-template__introduce-one-top-left">
          <div class="xb-store-template__introduce-one-title">About Me</div>
          <div class="xb-store-template__introduce-title-line"></div>
          <div class="xb-store-template__introduce-one-describe ql-editor"
               [innerHTML]="contextList.aboutMeTag | safeHtml" *ngIf="contextList.aboutMeTag">
          </div>
          <div class="md-margin-top-2">
            <app-store-share-button [link]="shareLink" [text]="text"></app-store-share-button>
          </div>
        </div>
        <div class="xb-store-template__introduce-one-top-right">
          <div class="xb-store-template__introduce-one-top-image"
               [ngStyle]="{'background': 'url(' + (imageList.aboutMeOneImageStr) + ') center / 100% 100% ' }"
          >
            <img src={{imageList.aboutMeTwoImageStr}}>
          </div>
        </div>
      </div>
      <div class="xb-store-template__introduce-two" fxLayout="row" fxLayoutAlign="end start">
        <div class="xb-store-template__introduce-two-bottom-left">
          <div class="xb-store-template__introduce-two-bottom-image"
               [ngStyle]="{'background': 'url(' + (imageList.homeMadeOneImageStr) + ') center / auto 560px no-repeat ' }"
          >
            <img src={{imageList.homeMadeTwoImageStr}}>
          </div>
        </div>

        <div class="xb-store-template__introduce-two-bottom-right">
          <div class="xb-store-template__introduce-two-describe ql-editor"
               [innerHTML]="contextList.homeMadeDesTag | safeHtml" *ngIf="contextList.homeMadeDesTag">
          </div>
        </div>

      </div>
    </div>
    <!--商家信息移动端-->
    <div class="xb-store-template__introduce" fxShow="false" fxShow.xs="true">
      <div class="xb-store-template__introduce-mobile-top-title">
        About Me
      </div>
      <div class="xb-store-template__introduce-title-line"></div>
      <div class="xb-store-template__introduce-one-describe ql-editor"
           [innerHTML]="contextList.aboutMeTag | safeHtml" *ngIf="contextList.aboutMeTag"
      >
      </div>
      <div class="md-margin-top-1">
        <app-store-share-button [link]="shareLink" [text]="text"></app-store-share-button>
      </div>
      <div [ngStyle]="{'margin-top':'40px'}" fxLayout="row" fxFlexAlign="start start">
        <div class="xb-store-template__introduce-mobile-top-1"
             [ngStyle]="{'background': 'url(' + (imageList.aboutMeOneImageStr) + ')   center / auto 100% ' }"></div>
        <div class="xb-store-template__introduce-mobile-top-2"
             [ngStyle]="{'background': 'url(' + (imageList.aboutMeTwoImageStr) + ') center / auto 100%  no-repeat'}"
        ></div>
      </div>
      <div class="xb-store-template__introduce-one-describe ql-editor"
           [innerHTML]="contextList.homeMadeDesTag | safeHtml" *ngIf="contextList.homeMadeDesTag">
      </div>
      <div [ngStyle]="{'margin-top':'40px'}" fxLayout="row" fxFlexAlign="start start">
        <div class="xb-store-template__introduce-mobile-top-1"
             [ngStyle]="{'background': 'url(' + (imageList.homeMadeOneImageStr) + ') center / auto 100% ' }">
        </div>
        <div class="xb-store-template__introduce-mobile-top-2"
             [ngStyle]="{'background': 'url(' + (imageList.homeMadeTwoImageStr) + ') center / auto 100% no-repeat '}">
        </div>
      </div>
    </div>


    <!--home-made-->
    <div class="xb-store-template__home-made" fxLayout="column" fxLayoutAlign="start center"
         [ngStyle]="{'background': 'url(' + imageHomeMade + ') center / auto auto no-repeat' }">
      <div class="xb-store-template__template-mask"></div>
      <div class="xb-store-template__home-made-title ql-editor"
           [innerHTML]="contextList.homeMadeTitle | safeHtml" *ngIf="contextList.homeMadeTitle">

      </div>
    </div>
    <!--产品列表-->
    <div class="xb-store-template__product-content ">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
        <app-store-item-card *ngFor="let item of product"
                             fxFlex.xs="48" fxFlex.gt-xs="30"
                             [product]="item" [status]="0"></app-store-item-card>
        <div fxFlex.xs="48" fxFlex.gt-xs="30"></div>
      </div>
      <div class="xb-store-template__buttons-bg" fxLaout="row" fxLayoutAlign="center center"
           (click)="jumpProductList()" *ngIf=" nextPage && product.length > 0">
        <div>
          SEE MORE
        </div>
      </div>
    </div>
    <!--订阅邮箱-->
    <div class="xb-store-template__subscribe" fxLayout="column" fxLayoutAlign="start center"
         fxShow="false"
         [ngStyle]="{'background': 'url(' + imageOwnerEleven + ') center / auto 100% ' }">
      <div class="xb-store-template__template-mask"></div>
      <div class="xb-store-template__subscribe-title">
        Subscribe My Newsletter
      </div>
      <div class="xb-store-template__subscribe-parent" fxLayout="row" fxLayout.xs="column" fxFlexAlign="start start">
        <div class="xb-store-template__subscribe-email">
          <input type="text">
        </div>
        <div class="xb-store-template__subscribe-submit">
          SUBSCRIBE
        </div>
      </div>

    </div>
    <!--网址底部-->
    <div>
      <app-store-template-2-store-foot [storeName]="contextList.nameTag"></app-store-template-2-store-foot>
    </div>
  </mat-sidenav-container>
  <router-outlet></router-outlet>
</div>
