<div class="xb-store__background" (click)="close()">
  <div class="xb-store__details-close" (click)="close()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store__details" (click)="$event.stopPropagation();">
    <div class="xb-store__details-close" (click)="close()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-shop__mobile-dialog-inner">
      <form [formGroup]="productForm" novalidate>
        <div class="xb-shop__edit-title">Product Picture</div>
        <div class="md-margin-top-2">
          <app-image-upload-preview-multi [(previewImgFile)]="previewImgFile" [(previewImgSrcs)]="previewImgSrcs"></app-image-upload-preview-multi>
          <div class="md-margin-top-1">(Cover Picture)</div>
        </div>
        <div class="md-margin-top-2 xb-shop__edit-title">Product Title</div>
        <mat-form-field class="xb-shop__width-100">
          <input matInput formControlName="title">
        </mat-form-field>
        <div *ngIf="formErrors['title']" class="xb-input-error">
          {{ formErrors['title'] }}
        </div>
        <div class="md-margin-top-2 xb-shop__edit-title">Category</div>
        <mat-form-field class="xb-shop__width-100">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                      [removable]="removable" (remove)="remove(tag)">
              {{tag.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)" />
          </mat-chip-list>
        </mat-form-field>
        <div class="xb-shop__edit-title">Price</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field >
            <input matInput placeholder="Actual sale price" formControlName="salePrice">
          </mat-form-field>
          <span class="md-margin-left-2">{{storeCurrency}}</span>
          <mat-form-field class="xb-shop__dialog-margin-left">
            <input matInput placeholder="Original price"  formControlName="originalPrice">
          </mat-form-field>
          <span class="md-margin-left-2">{{storeCurrency}}</span>
        </div>
        <div *ngIf="formErrors['salePrice']" class="xb-input-error">
          {{ formErrors['salePrice'] }}
        </div>
        <div *ngIf="formErrors['originalPrice']" class="xb-input-error">
          {{ formErrors['originalPrice'] }}
        </div>
        <div class="xb-shop__edit-title">Description</div>
        <div class="md-margin-top-2">
          <quill-editor [(ngModel)]="editorContent" formControlName="description"
                        (ready)="onEditorCreated($event)"></quill-editor>
          <input id="{{editorImageId}}" type="file" (change)="addPicture($event)" hidden />
        </div>
        <div class="xb-shop__edit-title md-margin-top-2">Add your affiliate link</div>
        <mat-form-field class="xb-shop__width-100" >
          <input matInput value="Please generate the affiliate link from the ecommerce site you're affiliated with"
                 formControlName="purchaseUrl">
        </mat-form-field>
        <div *ngIf="formErrors['purchaseUrl']" class="xb-input-error">
          {{ formErrors['purchaseUrl'] }}
        </div>
        <div class="xb-shop__edit-title md-margin-top-2">Tell your audiences why you recommend this product(optional)</div>
        <mat-form-field class="xb-shop__width-100">
          <textarea matInput value="Your opinion is very important to your audiences" formControlName="recommendation"></textarea>
        </mat-form-field>
        <div *ngIf="formErrors['recommendation']" class="xb-input-error">
          {{ formErrors['recommendation'] }}
        </div>
      </form>
      <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center" *ngIf="tab == 'publish'">
        <button mat-raised-button color="primary" (click)="create()">SAVE</button>
      </div>
      <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center" *ngIf="tab == 'draft'">
        <button mat-raised-button color="primary" (click)="create()">PUBLISH</button>
        <div class="md-margin-left-2">
          <button mat-button color="primary" (click)="createDraft()">SAVE AS DRAFT</button>
        </div>
      </div>
      <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center" *ngIf="tab == 'unpublish'">
        <button mat-raised-button color="primary" (click)="save()">SAVE</button>
      </div>
    </div>
  </div>
</div>
