<div class="xb-bottom-footer__footer">
  <div class="container xb-bottom-footer__footer-inner"
       fxLayout="row" fxLayoutAlign="space-between center"
       fxLayout.xs="column" fxLayoutAlign.xs="start center">
    <div class="xb-bottom-footer__footer-text" fxLayout="row" fxLayoutAlign="center center">© 2017 SOCIALCOMMER.COM. All rights reserved.</div>
    <div xLayout="row" fxLayoutAlign="start center">
      <div class="xb-bottom-footer__footer-text" routerLink="/about">About</div>
      <div class="xb-bottom-footer__footer-text" routerLink="/faq" fxHide>FAQs</div>
      <div class="xb-bottom-footer__footer-text" routerLink="/terms">Terms</div>
      <div class="xb-bottom-footer__footer-text" routerLink="/privacy">Privacy</div>
    </div>
  </div>
</div>
