<div class="xb-bottom-footer__footer">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="xb-bottom-footer__footer-text" routerLink="/about">About</div>
      <div class="xb-bottom-footer__footer-text" routerLink="/faq">FAQs</div>
      <div class="xb-bottom-footer__footer-text" routerLink="/terms">Terms</div>
      <div class="xb-bottom-footer__footer-text" routerLink="/privacy">Privacy</div>
    </div>
    <div class="xb-bottom-footer__footer-margin-top" fxLayout="row" fxLayoutAlign="center center">
      <img src="https://media.xberts.com/collector/source/web/pic/pic-foot-logo.png">
    </div>
    <div class="xb-bottom-footer__footer-margin-top" fxLayout="row" fxLayoutAlign="center center">© 2017 SocialCommer.com. All rights reserved.</div>
  </div>
</div>
