@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-bottom-footer{

  &__footer{
    &-top{
      background-color: #252525;
      color: rgba(255,255,255,.5);
      border-bottom: 1px solid rgba(255,255,255,.1);
      >div{
        height: 64px;
      }
    }

    &-text{
      padding: 0 24px;
      font-size: 14px;
      cursor: pointer;

      @include xb-xs-screen{
        padding: 0 8px;
      }
    }

    &-bottom{
      background-color: #252525;
      color: rgba(255,255,255,.5);
      overflow: hidden;
      >div{
        height: 64px;

        @include xb-xs-screen{
          height: 96px;
        }
      }
    }

    &-margin-left{
      margin-left: 16px;
      @include xb-xs-screen{
        margin-top: 16px;
      }
    }
  }
}
