<div>
  <mat-sidenav-container [ngStyle]="{'background-color':'white'}">
    <mat-sidenav #sidenav mode="push" position="end">
      <div class="xb-store-template__side_container">
        <app-shop-template-2-navigation [type]="4"></app-shop-template-2-navigation>
      </div>
    </mat-sidenav>
    <div class="xb-store-template__collection-background" [ngStyle]="{'background-color':'white'}">
      <div class="xb-store-template__collection-container" fxShow="true" fxShow.xs="false">
        <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-store-template__category-store-name" fxFlex="none">
            Store Name
          </div>
          <app-shop-template-2-navigation [isBlack]="true" [type]="4" fxFlex></app-shop-template-2-navigation>
        </div>
      </div>
      <!--手机移动端界面显示-->
      <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="space-between center" fxShow="false"
           fxShow.xs="true">
        <div class="xb-store-template__store-name" [ngStyle]="{'color': 'black'}">
          Store Name
        </div>
        <i class="material-icons xb-pointer" [ngStyle]="{'color': 'black','margin-right':'16px'}"
           (click)="sidenav.open()">menu</i>
      </div>

      <div class="xb-store-template__collection-title">
        About Me
      </div>
    </div>
    <div class="xb-store-template__about-bg">
      <div class="xb-store-template__about-image-bg">
        <img [src]="store.ownerAvatar">
      </div>
      <div class="md-margin-top-2 xb-store-template__about-user" *ngIf="store.userTag == ''">
        Thank you for visiting my store! Have a nice day.
      </div>
      <div class="xb-store__template-user md-margin-left-2 md-margin-right-2 ql-editor md-margin-top-2"
           [innerHTML]="store.userTag | safeHtml" *ngIf="store.userTag != ''">
      </div>
    </div>
    <!--网页底部-->
    <div fxShow="false" fxShow.xs="true">
      <app-shop-template-2-store-foot [storeName]="store.name"></app-shop-template-2-store-foot>
    </div>
  </mat-sidenav-container>
</div>
