<div class="xb-account-money-dialog">
  <div [hidden]="!(status===1)">
    <div class="xb-account-money-dialog__title md-align-center">Withdraw Money</div>
    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="start start">
      <div class="xb-account-money-dialog__14bold xb-account-money-dialog__color54">
        Available balance
      </div>
      <div class="xb-account-money-dialog__14regular md-margin-left-4">$0</div>
    </div>
    <div class="xb-account-money-dialog__payment md-margin-top-3">Payment Information</div>
    <div>
      <div class="xb-account-payment-settings__left-note">
        Note: Currently we only support Paypal as our payment option (Pay in USD).
        <br>Bank account payment methods will be available soon!
      </div>
      <form class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start" [formGroup]="balanceForm" novalidate>
        <mat-form-field >
          <input matInput placeholder="Paypal Account Email" formControlName="paypalAccount">
        </mat-form-field>
      </form>
    </div>
    <div class="xb-account-money-dialog__payment md-margin-top-4">Withdraw Amount</div>
    <div class="xb-account-money-dialog__14regular md-margin-top-3">The fund can only be withdrawn when your available
      balance reaches $10.
    </div>
    <div class="md-margin-top-4" fxLayout="row" fxLayoutAlign="end start">
      <div class="md-margin-right-2">
        <button mat-raised-button color="primary">Withdraw Now</button>
      </div>
      <div class="xb-account-money-dialog__payment-cancel" (click)="close()">Cancel</div>
    </div>
  </div>
  <div [hidden]="!(status===2)">
    <div class="xb-account-money-dialog__title">Withdraw Money</div>
    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="start start">
      <div class="xb-account-money-dialog__14bold xb-account-money-dialog__color54">
        Available balance
      </div>
      <div class="xb-account-money-dialog__14regular md-margin-left-4">$ 5.00</div>
    </div>
    <div class="xb-account-money-dialog__payment md-margin-top-3">Payment Information</div>
    <div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
        <div class="xb-account-money-dialog__payment-name">Paypal Account</div>
        <div class="xb-account-money-dialog__payment-content"></div>
      </div>
    </div>
    <div class="xb-account-money-dialog__payment md-margin-top-4">Withdraw Amount</div>
    <div fxLayout="row" fxLayoutAlign="start center" class="xb-account-money-dialog__14regular md-margin-top-3">
      <div>$</div>
      <div class="md-margin-left-1">
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="money">
        </mat-form-field>
      </div>
    </div>
    <div class="md-margin-top-4" fxLayout="row" fxLayoutAlign="end start">
      <div class="md-margin-right-2">
        <button mat-raised-button color="primary">Withdraw Now</button>
      </div>
      <div class="xb-account-money-dialog__payment-cancel" (click)="close()">Cancel</div>
    </div>
  </div>
  <div [hidden]="!(status===3)">
    <div class="xb-account-money-dialog__title">Withdraw Money</div>
    <div class="xb-account-money-dialog__14regular md-margin-top-3">
      To withdraw money from your account,please add your payment information first.
    </div>
    <div class="md-margin-top-4" fxLayout="row" fxLayoutAlign="end start">
      <div class="md-margin-right-2">
        <button mat-raised-button color="primary">Add payment Information</button>
      </div>
      <div class="xb-account-money-dialog__payment-cancel" (click)="close()">Cancel</div>
    </div>
  </div>
</div>
