@import "../styles/utils/_index";
@import "../styles/_variables";

@import "../shared/components/share-button/share-button.component";

.xb-store{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;

  &__nav{
    height: 56px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,.19);
    position: relative;

    i{
      position: absolute;
      left: 0;
      top: 0;
      font-size: 32px;
      line-height: 32px;
      padding: 12px;
    }
  }

  &__banner{
    background-color: #000;
    height: 500px;
    overflow: hidden;
    position: relative;
    @include xb-xs-screen{
      padding: 0 16px;
      height: 320px;
    }
    @include xb-sm-screen{
      padding: 0 16px;
    }
  }

  &__store-name{
    font-size: 56px;
    @include media();
    color: $whiteColor;
    text-align: center;
    margin-top: 180px;
    @include xb-xs-screen{
      font-size: 24px;
      margin-top: 0;
    }
  }

  &__store-description{
    @include media();
    color: $whiteColor;
    text-align: center;
    margin-top: 24px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;

    @include xb-xs-screen{
      margin-top: 16px;
      font-size: 14px;
    }
  }

  &__store-buttons{
    position: absolute;
    font-size: 16px;
    @include media();
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: $whiteColor;
    i{
      font-size: 40px;
      font-weight: 200;
    }

    @include xb-xs-screen{
      bottom: 8px;
      i{
        font-size: 24px;
      }
    }
  }

  &__title{
    font-size: 24px;
    color: rgba(0,0,0,.87);
    line-height: 24px;
    margin-top: 48px;
    margin-bottom: 40px;
    text-align: center;

    @include xb-xs-screen{
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }

  &__title-1{
    font-size: 34px;
    color: rgba(0,0,0,.87);
    line-height: 34px;
    margin-top: 72px;
    margin-bottom: 32px;
    text-align: center;

    @include xb-xs-screen{
      font-size: 24px;
      line-height: 32px;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }

  &__navigation{
    position: relative;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    line-height: 32px;
    cursor: pointer;
    &.active{
      &:after{
        content: ' ';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $orangeColor;
      }
    }

    &-mobile{
      border-bottom: 1px solid rgba(0,0,0,.12);
    }

    @include xb-xs-screen{
      line-height: 48px;
    }
  }

  &__margin-right{
    margin-right: 40px;

    @include xb-xs-screen{
      margin-right: 24px;
    }
  }

  &__bottom-1{
    padding-bottom: 132px;
    @include xb-xs-screen{
      padding: 0 8px 24px;
    }
  }

  &__width{
    width: 294px;
    height: 42px;
    background-color: $whiteColor;
    overflow: hidden;
    border: 1px solid #F8F8F8;
    border-radius: 4px;
    input{
      line-height: 36px;
      width: 100%;
      padding: 0 8px;
    }

    @include xb-xs-screen{
      height: 38px;
      input{
        line-height: 32px;
        width: 100%;
        padding: 0 8px;
      }
    }
  }

  &__content{
    max-width: 1000px;
    margin-top: 24px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;

    @include xb-xs-screen{
      margin-top: 16px;
      padding: 0 16px 40px;
    }

    @include xb-sm-screen{
      padding: 0 16px 40px;
    }
  }

  &__content-1{
    max-width: 1000px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    @include xb-xs-screen{
      padding: 0 16px 40px;
    }

    @include xb-sm-screen{
      padding: 0 16px 40px;
    }
  }

  &__content-left{
    width: 120px;
    margin-right: 48px;
    text-align: center;
    @include xb-xs-screen{
      margin-right: 0;
      width: 88px;
    }
  }

  &__content-text{
    line-height: 24px;
  }

  &__header{
    width: 100%;
    height: 0;
    border-radius: 50%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    >img{
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
    }
  }

  &__icons{
    i{
      font-size: 40px;
      line-height: 40px;
      @include xb-xs-screen{
        font-size: 24px;
        line-height: 24px;
      }
    }

  }

  &__border-bottom{
    border-bottom: 1px solid rgba(0,0,0,0.12);
  }

  &__card{
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;

    @include xb-xs-screen{
      margin-bottom: 0;
    }

    &-image{
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;

      position: relative;
      >a{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: rgba(0,0,0,.12);
        overflow: hidden;
        >img{
          display: block;
        }
      }
    }

    &-margin{
      margin-left: 8px;
      @include xb-xs-screen{
        margin-left: 0;
        margin-top: 8px;
      }
    }

    &-content{
      position: relative;
      padding: 8px 0 16px;

      @include xb-xs-screen{
        padding: 8px 0 16px;
      }
    }

    &-title{
      height: 56px;
      line-height: 28px;
      font-weight: 700;
      overflow: hidden;
    }

    &-price{
      font-size: 16px;
      font-weight: 700;
    }

    &-sale{
      background-color: $primaryColor;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 24px;
    }

    &-action{
      position: relative;
      display: none;
    }
  }

  &__buttons-bg{
    margin-top: 20px;
    >div{
      width: 240px;
      text-align: center;
      line-height: 40px;
      border: 1px solid $primaryColor;
      color: $primaryColor;
      border-radius: 4px;
      cursor: pointer;
      @include media();

      @include xb-xs-screen{
        line-height: 36px;
      }

      &:hover{
        background-color: $primaryColor;
        color: $whiteColor;
      }
    }
  }

  &__bottom{
    &-bg{
      background-color: #f1f1f1;
      overflow: hidden;
    }

  }

  &__background{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;

    @include xb-xs-screen{
      overflow-y: hidden;
    }
  }

  &__details{
    margin-top: 56px;
    margin-bottom: 56px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 40px 48px;
    background-color: $whiteColor;

    @include xb-xs-screen{
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    @include xb-sm-screen{
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &-close{
      position: absolute;
      left: calc(100% + 24px);
      top: 0;
      color: $whiteColor;
      cursor: pointer;
      i{
        font-size: 56px;
        line-height: 56px;
      }

      @include xb-xs-screen{
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i{
          font-size: 24px;
          line-height: 24px;
        }
      }

      @include xb-sm-screen{
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i{
          font-size: 24px;
          line-height: 24px;
        }
      }
    }

    &-title{
      font-size: 24px;
      line-height: 32px;
      @include media();

      @include xb-xs-screen{
        font-size: 16px;
        line-height: 24px;
      }

      @include xb-sm-screen{
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-price{
      font-size: 24px;
      line-height: 24px;
      @include media();

      @include xb-xs-screen{
        font-size: 16px;
      }

      @include xb-sm-screen{
        font-size: 16px;
      }
    }

    &-sale{
      background-color: $primaryColor;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 28px;

      @include xb-xs-screen{
        line-height: 24px;
      }

      @include xb-sm-screen{
        line-height: 24px;
      }
    }

    &-margin-right{
      width: 580px;
      height: 480px;
      margin-right: 32px;
      @include xb-xs-screen{
        width: auto;
        height: auto;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;
        @include resetBorder();
      }
      @include xb-sm-screen{
        width: 416px;
        height: 320px;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;

      }
    }

    &-padding-bottom{
      border-bottom: 1px solid rgba(0,0,0,.12);
      padding-bottom: 64px;

      @include xb-xs-screen{
        padding-bottom: 16px;
      }

      @include xb-sm-screen{
        padding-bottom: 16px;
      }
    }

    &-padding-top{
      border-bottom: 1px solid rgba(0,0,0,.12);
      padding-top: 48px;
      padding-bottom: 16px;

      @include xb-xs-screen{
        padding: 0 16px 16px;
      }

      @include xb-sm-screen{
        padding: 0 16px 16px;
      }
    }

    &-description{
      padding-top: 48px;
      img{
        width: 100%;
      }

      @include xb-xs-screen{
        padding: 16px 16px 16px;
      }
      @include xb-sm-screen{
        padding: 16px 16px 16px;
      }
    }

    &-content{
      @include xb-xs-screen{
        padding: 0 16px;
        margin-top: 16px;
        width: 100%;
      }
      @include xb-sm-screen{
        padding: 0 16px 0 0;
        margin-top: 16px;
      }
    }

    &-buttons{
      margin-top: 16px;
      background-color: $whiteColor;
    }
  }

  &__footer{
    padding: 40px 0;
    background-color: #252525;
    color: rgba(255,255,255,.5);
    font-size: 16px;
    position: relative;

    &-margin-top{
      margin-top: 16px;
      @include xb-xs-screen{
        margin-top: 8px;
      }
    }

    &-margin-top-1{
      margin-top: 8px;
      @include xb-xs-screen{
        margin-top: 0;
      }
    }

    &-margin-top-2{
      margin-top: 0;
      @include xb-xs-screen{
        margin-top: 8px;
      }
    }

    &-margin-left{
      margin-left: 16px;
      @include xb-xs-screen{
        margin-left: 0;
      }
    }

    &-icons{
      position: absolute;
      right: 0;
      bottom: 40px;
      margin-right: 10vw;

      @include xb-xs-screen{
        position: relative;
        bottom: 0;
        margin-right: 0;
        margin-top: 12px;
      }
    }
  }
}

