@import "../../../styles/utils/index.scss";
@import "../../../styles/variables.scss";

.preview-label {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__not-upload{
    background-color: rgba(0,0,0, .3);
    color: $whiteColor;
  }

  input{
    display: none;
  }

  &__color{
    color: $primaryColor;
    cursor: pointer;
    >input{
      display: none;
    }
  }
}


