<div fxLayout="row" fxLayoutAlign="start center">
  <label class="preview-label" fxLayout="row" fxLayoutAlign="center center"
    [ngClass]="{'preview-label__not-upload': !upload }">
    <input type="file" (change)="previewPic($event)" >
    <i class="material-icons" *ngIf="!upload">photo_camera</i>
    <img src="{{previewImgSrcs}}" *ngIf="upload">
  </label>
  <label class="md-margin-left-3 preview-label__color">
    <input type="file" (change)="previewPic($event)" >Change Picture
  </label>
</div>
