<div class="xb-account-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-account-navigation__title" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">Date
  </div>
  <div class="xb-account-navigation__title" fxFlex
       fxLayout="row" fxLayoutAlign="center center">Activity
  </div>
  <div class="xb-account-navigation__title" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">Amount
  </div>
  <div class="xb-account-navigation__title" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">Available Balance
  </div>
</div>
