<div class="xb-shop__product md-padding-right-2 md-padding-top-2 md-padding-left-2">
  <div class="xb-shop__toDo-title md-align-center md-margin-top-2">
    Choose Your Store Template
  </div>
  <div class="xb-shop__toDo-description">Select your favorite template to get started. You can change it anytime!</div>
  <div class="xb-shop__toDo-content" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex="30">
      <div class="xb-shop__toDo-description xb-bold md-margin-bottom-2">Fashion Theme</div>
      <div class="xb-shop__store-template">
        <img src="https://media.socialcommer.com/source/web/template/template-mode-5.jpg">
        <div class="xb-shop__store-template-cover" fxLayout="column" fxLayoutAlign="center center">
          <div class="xb-shop__store-button xb-shop__store-button-primary"
               routerLink="./edit/5">Select & Edit
          </div>
          <div class="md-margin-top-2 xb-shop__store-button xb-shop__store-button-normal"
               routerLink="./preview/5">Preview Template
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div class="xb-shop__toDo-description xb-bold md-margin-bottom-2">Kitchen Theme</div>
      <div class="xb-shop__store-template">
        <img src="https://media.socialcommer.com/source/web/template/template-mode-2.jpg">
        <div class="xb-shop__store-template-cover" fxLayout="column" fxLayoutAlign="center center">
          <div class="xb-shop__store-button xb-shop__store-button-primary"
               routerLink="./edit/2">Select & Edit
          </div>
          <div class="md-margin-top-2 xb-shop__store-button xb-shop__store-button-normal"
               routerLink="./preview/2">Preview Template
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div class="xb-shop__toDo-description xb-bold md-margin-bottom-2">Electronics Theme</div>
      <div class="xb-shop__store-template">
        <img src="https://media.socialcommer.com/source/web/template/template-mode-3.jpg">
        <div class="xb-shop__store-template-cover" fxLayout="column" fxLayoutAlign="center center">
          <div class="xb-shop__store-button xb-shop__store-button-primary"
               routerLink="./edit/3">Select & Edit
          </div>
          <div class="md-margin-top-2 xb-shop__store-button xb-shop__store-button-normal"
               routerLink="./preview/3">Preview Template
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div class="xb-shop__toDo-description xb-bold md-margin-bottom-2">Baby & Mom Theme</div>
      <div class="xb-shop__store-template" >
        <img src="https://media.socialcommer.com/source/web/template/template-mode-4.jpg">
        <div class="xb-shop__store-template-cover" fxLayout="column" fxLayoutAlign="center center">
          <div class="xb-shop__store-button xb-shop__store-button-primary"
               routerLink="./edit/4">Select & Edit
          </div>
          <div class="md-margin-top-2 xb-shop__store-button xb-shop__store-button-normal"
               routerLink="./preview/4">Preview Template
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div class="xb-shop__toDo-description xb-bold md-margin-bottom-2">Beauty Theme</div>
      <div class="xb-shop__store-template">
        <img src="https://media.socialcommer.com/source/web/template/template-mode-1.jpg">
        <div class="xb-shop__store-template-cover" fxLayout="column" fxLayoutAlign="center center">
          <div class="xb-shop__store-button xb-shop__store-button-primary"
               routerLink="./edit/1">Select & Edit
          </div>
          <div class="md-margin-top-2 xb-shop__store-button xb-shop__store-button-normal"
               routerLink="./preview/1">Preview Template
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div class="xb-shop__toDo-description xb-bold md-margin-bottom-2">Home Theme</div>
      <div class="xb-shop__store-template">
        <img src="https://media.socialcommer.com/source/web/template/template-mode-6.jpg">
        <div class="xb-shop__store-template-cover" fxLayout="column" fxLayoutAlign="center center">
          <div class="xb-shop__store-button xb-shop__store-button-primary"
               routerLink="./edit/6">Select & Edit
          </div>
          <div class="md-margin-top-2 xb-shop__store-button xb-shop__store-button-normal"
               routerLink="./preview/6">Preview Template
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="xb-shop__loading" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
  <div class="xb-shop__loading-close" (click)="close()">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <mat-spinner [mode]="indeterminate" [diameter]="120" [strokeWidth]="4"></mat-spinner>
  <div class="xb-shop__loading-text">Wait a second</div>
</div>
<router-outlet></router-outlet>
