<div class="xb-store-template__collection-bottom"
     appViewObjectScroll (onScrollChange)="scrollChange($event)"
     [selector]="'xb-store-template__collection-bg'">
  <div class="xb-store-template__collection-container xb-store-template__collection-bg">
    <div class="xb-store-template__collection-title">
      {{categoryName | makeFirstLetterBig}}
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <app-store-item-card class="preview-home-box"
                         *ngFor="let item of product"
                         fxFlex="33" fxFlex.xs="100"
                         [currency]="currency"
                         [product]="item" [status]="1"></app-store-item-card>
    <div class="preview-home-box" fxFlex="33" fxFlex.xs="100"></div>
    <div class="preview-home-box" fxFlex="33" fxFlex.xs="100"></div>
  </div>
  <div class="md-margin-top-4 md-dark-secondary" fxLayout="row" fxLayoutAlign="center center"
       *ngIf="!nextPage && product.length <= 0">
    There are no products available.
  </div>
  <div class="xb-store-template__buttons-bg" fxLaout="row" fxLayoutAlign="center center"
       (click)="jumpList()" *ngIf="nextPage && product.length > 0">
    <div>
      SEE MORE
    </div>
  </div>
</div>
