<div class="xb-store__card">
  <div>
    <div class="xb-store__card-image">
      <a routerLink="./1">
        <img src="//img14.360buyimg.com/n1/jfs/t5404/37/1574400102/222809/4907a2f6/59123908Nffed2d63.jpg">
      </a>
    </div>
    <div class="xb-store__card-content" fxLayout="column">
      <div class="xb-store__card-title">Aroma Essential Oil Diffuser 130ML Aromatherapy Cool Mist Humidifier</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center"
           fxLayout.xs="column" fxLayoutAlign.xs="start start">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-store__card-price">$8.00</div>
          <div class="line-through md-margin-left-1">$12.00</div>
        </div>
        <div fxShow.xs="false" class="xb-store__card-sale xb-store__card-margin">50% OFF</div>
      </div>
    </div>
  </div>
</div>
