<div class="xb-account">
  <div class="md-padding-left-2 md-padding-right-2 md-margin-top-3" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="xb-account-balance__title">Summary</div>
    <button mat-raised-button color="primary" (click)="openWithdrawMoney()">Withdraw Money</button>
  </div>
  <div class="xb-account-balance__summary md-margin-top-2" fxLayout="row" fxLayoutAlign="space-around start">
    <div>
      <div class="xb-account-balance__title">$ 1324.54</div>
      <div class="xb-account-balance__summary-word md-margin-top-2">Total Earning</div>
    </div>
    <div>
      <div class="xb-account-balance__title">$ 400.00</div>
      <div class="xb-account-balance__summary-word md-margin-top-2">Total Withdrawals</div>
    </div>
    <div>
      <div class="xb-account-balance__title">$ 600.00</div>
      <div class="xb-account-balance__summary-word md-margin-top-2">Available Balance</div>
    </div>
    <div>
      <div class="xb-account-balance__title">$ 325.54</div>
      <div class="xb-account-balance__summary-word md-margin-top-2">Pending Balance</div>
    </div>
  </div>
  <div class="xb-account-balance__title xb-account__margin-top-48 md-padding-left-2">Payment Schedule</div>
  <div class="md-padding-left-2 md-margin-top-2">Your next scheduled payment is: <span
    class="xb-bold">December 1st,2018</span></div>
  <div class="xb-account-balance__title xb-account__margin-top-48 md-padding-left-2">Payment History</div>
  <app-account-title></app-account-title>
  <ng-container *ngFor="let a of [1,2,3,4,5]">
    <div [ngStyle]="{'background-color':'white'}">
      <app-account-item></app-account-item>
      <div class="xb-account-item__line"></div>
    </div>
  </ng-container>
  <div [ngStyle]="{'background-color':'white'}">
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
