<div class="xb-account">
  <div class="md-padding-left-2 md-padding-right-2 md-margin-top-3" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="xb-account-balance__title">Summary</div>
    <button mat-raised-button color="primary" (click)="openWithdrawMoney()">Withdraw Money</button>
  </div>
  <div class="xb-account-balance__summary md-margin-top-2">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="25">
        <div class="xb-account-balance__title">$0</div>
        <div class="xb-account-balance__summary-word md-margin-top-2">Total Earning</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="25">
        <div class="xb-account-balance__title">$0</div>
        <div class="xb-account-balance__summary-word md-margin-top-2">Commissions Earned</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="25">
        <div class="xb-account-balance__title">$0</div>
        <div class="xb-account-balance__summary-word md-margin-top-2">Bonus Earned</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="25">
        <div class="xb-account-balance__title">$0</div>
        <div class="xb-account-balance__summary-word md-margin-top-2">Total Withdrawals</div>
      </div>
    </div>
    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="25">
        <div class="xb-account-balance__title">$0</div>
        <div class="xb-account-balance__summary-word md-margin-top-2">Available Balance</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="25">
        <div class="xb-account-balance__title">$0</div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="xb-account-balance__summary-word md-margin-top-2">Pending Balance</div>
          <div class="xb-account-balance__wenhao-bg md-margin-top-2">
            <i class="iconfontXberts icon-wenhao xb-account-balance__wenhao" (mouseenter)="changeShowTip(true)"
               (mouseleave)="changeShowTip(false)"></i>
            <div class="xb-account-balance__wenhao-content" *ngIf="isShowTip">
              <div class="xb-account-balance__wenhao-triangle-up"></div>
              <div class="xb-account-balance__wenhao-word">
                These transactions are not yet eligible for payment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-account-balance__title xb-account__margin-top-48 md-padding-left-2">Payment History</div>
  <app-account-title></app-account-title>
  <ng-container *ngFor="let a of []">
    <div [ngStyle]="{'background-color':'white'}">
      <app-account-item></app-account-item>
      <div class="xb-account-item__line"></div>
    </div>
  </ng-container>
  <div *ngIf="false"  [ngStyle]="{'background-color':'white'}">
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
  <div *ngIf="true" class="xb-account-balance__none" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img src="https://media.xberts.com/collector/source/web/pic/pic-no-product.png">
      <span class="md-dark-secondary">There’s no payment history to show.</span>
    </div>
  </div>
</div>
