<div class="xb-account-money-dialog">
  <div [hidden]="!(status===1)">
    <div class="xb-account-money-dialog__title md-align-center">Withdraw Money</div>
    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="start start">
      <div class="xb-account-money-dialog__14bold xb-account-money-dialog__color54">
        Available Balance
      </div>
      <div class="xb-account-money-dialog__14regular md-margin-left-4">
        {{data.availableBalance | exchangeCurrency:currency|currency:currency:true}}
        {{currency == 'INR'? '(Estimated in '+(data.availableBalance|currency:'USD':true)+')':''}}
      </div>
    </div>
    <form [formGroup]="balanceForm" novalidate>
      <div class="xb-account-money-dialog__payment md-margin-top-3">Payment Information</div>
      <div >
        <div class="xb-account-payment-settings__left-note">
          Please enter your payment information to get paid.
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field >
            <input matInput placeholder="Paypal Account Email" formControlName="email">
          </mat-form-field>
        </div>
        <div *ngIf="balanceForm.get('email').invalid && (balanceForm.get('email').dirty ||
                      balanceForm.get('email').touched)" class="xb-input-error">
          <div *ngIf="balanceForm.get('email').hasError('required')">
            This field is required.
          </div>
          <div *ngIf="balanceForm.get('email').hasError('email')">
            Please make sure your Paypal email address is correct!
          </div>
        </div>
        <div class="xb-account-payment-settings__left-note">
          Note: Currently we only support Paypal as our payment option (Pay in USD).
          <br>Bank account payment methods will be available soon!
        </div>
      </div>
      <div class="xb-account-money-dialog__payment md-margin-top-4">Withdraw Amount</div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-margin-right-1">$</div>
        <mat-form-field >
          <input matInput formControlName="amount" type="text" (ngModelChange)="isWithDrawNumberLargeThenAvailable($event)">
        </mat-form-field>
      </div>
      <div *ngIf="balanceForm.get('amount').invalid && (balanceForm.get('amount').dirty ||
                      balanceForm.get('amount').touched)" class="xb-input-error">
        <div *ngIf="balanceForm.get('amount').hasError('required')">
          This field is required.
        </div>
        <div *ngIf="balanceForm.get('amount').hasError('pattern')">
          This number pattern is invalid.
        </div>
      </div>
      <div class="xb-account-money-dialog__14regular">The fund can only be withdrawn when your available
        balance reaches $50.
      </div>
      <div class="md-margin-top-4" fxLayout="row" fxLayoutAlign="end start">
        <div class="md-margin-right-2">
          <button mat-raised-button color="primary" [disabled]="disabled" type="submit" (click)="confirm()">Withdraw Now</button>
        </div>
        <button mat-button color="primary" (click)="close()" type="button">Cancel</button>
      </div>
    </form>
  </div>
  <div [hidden]="!(status===2)">
    <div class="xb-account-money-dialog__title">Confirm Your Payment Information</div>
    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="start start">
      <div class="xb-account-money-dialog__14bold xb-account-money-dialog__color54">
        Amount:
      </div>
      <div class="xb-account-money-dialog__14regular md-margin-left-4">
        {{ balanceForm.get("amount").value | exchangeCurrency:currency|currency:currency:true}}
        {{currency == 'INR'? '(Estimated in '+(balanceForm.get("amount").value|currency:currency:true)+')':''}}
      </div>
    </div>
    <div class="xb-account-payment-settings__left-note">
      Note: The actual amount arrived in your Paypal might be slightly different depending on the currency exchange rate.
    </div>
    <div class="xb-account-money-dialog__payment md-margin-top-3">Pay to:</div>
    <div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start start">
        <div class="xb-account-money-dialog__payment-name">Paypal Account</div>
        <div class="xb-account-money-dialog__payment-content">{{balanceForm.get("email").value}}</div>
      </div>
    </div>
    <div class="md-margin-top-4" fxLayout="row" fxLayoutAlign="end start">
      <div class="md-margin-right-2">
        <button mat-button color="primary" (click)="back()">Back</button>
      </div>
      <button mat-raised-button color="primary" [disabled]="disabled" (click)="complete()">Confirm Payments</button>
    </div>
  </div>
  <div [hidden]="!(status===3)">
    <div class="xb-account-payment-settings__left-note">
      Your payment will be sent shortly. Please check your account later!
    </div>
    <div class="md-margin-top-4" fxLayout="row" fxLayoutAlign="end start">
      <div class="md-margin-right-2">
        <button mat-raised-button color="primary" (click)="close()">OK</button>
      </div>
    </div>
  </div>
</div>
