@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-store-template {

  &__category {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

    @include xb-xs-screen{
      font-size: 14px;
      line-height: 24px;
    }
    &.active {
      @include media();
      color: $primaryColor;
    }

    &-bg {
    }
    &-scroll {
      width: 100%;
    }

    &-margin-right {
      line-height: 48px;
      margin-right: 48px;
      @include xb-xs-screen {
        margin-right: 16px;
        line-height: 24px;
      }
    }
  }


}
