<div class="xb-share-dialog">
  <div class="xb-share-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-share-dialog__title">
    Earn Newbie Cash Reward !
  </div>
  <div class="xb-share-dialog__title-1">
    Reward 1: Let’s spread the word. <span class="xb-share-dialog__color-1 md-margin-left-2" *ngIf="stepOneBonus">Finished</span>
  </div>
  <div class="xb-share-dialog__content" *ngIf="!stepOneBonus">
    Share your store link and earn <span class="xb-share-dialog__color xb-bold">extra {{currency == 'USD'? (10|currency: currency): (200|currency: currency)}} cash reward</span>
    immediately once anyone visits your store via the link you shared!
  </div>
  <div class="xb-share-dialog__content" *ngIf="stepOneBonus">
     <span class="xb-share-dialog__color">Congrats! You have earned {{currency == 'USD'? (10|currency: currency): (200|currency: currency)}} cash reward for sharing your store link!</span>
  </div>
  <div class="xb-share-dialog__margin-top" *ngIf="!stepOneBonus">
    <app-share-button-row [link]="data.shareLink" [text]="data.text"></app-share-button-row>
  </div>
  <div class="xb-share-dialog__title-1">
    Reward 2: Hit the first sale. <span class="xb-share-dialog__color-1 md-margin-left-2" *ngIf="stepTwoBonus">Finished</span>
  </div>
  <div class="xb-share-dialog__content" *ngIf="!stepTwoBonus">
    Promote your store and earn <span class="xb-share-dialog__color xb-bold">another {{currency == 'USD'? (10|currency: currency): (200|currency: currency)}} cash reward</span>
    when you make your first sale!
  </div>
  <div class="xb-share-dialog__content" *ngIf="stepTwoBonus">
     <span class="xb-share-dialog__color">Congrats! You have earned {{currency == 'USD'? (10|currency: currency): (200|currency: currency)}} cash reward for making your first sale!</span>
  </div>
</div>
