<div class="xb-account-item">
  <div class="xb-account-item__container" fxLayout="row" fxLayoutAlign="start stretch" >
    <div class="xb-account-item__title" fxFlex="25"
         fxLayout="row" fxLayoutAlign="start center">
      100
    </div>
    <div class="xb-account-item__title" fxFlex="15"
         fxLayout="row" fxLayoutAlign="center center">
      100
    </div>
    <div class="xb-account-item__title" fxFlex="15"
         fxLayout="row" fxLayoutAlign="center center">
      599
    </div>
    <div class="xb-account-item__title" fxFlex="15"
         fxLayout="row" fxLayoutAlign="center center">
      500
    </div>
    <div class="xb-account-item__title" fxFlex="15"
         fxLayout="row" fxLayoutAlign="center center">
      15%
    </div>
    <div class="xb-account-item__title " fxFlex="15"
         fxLayout="row" fxLayoutAlign="center center">
      $ 3000
    </div>
  </div>
</div>
