<div class="xb-store" >
  <div class="xb-store__nav" fxLayout="row" fxLayoutAlign="center center" fxShow="false" fxShow.xs="show">
    <i class="material-icons md-dark-primary" routerLink="/store">keyboard_arrow_left</i> Your store name here
  </div>
  <div>
    <div class="xb-store__navigation-mobile">
      <app-store-navigation [(category)]="category" [categories]="categories"></app-store-navigation>
    </div>
    <div class="xb-store__content xb-store__border-bottom">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
        <app-store-item-card *ngFor="let item of [0,1,2,3,4,5]" fxFlex.xs="48" fxFlex.gt-xs="30"></app-store-item-card>
      </div>
    </div>
  </div>
  <div class="xb-store__footer">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="xb-store__footer-margin-left">©2017 Xberts, Inc. All rights reserved</div>
      <div class="xb-store__footer-margin-top" fxLayout="row" fxLayoutAlign="center center"
           fxLayout.xs="column" fxLayoutAlign.xs="center center">
        <img class="xb-store__footer-margin-top-1" src="https://media.xberts.com/collector/source/web/pic/pic-power.png">
        <img class="xb-store__footer-margin-left xb-store__footer-margin-top-2" src="https://media.xberts.com/collector/source/web/pic/pic-foot-logo.png">
      </div>
    </div>
    <div class="xb-store__footer-icons" fxLayout="row" fxLayoutAlign="end center"
      fxLayoutAlign.xs="center center">
      <app-share-button [link]="shareLink" [text]="text" [style]="{'store':true}"></app-share-button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
