<div class="xb-store" >
  <div class="xb-store-template__banner" fxLayout="column" fxLayoutAlign="center center"
       [ngStyle]="{'background': 'url(' + baseImageUrl + ') center / auto 100% ' }">
    <div class="xb-store-template__template-mask"></div>
    <div class="xb-store-template__content-2">
      <div class="ql-editor xb-store-template__template-title"
           [innerHTML]="contextList.titleTag | safeHtml"  *ngIf="contextList.titleTag && contextList.titleTag != ''" >
      </div>
      <div class="ql-editor xb-store-template__template-title"
           *ngIf="!contextList.titleTag || contextList.titleTag == ''" >
        <p class="ql-align-center"><strong class="ql-size-huge"  style="color: rgb(255, 255, 255);">{{store.name}}</strong></p>
      </div>
      <div class="xb-store-template__template-description ql-editor"
           [innerHTML]="contextList.descriptionTag | safeHtml" *ngIf="contextList.descriptionTag && contextList.descriptionTag != ''">
      </div>
      <div class="ql-editor xb-store-template__template-title"
           *ngIf="!contextList.descriptionTag || contextList.descriptionTag == ''" >
        <p class="ql-align-center"><strong style="color: rgb(255, 255, 255);">{{store.description}}</strong></p>
      </div>
    </div>
  </div>
  <div>
    <div class="xb-store__content xb-store__border-bottom">
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
        <app-shop-item-card *ngFor="let item of product"
          fxFlex="49" fxFlex.xs="100"
          [product]="item" [status]="0"></app-shop-item-card>
        <div fxFlex="49" fxFlex.xs="100"></div>
      </div>
    </div>
    <div class="xb-store-template__blog-content">
      <div class="xb-store-template__blog-title">BLOG</div>

      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
        <app-shop-template-3-store-blog-card *ngFor="let item of blog"
                             fxFlex="45" fxFlex.xs="100"
                             [blog]="item" [status]="0"></app-shop-template-3-store-blog-card>
        <div fxFlex="49" fxFlex.xs="100"></div>
      </div>
    </div>
  </div>
</div>
