<div class="xb-about">
  <div class="xb-about__banner">
    <div class="container" fxLayout="column">
      <app-navigation-header></app-navigation-header>
      <div class="xb-about__navigation-title">About Us</div>
    </div>
  </div>
  <div class="xb-about-us">
    <div class="xb-about-container">
      <div class="xb-about-us__content-1">
        <span class="xb-about-us__content-name">SocialCommer</span> is a social commerce platform for youtubers and influencers to set up their online stores for free
        and earn money by promoting affiliate products of their favorites without the need for handling any inventory,
        shipping and customer queries.
      </div>
      <div class="xb-about-us__content-2">As an affiliate store owner, you can build a customized and beautiful
        storefront to fit your personal style,
        list any products you wish to share with your friends and social media followers, and earn up to 40% commission
        when your audiences purchase any products in your store.
      </div>
      <div class="xb-about-us__content-3">
        At SocialCommer, we believe in removing the barriers of running an ecommerce business and we want to make it
        possible for everyone to become a store owner of their favorite products and brands. Our vision is to build the
        world’s largest social commerce network powered by influencers and help brands and small businesses reach their
        customers globally.
      </div>
      <div class="xb-about-us__content-4">
        Our team is comprised of industry experts and savvy-thought leaders in the
        digital industry including Forbes 30 Under 30, Y Combinator Alumni, Stanford Graduate, Ex-Google/Amazon
        employee, etc.
      </div>
    </div>
  </div>
  <app-bottom-footer></app-bottom-footer>
</div>
