<div class="xb-about">
  <div class="background-bg-white">
    <div class="container">
      <app-navigation-header></app-navigation-header>
    </div>
  </div>
  <div class="xb-about__banner">
    <div class="container" fxLayout="column">

      <div class="xb-about__navigation-title">SocialCommer is powering the next generation of ecommerce.</div>
    </div>
  </div>
  <div class="xb-about-us">
    <div class="xb-about-container md-margin-top-4">
      <div class="xb-about__title">What is SocialCommer?</div>
      <div class="xb-about__content">SocialCommer is a simple, free way for homepreneurs and influencers to earn money
        online by reselling trendy fashion, beauty & lifestyle products on social media such as WhatsApp, Facebook, Youtube
        and Instagram, etc. By joining our platform, you can earn up to 50% commission per sale and monthly cash bonus for free!
      </div>
      <div class="xb-about__image" fxLayout="row" fxLayoutAlign="center center">
        <img src="https://media.socialcommer.com/source/web/pic/What is SocialCommer.png">
      </div>
      <div class="xb-about__title">Why you should use SocialCommer?</div>
      <div class="xb-about__content">With SocialCommer, you can easily build your customized online store and find
        profitable products to sell
        with just a few clicks. When customers make successful purchases in your online store, you can earn up to 50%
        commission per sale and win extra bonus from us.
      </div>
      <div class="xb-about__image" fxLayout="row" fxLayoutAlign="center center">
        <img src="https://media.socialcommer.com/source/web/pic/Why you should use SocialCommer.png">
      </div>
      <div class="xb-about__title">What’s so special about SocialCommer?</div>
      <div class="xb-about__content">We provide a built-in one-stop solution to help our users start their ecommerce
        business without the need to
        handle inventory, suppliers, shipping and customer support, so they can only focus on social media marketing and
        content creation to grow their customer base and increase their earnings.
      </div>
      <div class="xb-about__image" fxLayout="row" fxLayoutAlign="center center">
        <img src="https://media.socialcommer.com/source/web/pic/What’s so special about SocialCommer.png">
      </div>
      <div class="xb-about__title">Our mission</div>
      <div class="xb-about__content">SocialCommer is powering the next generation of ecommerce. Our mission is to give
        people the power to
        monetize their passions by selling what they love with no investment needed.
      </div>
      <div class="xb-about__image" fxLayout="row" fxLayoutAlign="center center">
        <img src="https://media.socialcommer.com/source/web/pic/Our mission.png">
      </div>
      <div class="xb-about__title">Our team</div>
      <div class="xb-about__content">SocialCommer is a venture-backed company founded by Y Combinator alumni and former
        executives from Amazon,
        Google and Alibaba Group. Our team is comprised of hands-on experts in both the ecommerce space and social media
        industry. And now, we’re dedicated to creating a new social commerce network to reconnect brands and consumers
        worldwide through our global community of individual resellers.
      </div>
      <br>
      <div class="xb-about__content md-margin-bottom-4">As a fast-growing company, we at SocialCommer have
        already empowered thousands of
        top influencers and
        stylists to successfully launch their ecommerce business!
      </div>
      <div class="xb-about__image" fxLayout="row" fxLayoutAlign="center center">
        <img src="https://media.socialcommer.com/source/web/pic/Our team.png">
      </div>
    </div>
  </div>
  <div class="background-bg-white">
    <app-bottom-footer></app-bottom-footer>
  </div>
</div>
