<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <span fxLayout="row" fxLayoutAlign="start center"> <img src="https://media.socialcommer.com/source/web/pic/logo-beta-01.png" width="180"></span>
    <div class="md-margin-left-2 md-dark-primary" >
      <button mat-button >
        <a class="md-dark-primary" routerLink="/store/{{storeName}}" target="_blank">View Storefront</a>
      </button>
    </div>
  </div>
  <div class="xb-shop__pop-bg" fxLayout="row" fxLayoutAlign="start center">
    <i *ngIf="!avatar" class="iconfontXberts icon-ic-user xb-shop__icons md-dark-secondary"></i>
    <img *ngIf="avatar" class="xb-shop__avatar" src="{{avatar}}" />
    <div class="xb-shop__pop-bg-list" (click)="logout()">
      Logout
    </div>
  </div>
</mat-toolbar>
<div class="background-bg-light xb-shop__bg-content" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="stretch stretch" fxFlex>
    <app-left-side-navigation fxLayout="column" ></app-left-side-navigation>
    <div class="xb-shop__scroll" fxFlex fxLayout="column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
