<div class="md-margin-top-2 md-padding-left-2 md-padding-right-2">
  <div class="xb-shop__products-title" fxLayout="row" fxLayoutAlign="start center">
    <a routerLink="../listings">Listings</a>&nbsp;&nbsp;>&nbsp;&nbsp;Search affiliate products
  </div>

  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="xb-shop__products-left-bg">
      <div class="xb-shop__products-title-1">By Affiliate Channel:</div>
      <app-products-sort [(selectedSort)]="selectedSource" [sorts]="sources"
         (selectedSortChange)="onSelectedChange($event)"></app-products-sort>

      <div class="xb-shop__products-title-1 md-margin-top-3" *ngIf="categories.length>0">By Product Category:</div>
      <div fxLayout="column">
        <mat-checkbox class="md-margin-top-1" *ngFor="let category of categories;"
                      (change)="onCheckedChange(category,1)" [(ngModel)]="category.checked">
          {{ category.name }}
        </mat-checkbox>
      </div>
    </div>
    <div fxFlex>
      <div>
        <mat-chip-list fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <mat-chip *ngFor="let sort of selectedChips" [selectable]="selectable" [removable]="removable" (remove)="remove(sort)">
            {{sort.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap fxLayoutGap="24px">
        <app-product-item-card *ngFor="let product of productList" [product]="product"></app-product-item-card>
      </div>
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="changePage($event)"
                     *ngIf="productList && productList.length > 0">
      </mat-paginator>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
