$primaryColor: #3f51b5;
$dangerColor: #ff5722;
$strikingColor: #ff4081;
$successColor: #4caf50;
$orangeColor: #ff9800;
$navigationColor: #3f52b4;
$facebookColor:#3b5998;
$linkedinColor: #0077b5;
$twitterColor:#1a8bf0;

$blackColor: #222;
$darkColor: #333;
//dark
$darkGrayColor: #666;
//darkgray
$grayColor: #888;
//gary
$grayLightColor: #999;
//garylight
$lightGrayColor: #f9f9f9;
//lightgray
$lightColor: #dff2f4;
//light
$lightWhiteColor: #f1f1f1;
//lightwhite
$whiteColor: #fff;
//white

$bgWhite: $whiteColor;
$bgLight: $lightWhiteColor;
$bgGray: #f2f5f7;

$whiteBackground: $whiteColor;
$lightGrayBackground: $lightGrayColor;
