$primaryColor: #00bdd6;
$primaryColorNew: #B40F0F;
$dangerColor: #e53935;
$strikingColor: #ff4081;
$successColor: #42ab34;
$orangeColor: #ffc500;
$purpleColor: #663fb5;
$redColor: #e53715;
$navigationColor: #3f52b4;
$facebookColor:#4267b1;
$linkedinColor: #0077b5;
$twitterColor:#1a8bf0;
$googleColor:#ec4033;
$whatsAppColor:#2cbfa5;
$youtube: #ff001e;
$instagram: #00b5f0;

$blackColor: #222;
$darkColor: #333;
//dark
$darkGrayColor: #666;
//darkgray
$grayColor: #888;
//gary
$grayLightColor: #999;
//garylight
$lightGrayColor: #f1f1f1;
//lightgray
$lightColor: #dff2f4;
//light
$lightWhiteColor: #eee;
//lightwhite
$whiteColor: #fff;
//white

$bgWhite: $whiteColor;
$bgLight: $lightWhiteColor;
$bgGray: #f2f5f7;

$whiteBackground: $whiteColor;
$lightGrayBackground: $lightGrayColor;
