$colors: (
  primary: $primaryColor,
  success: $successColor,
  danger: $dangerColor,
  striking: $strikingColor,
  whitem:$whiteColor,
  light-white:$lightWhiteColor,
  light:$lightColor,
  light-gray:$lightGrayColor,
  gray-light:$grayLightColor,
  graym:$grayColor,
  dark-gray: $darkGrayColor,
  dark: $darkColor,
  bg-white:$bgWhite,
  bg-light:$bgLight,
  bg-gray:$bgGray,
);
@each $name, $color in $colors {
  .background-#{$name} {
    background-color: $color;
  }
  .xb-color-#{$name} {
    color: $color;
  }
}
@import '../../../../node_modules/@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
