<div class="xb-template-2-edit ">
  <form [formGroup]="storeTemplateForm" novalidate>
    <!--1 home-->
    <div [hidden]="viewIndex != 0">
      <div class="xb-store-template__banner "
           [ngStyle]="{'background': 'url(' + (bannerImageStr) + ') center / auto 640px no-repeat' }">
        <div class="xb-store-template__template-mask"></div>
        <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="start center">

          <div class="xb-template-2-edit__store-name xb-pointer xb-template-2-edit__edit-border"
               [innerHTML]="nameTag | safeHtml" [hidden]="nameEdited" (click)="editName()"></div>

          <div class="xb-template-2-edit__store-name xb-template-2-edit__edit-border"
               [hidden]="!nameEdited">
            <input formControlName="nameTag" [(ngModel)]="nameTag">
          </div>
          <app-store-template-edit-2-navigation fxFlex [navigationIndex]="viewIndex"
                                                (routerChange)="changeViewIndex($event)"></app-store-template-edit-2-navigation>
        </div>
        <div class="xb-store__content-2">
          <div class="xb-template-2-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
            <div class="xb-template-2-edit__button" (click)="close()">
              CANCEL
            </div>
            <div class="xb-template-2-edit__button-1 md-margin-left-2" (click)="submitTemplate()">
              SAVE
            </div>
          </div>

          <div class="xb-template-2-edit__store-title xb-pointer xb-template-2-edit__edit-border ql-editor"
               [innerHTML]="titleTag | safeHtml" [hidden]="titleEdited" (click)="editTitle()"></div>
          <div class="xb-template-2-edit__store-title xb-template-2-edit__edit-border" [hidden]="!titleEdited">
            <quill-editor formControlName="titleTag" [(ngModel)]="titleTag" [options]="editorConfig"></quill-editor>
            <div class="xb-template-2-edit__edit-button" (click)="editTitle()">
              CLICK TO SAVE
            </div>
          </div>

          <div class="xb-template-2-edit__store-description  xb-pointer xb-template-2-edit__edit-border ql-editor"
               [innerHTML]="descriptionTag | safeHtml" [hidden]="descriptionEdited" (click)="editDescription()"></div>

          <div class="xb-template-2-edit__store-description xb-template-2-edit__edit-border"
               [hidden]="!descriptionEdited">
            <quill-editor formControlName="descriptionTag" [(ngModel)]="descriptionTag"
                          [options]="editorConfig"></quill-editor>
            <div class="xb-template-2-edit__edit-button" (click)="editDescription()">
              CLICK TO SAVE
            </div>
          </div>
        </div>
        <div class="xb-store-template__store-buttons" fxShow="false" fxShow.gt-xs="true">
          <span>Shop Now</span>
          <br>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
        <div class="xb-template-2-edit__edit-button" (click)="editImage()">
          CLICK TO CHANGE IMAGE
        </div>
      </div>

      <!--商家信息介绍-->
      <div class="xb-store-template__introduce">
        <div class="xb-store-template__introduce-one" fxLayout="row" fxLayoutAlign="start start">
          <div class="xb-store-template__introduce-one-top-left">
            <div class="xb-store-template__introduce-one-title">About Me</div>
            <div class="xb-store-template__introduce-title-line"></div>

            <div class="xb-store-template__introduce-one-describe xb-pointer xb-template-2-edit__edit-border ql-editor"
                 [innerHTML]="aboutMeTag | safeHtml" [hidden]="aboutMeEdited" (click)="editAboutMe()"></div>

            <div class="xb-store-template__introduce-one-describe xb-template-2-edit__edit-border"
                 [hidden]="!aboutMeEdited">
              <quill-editor formControlName="aboutMeTag" [ngModel]="aboutMeTag" (ngModelChange)="changeAboutMe($event)"
                            [options]="editorConfig"></quill-editor>

              <div class="xb-template-2-edit__edit-button" (click)="editAboutMe()">
                CLICK TO SAVE
              </div>
            </div>

            <div class="md-margin-top-2">
              <app-store-share-button-edit [link]="shareLink" [text]="text"></app-store-share-button-edit>
            </div>
          </div>
          <div class="xb-store-template__introduce-one-top-right">
            <div class="xb-store-template__introduce-one-top-image xb-template-2-edit__edit-border"
                 [ngStyle]="{'background': 'url(' + (aboutMeOneImageStr) + ') center / 100% 100% ' }"
            >
              <app-image-upload-preview-two-template [(previewImgFile)]="aboutMeOneImageStr"
                                                     [(previewImgSrc)]="aboutMeOneImageStr"
                                                     [type]="uploadAboutType"></app-image-upload-preview-two-template>
              <div class="xb-template-2-edit__image-position xb-template-2-edit__edit-border">
                <app-image-upload-preview-two-template [(previewImgFile)]="aboutMeTwoImageStr"
                                                       [(previewImgSrc)]="aboutMeTwoImageStr"
                                                       [type]="uploadAboutType"></app-image-upload-preview-two-template>
              </div>

            </div>
          </div>
        </div>
        <div class="xb-store-template__introduce-two" fxLayout="row" fxLayoutAlign="end start">
          <div class="xb-store-template__introduce-two-bottom-left">
            <div class="xb-store-template__introduce-two-bottom-image xb-template-2-edit__edit-border"
                 [ngStyle]="{'background': 'url(' + (homeMadeOneImageStr) + ') center / auto 100% ' }"
            >
              <app-image-upload-preview-two-template [(previewImgFile)]="homeMadeOneImageStr"
                                                     [(previewImgSrc)]="homeMadeOneImageStr"
                                                     [type]="uploadAboutType"></app-image-upload-preview-two-template>
              <div class="xb-template-2-edit__image-home-position xb-template-2-edit__edit-border">
                <app-image-upload-preview-two-template [(previewImgFile)]="homeMadeTwoImageStr"
                                                       [(previewImgSrc)]="homeMadeTwoImageStr"
                                                       [type]="uploadAboutType"></app-image-upload-preview-two-template>
              </div>
            </div>

          </div>


          <div class="xb-store-template__introduce-two-bottom-right">
            <div class="xb-store-template__introduce-two-describe  xb-pointer xb-template-2-edit__edit-border ql-editor"
                 [innerHTML]="homeMadeDesTag | safeHtml" [hidden]="homeMadeDesEdited" (click)="editHomeMadeDes()"></div>

            <div class="xb-store-template__introduce-two-describe xb-template-2-edit__edit-border"
                 [hidden]="!homeMadeDesEdited">
              <quill-editor formControlName="homeMadeDesTag" [(ngModel)]="homeMadeDesTag"
                            [options]="editorConfig"></quill-editor>
              <div class="xb-template-2-edit__edit-button" (click)="editHomeMadeDes()">
                CLICK TO SAVE
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--home-made-->
      <div class="xb-store-template__home-made xb-template-2-edit__edit-border"
           [ngStyle]="{'background': 'url(' + imageHomeMade + ') center / 1920px auto no-repeat' }">
        <div class="xb-store-template__template-mask"></div>
        <div class="xb-store-template__home-made-title xb-pointer xb-template-2-edit__edit-border ql-editor"
             [innerHTML]="homeMadeTitle | safeHtml" [hidden]="homeMadeTitleEdited" (click)="editHomeMadeTitle()"></div>

        <div class="xb-store-template__home-made-title xb-template-2-edit__edit-border"
             [hidden]="!homeMadeTitleEdited">
          <quill-editor formControlName="homeMadeTitle" [(ngModel)]="homeMadeTitle"
                        [options]="editorConfig"></quill-editor>

          <div class="xb-template-2-edit__edit-button" (click)="editHomeMadeTitle()">
            CLICK TO SAVE
          </div>
        </div>
        <div class="xb-template-2-edit__edit-button" (click)="editImageHomeMade()">
          CLICK TO CHANGE IMAGE
        </div>
      </div>

      <!--产品列表-->
      <div class="xb-store-template__product-content ">
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
          <app-store-item-card-edit *ngFor="let item of product"
                                    fxFlex.xs="48" fxFlex.gt-xs="30"
                                    [product]="item" [status]="0"></app-store-item-card-edit>
          <div fxFlex.xs="48" fxFlex.gt-xs="30"></div>
        </div>
        <div class="xb-store-template__buttons-bg" fxLaout="row" fxLayoutAlign="center center"
             (click)="jumpProductList()">
          <div>
            SEE MORE
          </div>
        </div>
      </div>
      <div>
        <app-store-template-edit-2-store-foot [storeName]="store.name"></app-store-template-edit-2-store-foot>
      </div>
    </div>
    <!--2 products-->
    <div [hidden]="viewIndex != 1">
      <div class="xb-template-2-edit__100vh" fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex fxLayout="column">
          <!--头部消息-->
          <div class="xb-template-2-edit__container">
            <div class="xb-store-template__collection-container" fxShow="true" fxShow.xs="false">
              <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="start center">

                <div class="xb-template-2-edit__store-name xb-pointer xb-template-2-edit__edit-border "
                     [ngStyle]="{'color':'black'}"
                     [innerHTML]="nameTag | safeHtml" [hidden]="nameEdited" (click)="editName()"></div>

                <div class="xb-template-2-edit__store-name xb-template-2-edit__edit-border"
                     [hidden]="!nameEdited">
                  <input [ngStyle]="{'color':'black'}" formControlName="nameTag" [(ngModel)]="nameTag">
                </div>
                <app-store-template-edit-2-navigation [navigationIndex]="viewIndex" [isBlack]="true"
                                                      (routerChange)="changeViewIndex($event)"
                                                      fxFlex></app-store-template-edit-2-navigation>
              </div>
            </div>

            <div class="xb-store-template__collection-title">
              Products
            </div>
          </div>
          <!--产品列表-->
          <div class="xb-store-template__collection—product" fxFlex="noshrink">
            <div class="xb-store-template__collection—category" fxLayout="column" fxLayoutAlign="start start"
                 fxShow="true"
                 fxShow.xs="false">
              <app-store-template-edit-2-category fxFlexAlign="center" [(category)]="category" [categories]="categories"
                                                  (categoryChange)="changeCategory()"></app-store-template-edit-2-category>
            </div>
            <div>
              <div class="xb-store-template__list-products md-margin-top-1">
                <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
                  <app-store-item-card-edit *ngFor="let item of product"
                                            fxFlex.xs="48" fxFlex.gt-xs="30"
                                            [product]="item" [status]="1"></app-store-item-card-edit>
                  <div fxFlex.xs="48" fxFlex.gt-xs="30"></div>
                </div>
              </div>
            </div>
          </div>
          <!--网页底部-->
          <div>
            <app-store-template-edit-2-store-foot [storeName]="store.name"></app-store-template-edit-2-store-foot>
          </div>
        </div>
      </div>
    </div>
    <!--3 about me -->
    <div [hidden]="viewIndex != 2">
      <div class="xb-template-2-edit__100vh" fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex fxLayout="column">
          <div class="xb-template-2-edit__container">
            <div class="xb-store-template__collection-container" fxShow="true" fxShow.xs="false">
              <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="start center">

                <div class="xb-template-2-edit__store-name xb-pointer xb-template-2-edit__edit-border"
                     [ngStyle]="{'color':'black'}"
                     [innerHTML]="nameTag | safeHtml" [hidden]="nameEdited" (click)="editName()"></div>

                <div class="xb-template-2-edit__store-name xb-template-2-edit__edit-border"
                     [hidden]="!nameEdited">
                  <input [ngStyle]="{'color':'black'}" formControlName="nameTag" [(ngModel)]="nameTag">
                </div>

                <app-store-template-edit-2-navigation [navigationIndex]="viewIndex" [isBlack]="true"
                                                      (routerChange)="changeViewIndex($event)"
                                                      fxFlex></app-store-template-edit-2-navigation>
              </div>
            </div>

            <div class="xb-store-template__collection-title">
              About Me
            </div>
          </div>
          <div class="xb-store-template__about-bg" fxFlex="noshrink">
            <div class="xb-store-template__about-image-bg xb-template-2-edit__edit-border">
              <app-image-upload-preview-blog [(previewImgFile)]="aboutMeCover" [(previewImgSrc)]="aboutMeCover"
                                             [type]="uploadAboutType"></app-image-upload-preview-blog>
            </div>
            <div class="xb-store-template__introduce-one-describe xb-pointer xb-template-2-edit__edit-border ql-editor"
                 [innerHTML]="aboutMeNewTag | safeHtml" [hidden]="aboutMeNewEdited" (click)="editAboutMeNew()"></div>

            <div class="xb-store-template__introduce-one-describe xb-template-2-edit__edit-border"
                 [hidden]="!aboutMeNewEdited">
              <quill-editor formControlName="aboutMeNewTag" [ngModel]="aboutMeNewTag"
                            (ngModelChange)="changeAboutMe($event)"
                            [options]="editorConfig"></quill-editor>
              <div class="xb-template-2-edit__edit-button" (click)="editAboutMeNew()">
                CLICK TO SAVE
              </div>
            </div>
          </div>
          <!--网页底部-->
          <div>
            <app-store-template-edit-2-store-foot [storeName]="store.name"></app-store-template-edit-2-store-foot>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="xb-template-2-edit__background" *ngIf="imageEdited">
  <div class="xb-store-template__detail-close" (click)="editImage()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store-template__detail">
    <div class="xb-store-template__detail-close" (click)="editImage()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-template-2-edit__mobile-dialog-inner">
      <app-image-upload-preview [(previewImgFile)]="bannerImageStr"
                                (previewImgFileChange)="editImage()"></app-image-upload-preview>
    </div>
  </div>
</div>
<div class="xb-template-2-edit__background" *ngIf="imageHomeMadeEdited">
  <div class="xb-store-template__detail-close" (click)="editImageHomeMade()" fxShow="false" fxShow.sm="true"
       fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store-template__detail">
    <div class="xb-store-template__detail-close" (click)="editImageHomeMade()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-template-2-edit__mobile-dialog-inner">
      <app-image-upload-preview [(previewImgFile)]="imageHomeMade" [ratio]="ratio"
                                (previewImgFileChange)="editImageHomeMade()"></app-image-upload-preview>
    </div>
  </div>
</div>
<div class="xb-template-2-edit__background" *ngIf="storeEdited">
  <div class="xb-store-template__detail-close" (click)="editStore()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store-template__detail">
    <div class="xb-store-template__detail-close" (click)="editStore()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-template-2-edit__mobile-dialog-inner">
      <div class="xb-template-2-edit__title-1">
        Ready to Publish?
      </div>
      <div class="xb-template-2-edit__content-1">
        Make sure all these setting are correct before your store goes live!
      </div>
      <form [formGroup]="storeForm" novalidate>
        <div class="md-margin-top-2 md-margin-right-2" fxLayout="column">
          <div class="md-dark-secondary">
            Store Name
          </div>
          <mat-form-field>
            <input matInput formControlName="name">
          </mat-form-field>
          <div *ngIf="formErrors['name']" class="xb-input-error">
            {{ formErrors['name'] }}
          </div>
          <div class="md-dark-secondary">
            Store Description
          </div>
          <mat-form-field class="xb-template-2-edit__width-100">
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <div *ngIf="formErrors['description']" class="xb-input-error">
            {{ formErrors['description'] }}
          </div>
          <div class="md-dark-secondary">
            Your Store URL
          </div>
          <div class="md-margin-bottom-1" fxLayout="row" fxLayoutAlign="start center">
            <div>
              https://www.socialcommer.net/store/
            </div>
            <mat-form-field class="md-margin-left-2 xb-shop__width-1">
              <input matInput formControlName="displayName">
            </mat-form-field>
          </div>
          <div *ngIf="formErrors['displayName']" class="xb-input-error">
            {{ formErrors['displayName'] }}
          </div>
          <div class="xb-template-2-edit__margin-top-48" fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" (click)="changeStore()">PUBLISH</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

