<div fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-social-share__store md-margin-right-2"
       fxLayout="row" fxLayoutAlign="center center">
    <i class="iconfontXberts icon-ic-facebook"></i>
  </div>
  <div class="xb-social-share__store md-margin-right-2"
       fxLayout="row" fxLayoutAlign="center center">
    <i class="iconfontXberts icon-ic-twitter"></i>
  </div>
  <div class="xb-social-share__store"
       fxLayout="row" fxLayoutAlign="center center">
    <i class="iconfontXberts icon-ic-social-whatsapp"></i>
  </div>
</div>
