<div fxLayout="row" fxLayoutAlign="start start">
  <div class="xb-4-template-blog__card">
    <div class="xb-4-template-blog__card-image xb-pointer" (click)="jumpLink()">
      <img [src]="blog.cover">
    </div>
    <div class="xb-4-template-blog__card-220px"></div>
  </div>
  <div class="xb-4-template-blog__card-word md-margin-left-2">
    <div class="xb-4-template-blog__card-title">{{blog.title}}</div>
    <div class="xb-4-template-blog__card-date">{{blog.modified | amDateFormat:'MMMM Do, YYYY'}}</div>
    <div class="xb-4-template-blog__card-context">{{blog.context}}</div>
    <div class="xb-4-template-blog__card-more xb-pointer" (click)="jumpLink()">
      READ MORE
    </div>
  </div>
</div>
