@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-blog-card {
  margin-top: 40px;

  &__title {
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    @include text-overflow();
    @include xb-xs-screen {
      max-height: 64px;
      height: 100%;
    }
  }

  &__edit-time {
    margin-top: 16px;
    color: rgba(0, 0, 0, .54);
    @include xb-xs-screen {
      margin-top: 12px;
    }
  }

  &__image-bg {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 0;
    padding-bottom: 66.66%;
    overflow: hidden;
    > img {
      position: absolute;
      max-width: none;
      height: 100%;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
    }
  }

  &__description {
    font-size: 16px;
    line-height: 28px;
    max-height: 112px;
    overflow: hidden;
    margin-top: 24px;
    @include xb-xs-screen {
      margin-top: 12px;
    }
  }

  &__buttons {
    margin: 24px 0;
    font-size: 16px;
    @include media();
    color: #3a2481;

    @include xb-xs-screen {
      margin: 24px 0 8px;
    }
  }

}
