<div class="xb-account-item" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-account-item__title  md-padding-left-2" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">
    {{item.created | amDateFormat:'MMMM Do, YYYY'}}
  </div>
  <div class="xb-account-item__title" fxFlex
       fxLayout="row" fxLayoutAlign="center center">
    {{item.activity}}
  </div>
  <div class="xb-account-item__title" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">
    {{item.paymentAction == 'Sale'? '+':'-'}} {{item.amount | exchangeCurrency:currency | currency:currency: true}}
  </div>
  <div class="xb-account-item__title" fxFlex="20"
       fxLayout="row" fxLayoutAlign="center center">
    {{item.availableBalance | exchangeCurrency:currency | currency:currency: true}}
  </div>
</div>
