<div class="xb-shop__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="5"
       fxLayout="column" fxLayoutAlign="center center">Ranking</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="35">
    Product Name
  </div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Price</div>
  <div class="xb-shop__product-title-1 md-margin-right-2 md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Total Views</div>
  <div class="xb-shop__product-title-1 md-margin-right-2 md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Total Units Sold</div>
  <div class="xb-shop__product-title-1 md-margin-right-2 md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Conversion Rate</div>
  <div class="xb-shop__product-title-1 md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Total Sales</div>
</div>
