<div class="xb-shop__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="35">
    Product Name
  </div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Price</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Commissions</div>
  <div class="xb-shop__product-title-1 md-margin-right-2 md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Average Daily Pageviews</div>
  <div class="xb-shop__product-title-1 md-margin-right-2 md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Units Sold Per Day</div>
  <div class="xb-shop__product-title-1 md-margin-right-2 md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Average Conversion</div>
  <div class="xb-shop__product-title-1 md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Average Daily Sales</div>
</div>
