<div class="xb-affiliate-dialog">
  <div class="xb-affiliate-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-affiliate-dialog__title">
    To get your affiliate link, please:
  </div>
  <div class="xb-affiliate-dialog__content">
    1. Go to the original ecommerce site where this product is listed.<br>
    2. Login to their affiliate program form which you can generate a sales tracking link for the product you want
    to promote.
  </div>
  <div class="xb-affiliate-dialog__margin-top" *ngIf="url" fxLayout="row" fxLayoutAlign="center center">
    <a href="{{url}}" target="_blank">
      <button mat-raised-button color="primary" >Take Me to Its Affiliate Website</button>
    </a>
  </div>
</div>
