<div class="xb-customer-service-detail__message">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div>
      <i class="iconfontXberts icon-ic-user" [ngStyle]="{'font-size':'24px'}"></i>
    </div>
    <div class="xb-customer-service-detail__message-name">
      {{message.direction ? customerName : supplierName}}
    </div>
    <div class="xb-customer-service-detail__message-date">
      {{message.created | amDateFormat:'MMMM Do, YYYY' }}
    </div>
  </div>
  <div class="xb-customer-service-detail__message-description">
    {{message.context}}
  </div>
</div>
