<div class="xb-shop__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-shop__product-title-1 md-align-center" fxFlex="20">
    Bonus Level
  </div>
  <div class="xb-shop__product-title-1 md-align-center" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">Monthly Sales Quota</div>
  <div class="xb-shop__product-title-1 md-align-center" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">Month-to-Date Sales</div>
  <div class="xb-shop__product-title-1 md-align-center" fxFlex="30"
       fxLayout="column" fxLayoutAlign="center center">Amount Left to Reach Quota</div>
</div>
