<div class="xb-store-template__about">
  <div class="xb-store-template__about-title">About Me</div>
  <div class="xb-store-template__about-image-bg" *ngIf="store.ownerAvatar && store.ownerAvatar != ''">
    <img [src]="store.ownerAvatar">
  </div>
  <div class="xb-store-template__about-image-bg" *ngIf="!store.ownerAvatar || store.ownerAvatar == ''">
    <img src="https://media.socialcommer.com/source/web/template/3/02-pic.jpg">
  </div>
  <div class="md-margin-top-2 xb-store-template__about-user" *ngIf="store.userTag == ''">
    Thank you for visiting my store! Have a nice day.
  </div>
  <div class="xb-store-template__about-user ql-editor md-margin-top-2"
       [innerHTML]="store.userTag | safeHtml" *ngIf="store.userTag != ''">
  </div>
</div>
