@import "../../styles/utils/_index";
@import "../../styles/_variables";

@import '../../../../node_modules/@angular/material/theming';
.mat-raised-button.mat-primary{
  background-color: #6446c3;
}

.xb-store-template{

  &__store{
    &-bg{
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: $whiteColor;
      z-index: 500;
    }
  }

  &__dialog{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,.9);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 500;
  }

  &__container{
    max-width: 1440px;
    margin: auto;
  }

  &__buttons-bg{
    margin-top: 20px;
    margin-bottom: 20px;
    >div{
      width: 240px;
      text-align: center;
      line-height: 40px;
      border: 1px solid #6446c3;
      color: #6446c3;
      border-radius: 4px;
      cursor: pointer;
      @include media();

      @include xb-xs-screen{
        line-height: 36px;
      }

      &:hover{
        background-color: #6446c3;
        color: $whiteColor;
      }
    }
  }

  &__left{
    width: 240px;
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: scroll;
  }

  &__right{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__content{
    min-height: 100vh;
    overflow: hidden;
  }

  &__content-2{
    width: 100%;
  }

  &__store-name{
    margin-top: 72px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    @include media();
    overflow-x: hidden;

    >input{
      font-size: 24px;
      @include media();
      width: 100%;
      text-align: center;
    }
  }

  &__navigation{
    text-align: center;
    margin-bottom: 24px;
    &.active{
      @include media();
    }
  }

  &__category{
    position: relative;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    &.active{
      @include media();
    }

    &-bg{
      ::-webkit-scrollbar {
        height: 2px;
      }
      @include xb-xs-screen{
        ::-webkit-scrollbar {
          height: 0;
        }
        height: 48px;
        border-bottom: 1px solid rgba(0,0,0,.12);
      }
    }
    &-scroll{
      overflow-x: scroll;
      width: 100%;
    }

    &-margin-right{
      margin-right: 40px;
      @include xb-xs-screen{
        margin-left: 16px;
      }
    }

    @include xb-xs-screen{
      line-height: 48px;
    }
  }

  &__banner{
    background-color: #000;
    height: 560px;
    position: relative;
    @include xb-xs-screen{
      height: 320px;
    }
  }

  &__template{

    &-mask{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
    }

    &-banner{
      background-color: #000;
      height: 500px;
      position: relative;
      @include xb-xs-screen{
        padding: 0 16px;
        height: 320px;
      }
      @include xb-sm-screen{
        padding: 0 16px;
      }
      &-right{
        position: absolute;
        top: 16px;
        right: 0;
      }
    }

    &-name{
      margin: 0 auto;
      width: 300px;
      height: 60px;
      line-height: 60px;
      color: $whiteColor;
      text-align: center;
      font-size: 24px;
      @include media();
    }

    &-title{
      width: 100%;
      color: $whiteColor;
      position: relative;
      padding: 0 32px;

      @include xb-xs-screen{
        margin-top: 0;
        padding: 0 16px;
      }
    }

    &-description{
      width: 100%;
      margin-top: 24px;
      color: $whiteColor;
      position: relative;
      padding: 0 32px;
      overflow: hidden;
      @include xb-xs-screen{
        margin-top: 16px;
        padding: 0 16px;
      }
    }

    &-user{
      width: 100%;
      margin-top: 24px;
      position: relative;
      padding: 0;
      @include xb-xs-screen{
        margin-top: 16px;
      }
    }
  }

  &__card{
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 8px;

    @include xb-xs-screen{
      margin-bottom: 0;
    }

    $parent: &;
    &-image{
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      position: relative;
      >a{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        >img{
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          @include transform(translate(-50%, -50%));
        }
      }

      &:hover{
        #{$parent}-content{
          @include xb-gt-xs-screen{
            display: flex !important;
          }
        }
      }

    }


    &-content{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,.9);

      display: none !important;

      @include xb-xs-screen{
        position: relative;
        padding: 24px 0;
        background-color: #f1f1f1;
      }
    }

    &-content-1{
      position: relative;
      padding: 24px 0;
      background-color: #fff;
    }

    &-title{
      line-height: 28px;
      @include media();
      font-size: 24px;
      overflow: hidden;
      margin-bottom: 24px;
      text-align: center;
      padding: 0 32px;

      @include xb-xs-screen{
        font-size: 16px;
        padding: 0 16px;
      }
    }

    &-price{
      font-size: 24px;
      line-height: 32px;
      @include media();
      margin-bottom: 8px;
      text-align: center;
    }

    &-price-1{
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
      text-align: center;

      @include xb-xs-screen{
        font-size: 14px;
      }
    }

    &-sale{
      background-color: #6446c3;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 24px;
      text-align: center;
    }

  }

  &__about{
    position: relative;
    padding: 72px 120px;
    @include xb-sm-screen{
      padding: 72px 32px;
    }
    @include xb-xs-screen{
      padding: 0;
    }

    &-title{
      font-size: 24px;
      @include media();
      margin-bottom: 40px;

      @include xb-xs-screen{
        padding: 0 24px;
        margin: 24px 0;
      }
    }

    &-image-bg{
      position: relative;
      >img{
        width: 100%;
        display: block;
      }
    }

    &-user{
      position: relative;
      margin-top: 24px;
    }
  }

  &__collection{
    &-title{
      font-size: 24px;
      @include media();
      margin-top: 72px;
      margin-bottom: 24px;
    }

    &-container{
      margin: 0 64px;
      height: 215px;
      @include xb-xs-screen{
        margin: 0;
        height: auto;
      }
    }

    &-margin-right{
      margin-right: 40px;
    }

    &-bottom{
      position: relative;
      padding-bottom: 60px;
      overflow: hidden;
      @include xb-xs-screen{
        padding-bottom: 0;
      }
    }
  }

  &__details{

    &-category{
      @include media();

      &-bg{
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,.12);
        white-space: nowrap;
        @include text-overflow();

        @include xb-sm-screen{
          padding: 0 32px;
        }
      }
    }

    &-title{
      font-size: 24px;
      line-height: 32px;
      margin-top: 32px;
      margin-bottom: 24px;

      @include media();

      @include xb-xs-screen{
        margin-top: 8px;
        margin-bottom: 24px;
      }
    }

    &-title-1{
      font-size: 16px;
      line-height: 32px;
      @include media();
      margin-bottom: 16px;
    }

    &-price{
      font-size: 24px;
      line-height: 24px;
      @include media();
    }

    &-sale{
      background-color: #6446c3;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 28px;

    }

    &-margin-right{
      width: 580px;
      height: 480px;
      margin-right: 32px;
      @include xb-xs-screen{
        width: auto;
        height: auto;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;
        @include resetBorder();
      }
      @include xb-sm-screen{
        width: 416px;
        height: 320px;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;

      }
    }

    &-padding-bottom{
      border-bottom: 1px solid rgba(0,0,0,.12);
      padding-bottom: 64px;

      @include xb-xs-screen{
        padding-bottom: 16px;
      }

      @include xb-sm-screen{
        padding-bottom: 16px;
      }
    }

    &-padding-top{
      border-top: 1px solid rgba(0,0,0,.12);
      padding: 32px 24px;
      margin: 0 8px;

      @include xb-xs-screen{
        margin: 0;
        padding: 32px 16px;
      }
    }

    &-description{
      border-top: 1px solid rgba(0,0,0,.12);
      padding: 32px 24px;
      img{
        width: 100%;
      }
      margin: 0 8px;
      @include xb-xs-screen{
        margin: 0;
        padding: 32px 16px;
      }
    }

    &-content{
      margin-top: 72px;
      margin-left: 32px;
      padding-bottom: 32px;
      @include xb-xs-screen{
        margin: 0;
        padding: 0 16px 40px;
      }
    }

    &-buttons{
      margin-top: 24px;
      background-color: $whiteColor;
      display: block;
    }
    ::-webkit-scrollbar {
      width: 0;
    }
    &-scroll{
      height: 100vh;
      overflow: scroll;

      @include xb-xs-screen{
        height: auto;
        overflow: auto;
      }
    }

    &-cover-bg{
      margin-top: 32px;
      @include xb-xs-screen{
        margin-top: 0;
      }
    }
  }

  &__top-navigation{
    height: 54px;
    background-color: #f1f1f1;

    &-title{
      font-size: 24px;
      padding: 0 40px 0 0;
      text-align: center;
      @include media();
      @include text-overflow();
    }
    >i{
      padding: 8px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__footer {
    @include xb-xs-screen {
      margin-top: 24px;
      margin-bottom: 16px;
    }
    &-word {
      font-size: 14px;
      @include regular();
      line-height: 32px;
      cursor: pointer;
    }

    &-share {
      cursor: pointer;
      i {
        font-size: 24px;
        line-height: 24px;
      }
    }
    &-text {
      font-size: 14px;
      @include regular();
      color: rgba(0, 0, 0, .54);
      text-align: center;
    }

    &-margin-top {
      margin-top: 24px;
      @include xb-xs-screen {
        margin-top: 24px;
      }
    }

    &-margin-bottom {
      margin-bottom: 48px;
      @include xb-xs-screen {
        margin-bottom: 16px;
      }
    }

    &-margin-bottom-1 {
      margin-bottom: 12px;
    }
  }

  &__blog{
    &-content{
      padding: 120px 120px;
      position: relative;
      @include xb-sm-screen{
        padding: 48px 36px;
      }

      @include xb-xs-screen{
        padding: 48px 16px;
      }
    }

    &-title{
      font-size: 32px;
      @include media();
    }
  }
}

.xb-share-dialog{

  padding: 56px;
  max-width: 720px;
  position: relative;
  background-color: $whiteColor;
  border-radius: 4px;
  @include xb-xs-screen{
    padding: 56px 16px;
  }

  &__close{
    position: absolute;
    left: calc(100% - 40px);
    top: 16px;
    color: $blackColor;
    cursor: pointer;
    i{
      font-size: 24px;
      line-height: 24px;
      @include media();
    }
  }

  &__title{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    @include media();
  }

  &__content{
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    @include regular();
  }

  &__link{
    font-size: 24px;
    line-height: 32px;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-top: 12px;
    display: block;
    color: rgba(0,0,0,.87);
  }

  &__margin-top{
    margin-top: 48px;
  }
}

.xb-affiliate-dialog{

  padding: 56px;
  max-width: 720px;
  position: relative;
  border-radius: 4px;
  @include xb-xs-screen{
    padding: 0;
  }

  &__close{
    position: absolute;
    left: calc(100% - 40px);
    top: 16px;
    color: $blackColor;
    cursor: pointer;
    i{
      font-size: 24px;
      line-height: 24px;
      @include media();
    }
  }

  &__title{
    font-size: 24px;
    line-height: 32px;
    @include media();
  }

  &__content{
    margin-top: 16px;
    font-size: 14px;
    line-height: 28px;
    @include regular();
  }

  &__margin-top{
    margin-top: 32px;
  }
}

.xb-store{
  &__background{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;

    @include xb-xs-screen{
      overflow-y: hidden;
    }
  }

  &__details{
    margin-top: 56px;
    margin-bottom: 56px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 40px 48px;
    background-color: $whiteColor;

    @include xb-sm-screen{
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    @include xb-xs-screen{
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &-bg-new{
      margin-top: 56px;
      margin-bottom: 56px;
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      padding: 40px 48px;
      background-color: $whiteColor;

      @include xb-xs-screen{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }

    &-close{
      position: absolute;
      left: calc(100% + 24px);
      top: 0;
      color: $whiteColor;
      cursor: pointer;
      i{
        font-size: 56px;
        line-height: 56px;
      }

      @include xb-xs-screen{
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i{
          font-size: 24px;
          line-height: 24px;
        }
      }

      @include xb-sm-screen{
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i{
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }

  &__buttons-bg-1{
    background-color: $primaryColor;
    color: $whiteColor;
    line-height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    display: block;

    &:hover{
      opacity: .5;
    }
  }
}

.xb-shop{

  &__store{
    &-template{
      width: 360px;
      height: 408px;
      position: relative;
      overflow: hidden;
      margin-bottom: 24px;

      @include resetBorder();

      >img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      $parent: &;
      &-cover{
        display: none !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
      }

      &:hover{
        #{$parent}-cover{
          display: flex !important;
        }
      }
    }
    &-button{
      width: 116px;
      border-radius: 16px;
      line-height: 32px;
      text-align: center;
      cursor: pointer;
      @include media();

      &-primary {
        background-color: $primaryColor;
        color: $whiteColor;
      }

      &-normal{
        background-color: $whiteColor;
        color: $blackColor;
      }
    }

    &-padding{
      padding: 0;
      max-width: 1200px;
      width: 100%;
    }

    &-bg{
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: $whiteColor;
      z-index: 500;
    }
  }
  &__template{

    &-edit{
      border: 1px solid $primaryColor;
      >input{
        border: none;
        background-color: transparent;
      }
    }

    &-banner{
      &-right{
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }

    &-name{
      margin: auto;
      width: 300px;
      height: 60px;
      line-height: 60px;
      color: $whiteColor;
      border: 1px solid $primaryColor;
      text-align: center;
      font-size: 24px;
      @include media();
      input{
        margin: 0;
        padding: 0;
        height: 60px;
        font-size: 24px;
        @include media();
        line-height: 60px;
        color: $whiteColor;
        border: none;
        background-color: transparent;
        text-align: center;
      }
    }

    &-title{
      border: 1px solid $primaryColor;
      position: relative;
      margin: 0 24px;
      @include xb-xs-screen{
        margin: 0 16px;
      }
    }

    &-description{
      margin: 24px 24px 0 24px;
      color: $whiteColor;
      border: 1px solid $primaryColor;
      position: relative;
      @include xb-xs-screen{
        margin: 16px 16px 0 16px;
      }
    }

    &-user{
      width: 100%;
      margin-top: 24px;
      border: 1px solid $primaryColor;
      position: relative;
      @include xb-xs-screen{
        margin-top: 16px;
      }

      &-name{
        width: 100%;
        margin-top: 12px;
        border: 1px solid $primaryColor;
        @include media();
        height: 20px;
        overflow: hidden;
        input{
          margin: 0;
          padding: 0;
          border: none;
          background-color: transparent;
          text-align: center;
          @include media();
          width: 100%;
        }
      }
      &-country{
        width: 100%;
        margin-top: 8px;
        border: 1px solid $primaryColor;
        height: 20px;
        overflow: hidden;
        &-input{
          width: 100%;
        }

      }
    }


    &-header{
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      border: 1px solid $primaryColor;

    }

    &-edit-button{
      padding: 0 32px;
      line-height: 32px;
      position: absolute;
      left: 50%;
      top: 100%;
      @include transform(translateX(-50%));
      background-color: $primaryColor;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      z-index: 1;
      font-size: 14px;
    }

    &-button{
      line-height: 40px;
      border-radius: 16px;
      background-color: $whiteColor;
      color: $blackColor;
      width: 100px;
      text-align: center;
      cursor: pointer;
    }
    &-button-1{
      line-height: 40px;
      border-radius: 16px;
      background-color: $primaryColor;
      color: $whiteColor;
      width: 100px;
      text-align: center;
      cursor: pointer;
    }

    &-title-1{
      font-size: 24px;
      @include media();
      margin-bottom: 8px;
    }
    &-content-1{
      margin-bottom: 24px;
    }

    &-mask{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
    }

  }

  &__width-100{
    width: 100%;
  }
}
