<div class="xb-account-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-account-navigation__title" fxFlex="25"
       fxLayout="row" fxLayoutAlign="start center">Product
  </div>
  <div class="xb-account-navigation__title" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Customer
  </div>
  <div class="xb-account-navigation__title" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Order Date
  </div>
  <div class="xb-account-navigation__title" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Order Price
  </div>
  <div class="xb-account-navigation__title" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Commission
  </div>
  <div class="xb-account-navigation__title" fxFlex="15"
       fxLayout="row" fxLayoutAlign="center center">Status
  </div>
</div>
