<div class="container" appViewResize fxLayout="column">
  <div class="xb-ask-list__answer-title">
    {{answer.questionTitle}}
  </div>
  <div class="background-whitem xb-question-detail__list" fxFlex>
    <div class="xb-ask-list__item" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-ask-list__head-bg" fxLayout="row" fxFlex>
          <app-user-avatar [avatar]="userprofile.avatar" [name]="owner.firstName" fxFlex="none"
            (click)="toProfile(owner.id)"></app-user-avatar>
          <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="nogrow">
            <div class="md-subhead" fxLayout="row" fxLayoutAlign="start center" >
              {{owner.firstName}}
              <app-user-badge class="md-margin-left-1" [point]="owner.badgePoint"></app-user-badge>
              <div class="md-dark-secondary md-margin-left-1" *ngIf="userprofile.position || userprofile.company">
                {{userprofile.position + '@' + userprofile.company}}
              </div>
            </div>
            <span class="md-body-1 md-dark-secondary" *ngIf="answer.created">Answered <span>{{answer.created | amTimeAgo}}</span></span>
          </div>
        </div>
        <app-user-follow [follow]="currentUser.follow" [id]="owner.id"></app-user-follow>
      </div>
      <div *ngIf="answer.isBestAnswer" class="xb-ask-list__best-answer" fxLayout="row" fxLayoutAlign="start center" >
        <i class="iconfontXberts icon-pic-best-answer1"></i>
        <div class="xb-bold md-margin-left-1">Top Answer</div>
      </div>
      <div class="xb-ask-list__answer-content" *ngIf="answer.description" [innerHTML]="answer.description | safeHtml"></div>
    </div>
  </div>
</div>

