.padding {
  padding: 5px 10px; }

.margin {
  margin: 20px 10px; }

.margin-right {
  margin-right: 10px; }

.padding-clear {
  padding: 0; }

.margin-left-clear {
  margin-left: 0; }

.padding-left-clear {
  padding-left: 0; }

.margin-left {
  margin-left: 10px; }

.margin-top-clear {
  margin-top: 0; }

.padding-top-clear {
  padding-top: 0; }

.margin-top {
  margin-top: 10px; }

.margin-right-clear {
  margin-right: 0; }

.padding-right-clear {
  padding-right: 0; }

.margin-right {
  margin-right: 10px; }

.margin-bottom-clear {
  margin-bottom: 0; }

.padding-bottom-clear {
  padding-bottom: 0; }

.margin-bottom {
  margin-bottom: 10px; }

@media screen and (max-width: 800px) {
  h2 {
    font-size: 24px; } }

.xb-bold {
  font-weight: bold; }

.xb-italic {
  font-style: italic; }

.background-primary {
  background-color: #3f51b5; }

.xb-color-primary {
  color: #3f51b5; }

.background-success {
  background-color: #4caf50; }

.xb-color-success {
  color: #4caf50; }

.background-danger {
  background-color: #ff5722; }

.xb-color-danger {
  color: #ff5722; }

.background-striking {
  background-color: #ff4081; }

.xb-color-striking {
  color: #ff4081; }

.background-whitem {
  background-color: #fff; }

.xb-color-whitem {
  color: #fff; }

.background-light-white {
  background-color: #f1f1f1; }

.xb-color-light-white {
  color: #f1f1f1; }

.background-light {
  background-color: #dff2f4; }

.xb-color-light {
  color: #dff2f4; }

.background-light-gray {
  background-color: #f9f9f9; }

.xb-color-light-gray {
  color: #f9f9f9; }

.background-gray-light {
  background-color: #999; }

.xb-color-gray-light {
  color: #999; }

.background-graym {
  background-color: #888; }

.xb-color-graym {
  color: #888; }

.background-dark-gray {
  background-color: #666; }

.xb-color-dark-gray {
  color: #666; }

.background-dark {
  background-color: #333; }

.xb-color-dark {
  color: #333; }

.background-bg-white {
  background-color: #fff; }

.xb-color-bg-white {
  color: #fff; }

.background-bg-light {
  background-color: #f1f1f1; }

.xb-color-bg-light {
  color: #f1f1f1; }

.background-bg-gray {
  background-color: #f2f5f7; }

.xb-color-bg-gray {
  color: #f2f5f7; }

.xb-ask-list__item {
  padding: 16px;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 599px) {
    .xb-ask-list__item {
      padding: 16px 8px; } }
  .xb-ask-list__item .md-padding {
    padding: 0; }
  .xb-ask-list__item > .md-button {
    margin: 0; }
.xb-ask-list__margin-top {
  margin-top: 24px; }
  @media screen and (max-width: 599px) {
    .xb-ask-list__margin-top {
      margin-top: 16px; } }
.xb-ask-list__head-bg {
  min-width: 0; }
  .xb-ask-list__head-bg app-user-avatar {
    margin-right: 16px;
    width: 40px;
    height: 40px;
    cursor: pointer; }
    .xb-ask-list__head-bg app-user-avatar img {
      width: 40px;
      height: 40px; }
    .xb-ask-list__head-bg app-user-avatar .c-user__name {
      width: 40px;
      height: 40px; }
    @media screen and (max-width: 599px) {
      .xb-ask-list__head-bg app-user-avatar {
        margin-right: 12px; } }
  .xb-ask-list__head-bg .md-subhead {
    line-height: 18px;
    cursor: pointer;
    font-size: 14px; }
  .xb-ask-list__head-bg .md-body-1 {
    line-height: 14px; }
  .xb-ask-list__head-bg .md-margin-left-1 {
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400; }
.xb-ask-list__answer-content-display {
  cursor: pointer; }
.xb-ask-list__answer-content {
  margin-top: 12px;
  word-wrap: break-word;
  display: block;
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  background: none; }
  .xb-ask-list__answer-content img {
    max-width: 100%; }
  .xb-ask-list__answer-content iframe {
    width: 100%; }
.xb-ask-list__img-bg {
  margin-top: 4px;
  max-height: 150px;
  position: relative;
  overflow: hidden; }
  .xb-ask-list__img-bg > img {
    width: 100%; }
.xb-ask-list__actions {
  margin-top: 16px;
  height: 56px;
  border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .xb-ask-list__actions .md-button {
    padding: 0;
    margin: 0;
    min-width: 0; }
  .xb-ask-list__actions .xb-ask-list__margin-left {
    margin-left: 40px; }
    @media screen and (max-width: 599px) {
      .xb-ask-list__actions .xb-ask-list__margin-left {
        margin-left: 16px; } }
.xb-ask-list__best-answer {
  margin-top: 16px; }
  @media screen and (max-width: 599px) {
    .xb-ask-list__best-answer {
      margin-top: 8px; } }
  .xb-ask-list__best-answer i {
    color: #ff9800;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    text-align: center; }
.xb-ask-list__answer-title {
  background-color: #fff;
  padding: 16px 16px 20px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  font-weight: 500; }
  @media screen and (max-width: 599px) {
    .xb-ask-list__answer-title {
      padding: 16px 8px 20px; } }

/*# sourceMappingURL=answer-detail.component.css.map */
