<div class="xb-customer-service">
  <div class="background-bg-white">
    <div class="container">
      <app-store-cart-header></app-store-cart-header>
    </div>
  </div>
  <div [ngStyle]="{'background-color':'#eeeeee','padding-bottom':'165px'}" [ngStyle.xs]="{'padding-bottom': '18px'}">
    <div class="xb-customer-service-detail">
      <div class="md-padding-top-3">
        <span class="xb-pointer xb-customer-service-detail__nav-title xb-customer-service__regular"
              [ngStyle.xs]="{'margin-left':'16px'}"
              routerLink="../detail">View Your Orders</span>
        <span class="xb-customer-service__bold">></span>
        <span class="xb-customer-service-detail__nav-title xb-customer-service__bold">Contact Supplier</span>
      </div>
      <div class="xb-customer-service-detail__content-right" *ngIf="isShowRelatedOrder" fxShow="false" fxShow.xs="true">
        <div class="xb-customer-service-detail__content-right-title">
          Related Order
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-customer-service-detail__content-right-attribute">
            Supplier
          </div>
          <div class="xb-customer-service-detail__content-right-content md-margin-left-3">
            {{customerMessage?.communication.supplier.name}}
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-customer-service-detail__content-right-attribute">
            Order Number
          </div>
          <div class="xb-customer-service-detail__content-right-content md-margin-left-3">
            {{customerMessage?.number}}
          </div>
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-customer-service-detail__content-right-attribute">
            Product Name
          </div>
          <div class="xb-customer-service-detail__content-right-content md-margin-left-3">
            {{customerMessage?.title}}
          </div>
        </div>
      </div>
      <div class="xb-customer-service__related-order" (click)="changeOrderMask()" fxShow="false" fxShow.xs="true" *ngIf="!isShowRelatedOrder">Related Order</div>
      <div class="xb-customer-service-detail__content" fxLayout="row" fxLayoutAlign="space-between start">
        <div class="xb-customer-service-detail__content-left">
          <div [ngStyle]="{'background-color':'white','padding-bottom':'40px'}">
            <div class="xb-customer-service-detail__content-left-message" fxLayout="row"
                 fxLayoutAlign="space-between center" *ngIf="isNoMessage">
              <div class="xb-customer-service-detail__content-left-title">Message</div>
              <div fxLayout="row" fxLayoutAlign="start start">
                <div class="xb-customer-service-detail__content-left-status-title">Ticket Status</div>
                <div class="xb-customer-service-detail__content-left-status">{{status}}
                </div>
              </div>
            </div>
            <ng-container *ngFor="let message of messageList">
              <app-customer-service-message [message]="message"
                                            [customerName]="customerMessage?.communication.customerName"
                                            [supplierName]="customerMessage?.communication.supplier.name">
              </app-customer-service-message>
            </ng-container>
            <div class="xb-customer-service-detail__content-left-line" *ngIf="isNoMessage"></div>
            <div class="xb-customer-service-detail__content-left-message" fxLayout="row"
                 fxLayoutAlign="space-between center" *ngIf="!isClose || !isNoMessage">
              <div class="xb-customer-service-detail__content-left-title">Submit a Ticket</div>
            </div>
            <div class="xb-customer-service-detail__content-left-reply"
                 [ngStyle]="{'margin-top':!isClose || !isNoMessage?0:'32px'}">
              <form [formGroup]="replyMessageForm">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field fxFlex>
              <textarea matInput placeholder="{{replayPlaceholder}}" formControlName="replyMessage"
                        [ngModel]="replyMessage" (ngModelChange)="changeMessageStatus($event)"></textarea>
                  </mat-form-field>
                </div>
              </form>
            </div>
            <div class="xb-customer-service-detail__content-left-bottom" fxLayout="row"
                 fxLayoutAlign="space-between center">
              <div class="xb-customer-service-detail__content-left-warn">
                Expected Response Time: 2-3 business days.
              </div>
              <div class="xb-customer-service-detail__content-left-submit"
                   (click)="submitCustomerService()"
                   [ngClass]="{'xb-customer-service-detail__content-left-submit-black':isMessageEmpty}">
                {{submitTitle}}
              </div>
            </div>
          </div>
          <div [ngStyle]="{'margin-top':'40px'}" fxLayout="row" fxLayoutAlign="center start" *ngIf="isClose">
            <div fxLayout="column" fxLayoutAlign="start center">
              <div class="xb-customer-service-detail__resolved-one">Is your issue resolved?</div>
              <div class="xb-customer-service-detail__resolved-two md-margin-top-1">Make your issue resolved so that we
                know!
              </div>
              <div class="xb-customer-service-detail__resolved-button"
                   (click)="requestCloseMessage()">Issue Resolved
              </div>
            </div>
          </div>
        </div>
        <div class="xb-customer-service-detail__content-right" fxShow="true" fxShow.xs="false">
          <div class="xb-customer-service-detail__content-right-title">
            Related Order
          </div>
          <div class="xb-customer-service-detail__content-right-attribute md-margin-top-2">
            Supplier
          </div>
          <div class="xb-customer-service-detail__content-right-content md-margin-top-1">
            {{customerMessage?.communication.supplier.name}}
          </div>
          <div class="xb-customer-service-detail__content-right-attribute md-margin-top-2">
            Order Number
          </div>
          <div class="xb-customer-service-detail__content-right-content md-margin-top-1">
            {{customerMessage?.number}}
          </div>
          <div class="xb-customer-service-detail__content-right-attribute md-margin-top-2">
            Product Name
          </div>
          <div class="xb-customer-service-detail__content-right-content md-margin-top-1">
            {{customerMessage?.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-bg-white" fxHide.xs>
    <div class="container">
      <app-store-cart-footer></app-store-cart-footer>
    </div>
  </div>
</div>
<div (click)="changeOrderMask()" *ngIf="isShowRelatedOrderMask" class="xb-customer-service__mask"  fxShow="false" fxShow.xs="true">
  <div (click)="$event.stopPropagation()" class="xb-customer-service__mask-content" >
    <div class="xb-customer-service__mask-title">
      Related Order
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-customer-service__mask-attribute">
        Supplier
      </div>
      <div class="xb-customer-service__mask-des md-margin-left-3">
        {{customerMessage?.communication.supplier.name}}
      </div>
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-customer-service__mask-attribute">
        Order Number
      </div>
      <div class="xb-customer-service__mask-des md-margin-left-3">
        {{customerMessage?.number}}
      </div>
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-customer-service__mask-attribute">
        Product Name
      </div>
      <div class="xb-customer-service__mask-des md-margin-left-3">
        {{customerMessage?.title}}
      </div>
    </div>
  </div>
</div>
