<div class="xb-shop__statistic" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-shop__statistic-id md-margin-right-2" fxFlex="12">#111</div>
  <div class="xb-shop__statistic-title md-margin-right-2" fxFlex="35">111</div>
  <div class="xb-shop__statistic-category md-margin-right-2" fxFlex="15">Cosmetics</div>
  <div class="xb-shop__statistic-price md-margin-right-2" fxFlex="12">$12.00</div>
  <div class="xb-shop__statistic-price md-margin-right-2" fxFlex="12">$9.99</div>
  <div class="xb-shop__statistic-views" fxLayout="column" fxLayoutAlign="center center" fxFlex="10">
    213
  </div>
  <div class="xb-shop__statistic-views" fxLayout="column" fxLayoutAlign="center center" fxFlex="10">
    8
  </div>
</div>
