<div class="xb-4-template-category__list xb-4-template__container-content">
  <div class="xb-4-template-category__title">
    {{categoryName | uppercase}}
  </div>
  <div class="xb-4-template-collection__product xb-4-template__w960 " fxLayoutAlign="space-between start" fxLayout="row"
       fxLayoutGap.xs="16px"
       fxLayoutWrap>
    <app-shop-item-product-card-5 *ngFor="let item of product"
                                  fxFlex.xs="44" fxFlex.gt-xs="31"
                                  [product]="item" [status]="1"></app-shop-item-product-card-5>
    <div fxFlex.xs="44" fxFlex.gt-xs="31"></div>
  </div>
  <div class="xb-4-template-category__see-more xb-pointer" fxLayout="row" fxLayoutAlign="center center"
   *ngIf="nextPage" (click)="jumpList()">
    SEE MORE
  </div>
</div>


