<div class="xb-reward">
  <div class="xb-reward__title">Monthly Reward</div>
  <div class="xb-reward__container">
    <div class="xb-reward__title-1">
      Make over $100 sales within current month, <br>
      then you can pick one of the following items for product review in the next month. <br>
      you can keep the item for free!
    </div>
    <div class="xb-reward__margin-top">
      <app-shop-reward-item></app-shop-reward-item>
    </div>
    <div class="xb-reward__margin-top-1">
      <div class="xb-bold">Requirement</div>
      <div class="xb-reward__text">When you claim a product for review, your previous monthly sales have to be USD $100 or above.</div>
      <div class="xb-bold md-margin-top-2">How it works:</div>
      <div class="xb-reward__text xb-bold">
        If you make over $100 sales within current month, then you can pick one of the selected items for product review
        in the following month. Each month, we will display 3 selected items that you can claim next month.
        <br>
        You are required to make a deposit when you claim an item, and the deposit will be returned to you after all sales
        order for the month that you met the requirement are marked as “Order Completed” status. Once you receive the item,
        you can review it and create interesting content to share with your followers, which will give you more exposure
        and gain new audiences.
        <br>
        In some cases, it is not likely to happen, but sometimes your customer may return their order and request a refund
        for it. If such refund issues cause your previous monthly sales below USD $100, you will be asked to pay for a portion
        of the review item’s cost, which will be deducted from your deposit.
      </div>
      <div class="xb-italic md-dark-secondary md-margin-top-3">
        For example
      </div>
      <div class="xb-reward__text md-dark-secondary xb-italic md-margin-bottom-3">
        You made $ 110 by March 31st, you claimed a speaker for review on April 1st. After you submitted your claim and
        the speaker has been shipped, one of your customer decided to return a product he bought, which sales value is $15,
        and received full refund of it from the supplier on April 15th. This led your monthly sales of March down to $95
        ($110-$15), which is below $100 requirement.
        <br>
        Let’s say, there is no more other refund and your last order in March has been completed, in this case you are $5
        away from the requirement ($100 monthly sales target), which is 5% of $100.  Then you will be asked to pay 5% for
        the cost of the speaker that you claimed. If the cost of the speaker is USD$14, you will need to pay $0.7 ($14 x 5%).
        <br>
        In the worst-case scenario, all your customers returned their items, which cause your actual sales down to $0
        (100% away from the requirement). In this case, you will need to pay for the total cost of the product, USD$14 in total.
      </div>
  </div>
  </div>
</div>
