<div class="xb-about">
  <div class="xb-about__banner">
    <div class="container" fxLayout="column">
      <div class="xb-about__navigation" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-margin-left-2" fxFlex>
          <img src="https://media.xberts.com/collector/source/web/pic/logo-180x28.png" width="180">
        </div>
        <a class="xb-about__navigation-login" routerLink="/cp/login">Log In</a>
        <a class="md-margin-right-2 md-margin-left-4 xb-about__navigation-button" routerLink="/cp/signUp">Sign Up</a>
      </div>
      <div class="xb-about__navigation-title">SocialCommer FAQs</div>
    </div>
  </div>
</div>
