<div class="xb-about">
  <div class="xb-about__banner">
    <div class="container" fxLayout="column">
      <app-navigation-header></app-navigation-header>
      <div class="xb-about__navigation-title">SocialCommer FAQs</div>
    </div>
  </div>
  <div class="xb-about-container">
    <div class="xb-about-faq__title">About Affiliate Online Store</div>
    <div class="xb-about-faq__subtitle">What is Affiliate Online Store?</div>
    <div class="xb-about-faq__content-1">
      Affiliate Online Store is a new ecommerce model which allows people to easily set up their own online stores and
      make money by selling affiliate products of their choices without ever managing inventory, shipment and customer
      queries.
    </div>
    <div class="xb-about-faq__subtitle">How is it different from other e-store such as Shopify?</div>
    <div class="xb-about-faq__content-1">
      To run an Affiliate Online Store, you don’t need to purchase any inventory, or handle product shipment and
      customer support by yourself. Everything will be done by the product supplier.
    </div>
    <div class="xb-about-faq__subtitle">How do I earn money from my Affiliate Online Store?</div>
    <div class="xb-about-faq__content-1">
      First of all, apply for an affiliate program of a trusted ecommerce site such as Amazon, Aliexpress, etc.<br>
      Secondly, pick any products of your favorites and generate affiliate links from the ecommerce sites you’re
      affiliated with, and add them to your affiliate online store.
      Thirdly, keep promoting your store on your social media or any other channel, if there is a store visitor clicking
      on your product link and make a purchase, you will earn a sales commission from your affiliate ecommerce site.

    </div>
    <div class="xb-about-faq__subtitle">What is needed to start an Affiliate Online Store?</div>
    <div class="xb-about-faq__content-1">
      Before running your affiliate online store, you need to apply to become an affiliate with at least one ecommerce
      site such as Amazon, eBay, Aliexpress, etc. This is required because you need to generate the affiliate links from
      those ecommerce sites and earn commissions for the products you promote.
    </div>
    <div class="xb-about-faq__subtitle">Do I need to become an agent before selling a branded product in my store?</div>
    <div class="xb-about-faq__content-1">
      No, you don’t have to apply to become an agent for the branded product. But you need to apply to become an
      affiliate with an ecommerce site that has been selling the items you wish to promote in your store.
    </div>
    <div class="xb-about-faq__subtitle">Do I need to register a business entity to run my Affiliate Online Store?</div>
    <div class="xb-about-faq__content-1">
      No, you don’t need to register a business entity. SocialCommer is open for any individual.
    </div>
    <div class="xb-about-faq__line"></div>
    <div class="xb-about-faq__title">About SocialCommer</div>
    <div class="xb-about-faq__subtitle">Is SocialCommer free?</div>
    <div class="xb-about-faq__content-1">
      SocialCommer currently only supports Starter Plan, which is 100% free.
    </div>
    <div class="xb-about-faq__subtitle">Does SocialCommer take commission from my sales?</div>
    <div class="xb-about-faq__content-1">
      All the orders will be placed on the third-party marketplace you’re affiliated with, thus, SocialCommer doesn’t
      take any commissions out of your sales.
    </div>
    <div class="xb-about-faq__subtitle">Is SocialCommer available in my country?</div>
    <div class="xb-about-faq__content-1">
      Yes! You can use SocialCommer to launch your affiliate online store from any country.
    </div>
    <div class="xb-about-faq__line"></div>
    <div class="xb-about-faq__title">About Store Operation</div>
    <div class="xb-about-faq__subtitle">Do I need to take care of inventory, shipment and customer support?</div>
    <div class="xb-about-faq__content-1">
      No, you don’t. The only thing you need to do is to keep promoting your online store.
    </div>
    <div class="xb-about-faq__subtitle">Should I start with a Niche Store or a General Store?</div>
    <div class="xb-about-faq__content-1">
      One of the great things about SocialCommer is that you can sell practically everything, however, we do recommend
      that beginner should start with a niche store first. There are several advantages to starting out with a niche
      store: more focused, easier to find your target audience, spreading the word is also much simpler. Once you gain
      traction on your niche store, then you can expand your product categories towards a general store.
    </div>
    <div class="xb-about-faq__subtitle">How many products should I list in my store?</div>
    <div class="xb-about-faq__content-1">
      The maximum number of products you have available in your store is totally up to you. But we recommend you to
      carefully pick 30-200 products to sell in your store, so your store visitor’s focus will not be scattered and they
      can explore what they’re interested in.
    </div>
    <div class="xb-about-faq__subtitle">How can I track the total earnings of my Affiliate Online Store?</div>
    <div class="xb-about-faq__content-1">
      For all affiliate products imported from the third-party websites such as Amazon or Aliexpress, you can only track
      the sales volume by signing into your affiliate account in the third-party ecommerce sites.
    </div>
    <div class="xb-about-faq__subtitle">Can I customize my storefront according to my preference?</div>
    <div class="xb-about-faq__content-1">
      Yes. We offer different templates for you to select for your storefront, meanwhile, you can also customize your
      storefront’s contents by defining your categories, products, banners and description in order to fit your brand
      and taste.
    </div>
    <div class="xb-about-faq__subtitle">How to get my first sale?</div>
    <div class="xb-about-faq__content-2">
      We recommend leveraging your existing social media channels such as Youtube, Facebook, Twitter and Instagram to
      engage your followers and subscribers to visit your affiliate store. You can also share links to your store on
      relevant communities and forums, which your target audiences visit on a regular basis.
    </div>

  </div>
  <app-bottom-footer></app-bottom-footer>
</div>
