<div class="xb-store-template__detail-background" (click)="close()">
  <!--移动端关闭按钮-->
  <div class="xb-store-template__detail-close" (click)="close()" fxShow="false" fxShow.xs="true" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store-template__detail" (click)="$event.stopPropagation();">
    <!--pc端关闭按钮-->
    <div class="xb-store-template__detail-close" (click)="close()" fxShow="false" fxShow.gt-xs="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxLayoutAlign.xs="start stretch" >
      <div class="xb-store-template__detail-margin-right">
        <app-store-detail-picture [images]="image" [selectedImage]="selectedImage"
                                  [imageSources]="imageSources"></app-store-detail-picture>
      </div>
      <div class="xb-store-template__detail-content" fxFlex.xs="false" >
        <div>{{product.categoryName}}</div>
        <div class="xb-store-template__detail-title md-margin-top-1">{{product.title}}</div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center" >
          <div class="xb-store-template__detail-price">{{product.salePriceAmount|currency: product.salePriceCurrency:
            true }}
          </div>
          <div class="xb-store-template__detail-original-price line-through md-margin-left-2"
               *ngIf="product.originalPriceAmount > 0">
            {{product.originalPriceAmount|currency: product.originalPriceCurrency: true }}
          </div>
          <div class="xb-store-template__detail-sale md-margin-left-2" *ngIf="product.originalPriceAmount > 0">
            {{product.salePriceAmount|saleDiscount:product.originalPriceAmount}} OFF
          </div>
          <div class="xb-store-template__detail-buttons-bg" fxShow="true" fxShow.xs="false">
            <a fxLayout="column" href="{{product.purchaseUrl}}" target="_blank"
               (click)="openLink()">
              <button class="xb-store-template__detail-buttons gtag-shop-detail-get-it-now-button">GET IT NOW</button>
            </a>
          </div>
        </div>
        <div class="xb-store-template__detail-buttons-bg" fxShow="false" fxShow.xs="true">
          <a fxLayout="column" href="{{product.purchaseUrl}}" target="_blank"
             (click)="openLink()">
            <button class="xb-store-template__detail-buttons gtag-shop-detail-get-it-now-button">GET IT NOW</button>
          </a>
        </div>
        <div class="xb-store-template__detail-line" *ngIf="product.recommendation"></div>
        <div class="xb-store-template__detail-store-owner" *ngIf="product.recommendation">
          <div class="xb-store-template__detail-store-owner-title">
            Store Owner Says
          </div>
          <div class="xb-store-template__detail-store-owner-des">
            {{product.recommendation}}
          </div>
        </div>
        <div class="xb-store-template__detail-line"></div>
        <div class="xb-store-template__detail-product">
          <div class="xb-store-template__detail-product-title">
            About the product
          </div>
          <div class="xb-store-template__detail-product-des"
               [innerHTML]="product.description | safeHtml">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
