@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-navigation-header{
  height: 56px;

  @include xb-xs-screen{
    height: 56px;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  &__image{
    width: 180px;
    @include xb-xs-screen{
      width: 108px;
    }
  }

  &__margin-left{
    margin-left: 16px;
    &-logo{
      position: relative;
    }
    &-badge{
      position: absolute;
      top: -2px;
      left: 100%;
      background-color: #fec32d;
      color: $whiteColor;
      line-height: 14px;
      font-size: 10px;
      border-radius: 2px;
      padding: 0 4px;
    }
  }

  &__login{
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.29px;
    text-align: center;
  }

  &__button{
    color: $whiteColor;
    background-color: $primaryColorNew;
    font-size: 14px;
    letter-spacing: -0.29px;
    line-height: 32px;
    text-align: center;
    width: 96px;
    display: block;
    margin-left: 20px;
  }

  &__logout{
    font-size: 14px;
    letter-spacing: -0.29px;
    color: $whiteColor;
    background-color: $primaryColorNew;
    line-height: 32px;
    text-align: center;
    width: 96px;
    display: block;
    margin-left: 32px;
    cursor: pointer;
  }

  &__menu{
    color: $primaryColorNew;
    padding: 16px;
    font-size: 24px;
  }

  &__mask{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  &__black{
    background: $blackColor;
    height: 56px;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }

  &__list{
    background: $blackColor;
    height: 48px;
    text-align: center;
    color: $whiteColor;
    line-height: 48px;
  }

}

