@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-navigation-header{
  height: 56px;

  &__image{
    width: 180px;
    @include xb-xs-screen{
      width: 120px;
    }
  }

  &__margin-left{
    margin-left: 16px;
    @include xb-xs-screen{
      margin-left: 8px;
    }
  }

  &__login{
    font-size: 16px;
    color: $whiteColor;

    &-active{
      color: $primaryColor;
    }
  }

  &__button{
    font-size: 14px;
    color: $whiteColor;
    background-color: $primaryColor;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    width: 100px;
    display: block;
    margin-left: 32px;

    @include xb-xs-screen{
      line-height: 36px;
      border-radius: 18px;
      margin-left: 16px;
    }
  }

}

