<div class="xb-store__footer">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
      <div class="xb-store__footer-word" (click)="jumpAbout()">Why Shop With Us</div>
      <div class="xb-store__footer-word xb-store__footer-margin-left" (click)="jumpFaq()">FAQ</div>
      <div class="xb-store__footer-word xb-store__footer-margin-left" (click)="jumpPrivacy()">Privacy Policy</div>
      <div class="xb-store__footer-word xb-store__footer-margin-left" (click)="jumpReturn()">Return Policy</div>
    </div>
    <div class="xb-store__footer-icons" fxLayout="row" fxLayoutAlign="end center"
         fxLayoutAlign.xs="center center">
      <app-share-button [link]="shareLink" [text]="text" [style]="{'store':true}"></app-share-button>
    </div>
    <div class="xb-store__footer-right xb-store__footer-mgtop56">© 2018 {{storeName}}. All
      rights reserved.
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="center center"
         fxLayout.xs="column" fxLayoutAlign.xs="center center">
      <div class="xb-store__footer-right xb-pointer" routerLink="/">
        Powered by SocialCommer
      </div>
    </div>
  </div>
</div>
