<div class="xb-store__footer">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="xb-store__footer-margin-left">© 2018 {{storeName}}. All rights reserved.</div>
    <div class="xb-store__footer-margin-top" fxLayout="row" fxLayoutAlign="center center"
         fxLayout.xs="column" fxLayoutAlign.xs="center center">
      <div class="xb-store__footer-word">Why Shop With Us</div>
      <div class="xb-store__footer-word md-margin-left-4">FAQ</div>
      <div class="xb-store__footer-word md-margin-left-4">Shipping Policy</div>
      <div class="xb-store__footer-word md-margin-left-4">Return Policy</div>
    </div>
  </div>
  <div class="xb-store__footer-icons" fxLayout="row" fxLayoutAlign="end center"
       fxLayoutAlign.xs="center center">
    <app-share-button [link]="shareLink" [text]="text" [style]="{'store':true}"></app-share-button>
  </div>
</div>
