@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-store {
  &__footer {
    padding: 40px 0;
    background-color: #252525;
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
    position: relative;

    &-margin-top {
      margin-top: 16px;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-top-1 {
      margin-top: 8px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-margin-top-2 {
      margin-top: 0;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-left {
      margin-left: 16px;
      @include xb-xs-screen {
        margin-left: 0;
      }
    }

    &-icons {
      position: absolute;
      right: 0;
      bottom: 40px;
      margin-right: 10vw;

      @include xb-xs-screen {
        position: relative;
        bottom: 0;
        margin-right: 0;
        margin-top: 12px;
      }
    }
  }
}
