@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-store__footer{
  padding: 64px 16px 0;
  &-word {
    font-size: 14px;
    @include regular();
    cursor: pointer;
    color: black;
  }

  &-title{
    font-size: 24px;
    @include media();
    font-family: Didot, Helvetica;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &-content{
    font-size: 14px;
    line-height: 28px;
  }

  &-bottom-content{
    font-size: 14px;
    color: rgba(0,0,0,.54);
    height: 54px;
    margin-top: 72px;
  }

  &-icons{
    i{
      font-size: 24px;
    }
  }
}
