<div class="xb-login__scroll background-bg-light" fxShow.xs="false" >
  <div class="xb-login__scroll-inner" fxLayout="column">
    <div class="background-bg-black">
      <div class="container">
        <app-navigation-header [status]="true"></app-navigation-header>
      </div>
    </div>
    <div  fxFlex="noshrink">
      <div class="container" *ngIf="step == 0">
        <div class="xb-login__container-1">
          <div class="xb-login__title md-headline">
            Reset your password
          </div>
          <div class="md-margin-top-1">
            We will send a message to your registered email address, so you can pick a new password.
          </div>
          <div class="xb-login__margin-top" fxLayout="row" fxLayoutAlign="start center"
               fxLayout.xs="column" fxLayoutAlign.xs="start start" >
            <div>
              <div>
                <div class="xb-login__error md-margin-bottom-2" *ngIf="resetErr">{{resetErr}}</div>
                <form fxLayout="column" fxLayoutAlign="start" [formGroup]="resetForm" novalidate>
                  <mat-form-field >
                    <input matInput placeholder="Please enter your email address" formControlName="email"
                           [(ngModel)]="email">
                  </mat-form-field>
                </form>
                <div *ngIf="formErrors['email']" class="xb-input-error">
                  {{ formErrors['email'] }}
                </div>
              </div>
            </div>
            <button class="xb-login__margin-left" mat-raised-button color="primary"
                    (click)="resetPassword()">SEND</button>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="step == 1">
        <div class="xb-login__container-1">
          <div class="xb-login__margin-top-1" >
            <div class="xb-login__title-2" >
              We’ve sent an email to {{email}} with instructions to change your password. Please check it out.
            </div>
            <div class="xb-login__title-2 md-margin-top-2" >
              If you didn’t receive the email, please check your spam folder or click the Resend button to resend the email.
            </div>
          </div>
          <div class="md-margin-top-4">
            <button  mat-raised-button color="primary"
                     (click)="resetPassword()">Resend</button>
          </div>
        </div>
      </div>
    </div>
    <app-bottom-footer></app-bottom-footer>
  </div>
</div>
<div class="background-bg-black" *ngIf="!dialogRef" fxShow.gt-xs="false">
  <div class="container">
    <app-navigation-header [status]="true"></app-navigation-header>
  </div>
</div>
<div class="xb-login__mobile-bg" fxLayout="column" fxShow.gt-xs="false">
  <div fxLayout="column" *ngIf="step == 0">
    <div class="xb-login__title md-headline">
      Reset your password
    </div>
    <div class="md-margin-top-1">
      We will send a message to your registered email address, so you can pick a new password.
    </div>
    <div class="xb-login__margin-top" fxLayout="row" fxLayoutAlign="start center"
         fxLayout.xs="column" fxLayoutAlign.xs="start start" >
      <div>
        <div>
          <div class="xb-login__error md-margin-bottom-2" *ngIf="resetErr">{{resetErr}}</div>
          <form fxLayout="column" fxLayoutAlign="start" [formGroup]="resetForm" novalidate>
            <mat-form-field >
              <input matInput placeholder="Please enter your email address" formControlName="email"
                     [(ngModel)]="email">
            </mat-form-field>
          </form>
          <div *ngIf="formErrors['email']" class="xb-input-error">
            {{ formErrors['email'] }}
          </div>
        </div>
      </div>
      <button class="xb-login__margin-left" mat-raised-button color="primary"
              (click)="resetPassword()">SEND</button>
    </div>
  </div>
  <div fxLayout="column" *ngIf="step == 1">
    <div class="xb-login__margin-top-1" >
      <div class="xb-login__title-2" >
        We’ve sent an email to {{email}} with instructions to change your password. Please check it out.
      </div>
      <div class="xb-login__title-2 md-margin-top-2" >
        If you didn’t receive the email, please check your spam folder or click the Resend button to resend the email.
      </div>
    </div>
    <div class="md-margin-top-4">
      <button  mat-raised-button color="primary"
               (click)="resetPassword()">Resend</button>
    </div>
  </div>
</div>
<div class="xb-login__mobile-height" fxLayout="row" fxLayoutAlign="center center" fxShow.gt-xs="false">
  <i class="iconfontXberts icon-ic-close" fxFlex="none" (click)="close()"></i>
</div>
