<div class="container">
  <div class="xb-login__title md-headline">
    Reset your password
  </div>
  <div class="md-margin-top-1">
    We will send a message to your registered email address, so you can pick a new password.
  </div>
  <div class="xb-login__margin-top" fxLayout="row" fxLayoutAlign="start center">
    <div class="xb-login__container" fxFlex>
      <div fxFLex class="xb-login__width">
        <div class="xb-login__error md-margin-bottom-2" *ngIf="resetErr">{{resetErr}}</div>
        <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="resetForm" novalidate>
          <mat-form-field>
            <input matInput placeholder="Pleas enter your email address" formControlName="email">
          </mat-form-field>
        </form>
        <div *ngIf="formErrors['email']" class="xb-input-error">
          {{ formErrors['email'] }}
        </div>
      </div>
    </div>
    <button class="xb-login__margin-left" mat-raised-button color="primary"
      (click)="resetPassword()">SEND</button>
  </div>
</div>

