<div class="container">
  <div class="xb-login__title md-headline">
    Reset your password
  </div>
  <div class="md-margin-top-1">
    We will send a message to your registered email address, so you can pick a new password.
  </div>
  <div class="xb-login__margin-top" fxLayout="row" fxLayoutAlign="start center">
    <div class="xb-login__container" fxFlex>
      <div fxFLex class="xb-login__width">
        <mat-form-field>
          <input matInput placeholder="Pleas enter your email address">
        </mat-form-field>
      </div>
    </div>
    <button class="xb-login__margin-left" mat-raised-button color="primary">SEND</button>
  </div>
</div>

