<div class="xb-store-cart-dialog">
  <div class="xb-store-cart-dialog__content" fxLayout="row" fxLayoutAlign="start center">
    <i class="iconfontXberts icon-pic-finish" [ngStyle]="{'font-size':'32px'}"></i>
    <div class="xb-store-cart-dialog__content-title md-margin-left-2">This item has been added to your cart!</div>
  </div>
  <div class="xb-store-cart-dialog__content-button" (click)="close()">Continue Shopping</div>
  <div class="xb-store-cart-dialog__content-button md-margin-top-2" (click)="jumpCart()">View Cart</div>
</div>
