<div class="xb-guide__bg">
  <div class="container">
    <div class="xb-guide__title">Add Products to Sell</div>
    <div class="xb-guide__subtitle">Add at least 3 featured collections to your store and start making money quikly!</div>
    <div class="xb-guide__container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start"
         fxLayoutAlign.xs="start">
      <div class="xb-guide__margin-top" *ngFor="let item of [1,2,3,4];let i = index;" fxFlex="46" fxFlex.xs="none"
        (click)="openGuideProducts()" >
        <app-shop-guide-product-list></app-shop-guide-product-list>
      </div>
    </div>
    <div class="xb-guide__margin-top-1 xb-guide__margin-bottom">
      <div class="xb-guide__bottom-button" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Proceed to Next Step</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="xb-guide__title">Edit & Publish Your Store</div>
    <div class="xb-guide__subtitle">You’re one step away from launching your store! Please select a template below to set
      up your storefront.</div>
    <div class="xb-guide__container">
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start stretch">
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Fashion Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.socialcommer.com/source/web/template/5/mode-5.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center">
          <div class="xb-guide__button">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Kitchen Theme</div>
        <div class="xb-guide__template">
          <img src="https://socialcommer.xberts.com/source/web/template/mode-2.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center">
          <div class="xb-guide__button">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Electronics Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.socialcommer.com/source/web/template/3/mode-3.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center">
          <div class="xb-guide__button">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Baby & Mom Theme</div>
        <div class="xb-guide__template" >
          <img src="https://media.socialcommer.com/source/web/template/4/mode-4.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center">
          <div class="xb-guide__button">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Beauty Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.xberts.com/collector/source/web/templats/mode-2.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center">
          <div class="xb-guide__button">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Home Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.socialcommer.com/source/web/template/6/mode-6.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center">
          <div class="xb-guide__button">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left">Preview</div>
        </div>
      </div>
    </div>
    </div>
    <div class="xb-guide__margin-top-1 xb-guide__margin-bottom">
      <div class="xb-guide__bottom-button" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Proceed to Next Step</button>
      </div>
    </div>
  </div>
</div>
