<div class="xb-guide__bg">
  <div class="container" *ngIf="step == 0">
    <div class="xb-guide__title">Add Products to Sell</div>
    <div class="xb-guide__subtitle">Add at least 3 featured collections to your store and start making money quikly!</div>
    <div class="xb-guide__container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start"
         fxLayoutAlign.xs="start">
      <ng-container *ngFor="let item of productArr;let i = index;">
        <div class="xb-guide__margin-top" fxFlex="46" fxFlex.xs="none" *ngIf="item.products.length > 0">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="xb-guide__text" fxFlex>{{item.name}}</div>
            <div class="xb-guide__button" *ngIf="item.type == 'product'" (click)="addToSell(item, i)">Add to Sell</div>
            <div class="xb-guide__added" *ngIf="item.type == 'goods'">
              <div class="xb-guide__button-added" >Added</div>
              <div class="xb-guide__button" (click)="addToSell(item, i)">Remove</div>
            </div>
          </div>
          <app-shop-guide-product-list [productList]="item" [index]="index" (productListChange)="productListChange($event)"
                                       (click)="openGuideProducts(i, item.id)" ></app-shop-guide-product-list>
        </div>
      </ng-container>
    </div>
    <div class="xb-guide__margin-top-1 xb-guide__margin-bottom">
      <div *ngIf="selectErr" class="xb-input-error md-align-center">Please at least select three categories.</div>
      <div class="xb-guide__bottom-button" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="nextStep()">Proceed to Next Step</button>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="step == 1">
    <div class="xb-guide__title">Edit & Publish Your Store</div>
    <div class="xb-guide__subtitle">You’re one step away from launching your store! Please select a template below to set
      up your storefront.</div>
    <div class="xb-guide__container xb-guide__margin-bottom">
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start stretch">
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Fashion Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.socialcommer.com/source/web/template/template-mode-5.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
          <div class="xb-guide__button" routerLink="./edit/5">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" routerLink="./preview/5">Preview</div>
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
          <div class="xb-guide__button" (click)="openTipsDialog()">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" (click)="openTipsDialog()">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Kitchen Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.socialcommer.com/source/web/template/template-mode-2.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
          <div class="xb-guide__button" routerLink="./edit/2">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" routerLink="./preview/2">Preview</div>
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
          <div class="xb-guide__button" (click)="openTipsDialog()">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" (click)="openTipsDialog()">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Electronics Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.socialcommer.com/source/web/template/template-mode-3.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
          <div class="xb-guide__button" routerLink="./edit/3">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" routerLink="./preview/3">Preview</div>
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
          <div class="xb-guide__button" (click)="openTipsDialog()">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" (click)="openTipsDialog()">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Baby & Mom Theme</div>
        <div class="xb-guide__template" >
          <img src="https://media.socialcommer.com/source/web/template/template-mode-4.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
          <div class="xb-guide__button">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" routerLink="./preview/4">Preview</div>
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
          <div class="xb-guide__button" (click)="openTipsDialog()">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" (click)="openTipsDialog()">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Beauty Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.socialcommer.com/source/web/template/template-mode-1.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
          <div class="xb-guide__button" routerLink="./edit/1">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" routerLink="./preview/1">Preview</div>
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
          <div class="xb-guide__button" (click)="openTipsDialog()">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" (click)="openTipsDialog()">Preview</div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="100">
        <div class="xb-guide__text-2">Home Theme</div>
        <div class="xb-guide__template">
          <img src="https://media.socialcommer.com/source/web/template/template-mode-6.jpg">
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
          <div class="xb-guide__button" routerLink="./edit/6">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" routerLink="./preview/6">Preview</div>
        </div>
        <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
          <div class="xb-guide__button" (click)="openTipsDialog()">Select</div>
          <div class="xb-guide__button-1 xb-guide__margin-left" (click)="openTipsDialog()">Preview</div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="xb-guide__loading" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
  <div class="xb-guide__loading-close" (click)="close()">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <mat-spinner [mode]="indeterminate" [diameter]="120" [strokeWidth]="4"></mat-spinner>
  <div class="xb-guide__loading-text">Wait a second</div>
</div>
<div class="xb-guide__top">
  <router-outlet></router-outlet>
</div>
