<div class="unicorn-dark-theme-1 md-margin-top-2"  fxLayout="row" fxLayoutAlign="start start">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <div class="xb-order-tracking__detail-width xb-order-tracking__detail-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
        <div class="xb-order-tracking__detail-image" fxFlex="none">
          <img src="https://images-na.ssl-images-amazon.com/images/I/716Mg13ZLZL._SL1500_.jpg">
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
          <div class="xb-order-tracking__product-title-2" >{{order.title}}</div>
          <div>{{order.attributes}}</div>
        </div>
      </div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center">{{order.quantity}}</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="25"
           fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-order-tracking__detail-width-2">
            <div class="md-align-right md-dark-secondary xb-bold">Subtotal:</div>
            <div class="md-margin-top-1 md-align-right md-dark-secondary xb-bold">Shipping:</div>
            <div class="md-margin-top-1 md-align-right md-dark-secondary xb-bold">Tax:</div>
            <div class="md-margin-top-1 md-align-right md-dark-secondary xb-bold">Total:</div>
            <div *ngIf="order.status == 'Return' && order.returnOrder
           && (order.returnOrder.status == 'Partially Refunded' || order.returnOrder.status == 'Refunded')">
              <div class="md-margin-top-1 md-align-right md-dark-secondary xb-bold">Refunded:</div>
              <div class="md-margin-top-1 md-align-right md-dark-secondary xb-bold">Net Payment:</div>
            </div>
          </div>
          <div class="md-margin-left-2">
            <div>{{order.priceExclTax | exchangeCurrency:currency | currency: currency: true}}</div>
            <div class="md-margin-top-1">{{order.shippingExclTax | exchangeCurrency:currency | currency: currency: true}}</div>
            <div class="md-margin-top-1">{{0 | exchangeCurrency:currency | currency: currency: true}}</div>
            <div class="md-margin-top-1">{{totalAmount | exchangeCurrency:currency | currency: currency: true}}</div>
            <div *ngIf="order.status == 'Return' && order.returnOrder
           && (order.returnOrder.status == 'Partially Refunded' || order.returnOrder.status == 'Refunded')">
              <div class="md-margin-top-1">{{order.refundAmount | exchangeCurrency:currency | currency: currency: true}}</div>
              <div class="md-margin-top-1">{{netPaymentAmount | exchangeCurrency:currency | currency: currency: true}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Unfulfilled'">Processing</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Fulfilled'">Shipped</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Return' && order.returnOrder
           && order.returnOrder.status == 'Pending'">Return Requested</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Return' && order.returnOrder
           && order.returnOrder.status == 'Authorized'">Return Authorized</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Return' && order.returnOrder
           && order.returnOrder.status == 'Denied'">Return Denied</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Return' && order.returnOrder
           && order.returnOrder.status == 'Exchanged'">Exchanged Item Shipped</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Canceled'">
        {{order.cancelSource != null? order.cancelSource + ' ' + order.status: 'Payment ' + order.status}}</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center"
           *ngIf="order.status == 'Return' && order.returnOrder
           && order.returnOrder.status == 'Partially Refunded'">
        Partially Refunded</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center"
           *ngIf="order.status == 'Return' && order.returnOrder
           && order.returnOrder.status == 'Refunded'">
        Refunded</div>

    </div>

    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Canceled'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Shipping Method
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingName}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Processing & Packing
        </div>
        <div class="md-margin-left-3">
          1-5 business days
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Estimated Delivery
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingTimeMin}}-{{order.shippingPrice.shippingTimeMax}} days after order shipped
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Unfulfilled'">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-dark-secondary xb-bold">
        Shipping Method
      </div>
      <div class="md-margin-left-3" *ngIf="order.shippingPrice">
        {{order.shippingPrice.shippingName}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
      <div class="md-dark-secondary xb-bold">
        Processing & Packing
      </div>
      <div class="md-margin-left-3">
        1-5 business days
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
      <div class="md-dark-secondary xb-bold">
        Estimated Delivery
      </div>
      <div class="md-margin-left-3" *ngIf="order.shippingPrice">
        {{order.shippingPrice.shippingTimeMin}}-{{order.shippingPrice.shippingTimeMax}} days after order shipped
      </div>
    </div>
  </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Return' && order.returnOrder
      && order.returnOrder.status == 'Pending'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Requested on
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.returnOrder.created | amDateFormat:'MMMM Do, YYYY'}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary">
          Note: You have request a return. if you haven't received any response within 3 business days, you can
          file a claim.
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Return' && order.returnOrder
      && order.returnOrder.status == 'Authorized'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Authorized on
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.modified | amDateFormat:'MMMM Do, YYYY'}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary">
          Note: Please follow the return instructions to ship your item back before {{order.return_deadline | amDateFormat:'MMMM Do, YYYY'}}.
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Return' && order.returnOrder
      && order.returnOrder.status == 'Denied'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Denied on
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.modified | amDateFormat:'MMMM Do, YYYY'}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary">
          Note: Your return request was denied, please check out the reason or file a claim.
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Return' && order.returnOrder
      && order.returnOrder.status == 'Exchanged'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Exchanged Item Shipped on
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.modified | amDateFormat:'MMMM Do, YYYY'}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary">
          Note: Your exchanged item has been shipped, please track your package. If you're still not satisfied
          with the result, you can file a claim.
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Fulfilled' && !order.isArrival">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Shipping Method
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingName}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Estimated Delivery
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.arrivalDate | amDateFormat:'MMMM Do, YYYY'}}
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Fulfilled' && order.isArrival">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Delivery on
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.arrivalDate | amDateFormat:'MMMM Do, YYYY'}}
        </div>
      </div>
      <div class="md-margin-top-1"  fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary">
          Note: You have request a return {{order.return_deadline | amDateFormat:'MMMM Do, YYYY'}} if you're not satisfied
          with your order.
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Return' && order.returnOrder
       && order.returnOrder.status == 'Partially Refunded'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Refunded on:
        </div>
        <div class="md-margin-left-3">
          {{order.modified | amDateFormat:'MMMM Do, YYYY'}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary">
          Note: Your order has been partially refunded, if you're still not satisfied width the result, you can file a claim.
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Return' && order.returnOrder
       && order.returnOrder.status == 'Refunded'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Refunded on:
        </div>
        <div class="md-margin-left-3">
          {{order.modified | amDateFormat:'MMMM Do, YYYY'}}
        </div>
      </div>

      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary">
          Note: Your order has been fully refunded.
        </div>
      </div>
    </div>

  </div>

  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="false">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" (click)="changeShippingAddress()">Change Shipping Address</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="trackingInformation()">Tracking Your Package</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="cancelItem()">Cancel Item</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="returnItem()">Return Item</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Canceled'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Unfulfilled'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" (click)="changeShippingAddress()">Change Shipping Address</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="trackingInformation()">Tracking Your Package</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="cancelItem()">Cancel Item</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Fulfilled'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" (click)="trackingInformation()">Tracking Your Package</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="returnItem()">Return Item</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Return' && order.returnOrder
       && order.returnOrder.status == 'Pending'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" routerLink="../progress/{{order.returnOrder.id}}">View Return Progress</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Return' && order.returnOrder
       && order.returnOrder.status == 'Denied'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" routerLink="../progress/{{order.returnOrder.id}}">View Return Progress</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Return' && order.returnOrder
       && order.returnOrder.status == 'Authorized'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" routerLink="../progress/{{order.returnOrder.id}}">View Return Progress</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Return' && order.returnOrder
       && order.returnOrder.status == 'Exchanged'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" routerLink="../progress/{{order.returnOrder.id}}">View Return Progress</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="trackingInformation()">Tracking Your Package</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Return' && order.returnOrder
       && order.returnOrder.status == 'Partially Refunded'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" routerLink="../progress/{{order.returnOrder.id}}">View Return Progress</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="start stretch" *ngIf="order.status == 'Return' && order.returnOrder
       && order.returnOrder.status == 'Refunded'">
    <button mat-raised-button color="primary" (click)="jumpCustomerService()">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" routerLink="../progress/{{order.returnOrder.id}}">View Return Progress</button>
    </div>
  </div>

</div>
