<div class="unicorn-dark-theme-1 md-margin-top-2"  fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <div class="xb-order-tracking__detail-width xb-order-tracking__detail-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
        <div class="xb-order-tracking__detail-image" fxFlex="none">
          <img src="https://images-na.ssl-images-amazon.com/images/I/716Mg13ZLZL._SL1500_.jpg">
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
          <div class="xb-order-tracking__product-title-2" >{{order.title}}</div>
        </div>
      </div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center">{{order.quantity}}</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="25"
           fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-order-tracking__detail-width-2">
            <div class="md-align-right md-dark-secondary xb-bold">Subtotal:</div>
            <div class="md-margin-top-1 md-align-right md-dark-secondary xb-bold">Shipping:</div>
            <div class="md-margin-top-1 md-align-right md-dark-secondary xb-bold">Tax:</div>
            <div class="md-margin-top-1 md-align-right md-dark-secondary xb-bold">Total:</div>
          </div>
          <div class="md-margin-left-2">
            <div>{{order.priceExclTax| currency: currency: true}}</div>
            <div class="md-margin-top-1">{{order.shippingExclTax| currency: currency: true}}</div>
            <div class="md-margin-top-1">$0</div>
            <div class="md-margin-top-1">{{totalAmount | currency: currency: true}}</div>
          </div>
        </div>
      </div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status != 'Canceled'
           && order.status != 'Unfulfilled' && order.status != 'Fulfilled'">{{order.status}}</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Unfulfilled'">Processing</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Fulfilled'">Shipped</div>
      <div class="xb-order-tracking__detail-margin-right" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center" *ngIf="order.status == 'Canceled'">
        {{order.cancelSource != null? order.cancelSource + ' ' + order.status: 'Payment ' + order.status}}</div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Canceled'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Shipping Method
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingName}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Processing & Packing
        </div>
        <div class="md-margin-left-3">
          1-5 business days
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Estimated Delivery
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingTimeMin}}-{{order.shippingPrice.shippingTimeMax}} days after order shipped
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Unfulfilled'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Shipping Method
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingName}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Processing & Packing
        </div>
        <div class="md-margin-left-3">
          1-5 business days
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Estimated Delivery
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingTimeMin}}-{{order.shippingPrice.shippingTimeMax}} days after order shipped
        </div>
      </div>
    </div>
    <div class="md-margin-top-2 md-margin-bottom-2" *ngIf="order.status == 'Fulfilled'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Shipping Method
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingName}}
        </div>
      </div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary xb-bold">
          Estimated Delivery
        </div>
        <div class="md-margin-left-3" *ngIf="order.shippingPrice">
          {{order.shippingPrice.shippingTimeMin}}-{{order.shippingPrice.shippingTimeMax}} days after order shipped
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="center stretch" *ngIf="false">
    <button mat-raised-button color="primary">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" (click)="changeShippingAddress()">Change Shipping Address</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="trackingInformation()">Tracking Your Package</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="cancelItem()">Cancel Item</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="returnItem()">Return Item</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="center stretch" *ngIf="order.status == 'Canceled'">
    <button mat-raised-button color="primary">Contact Supplier</button>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="center stretch" *ngIf="order.status == 'Unfulfilled'">
    <button mat-raised-button color="primary">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" (click)="trackingInformation()">Tracking Your Package</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="cancelItem()">Cancel Item</button>
    </div>
  </div>
  <div fxFlex="none" class="xb-order-tracking__detail-width-3"
       fxLayout="column" fxLayoutAlign="center stretch" *ngIf="order.status == 'Fulfilled'">
    <button mat-raised-button color="primary">Contact Supplier</button>
    <div class="md-margin-top-2" fxLayout="column">
      <button mat-raised-button color="accent" (click)="trackingInformation()">Tracking Your Package</button>
    </div>
    <div class="md-margin-top-1" fxLayout="column">
      <button mat-raised-button color="accent" (click)="returnItem()">Return Item</button>
    </div>
  </div>
</div>
