<div class="xb-guide__card-1-container xb-guide__margin">
  <div class="xb-guide__card-1">
    <img src="https://media.socialcommer.com/cdn/product/cc/6462b234-07b9-413c-8b77-b9126a0dd53b.jpg" />
    <div fxHide.xs>
      <div class="xb-guide__cover" fxLayout="column" fxLayoutAlign="center stretch">
        <div class="xb-guide__cover-commission">15% commission</div>
        <div class="xb-guide__cover-sale">$39.90</div>
        <div class="xb-guide__cover-original line-through">$49.90</div>
      </div>
    </div>
  </div>
  <div class="xb-guide__cover" fxHide.gt-xs>
    <div class="xb-guide__cover-commission">15% commission</div>
    <div class="xb-guide__cover-sale">$39.90</div>
    <div class="xb-guide__cover-original line-through">$49.90</div>
  </div>
</div>
