<div class="xb-guide__card-1-container xb-guide__margin">
  <div class="xb-guide__card-1">
    <img [src]="product.mainImage" />
    <div fxHide.xs>
      <div class="xb-guide__cover" fxLayout="column" fxLayoutAlign="center stretch">
        <div class="xb-guide__cover-commission">{{product.commissionRate}}% commission</div>
        <div class="xb-guide__cover-sale">{{product.salePrice|exchangeCurrency:currency|currency:currency}}</div>
        <div class="xb-guide__cover-original line-through">
          {{product.originalPrice|exchangeCurrency:currency|currency:currency}}</div>
      </div>
    </div>
  </div>
  <div class="xb-guide__cover" fxHide.gt-xs>
    <div class="xb-guide__cover-commission">{{product.commissionRate}}% commission</div>
    <div class="xb-guide__cover-sale">{{product.salePrice|exchangeCurrency:currency|currency:currency}}</div>
    <div class="xb-guide__cover-original line-through">
      {{product.originalPrice|exchangeCurrency:currency|currency:currency}}</div>
  </div>
</div>
