@import "../../styles/utils/_index";
@import "../../styles/_variables";
@import "../../shared/components/share-button/share-button.component";

.xb-store {
  &__nav {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, .19);
    position: relative;
    @include text-overflow();
    padding: 0 56px;
    width: 100%;
    text-align: center;

    i {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 32px;
      line-height: 32px;
      padding: 12px;
    }
  }

  &__banner {
    background-color: #000;
    height: 500px;
    overflow: hidden;
    position: relative;
    @include xb-xs-screen {
      padding: 0 16px;
      height: 320px;
    }
    @include xb-sm-screen {
      padding: 0 16px;
    }
  }

  &__store-name {
    font-size: 56px;
    @include media();
    color: $whiteColor;
    text-align: center;
    margin-top: 160px;
    @include xb-xs-screen {
      font-size: 24px;
      margin-top: 0;
    }
  }
  &__store-name-1 {
    margin: 0 auto;
    width: 300px;
    height: 60px;
    line-height: 60px;
    color: $whiteColor;
    text-align: center;
    font-size: 24px;
    @include media();
    z-index: 1;
  }

  &__store-title {
    font-size: 56px;
    @include media();
    color: $whiteColor;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    @include xb-xs-screen {
      font-size: 24px;
      margin-top: 0;
    }
  }

  &__store-description {
    @include media();
    color: $whiteColor;
    text-align: center;
    margin-top: 24px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
    z-index: 1;

    @include xb-xs-screen {
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;
      max-height: 60px;
      overflow: hidden;
    }
  }

  &__store-buttons {
    position: absolute;
    font-size: 16px;
    @include media();
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: $whiteColor;
    i {
      font-size: 40px;
      font-weight: 200;
    }

    @include xb-xs-screen {
      bottom: 8px;
      i {
        font-size: 24px;
      }
    }
  }

  &__title {
    font-size: 24px;
    color: rgba(0, 0, 0, .87);
    line-height: 24px;
    margin-top: 48px;
    margin-bottom: 40px;
    text-align: center;

    @include xb-xs-screen {
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }

  &__title-1 {
    font-size: 34px;
    color: rgba(0, 0, 0, .87);
    line-height: 34px;
    margin-top: 72px;
    margin-bottom: 32px;
    text-align: center;

    @include xb-xs-screen {
      font-size: 24px;
      line-height: 32px;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }

  &__navigation {
    position: relative;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 32px;
    cursor: pointer;
    &.active {
      &:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $orangeColor;
      }
    }

    &-mobile {
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    &-bg {
      height: 48px;
      ::-webkit-scrollbar {
        height: 0;
      }
    }
    &-scroll {
      overflow-x: scroll;
      width: 100%;
    }

    @include xb-xs-screen {
      line-height: 48px;
    }
  }

  &__margin-right {
    margin-right: 40px;

    @include xb-xs-screen {
      margin-right: 24px;
    }
  }

  &__bottom-1 {
    padding-bottom: 132px;
    @include xb-xs-screen {
      padding: 0 8px 24px;
    }
  }

  &__width {
    width: 294px;
    height: 42px;
    background-color: $whiteColor;
    overflow: hidden;
    border: 1px solid #F8F8F8;
    border-radius: 4px;
    input {
      line-height: 36px;
      width: 100%;
      padding: 0 8px;
    }

    @include xb-xs-screen {
      height: 38px;
      input {
        line-height: 32px;
        width: 100%;
        padding: 0 8px;
      }
    }
  }

  &__content {
    max-width: 1000px;
    margin-top: 24px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;

    @include xb-xs-screen {
      margin-top: 16px;
      padding: 0 16px 40px;
    }

    @include xb-sm-screen {
      padding: 0 16px 40px;
    }
  }

  &__content-1 {
    max-width: 1000px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    @include xb-xs-screen {
      padding: 0 16px 40px;
    }

    @include xb-sm-screen {
      padding: 0 16px 40px;
    }
  }

  &__content-2 {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include xb-sm-screen {
      padding: 0 16px;
    }
  }

  &__content-left {
    width: 120px;
    margin-right: 48px;
    text-align: center;
    @include xb-xs-screen {
      margin-right: 0;
      width: 88px;
    }
  }

  &__content-text {
    line-height: 24px;
  }

  &__header {
    width: 100%;
    height: 0;
    border-radius: 50%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    > img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
    }
  }

  &__icons {
    i {
      font-size: 40px;
      line-height: 40px;
      @include xb-xs-screen {
        font-size: 24px;
        line-height: 24px;
      }
    }

  }

  &__border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;

    @include xb-xs-screen {
      margin-bottom: 0;
    }

    &-image {
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      @include resetBorder();
      position: relative;
      > a {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        > img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          @include transform(translate(-50%, -50%));
        }
      }
    }

    &-margin {
      margin-left: 8px;
      @include xb-xs-screen {
        margin-left: 0;
        margin-top: 8px;
      }
    }

    &-content {
      position: relative;
      padding: 8px 0 16px;

      @include xb-xs-screen {
        padding: 8px 0 16px;
      }
    }

    &-title {
      max-height: 56px;
      height: 56px;
      line-height: 28px;
      font-weight: 700;
      overflow: hidden;
    }

    &-price {
      font-size: 16px;
      font-weight: 700;
    }

    &-sale {
      background-color: $primaryColor;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 24px;
    }

    &-action {
      position: relative;
      display: none;
    }
  }

  &__buttons-bg {
    margin-top: 20px;
    > div {
      width: 240px;
      text-align: center;
      line-height: 40px;
      border: 1px solid $primaryColor;
      color: $primaryColor;
      border-radius: 4px;
      cursor: pointer;
      @include media();

      @include xb-xs-screen {
        line-height: 36px;
      }

      &:hover {
        background-color: $primaryColor;
        color: $whiteColor;
      }
    }
  }

  &__buttons-bg-1 {
    color: $whiteColor;
  }

  &__bottom {
    &-bg {
      background-color: #f1f1f1;
      overflow: hidden;
    }

  }

  &__background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

    @include xb-xs-screen {
      overflow-y: hidden;
    }
  }

  &__details {
    margin-top: 56px;
    margin-bottom: 56px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 40px 48px;
    background-color: $whiteColor;

    @include xb-xs-screen {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &-bg-new {
      margin-top: 56px;
      margin-bottom: 56px;
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      padding: 40px 48px;
      background-color: $whiteColor;

      @include xb-xs-screen {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }

    @include xb-sm-screen {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &-close {
      position: absolute;
      left: calc(100% + 24px);
      top: 0;
      color: $whiteColor;
      cursor: pointer;
      i {
        font-size: 56px;
        line-height: 56px;
      }

      @include xb-xs-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }

      @include xb-sm-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }

    &-title {
      font-size: 24px;
      line-height: 32px;
      @include media();

      @include xb-xs-screen {
        font-size: 16px;
        line-height: 24px;
      }

      @include xb-sm-screen {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-price {
      font-size: 24px;
      line-height: 24px;
      @include media();

      @include xb-xs-screen {
        font-size: 16px;
      }

      @include xb-sm-screen {
        font-size: 16px;
      }
    }

    &-sale {
      background-color: $primaryColor;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 28px;

      @include xb-xs-screen {
        line-height: 24px;
      }

      @include xb-sm-screen {
        line-height: 24px;
      }
    }

    &-margin-right {
      width: 580px;
      height: 480px;
      margin-right: 32px;
      @include xb-xs-screen {
        width: auto;
        height: auto;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;
        @include resetBorder();
      }
      @include xb-sm-screen {
        width: 416px;
        height: 320px;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;

      }
    }

    &-padding-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      padding-bottom: 64px;

      @include xb-xs-screen {
        padding-bottom: 16px;
      }

      @include xb-sm-screen {
        padding-bottom: 16px;
      }
    }

    &-padding-top {
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      padding-top: 48px;
      padding-bottom: 16px;

      @include xb-xs-screen {
        padding: 0 16px 16px;
      }

      @include xb-sm-screen {
        padding: 0 16px 16px;
      }
    }

    &-description {
      padding-top: 48px;
      img {
        width: 100%;
      }

      @include xb-xs-screen {
        padding: 16px 16px 72px;
      }
      @include xb-sm-screen {
        padding: 16px 16px 16px;
      }
    }

    &-content {
      @include xb-xs-screen {
        padding: 0 16px;
        margin-top: 16px;
        width: 100%;
      }
      @include xb-sm-screen {
        padding: 0 16px 0 0;
        margin-top: 16px;
      }
    }

    &-buttons {
      margin-top: 16px;
      background-color: $whiteColor;
    }
    &-buttons-fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 8px 16px;
      width: 100%;
      background-color: $whiteColor;
      z-index: 1;
      display: block;
    }
  }

  &__footer {
    padding: 40px 0;
    background-color: #252525;
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
    position: relative;

    &-margin-top {
      margin-top: 16px;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-top-1 {
      margin-top: 8px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-margin-top-2 {
      margin-top: 0;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-left {
      margin-left: 16px;
      @include xb-xs-screen {
        margin-left: 0;
        text-align: center;
      }
    }

    &-icons {
      position: absolute;
      right: 0;
      bottom: 40px;
      margin-right: 10vw;

      @include xb-xs-screen {
        position: relative;
        bottom: 0;
        margin-right: 0;
        margin-top: 12px;
      }
    }
  }

  &__template {

    &-mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
    }

    &-banner {
      background-color: #000;
      height: 500px;
      position: relative;
      @include xb-xs-screen {
        padding: 0 16px;
        height: 320px;
      }
      @include xb-sm-screen {
        padding: 0 16px;
      }
      &-right {
        position: absolute;
        top: 16px;
        right: 0;
      }
    }

    &-name {
      margin: 0 auto;
      min-width: 300px;
      max-width: 100%;
      height: 60px;
      line-height: 60px;
      color: $whiteColor;
      text-align: center;
      font-size: 24px;
      @include media();
      overflow: hidden;
    }

    &-title {
      width: 100%;
      margin-top: 100px;
      color: $whiteColor;
      position: relative;
      padding: 0 16px;

      @include xb-xs-screen {
        margin-top: 0;
        padding: 0;
      }
    }

    &-description {
      width: 100%;
      color: $whiteColor;
      position: relative;
      padding: 0 16px;
      overflow: hidden;
      margin-top: 24px;
      @include xb-xs-screen {
        margin-top: 16px;
        padding: 0;
      }
    }

    &-user {
      width: 100%;
      margin-top: 24px;
      position: relative;
      padding: 0;
      @include xb-xs-screen {
        margin-top: 16px;
      }
    }
  }
}

.xb-store-about {
  &__footer {
    padding: 40px 0;
    background-color: #252525;
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
    position: relative;

    &-word {
      @include regular();
      cursor: pointer;
      color: rgba(255, 255, 255, .54);
      &:hover {
        text-decoration: underline;
      }
    }

    &-margin-top {
      margin-top: 16px;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-top-1 {
      margin-top: 8px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-margin-top-2 {
      margin-top: 0;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-left {
      margin-left: 16px;
      @include xb-xs-screen {
        margin-left: 0;
        text-align: center;
      }
    }

    &-icons {
      position: absolute;
      right: 0;
      bottom: 40px;
      margin-right: 10vw;

      @include xb-xs-screen {
        position: relative;
        bottom: 0;
        margin-right: 0;
        margin-top: 12px;
      }
    }
  }
}

.xb-store-template__cart {
  &-position {
    position: relative;
    @include xb-xs-screen {
      margin-right: 24px;
    }
  }
  &-container {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 28px;
  }
  &-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: relative;
  }
  &-order-and-cart {
    position: absolute;
    z-index: 10;
    right: 20px;
  }
  &-circle {
    width: 16px;
    height: 16px;
    background: red;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: -11px;
    top: 0;
    text-align: center;
  }
}
//导航 navigation
.xb-4-template-navigation {
  @include regular();
  text-align: center;
  font-size: 16px;
  font-family: Helvetica;
  &.active {
    font-weight: bold;
  }
  &__navigation-fixed {
    position: absolute;
    top: 56px;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-family: Didot, Helvetica;
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
    line-height: 56px;
  }
  &__nav-close {
    font-size: 24px;
  }
  &__mobile {
    position: fixed;
    background-color: white;
    z-index: 5;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    &-navigation-fixed {
      position: absolute;
      top: 56px;
    }
  }
  &__container {
    height: 72px;
    max-width: 1280px;
    position: relative;
    padding-left: 64px;
  }

  &__side-bg {
    width: 100vw;
    background-color: black;
  }
  &__side-flex {
    font-size: 14px;
    height: 48px;
    color: white;
    line-height: 48px;
    width: 100%;
    text-align: center;
    &.active {
      font-weight: bold;
    }
  }
  &__side_container {
    width: calc(100vw - 56px);
    padding-top: 20px;
    background-color: #f9f9f9;
  }
  &__store-name {
    font-family: 'Didot';
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-right: 50px;
  }
  &__more {
    @include regular();
    position: relative;
    text-align: center;
    font-size: 16px;
    font-family: Helvetica;
    cursor: pointer;
    &-bold {
      font-weight: bold;
    }
    &-bg {
      position: relative;
    }
    &-category {
      position: absolute;
      top: 40px;
      z-index: 5;
      background-color: white;
      left: -15px;
      width: 220px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    }
    &-flex {
      @include regular();
      font-size: 16px;
      font-family: Helvetica;
      height: 40px;
      padding-left: 16px;
      line-height: 40px;
      &.active {
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.04);
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
  &__up-triangle {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid black;
  }
  &__down-triangle {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid black;
  }
}
