<div class="xb-store" >
  <div class="xb-store__banner" fxLayout="column" fxLayoutAlign.xs="center center">
    <div class="xb-store__store-name">
      Your store name here
    </div>
    <div class="xb-store__store-description">
      This is your starter site, a single page online storefront. All of the images and text on this page can be
      changed to personalize the site for brand and to communicate your unique story to your customers.
    </div>
    <div class="xb-store__store-buttons" fxShow="false" fxShow.gt-xs="true">
      <span>Shop Now</span>
      <br>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>
  <div>
    <div class="xb-store__title">My collections</div>
    <app-store-navigation [(category)]="category" [categories]="categories"></app-store-navigation>
    <div class="xb-store__content xb-store__border-bottom">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
        <app-store-item-card *ngFor="let item of [0,1,2,3,4,5]" fxFlex.xs="48" fxFlex.gt-xs="30"></app-store-item-card>
      </div>
      <div class="xb-store__buttons-bg" fxLaout="row" fxLayoutAlign="center center">
        <div>
          SEE MORE
        </div>
      </div>
    </div>
    <div class="xb-store__content-1">
      <div class="xb-store__title">Store Owner</div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="xb-store__content-left" fxFlex="none">
          <div class="xb-store__header">
            <img src="//img14.360buyimg.com/n1/jfs/t5404/37/1574400102/222809/4907a2f6/59123908Nffed2d63.jpg">
          </div>
          <div class="md-subhead md-margin-top-2">Owen</div>
          <div class="md-margin-top-1">India</div>
        </div>
        <div class="xb-store__content-right">
          <div class="xb-store__icons md-dark-third">
            <i class="iconfontXberts icon-pic-quota"></i>
          </div>
          <div class="md-margin-top-2 xb-store__content-text">
            Here you let your customers get to know you. Tell them a little bit about yourself and why you create this business.
            Do you have a passion, hobby or life experience that inspired you to get started? Do you have special skills or training
            that make you an expert in your field? Show your customers that there are read people with instersting stories working
            behind the scenes. Helping customers feel connected to you and your purpose will inspire more trust you brad.
          </div>
          <div class="xb-store__icons md-dark-third md-margin-top-2" fxLayout="row" fxLayoutAlign="end start">
            <i class="iconfontXberts icon-pic-quota-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-store__bottom-bg">
    <div class="xb-store__title-1">
      Get My Newsletter
    </div>
    <div class="xb-store__bottom-1" fxLayout="row" fxLayoutAlign="center center">
      <div class="xb-store__width">
        <input type="text">
      </div>
      <div class="md-margin-left-2">
        <button mat-raised-button color="primary">SUBSCRIBE</button>
      </div>
    </div>
    <div class="xb-store__bottom-icons" fxLayout="row" fxLayoutAlign="end center">
      <app-share-button [link]="shareLink" [text]="text"></app-share-button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
