<div fxLayout="row" fxLayoutAlign="start center" *ngIf="!style">
  <div class="xb-social-share xb-social-share__facebook md-margin-right-1 gtag-shop-detail-share-button-facebook"
       fxLayout="row" fxLayoutAlign="center center"
     appSocialShare  [facebook]="{u: link}">
    <i class="iconfontXberts icon-ic-facebook"></i>
  </div>
  <div class="xb-social-share xb-social-share__twitter md-margin-right-1 gtag-shop-detail-share-button-twitter"
       fxLayout="row" fxLayoutAlign="center center"
     appSocialShare [twitter]="{url: link, text: text, hashtags: '' }">
    <i class="iconfontXberts icon-ic-twitter"></i>
  </div>
  <div class="xb-social-share xb-social-share__google gtag-shop-detail-share-button-google"
       fxLayout="row" fxLayoutAlign="center center"
     appSocialShare  [googlePlus]="{url: link}">
    <i class="iconfontXberts icon-google"></i>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center" *ngIf="style && style.store">
  <div class="xb-social-share__store md-margin-right-2 gtag-shop-detail-share-button-facebook"
       fxLayout="row" fxLayoutAlign="center center"
       appSocialShare  [facebook]="{u: link}">
    <i class="iconfontXberts icon-ic-facebook"></i>
  </div>
  <div class="xb-social-share__store md-margin-right-2 gtag-shop-detail-share-button-twitter"
       fxLayout="row" fxLayoutAlign="center center"
       appSocialShare [twitter]="{url: link, text: text, hashtags: '' }">
    <i class="iconfontXberts icon-ic-twitter"></i>
  </div>
  <div class="xb-social-share__store gtag-shop-detail-share-button-google"
       fxLayout="row" fxLayoutAlign="center center"
       appSocialShare  [googlePlus]="{url: link}">
    <i class="iconfontXberts icon-google"></i>
  </div>
</div>
