@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-social-share{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  &__facebook{
    background-color: $facebookColor;
  }

  &__twitter{
    background-color: $twitterColor;
  }

  &__google{
    background-color: $googleColor;
  }

  >i{
    font-size: 24px;
    line-height: 24px;
    color: $whiteColor;
  }

  @include xb-xs-screen{
    width: 24px;
    height: 24px;
    >i{
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__store{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255,255,255,.3);

    >i{
      font-size: 16px;
      line-height: 16px;
      color: #252525;
    }
  }
}

