<div class="md-padding-left-2 md-padding-top-2">
  <div class="md-margin-right-2">
    <div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-shop__dashboard-number xb-bold xb-shop__dashboard-margin-right">Overview</div>
        <app-catalog-time-select [time]="timeOverview" (timeChange)="getStore($event)" [times]="times"></app-catalog-time-select>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between center"
           fxLayout.xs="column" fxLayoutAlign.xs="start stretch" fxLayoutWrap>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-1" fxFlex.gt-sm="24" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-view" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.viewTotal}}</div>
          <div>Total Views</div>
        </div>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-2" fxFlex.gt-sm="24" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-victor" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.visitorTotal}}</div>
          <div>Total Visitors</div>
        </div>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-3" fxFlex.gt-sm="24" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-cart" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.clickTotal}}</div>
          <div class="">Total Click-to-Buy</div>
        </div>
        <div class="xb-shop__dashboard-card xb-shop__dashboard-color-4" fxFlex.gt-sm="24" fxFlex.sm="48" fxFlex.xs="100">
          <i class="iconfontXberts icon-pic-shop" ></i>
          <div class="xb-shop__dashboard-number">{{storeStatistic.listingTotal}}</div>
          <div>Listings</div>
        </div>
      </div>
    </div>
  </div>
  <div class="md-margin-right-2">
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-shop__dashboard-number xb-bold xb-shop__dashboard-margin-right">Statistic</div>
      <app-catalog-time-select [time]="timeStatistic" (timeChange)="getProduct($event)" [times]="times"></app-catalog-time-select>
    </div>
    <div class="md-margin-top-2 ">
      <app-statistic-title></app-statistic-title>
    </div>
    <div class="md-margin-top-2" >
      <div class="xb-shop__product-list xb-shop__statistic-bg" *ngFor="let item of productStatistic;let i = index;" >
        <app-statistic-item [data]="item"></app-statistic-item>
      </div>
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="changePage($event)"
                     *ngIf="productStatistic && productStatistic.length > 0">
      </mat-paginator>
      <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center"
           *ngIf="productStatistic && productStatistic.length <= 0">
        <div fxLayout="column" fxLayoutAlign="center center">
          <img src="https://media.socialcommer.com/source/web/pic/pic-no-data.png">
          <span class="md-dark-secondary">Your store doesn't have any products yet.</span>
          <div class="md-margin-top-3">
            <button mat-raised-button color="primary" routerLink="../listings/products">Add Your First Product</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
