<div class="xb-store-template__card">
  <div class="xb-pointer">
    <div class="xb-store-template__card-image">
      <a (click)="jumpProductDetail()">
        <img [src]="product.mainImage">
      </a>
      <div *ngIf="isPromotionOnGoing" class="xb-store__promotion-ongoing">Ongoing</div>
      <div *ngIf="isPromotionOnGoing" class="xb-store__promotion-countdown" fxShow="true"
           fxShow.xs="false">
        <span *ngIf="days>0"> {{days>1?days+' Days,':'Day,'}}</span> {{hours}} {{hours>1 ? 'Hours':'Hour'}} Left
      </div>
      <div *ngIf="isPromotionScheduled" class="xb-store__promotion-upcoming">Upcoming</div>
      <div class="xb-store-template__card-content" fxLayout="column" fxLayoutAlign="center center" (click)="jumpProductDetail()">
        <div class="xb-store-template__card-title">{{product.title}}</div>
        <div>
          <div class="xb-store-template__card-price">{{salePrice|currency: product.currency }}</div>
          <div class="xb-store-template__card-price-1 line-through"
               *ngIf="product.originalPrice > 0 && salePrice != product.originalPrice">
            {{product.originalPrice|currency: currency }}
          </div>
          <div class="xb-store-template__card-sale xb-store-template__card-margin"
               *ngIf="product.originalPrice > 0 && salePrice != product.originalPrice">
            {{salePrice|saleDiscount:product.originalPrice}} OFF
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-store-template__card-content-1" fxLayout="column" fxLayoutAlign="center center" fxShow.gt-xs="false">
    <div class="xb-store-template__card-title">{{product.title}}</div>
    <div>
      <div class="xb-store-template__card-price">{{salePrice|currency: currency }}</div>
      <div class="xb-store-template__card-price-1 line-through"
           *ngIf="product.originalPrice > 0 && salePrice != product.originalPrice">
        {{product.originalPrice|currency: currency }}
      </div>
      <div class="xb-store-template__card-sale xb-store-template__card-margin"
           *ngIf="product.originalPrice > 0 && salePrice != product.originalPrice">
        {{salePrice|saleDiscount:product.originalPrice}} OFF
      </div>
    </div>
  </div>
</div>
