<div>
  <div class="xb-store-template__blog-content">
    <div class="xb-store-template__blog-title">BLOG</div>

    <div class="md-margin-top-1" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <app-shop-template-3-store-blog-card class="preview-home-blog-box"
                                           *ngFor="let item of blog"
                                           fxFlex="45" fxFlex.xs="100"
                                           [blog]="item" [status]="1"></app-shop-template-3-store-blog-card>
    </div>
  </div>
</div>

