<div class="xb-4-template-detail" appViewScrollTop [ContainerSelector]="'mat-sidenav-content'">
  <div class="xb-4-template-detail__container xb-4-template__w960">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
      <div>
        <app-shop-detail-4-picture [images]="image" [selectedImage]="selectedImage"
                                   [imageSources]="imageSources"></app-shop-detail-4-picture>
      </div>
      <div class="xb-4-template-detail__content" fxFlex.xs="false">
        <div class="xb-4-template-detail__title md-margin-top-1">{{product.title}}</div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between center"
             fxLayout.xs="column" fxLayoutAlign.xs="start start">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-4-template-detail__price">{{product.salePriceAmount|currency: product.salePriceCurrency:
              true }}
            </div>
            <div class="xb-4-template-detail__original-price line-through "
                 *ngIf="product.originalPriceAmount > 0">
              {{product.originalPriceAmount|currency: product.originalPriceCurrency: true }}
            </div>
          </div>
          <div class="xb-4-template-detail__buttons_bg">
            <a href="{{product.purchaseUrl}}" target="_blank"
               (click)="openLink()">
              <button class="xb-4-template-detail__buy-buttons">GET IT NOW</button>
            </a>
          </div>

        </div>
        <div class="xb-4-template-detail__line" *ngIf="product.recommendation"></div>
        <div class="xb-4-template-detail__store-owner">
          <div class="xb-4-template-detail__store-owner-title" *ngIf="product.recommendation">
            Store Owner Says
          </div>
          <div class="xb-4-template-detail__store-owner-des" *ngIf="product.recommendation">
            {{product.recommendation}}
          </div>
        </div>
        <div class="xb-4-template-detail__line"></div>
        <div class="xb-4-template-detail__store-owner">
          <div class="xb-4-template-detail__store-owner-title">
            About the Product
          </div>
          <div class="md-margin-top-2"
               [innerHTML]="product.description | safeHtml">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-4-template-detail__recommend xb-4-template__w960">
    <div class="xb-4-template-detail__recommend-title md-margin-left-1">
      Related Product
    </div>
    <div class="xb-4-template-collection__product md-margin-top-4" fxLayoutAlign="space-between start" fxLayout="row"
         fxLayoutWrap.xs>
      <app-shop-item-product-card-4 *ngFor="let item of relatedProduct"
                                    fxFlex.xs="48" fxFlex.gt-xs="22"
                                    [product]="item" [status]="3"
                                    (scrollToTop)="changeScrollToTop($event)"
      >
      </app-shop-item-product-card-4>
      <div fxFlex.xs="48" fxFlex.gt-xs="22"></div>
      <div fxFlex.xs="48" fxFlex.gt-xs="22"></div>
    </div>
  </div>
</div>
