<div class="xb-4-template">
  <form [formGroup]="storeTemplateForm" novalidate>
    <div class="xb-4-template__container">
      <div class="xb-4-template__w960">
        <div class="xb-4-template__title xb-4-template__edit-border"
             [innerHTML]="nameTag | safeHtml" [hidden]="nameEdited" (click)="editName()">
        </div>
        <div class="xb-4-template__title xb-4-template__edit-border"
             [hidden]="!nameEdited">
          <input formControlName="nameTag" [(ngModel)]="nameTag">
        </div>
      </div>
      <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-4-template-edit__button" (click)="close()">
          CANCEL
        </div>
        <div class="xb-4-template-edit__button-1 md-margin-left-2" (click)="submitTemplate()">
          SAVE
        </div>
      </div>
      <div class="xb-4-template__w960">
        <app-store-template-edit-4-navigation
          (routerChange)="changeViewIndex($event)" [navigationIndex]="viewIndex"></app-store-template-edit-4-navigation>
      </div>
      <!-- 1 home-->
      <div [hidden]="viewIndex != 0">
        <div class="xb-4-template-home">
          <div class="xb-4-template-home__background " fxLayout="column" fxLayoutAlign="start start"
               [ngStyle]="{'background': 'url(' + (imageBanner)   + ') center / auto 100% ' }">
            <div class="xb-4-template-home__title xb-pointer xb-4-template__edit-border ql-editor"
                 [innerHTML]="titleTag | safeHtml" [hidden]="titleEdited" (click)="editTitle()">
            </div>
            <div class="xb-4-template-home__title xb-4-template__edit-border" [hidden]="!titleEdited">
              <quill-editor formControlName="titleTag" [(ngModel)]="titleTag" [options]="editorConfig"></quill-editor>
            </div>
            <div class="xb-4-template-edit__banner-button" (click)="editImage()">
              CLICK TO CHANGE IMAGE
            </div>
          </div>
          <div class="xb-4-template-home__ad-bg xb-4-template__w960" fxLayout="row" fxLayoutAlign="space-around start"
          >
            <div class="xb-4-template-home__ad-item" fxLayout="column" fxLayoutAlign="start center"
                 [ngStyle]="{'background': 'url(' + (imageAdOne) + ') center / 100% 100% ' }">
              <app-image-upload-preview-four-template [(previewImgFile)]="imageAdOne"
                                                      [(previewImgSrc)]="imageAdOne"
                                                      [type]="uploadAboutType"></app-image-upload-preview-four-template>

              <div class="xb-4-template-home__ad-title xb-pointer" (click)="jumpCategory(0)" *ngIf="adoneCategory.name">
                {{adoneCategory.name}}
              </div>
            </div>
            <div class="xb-4-template-home__ad-item" fxLayout="column" fxLayoutAlign="start center"
                 [ngStyle]="{'background': 'url(' + (imageAdTwo)   + ') center / 100% 100% ' }">
              <app-image-upload-preview-four-template [(previewImgFile)]="imageAdTwo"
                                                      [(previewImgSrc)]="imageAdTwo"
                                                      [type]="uploadAboutType"></app-image-upload-preview-four-template>
              <div class="xb-4-template-home__ad-title xb-pointer" (click)="jumpCategory(1)" *ngIf="adTwoCategory.name">
                {{adTwoCategory.name}}
              </div>
            </div>
            <div class="xb-4-template-home__ad-item" fxLayout="column" fxLayoutAlign="start center"
                 [ngStyle]="{'background': 'url(' + (imageAdThree)   + ') center / 100% 100% ' }">
              <app-image-upload-preview-four-template [(previewImgFile)]="imageAdThree"
                                                      [(previewImgSrc)]="imageAdThree"
                                                      [type]="uploadAboutType"></app-image-upload-preview-four-template>
              <div class="xb-4-template-home__ad-title xb-pointer" (click)="jumpCategory(2)"
                   *ngIf="adThreeCategory.name">
                {{adThreeCategory.name}}
              </div>
            </div>
          </div>
          <div class="xb-4-template-products xb-4-template__w960" fxLayout="row" fxLayoutAlign="space-between start"
               fxLayoutWrap>
            <div class="xb-4-template-products__text" fxLayout="column" fxLayoutAlign="start center">
              <!--product title-->
              <div class="xb-4-template-products__title xb-pointer xb-4-template__edit-border ql-editor"
                   [innerHTML]="productTitleTag | safeHtml" [hidden]="productTitleEdit" (click)="editProductTitle()"
              ></div>
              <div class="xb-4-template-products__title xb-4-template__edit-border" [hidden]="!productTitleEdit">
                <quill-editor formControlName="productTitleTag" [(ngModel)]="productTitleTag"
                              [options]="editorConfig"></quill-editor>
              </div>
              <!--product subtitle-->
              <div class="xb-4-template-products__subtitle xb-pointer xb-4-template__edit-border ql-editor"
                   [innerHTML]="productDesTag | safeHtml" [hidden]="productDesEdit" (click)="editProductDes()"
              ></div>
              <div class="xb-4-template-products__subtitle xb-4-template__edit-border" [hidden]="!productDesEdit">
                <quill-editor formControlName="productDesTag" [(ngModel)]="productDesTag"
                              [options]="editorConfig"></quill-editor>
              </div>
            </div>
            <app-shop-item-product-card-edit-4 *ngFor="let item of homeProduct"
                                               fxFlex.xs="48" fxFlex.gt-xs="22"
                                               [product]="item" [status]="0"></app-shop-item-product-card-edit-4>
          </div>
          <div class="xb-4-template-blog  xb-4-template__w960 ">
            <div class="xb-4-template-blog__title" *ngIf="isHaveBlog">
              BLOG
            </div>
            <div class="xb-4-template-blog__article" fxLayout="row" fxLayoutAlign="space-between start">
              <app-shop-item-blog-card-edit-4 *ngFor="let item of blog"
                                              fxFlex.xs="48" fxFlex.gt-xs="45"
                                              [blog]="item" [status]="0"></app-shop-item-blog-card-edit-4>
            </div>
          </div>
        </div>
      </div>
      <!-- 2.collections-->
      <div [hidden]="viewIndex != 1">
        <div class="xb-4-template-collection xb-4-template__w960">
          <div fxLayout="row" fxLayoutAlign="start stretch">
            <div class="xb-4-template-collection__category">
              <app-shop-template-edit-4-category
                [(category)]="category" [categories]="categories"
                (categoryChange)="changeCategory()"></app-shop-template-edit-4-category>
            </div>
            <div class="xb-4-template-collection__product md-margin-left-2" fxLayoutAlign="space-between start"
                 fxLayout="row" fxLayoutWrap>
              <app-shop-item-product-card-edit-4 *ngFor="let item of product"
                                                 fxFlex.xs="48" fxFlex.gt-xs="28"
                                                 [product]="item" [status]="0"></app-shop-item-product-card-edit-4>
            </div>
          </div>
        </div>
      </div>

      <!-- 3.blog-->
      <div [hidden]="viewIndex != 2">
        <div class="xb-4-template-blog  xb-4-template__w960 ">
          <div class="xb-4-template-blog__title" *ngIf="isHaveBlog">
            BLOG
          </div>
          <div fxLayoutWrap class="xb-4-template-blog__article" fxLayout="row" fxLayoutAlign="space-between start">
            <app-shop-item-blog-card-edit-4 *ngFor="let item of blog"
                                            fxFlex.xs="48" fxFlex.gt-xs="45"
                                            [blog]="item" [status]="0"></app-shop-item-blog-card-edit-4>
          </div>
        </div>
      </div>
      <!-- 4.about -->
      <div [hidden]="viewIndex != 3">
        <div class="xb-4-template-about xb-4-template__w960">
          <div class="xb-4-template-about__image xb-pointer xb-4-template__edit-border">
            <app-image-upload-preview-blog [(previewImgFile)]="aboutMeCover" [(previewImgSrc)]="aboutMeCover"
                                           [type]="uploadAboutType"></app-image-upload-preview-blog>
          </div>

          <!--about me-->
          <div class="xb-4-template-about__content xb-pointer xb-4-template__edit-border ql-editor"
               [innerHTML]="aboutMeTag | safeHtml" [hidden]="aboutMeEdited" (click)="editAboutMe()"
          ></div>
          <div class="xb-4-template-about__content xb-4-template__edit-border" [hidden]="!aboutMeEdited">
            <quill-editor formControlName="aboutMeTag" [(ngModel)]="aboutMeTag"
                          [options]="editorConfig"></quill-editor>
          </div>

        </div>
      </div>
      <app-shop-template-edit-4-store-foot [storeName]="nameTag" [text]="text" ></app-shop-template-edit-4-store-foot>
    </div>
  </form>
</div>
<div class="xb-4-template-picture__background" *ngIf="imageEdited">
  <div class="xb-4-template__detail-close" (click)="editImage()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-4-template__detail">
    <div class="xb-4-template__detail-close" (click)="editImage()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-4-template__mobile-dialog-inner">
      <app-image-upload-preview [(previewImgFile)]="imageBanner"
                                (previewImgFileChange)="editImage()"></app-image-upload-preview>
    </div>
  </div>
</div>
<div class="xb-4-template-picture__background" *ngIf="imageHomeMadeEdited">
  <div class="xb-store-template__detail-close" (click)="editImageHomeMade()" fxShow="false" fxShow.sm="true"
       fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-4-template__detail">
    <div class="xb-4-template__detail-close" (click)="editImageHomeMade()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-4-template__mobile-dialog-inner">
      <app-image-upload-preview [(previewImgFile)]="imageHomeMade" [ratio]="ratio"
                                (previewImgFileChange)="editImageHomeMade()"></app-image-upload-preview>
    </div>
  </div>
</div>
<div class="xb-4-template-picture__background" *ngIf="storeEdited">
  <div class="xb-4-template__detail-close" (click)="editStore()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-4-template__detail">
    <div class="xb-4-template__detail-close" (click)="editStore()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-4-template__mobile-dialog-inner">
      <div class="xb-4-template-store__title-1">
        Ready to Publish?
      </div>
      <div class="xb-4-template-store__content-1">
        Make sure all these setting are correct before your store goes live!
      </div>
      <form [formGroup]="storeForm" novalidate>
        <div class="md-margin-top-2 md-margin-right-2" fxLayout="column">
          <div class="md-dark-secondary">
            Store Name
          </div>
          <mat-form-field>
            <input matInput formControlName="name">
          </mat-form-field>
          <div *ngIf="formErrors['name']" class="xb-input-error">
            {{ formErrors['name'] }}
          </div>
          <div class="md-dark-secondary">
            Store Description
          </div>
          <mat-form-field class="xb-4-template-store__width-100">
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <div *ngIf="formErrors['description']" class="xb-input-error">
            {{ formErrors['description'] }}
          </div>
          <div class="md-dark-secondary">
            Your Store Url
          </div>
          <div class="md-margin-bottom-1" fxLayout="row" fxLayoutAlign="start center">
            <div>
              https://www.socialcommer.net/store/
            </div>
            <mat-form-field class="md-margin-left-2 xb-shop__width-1">
              <input matInput formControlName="displayName">
            </mat-form-field>
          </div>
          <div *ngIf="formErrors['displayName']" class="xb-input-error">
            {{ formErrors['displayName'] }}
          </div>
          <div class="xb-4-template-store__margin-top-48" fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" (click)="changeStore()">PUBLISH</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

