<div class="xb-shop__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="40">
    Blog Title
  </div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">Views</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">Date</div>
  <div class="xb-shop__product-title-1" fxFlex="20"
       fxLayout="column" fxLayoutAlign="start center">Action</div>
</div>
