<div class="xb-shop__product md-padding-right-2 md-padding-top-2 md-padding-left-2">
  <div class="xb-shop__toDo-title">
    To-do List
  </div>
  <div class="xb-shop__toDo-description">
    Follow the checklist below to launch your store successfully!
  </div>

  <div class="xb-shop__toDo-content" fxLayout="row wrap" fxLayoutAlign="center center"
       fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
    <div class="xb-shop__toDo-card" fxLayout="column" fxLayoutAlign="start center"
         (click)="openBonusDialog()">
      <img src="https://media.socialcommer.com/source/web/pic/ic-list.jpg">
      <div class="xb-shop__toDo-card-text">Earn Newbie Cash Reward</div>
      <div class="xb-shop__toDo-number">
        1
      </div>
    </div>
    <div class="xb-shop__toDo-card" fxLayout="column" fxLayoutAlign="start center"
         routerLink="/shop/listings/items">
      <img src="https://media.socialcommer.com/source/web/pic/ic-list.jpg">
      <div class="xb-shop__toDo-card-text">Pick Products to Sell</div>
      <div class="xb-shop__toDo-number">
        2
      </div>
    </div>
    <div class="xb-shop__toDo-card" fxLayout="column" fxLayoutAlign="start center"
         routerLink="/shop/templates">
      <img src="https://media.socialcommer.com/source/web/pic/pic-template.jpg">
      <div class="xb-shop__toDo-card-text">Choose a Store Template</div>
      <div class="xb-shop__toDo-number">
        3
      </div>
    </div>
    <div class="xb-shop__toDo-card" fxLayout="column" fxLayoutAlign="start center"
         routerLink="{{editRouter}}">
      <img src="https://media.socialcommer.com/source/web/pic/pic-store.jpg">
      <div class="xb-shop__toDo-card-text">Edit Your Storefront</div>
      <div class="xb-shop__toDo-number">
        4
      </div>
    </div>
    <div class="xb-shop__toDo-card" fxLayout="column" fxLayoutAlign="start center"
         routerLink="/shop/blog">
      <img src="https://media.socialcommer.com/source/web/pic/ic-blog.jpg">
      <div class="xb-shop__toDo-card-text">Create Viral Blog Post</div>
      <div class="xb-shop__toDo-number">
        5
      </div>
    </div>
  </div>
</div>
