<div class="xb-shop__product md-padding-right-2 md-padding-top-2 md-padding-left-2">
  <div class="xb-shop__toDo-title">
    To-do List
  </div>
  <div class="xb-shop__toDo-description">
    Follow the checklist below to launch your affiliate store!
  </div>

  <div class="xb-shop__toDo-content" fxLayout="row" fxLayoutAlign="center center"
       fxLayout.xs="column" fxLayoutAlign.xs="start stretch" fxLayoutWrap>
    <div class="xb-shop__toDo-card" fxLayout="column" fxLayoutAlign="start center">
      <img src="https://socialcommer.xberts.com/source/web/pic/pic-join.jpg">
      <div>Join an affiliate program</div>
    </div>
    <div class="xb-shop__toDo-card xb-shop__toDo-margin-left" fxLayout="column" fxLayoutAlign="start center"
         routerLink="/shop/listings/products">
      <img src="https://media.xberts.com/collector/source/web/pic/pic-listings.jpg">
      <div>Add your product listings</div>
    </div>
    <div class="xb-shop__toDo-card xb-shop__toDo-margin-left-1" fxLayout="column" fxLayoutAlign="start center"
         routerLink="/shop/store">
      <img src="https://media.xberts.com/collector/source/web/pic/pic-store.jpg">
      <div>Edit & publish your store</div>
    </div>
  </div>
</div>
