<div class="xb-shop__product md-padding-right-2 md-padding-top-2 md-padding-left-2">
  <div class="xb-shop__header"></div>
  <mat-tab-group color="accent">
    <mat-tab label="Edit Profile">
      <div class="md-margin-top-2 xb-shop__setting-bg">
        <form class="md-margin-top-1" [formGroup]="profileForm" novalidate>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div>
              <div class="md-dark-secondary">
                First Name
              </div>
              <mat-form-field >
                <input matInput formControlName="firstName">
              </mat-form-field>

            </div>
            <div class="md-margin-left-2">
              <div class="md-dark-secondary">
                Last Name
              </div>
              <mat-form-field>
                <input matInput formControlName="lastName">
              </mat-form-field>

            </div>
          </div>
          <div *ngIf="formErrors['firstName']" class="xb-input-error">
            {{ formErrors['firstName'] }}
          </div>
          <div *ngIf="formErrors['lastName']" class="xb-input-error">
            {{ formErrors['lastName'] }}
          </div>
          <div class="md-dark-secondary">
            Country
          </div>
          <mat-form-field>
            <mat-select formControlName="country" name="country">
              <mat-option *ngFor="let country of countries" [value]="country.code">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="formErrors['country']" class="xb-input-error">
            {{ formErrors['lastName'] }}
          </div>
          <div class="md-dark-secondary">
            About Me
          </div>
          <mat-form-field class="xb-shop__width-100">
            <textarea matInput formControlName="biography" matTextareaAutosize matAutosizeMinRows="1"
                      matAutosizeMaxRows="3"></textarea>
          </mat-form-field>
          <div class="md-dark-secondary" *ngIf="false">
            Connect Your Social Media with Your Store
          </div>
          <div fxLayout="column" *ngIf="false">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="md-dark-secondary md-margin-right-2">
                  Youtube URL:
                </div>
                <mat-form-field>
                  <input matInput formControlName="youtube">
                </mat-form-field>
              </div>
              <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="start center">
                <div class="md-dark-secondary md-margin-right-2">
                  Instagram URL:
                </div>
                <mat-form-field>
                  <input matInput formControlName="instagram">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="md-dark-secondary md-margin-right-2">
                  Facebook URL:
                </div>
                <mat-form-field>
                  <input matInput formControlName="facebook" >
                </mat-form-field>
              </div>
              <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="start center">
                <div class="md-dark-secondary md-margin-right-2">
                  Twitter URL:
                </div>
                <mat-form-field>
                  <input matInput formControlName="twitter">
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
        <div class="md-dark-secondary">
          Profile Picture
        </div>
        <div class="md-margin-top-2">
          <app-image-upload-header [(previewImgFile)]="previewImgFile" [(previewImgSrcs)]="previewImgSrcs"></app-image-upload-header>
        </div>
        <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button color="primary" (click)="changeUserProfile()">SAVE CHANGE</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Change Email Password">
      <div class="md-margin-top-2 xb-shop__setting-bg">
        <form class="md-margin-top-1" [formGroup]="emailForm" novalidate>
          <div class="md-dark-secondary">
            Account Email
          </div>
          <mat-form-field>
            <input matInput formControlName="email">
          </mat-form-field>
          <div *ngIf="formErrors['email']" class="xb-input-error">
            {{ formErrors['email'] }}
          </div>
        </form>
        <div class="md-dark-secondary md-margin-top-1">
          Password
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="md-margin-top-2 xb-shop__setting-button" (click)="passwordDialog()">CHANGE PASSWORD</div>
        </div>
        <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button color="primary" (click)="changeEmail()">SAVE CHANGE</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

