<mat-tab-group class="md-margin-right-2" color="accent">
  <mat-tab label="Edit Profile">
    <div class="md-margin-top-3">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>
          <div class="md-dark-secondary">
            First Name
          </div>
          <mat-form-field >
            <input matInput>
          </mat-form-field>
        </div>
        <div class="md-margin-left-2">
          <div class="md-dark-secondary">
            Last Name
          </div>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="md-dark-secondary">
        Country
      </div>
      <mat-form-field>
        <mat-select [(ngModel)]="country" name="country">
          <mat-option *ngFor="let country of countries" [value]="country.code">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="md-dark-secondary">
        About Me
      </div>
      <mat-form-field class="xb-shop__width-100">
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="md-dark-secondary">
        Profile Picture
      </div>
      <div class="md-margin-top-2">
        <app-image-upload-header [(previewImgFile)]="previewImgFile"></app-image-upload-header>
      </div>
      <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button color="primary">SAVE CHANGE</button>
        <div class="xb-shop__margin-left">
          <button mat-button color="primary">CANCEL</button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Change Email Address">
    <div class="md-margin-top-3">
      <form  [formGroup]="emailForm" (ngSubmit)="changeEmail()" novalidate>
        <div class="md-dark-secondary">
          Email Address
        </div>
        <mat-form-field>
          <input matInput formControlName="email">
        </mat-form-field>
        <div *ngIf="formErrors['email']" class="xb-input-error">
          {{ formErrors['email'] }}
        </div>
        <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button color="primary" type="submit">SAVE CHANGE</button>
          <div class="xb-shop__margin-left">
            <button mat-button color="primary">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Change Password">
    <div class="md-margin-top-3">
      <form  [formGroup]="settingForm" (ngSubmit)="changePassword()" novalidate>
        <div class="md-dark-secondary">
          Current Password
        </div>
        <mat-form-field>
          <input matInput type="password" formControlName="currentPassword">
        </mat-form-field>

        <div *ngIf="formErrors['currentPassword']" class="xb-input-error">
          {{ formErrors['currentPassword'] }}
        </div>

        <div class="md-dark-secondary">
          New Password
        </div>
        <mat-form-field>
          <input matInput type="text" formControlName="password"
                 validateEqual="confirmPassword"
                 reverse="true">
        </mat-form-field>
        <div *ngIf="formErrors['password']" class="xb-input-error">
          {{ formErrors['password'] }}
        </div>

        <div class="md-dark-secondary">
          Confirm Password
        </div>
        <mat-form-field>
          <input matInput type="text" formControlName="confirmPassword"
                 validateEqual="password"
                 reverse="false">
        </mat-form-field>

        <div *ngIf="formErrors['confirmPassword']" class="xb-input-error">
          {{ formErrors['confirmPassword'] }}
        </div>
        <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button color="primary" type="submit">SAVE CHANGE</button>
          <div class="xb-shop__margin-left">
            <button mat-button color="primary">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
