<div fxLayout="row" fxLayoutAlign="start stretch">
  <label class="preview-label" fxLayout="row" fxLayoutAlign="center center"
    [ngClass]="{'preview-label__not-upload': !upload}">
    <input type="file" (change)="previewPic($event)" >
    <i class="iconfontXberts icon-ic-pic preview-label__icons" *ngIf="!upload"></i>
    <img src="{{previewImgSrcs}}" *ngIf="upload">
    <app-image-preview-loading [percent]="loading" *ngIf="!closeAnimate && !closeLoading"
                               (loadingChange)="loadingChange($event)"></app-image-preview-loading>
  </label>
  <div class="preview-label__margin-left" fxFlex fxLayout="column" fxLayoutAlign="start start">
    <label class="preview-label__button">
      <input type="file" (change)="previewPic($event)" >UPLOAD
    </label>
    <div class="md-margin-top-3">
      <div class="preview-label__text">Please upload product pictures to support your return.</div>
    </div>
  </div>
</div>
