<div class="xb-order-tracking__height-3 xb-order-tracking__container-5" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="45">
    <div class="xb-order-tracking__detail-width xb-order-tracking__title-2 md-padding-left-2
        xb-order-tracking__detail-margin-right" fxFlex="80">
      Product
    </div>
    <div class="xb-order-tracking__title-2 xb-order-tracking__detail-margin-right md-align-center" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">Quantity</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="45">
    <div class="xb-order-tracking__title-2 xb-order-tracking__detail-margin-right  md-align-center" fxFlex="25"
         fxLayout="column" fxLayoutAlign="center center">Recipient</div>
    <div class="xb-order-tracking__title-2 xb-order-tracking__detail-margin-right  md-align-center" fxFlex="25"
         fxLayout="column" fxLayoutAlign="center center">Order Price</div>
    <div class="xb-order-tracking__title-2 xb-order-tracking__detail-margin-right  md-align-center" fxFlex="25"
         fxLayout="column" fxLayoutAlign="center center">Your Commission</div>
    <div class="xb-order-tracking__title-2 xb-order-tracking__detail-margin-right md-align-center" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">Order Status</div>
  </div>
  <div class="xb-order-tracking__title-2 xb-order-tracking__width-2 md-align-center" fxFlex="none"
       fxLayout="column" fxLayoutAlign="center center">Action</div>
</div>
