<div class="xb-shop__product md-padding-top-2 md-padding-right-2 md-padding-left-2 md-margin-bottom-2">
  <div class="xb-shop__header"></div>
  <div class="xb-shop__product-buttons md-padding-bottom-1" (mouseleave)="closeToggle()">
    <button mat-raised-button color="accent" (click)="openToggle()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="material-icons">add</i>
        <span class="md-margin-left-1">Add Affiliate Product</span>
      </div>
    </button>
    <div class="xb-shop__product-button-list" *ngIf="showToggles">
      <a class="md-padding-left-2 xb-pointer" fxLayout="row" fxLayoutAlign="start center"
         routerLink="../items">Search Products</a>
      <a class="md-padding-left-2 xb-pointer" fxLayout="row" fxLayoutAlign="start center"
         routerLink="./create">Create a Product</a>
    </div>
  </div>
  <mat-tab-group color="accent" (selectedTabChange)="changeProducts($event)"  [(selectedIndex)]="selectedIndex">
    <mat-tab label="Published">
      <div class="md-margin-top-2 ">
        <app-product-title></app-product-title>
      </div>
      <div class="md-margin-top-2 xb-shop__product-bg" fxLayout="column">
        <div class="xb-shop__product-list" *ngFor="let item of productPublished;let i = index;">
          <app-product-item [status]="0" [product]="item" [index]="i" (productChange)="productChange($event)"></app-product-item>
        </div>
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="changePage($event, 0)"
                       *ngIf="productPublished && productPublished.length > 0">
        </mat-paginator>
        <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="productPublished && productPublished.length <= 0">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://media.xberts.com/collector/source/web/pic/pic-no-product.png">
            <span class="md-dark-secondary">You haven't published any products yet.</span>
            <div class="md-margin-top-2">
              <button mat-raised-button color="accent" routerLink="/shop/listings/items">
                  Add Your First Product
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Unpublished">
      <div class="md-margin-top-2 ">
        <app-product-title></app-product-title>
      </div>
      <div class="md-margin-top-2 xb-shop__product-bg" fxLayout="column">
        <div class="xb-shop__product-list" *ngFor="let item of productUnpublished;let i = index;" >
          <app-product-item [status]="1" [product]="item" [index]="i" (productChange)="productChange($event)"></app-product-item>
        </div>
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="changePage($event, 1)"
                       *ngIf="productUnpublished && productUnpublished.length > 0">
        </mat-paginator>
        <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="productUnpublished && productUnpublished.length <= 0">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://media.xberts.com/collector/source/web/pic/pic-no-product.png">
            <span class="md-dark-secondary">You haven't unpublished any products yet.</span>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
