<div class="xb-shop__product md-margin-right-2">
  <div class="xb-shop__product-buttons md-padding-bottom-1" (mouseleave)="openToggle()">
    <button mat-raised-button color="accent" (click)="openToggle()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="material-icons">add</i>
        <span class="md-margin-left-1">Add Affiliate Product</span>
      </div>
    </button>
    <div class="xb-shop__product-button-list" *ngIf="showToggles">
      <a class="md-padding-left-2 xb-pointer" fxLayout="row" fxLayoutAlign="start center"
         routerLink="../products">Search affiliate products</a>
      <a class="md-padding-left-2 xb-pointer" fxLayout="row" fxLayoutAlign="start center"
         routerLink="./create">Create an affiliate product</a>
    </div>
  </div>
  <mat-tab-group color="accent" (selectedTabChange)="changeProducts($event)">
    <mat-tab label="Published">
      <div class="md-margin-top-2" fxLayout="column">
        <div class="xb-shop__product-list" *ngFor="let item of productPublished">
          <app-product-item [status]="0" [product]="item"></app-product-item>
        </div>
        <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="productPublished && productPublished.length <= 0">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://media.xberts.com/collector/source/web/pic/pic-none.png">
            <span class="md-dark-secondary">You haven't published any products yet.</span>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Draft Saved">
      <div class="md-margin-top-2" fxLayout="column">
        <div class="xb-shop__product-list" *ngFor="let item of productDraft">
          <app-product-item [status]="1" [product]="item"></app-product-item>
        </div>
        <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="productDraft && productDraft.length <= 0">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://media.xberts.com/collector/source/web/pic/pic-none.png">
            <span class="md-dark-secondary">You haven't saved any drafts yet.</span>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Unpublish">
      <div class="md-margin-top-2" fxLayout="column">
        <div class="xb-shop__product-list" *ngFor="let item of productUnpublished" >
          <app-product-item [status]="2" [product]="item"></app-product-item>
        </div>
        <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="productUnpublished && productUnpublished.length <= 0">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://media.xberts.com/collector/source/web/pic/pic-none.png">
            <span class="md-dark-secondary">You haven't unpublished any products yet.</span>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
