<div class="xb-shop__dialog">
  <div class="md-margin-bottom-2" fxLayout="row" FxLayoutAlign="start center">
    <div class="md-dark-secondary">Product ID</div>
    <div class="md-margin-left-4">#201609271</div>
  </div>
  <mat-form-field class="xb-shop__width-100">
    <input matInput placeholder="Product name">
  </mat-form-field>
  <div class="md-dark-secondary">Picture</div>
  <div class="md-margin-top-2">
    <app-image-upload-preview [(previewImgFile)]="previewImgFile"></app-image-upload-preview>
  </div>
  <div class="md-margin-top-2 md-dark-secondary">Category</div>
  <mat-form-field class="xb-shop__width-100">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                [removable]="removable" (remove)="remove(fruit)">
        {{fruit.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)" />
    </mat-chip-list>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field >
      <input matInput placeholder="Product name">
    </mat-form-field>
    <span class="md-margin-left-2">USD</span>
    <mat-form-field class="xb-shop__dialog-margin-left">
      <input matInput placeholder="Product name">
    </mat-form-field>
    <span class="md-margin-left-2">USD</span>
  </div>
  <div class="md-dark-secondary md-margin-top-2">Add your affiliate link</div>
  <mat-form-field class="xb-shop__width-100" >
    <input matInput value="Please generate the affiliate link from the ecommerce site you're affiliated with">
  </mat-form-field>
  <div class="md-dark-secondary md-margin-top-2">Tell your audiences why you recommend this product</div>
  <mat-form-field class="xb-shop__width-100">
    <textarea matInput value="Your opinion is very important to your audiences"></textarea>
  </mat-form-field>
  <div class="md-dark-secondary">Description</div>
  <div class="md-margin-top-2">
    <quill-editor [(ngModel)]="editorContent"
                  [options]="editorOptions"
                  (blur)="onEditorBlured($event)"
                  (focus)="onEditorFocused($event)"
                  (ready)="onEditorCreated($event)"
                  (change)="onContentChanged($event)"></quill-editor>
  </div>
  <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
    <button mat-raised-button color="primary">PUBLISH</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary">SAVE AS DRAFT</button>
    </div>
  </div>
</div>
