<div class="xb-shop__product md-margin-right-2">
  <div class="xb-shop__product-buttons md-padding-bottom-1" (mouseleave)="openToggle()">
    <button mat-raised-button color="accent" (click)="openToggle()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="material-icons">add</i>
        <span class="md-margin-left-1">Add New Product</span>
      </div>
    </button>
    <div class="xb-shop__product-button-list" *ngIf="showToggles">
      <a class="md-padding-left-2 xb-pointer" fxLayout="row" fxLayoutAlign="start center"
         routerLink="../products">Find Products to Share</a>
      <a class="md-padding-left-2 xb-pointer" fxLayout="row" fxLayoutAlign="start center"
         routerLink="./create">Sumbmit a Product</a>
    </div>
  </div>
  <mat-tab-group color="accent">
    <mat-tab label="Published">
      <div class="md-margin-top-2" fxLayout="column">
        <div class="xb-shop__product-list" *ngFor="let item of [0,1,2]">
          <app-product-item [status]="0"></app-product-item>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Draft Saved">
      <div class="md-margin-top-2" fxLayout="column">
        <div class="xb-shop__product-list" *ngFor="let item of [0,1,2]">
          <app-product-item [status]="1"></app-product-item>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Unpublish">
      <div class="md-margin-top-2" fxLayout="column">
        <div class="xb-shop__product-list" *ngFor="let item of [0,1,2]" fxShow="false">
          <app-product-item [status]="2"></app-product-item>
        </div>
        <div class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://media.xberts.com/collector/source/web/pic/pic-none.png">
            <span class="md-dark-secondary">Nothing in your store. Add new product from now on.</span>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
