<div class="xb-cart__item" fxLayout="row" fxLayoutAlign="start center" fxHide.xs fxHide.sm>
  <div class="unicorn-dark-theme-1" fxLayout="column" fxLayoutAlign="center center" fxFlex="5">
    <mat-checkbox [ngModel]="product.checked" (ngModelChange)="productChecked($event)"></mat-checkbox>
  </div>
  <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="35">
    <a class="xb-cart__item-image" fxFlex="none" routerLink="/shop/listings/items/{{product.productId}}">
      <img [src]="product.mainImage">
    </a>
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <a class="xb-cart__item-title xb-pointer" routerLink="/shop/listings/items/{{product.productId}}">
        {{product.title}}
      </a>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-cart__item-title-1">
          {{product.attributes}}
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-1 xb-cart__item-add" (click)="minusNumber()" fxFlex="none">
        <i class="material-icons xb-pointer" >remove</i>
      </div>
      <mat-form-field class="xb-cart__item-input unicorn-dark-theme md-align-center">
        <input type="number" class="unicorn-dark-theme xb-cart__align-center" matInput [ngModel]="product.quantity" step="1" min="0"
          (ngModelChange)="numberChanges($event)">
      </mat-form-field>
      <div class="md-margin-left-1 xb-cart__item-add" (click)="plusNumber()" fxFlex="none">
        <i class="material-icons xb-pointer" >add</i>
      </div>
    </div>
  </div>
  <div fxFlex="15" fxLayout="column" fxLayoutAlign="start center">
    <div class="xb-cart__item-sale">
      {{product.salePrice | exchangeCurrency: currency |currency: currency }}</div>
    <div class="line-through md-dark-secondary xb-cart__item-original">
      {{product.unitPrice | exchangeCurrency: currency |currency: currency }}
    </div>
  </div>
  <div fxFlex="15"  fxLayout="column" fxLayoutAlign="center center">
    <div class="xb-cart__item-select-text-1">{{product.commissions * product.quantity | exchangeCurrency:currency |currency: currency }}</div>
  </div>
  <div fxFlex="20"  fxLayout="column" fxLayoutAlign="center center">
    <div class="unicorn-dark-theme" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field class="xb-cart__item-select" fxFlex>
        <mat-select [ngModel]="product.shippingItem" name="shipping"
          (valueChange)="changeShipping($event)">
          <mat-option class="unicorn-dark-theme"  *ngFor="let item of product.shippingPrices" [value]="item">
            {{ item.type }} Shipping
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="xb-cart__item-select-text xb-bold">{{product.shippingItem.priceItem | exchangeCurrency: currency|currency: currency }}</div>
    <div class="md-margin-top-1 xb-cart__item-select-text-1">{{product.shippingItem.shippingTimeMin}}-{{product.shippingItem.shippingTimeMax}} days</div>
  </div>
  <div fxFlex="5" fxLayout="row" fxLayoutAlign="end center">
    <div class="xb-cart__icon xb-pointer">
      <i class="material-icons md-dark-secondary" (click)="delete()">delete</i>
    </div>
  </div>
</div>
<div class="xb-cart__item" fxLayout="row" fxLayoutAlign="start start" fxHide.gt-sm>
  <div class="unicorn-dark-theme-1" fxLayout="column" fxLayoutAlign="center center" fxFlex="10">
    <mat-checkbox [ngModel]="product.checked" (ngModelChange)="productChecked($event)"></mat-checkbox>
  </div>
  <div class="xb-cart__item-image" fxFlex="none">
    <img [src]="product.mainImage">
  </div>
  <div *ngIf="!isEdit" fxFlex>
    <div class="xb-cart__item-title">
      {{product.title}}
    </div>
    <div class="md-margin-top-1"  fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-cart__item-variant">
        {{product.attributes}}
      </div>
    </div>
    <div class="md-margin-top-1" *ngIf="product.shippingItem">
      <span class="xb-cart__item-shipping">
        {{product.shippingItem.type}} Shipping
      </span>
      <span class="xb-cart__item-shipping md-margin-left-1">
        {{product.shippingItem.priceItem == 0 ? '': product.shippingItem.priceItem | exchangeCurrency: currency | currency: currency }}
      </span>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-cart__item-sale">{{product.salePrice | exchangeCurrency: currency | currency: currency }}</div>
      <div class="line-through xb-cart__item-original">
        {{product.unitPrice | exchangeCurrency: currency | currency: currency }}
      </div>
    </div>
  </div>
  <div *ngIf="isEdit" fxFlex fxLayout="column" fxLayoutAlign="center start">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-1" (click)="minusNumber()">
        <i class="material-icons xb-pointer" >remove</i>
      </div>
      <div class="xb-cart__item-margin-top">
        <mat-form-field class="xb-cart__item-input unicorn-dark-theme md-align-center">
          <input type="number" class="unicorn-dark-theme xb-cart__align-center" matInput [ngModel]="product.quantity" step="1" min="0"
                 (ngModelChange)="numberChanges($event)">
        </mat-form-field>
      </div>
      <div class="md-margin-left-1" (click)="plusNumber()">
        <i class="material-icons xb-pointer" >add</i>
      </div>
    </div>
    <div *ngIf="product.shippingItem">
      <div class="xb-cart__item-select xb-cart__item-select-mobile" (click)="openDialog()">
        {{product.shippingItem.type}} Shipping
        <span class="xb-cart__item-select-tri"></span>
      </div>
      <div class="xb-cart__item-sale md-margin-top-1">
        {{product.shippingItem.priceItem | exchangeCurrency: currency | currency: currency }}
      </div>
      <div class="md-margin-top-1 xb-cart__item-select-text-1">{{product.shippingItem.shippingTimeMin}}-{{product.shippingItem.shippingTimeMax}} days</div>
    </div>
  </div>
  <div fxFlex="none" fxLayout="column" fxLayoutAlign="center center" *ngIf="!isEdit">
    <div class="xb-cart__item-icon xb-pointer" (click)="onEdit()">
      <i class="material-icons" >edit</i>
    </div>
    <div class="xb-cart__item-icon xb-pointer md-margin-top-1" (click)="delete()">
      <i class="material-icons" >delete</i>
    </div>
    <div class="md-margin-top-1">
      × {{product.quantity}}
    </div>
  </div>
  <div fxFlex="none" fxLayout="column" fxLayoutAlign="start center" *ngIf="isEdit">
    <div class="unicorn-dark-theme">
      <button class="xb-cart__item-button" mat-raised-button color="primary" (click)="onEdit()">SAVE</button>
    </div>
  </div>
</div>
<div class="xb-cart__dialog" *ngIf="isDialogOpen" (click)="openDialog()" fxLayout="column" fxLayoutAlign="end stretch"
  fxHide.gt-sm>
  <div class="unicorn-dark-theme background-bg-white" (click)="$event.stopPropagation()">
    <mat-radio-group [ngModel]="product.shippingItem" (ngModelChange)="changeShipping($event)" fxLayout="column">
      <mat-radio-button class="xb-cart__dialog-list" *ngFor="let item of product.shippingPrices" [value]="item" color="primary">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span>{{ item.type }} Shipping</span>
            <div class="md-margin-left-2 xb-cart__item-sale">
              {{item.priceItem == 0 ? '': item.priceItem | exchangeCurrency: currency | currency: currency }}
            </div>
          </div>
          <div class="md-dark-secondary xb-cart__dialog-margin-top">
            {{item.shippingTimeMin}}-{{item.shippingTimeMax}} days
          </div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
