<div class="xb-login__scroll background-bg-light" fxShow.xs="false">
  <div class="xb-login__scroll-inner" fxLayout="column">
    <div class="background-bg-black">
      <div class="container">
        <app-navigation-header [status]="true"></app-navigation-header>
      </div>
    </div>
    <div  fxFlex="noshrink">
      <div class="container">
        <div class="xb-login__container-1">
          <div class="xb-login__title md-headline">
            Reset your password
          </div>
          <div class="md-margin-top-2">
            email : {{email}}
          </div>
          <div class="md-margin-top-2">
            <div>
              <div class="xb-login__error md-margin-bottom-2" *ngIf="resetErr">{{resetErr}}</div>
              <form [formGroup]="resetForm" novalidate  fxLayout="column" fxLayoutAlign="start start">

                <mat-form-field class="xb-login__width-mobile">
                  <input matInput type="password" formControlName="password"
                         validateEqual="confirmPassword" placeholder="Set a new password"
                         reverse="true">
                </mat-form-field>
                <div *ngIf="formErrors['password']" class="xb-input-error">
                  {{ formErrors['password'] }}
                </div>

                <mat-form-field class="xb-login__width-mobile">
                  <input matInput type="password" formControlName="confirmPassword"
                         validateEqual="password" placeholder="Confirm your new password"
                         reverse="false">
                </mat-form-field>

                <div *ngIf="formErrors['confirmPassword']" class="xb-input-error">
                  {{ formErrors['confirmPassword'] }}
                </div>
                <button class="xb-login__margin-top" mat-raised-button color="primary"
                        (click)="resetPassword()">SUBMIT</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-bottom-footer></app-bottom-footer>
  </div>
</div>
<div class="background-bg-black" *ngIf="!dialogRef" fxShow.gt-xs="false">
  <div class="container" >
    <app-navigation-header [status]="true"></app-navigation-header>
  </div>
</div>
<div class="xb-login__mobile-bg" fxLayout="column" fxShow.gt-xs="false">
  <div fxLayout="column">
    <div class="xb-login__title md-headline">
      Reset your password
    </div>
    <div class="md-margin-top-2">
      email : {{email}}
    </div>
    <div class="md-margin-top-2">
      <div>
        <div class="xb-login__error md-margin-bottom-2" *ngIf="resetErr">{{resetErr}}</div>
        <form [formGroup]="resetForm" novalidate  fxLayout="column" fxLayoutAlign="start start">

          <mat-form-field class="xb-login__width-mobile">
            <input matInput type="password" formControlName="password"
                   validateEqual="confirmPassword" placeholder="Set a new password"
                   reverse="true">
          </mat-form-field>
          <div *ngIf="formErrors['password']" class="xb-input-error">
            {{ formErrors['password'] }}
          </div>

          <mat-form-field class="xb-login__width-mobile">
            <input matInput type="password" formControlName="confirmPassword"
                   validateEqual="password" placeholder="Confirm your new password"
                   reverse="false">
          </mat-form-field>

          <div *ngIf="formErrors['confirmPassword']" class="xb-input-error">
            {{ formErrors['confirmPassword'] }}
          </div>
          <button class="xb-login__margin-top" mat-raised-button color="primary"
                  (click)="resetPassword()">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="xb-login__mobile-height" fxLayout="row" fxLayoutAlign="center center" fxShow.gt-xs="false">
  <i class="iconfontXberts icon-ic-close" fxFlex="none" (click)="close()"></i>
</div>
