<div class="container">
  <div class="xb-login__title md-headline">
    Reset your password
  </div>
  <div class="md-margin-top-2 xb-login__container-1">
    email : {{email}}
  </div>
  <div class="md-margin-top-2">
    <div class="xb-login__container">
      <div fxFLex class="xb-login__width">
        <div class="xb-login__error md-margin-bottom-2" *ngIf="resetErr">{{resetErr}}</div>
        <form [formGroup]="resetForm" novalidate>

          <mat-form-field>
            <input matInput type="text" formControlName="password"
                   validateEqual="confirmPassword" placeholder="Set a new password"
                   reverse="true">
          </mat-form-field>
          <div *ngIf="formErrors['password']" class="xb-input-error">
            {{ formErrors['password'] }}
          </div>

          <mat-form-field>
            <input matInput type="text" formControlName="confirmPassword"
                   validateEqual="password" placeholder="Confirm your new password"
                   reverse="false">
          </mat-form-field>

          <div *ngIf="formErrors['confirmPassword']" class="xb-input-error">
            {{ formErrors['confirmPassword'] }}
          </div>
          <button class="xb-login__margin-top" mat-raised-button color="primary"
                  (click)="resetPassword()">SEND</button>
        </form>
      </div>
    </div>

  </div>
</div>
