<div class="xb-account">
  <div class="md-padding-left-2 md-padding-right-2 md-margin-top-3" fxLayout="row" fxLayoutAlign="start center">
    <div class="xb-account-balance__title">Payment Settings</div>
  </div>
  <div class="xb-account-payment-settings md-margin-top-2">
    <div class="xb-account-payment-settings__left">
      <div class="xb-account-payment-settings__left-tip">Please enter your payment information to get paid from us:
      </div>
      <div class="xb-account-payment-settings__left-note">Note: Currently we only support Paypal as our payment option.
        Bank account payment methods will be available soon!
      </div>
      <div *ngIf="isHavePaypal" class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <form [formGroup]="paypalEmailForm" class="xb-account-payment-settings__left-email">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input matInput placeholder="Paypal Account Email" formControlName="paypalEmail"
                     [(ngModel)]="paypalEmail"/>
            </mat-form-field>
          </div>
        </form>
        <div class="md-margin-left-4">
          <button mat-raised-button color="primary" (click)="saveEmail()">SAVE</button>
        </div>
      </div>
      <div class="md-margin-top-2" *ngIf="!isHavePaypal">
        <div class="xb-account-payment-settings__paypal-info xb-bold">Service Provider: Paypal</div>
        <div class="md-margin-top-1 xb-bold">Account Email: {{paypalEmail}}</div>
        <div class="md-margin-top-3">
          <button mat-raised-button color="primary" (click)="changeEmail()">Edit Payment Information</button>
        </div>
      </div>
    </div>


    <div class="xb-account-payment-settings__warn">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="33" class="xb-account-payment-settings__warn-title">Service Provider</div>
        <div fxFlex="33" class="xb-account-payment-settings__warn-title"
             fxLayout="row" fxLayoutAlign="center start">Processing Time
        </div>
        <div fxFlex="33" class="xb-account-payment-settings__warn-title"
             fxLayout="row" fxLayoutAlign="center start">Fees Charged
        </div>
      </div>
      <div class="xb-account-payment-settings__warn-line"></div>
      <div fxLayout="row" fxLayoutAlign="start center" class="md-margin-top-3">
        <div fxFlex="33" class="xb-account-payment-settings__warn-paypal">Paypal</div>
        <div fxFlex="33" class="xb-account-payment-settings__warn-paypal"
             fxLayout="row" fxLayoutAlign="center start">5 - 7 business days
        </div>
        <div fxFlex="33" class="xb-account-payment-settings__warn-paypal"
             fxLayout="row" fxLayoutAlign="center start">0.5 %
        </div>
      </div>
    </div>
  </div>
</div>
