<div  >
  <mat-sidenav-container >
    <mat-sidenav #sidenav mode="push" position="end">
      <div class="xb-store-template__side_container">
        <app-store-template-2-navigation [type]="2"></app-store-template-2-navigation>
      </div>
    </mat-sidenav>
    <!--头部消息-->
    <div class="xb-store-template__100vh" fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
        <div class="xb-store-template__collection-background">
          <div class="xb-store-template__collection-container" fxShow="true" fxShow.xs="false">
            <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="start center">
              <div class="xb-store-template__category-store-name" fxFlex="none">
                {{contextList.nameTag}}
              </div>
              <app-store-template-2-navigation [isBlack]="true" [type]="2" fxFlex></app-store-template-2-navigation>
            </div>
          </div>
          <!--手机mobile的导航-->
          <div class="xb-store-template__left" fxLayout="row" fxLayoutAlign="space-between center" fxShow="false"
               fxShow.xs="true">
            <div class="xb-store-template__store-name" [ngStyle]="{'color': 'black'}">
              {{contextList.nameTag}}
            </div>
            <i class="material-icons xb-pointer" [ngStyle]="{'color': 'black','margin-right':'16px'}"
               (click)="sidenav.open()">menu</i>
          </div>
          <div class="xb-store-template__collection-title">
            Products
          </div>
        </div>
        <!--产品列表-->
        <div class="xb-store-template__collection—product" fxFlex="noshrink">
          <div class="xb-store-template__collection—category" fxLayout="column" fxLayoutAlign="start start" fxShow="true"
               fxShow.xs="false">
            <app-store-template-2-category fxFlexAlign="center" [(category)]="category" [categories]="categories"
                                           (categoryChange)="changeCategory()"></app-store-template-2-category>
          </div>
          <div fxShow="false" fxShow.xs="true">
            <app-store-template-2-category [(category)]="category" [categories]="categories"
                                           (categoryChange)="changeCategory()"></app-store-template-2-category>
          </div>
          <div>
            <div class="xb-store-template__list-products md-margin-top-1">
              <div  fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
                <app-store-item-card *ngFor="let item of product"
                                     fxFlex.xs="48" fxFlex.gt-xs="30"
                                     [product]="item" [status]="1"></app-store-item-card>
                <div fxFlex.xs="48" fxFlex.gt-xs="30"></div>
              </div>
            </div>
          </div>
          <div class="xb-store-template__buttons-bg" fxLaout="row" fxLayoutAlign="center center"
               (click)="jumpList()" *ngIf="nextPage && product.length > 0">
            <div>
              SEE MORE
            </div>
          </div>
        </div>
        <!--网页底部-->
        <div>
          <app-store-template-2-store-foot [storeName]="store.name"></app-store-template-2-store-foot>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
  <router-outlet></router-outlet>
</div>


