<!--pc端图片展示-->
<div class="xb-image-display" fxLayout="row" fxLayoutAlign="start start" fxShow="false" fxShow.gt-xs="true">
    <div class="xb-image-display__top">
      <img *ngIf="selectedImage" [src]="selectedImage">
    </div>
</div>

<!--手机端图片展示-->
<div class="xb-image-display__slide" fxShow="false" fxShow.xs="true"
     *ngIf="imageSources.length >= 2">
  <carousel [sources]="imageSources" [config]="config" (currentSlideChange)="slideChange($event)"></carousel>
  <span>{{ (slideNumber + 1) + ' / ' + imageSources.length }}</span>
</div>
<div class="xb-image-display__slide" fxShow="false" fxShow.xs="true"
     *ngIf="imageSources.length < 2">
  <img *ngIf="imageSources[0]" [src]="imageSources[0]"/>
</div>
