@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-store__footer {
  padding: 0 16px;

  &-word {
    font-size: 14px;
    @include regular();
    cursor: pointer;
    color: black;
  }

  &-title {
    font-size: 24px;
    @include media();
    font-family: Didot, Helvetica;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 16px;
  }

  &-content {
    font-size: 14px;
    line-height: 28px;
  }

  &-bottom-content {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    height: 54px;
    margin-top: 72px;
    @include xb-xs-screen {
      margin-top: 64px;
    }
    &-left {
      margin-left: 24px;
      @include xb-xs-screen {
        margin-left: 0;
        margin-top: 12px;
        margin-bottom: 32px;
      }
    }
  }

  &-icons {
    i {
      font-size: 24px;
    }
  }
}
