<div class="xb-image-display" fxLayout="row" fxLayoutAlign="start start" fxShow="false" fxShow.gt-xs="true">
  <div class="md-margin-right-2 xb-image-display__left-bg" fxLayout="column" fxLayoutAlign="start start">
    <div class="xb-image-display__left"
         [ngClass]="{'active': image == selectedImage ,'xb-image-display__margin-bottom':i < images.length - 1 }"
         *ngFor="let image of images; let i = index;" (click)="selectImage(image)">
      <img *ngIf="image" [src]="image">
    </div>
  </div>
  <div>
    <div class="xb-image-display__right">
      <img *ngIf="selectedImage" [src]="selectedImage">
    </div>
  </div>
</div>
<div *ngIf="!insertImage">
  <div class="xb-image-display__slide" fxShow="false" fxShow.xs="true"
       *ngIf="imageSources.length >= 2" >
    <carousel [sources]="imageSources" [config]="config" (currentSlideChange)="slideChange($event)"></carousel>
    <span>{{ (slideNumber + 1) + ' / ' + imageSources.length }}</span>
  </div>
  <div class="xb-image-display__slide" fxShow="false" fxShow.xs="true"
       *ngIf="imageSources.length < 2" >
    <img *ngIf="imageSources[0]" [src]="imageSources[0]" />
  </div>
</div>
<div *ngIf="insertImage">
  <div class="xb-image-display__slide" fxShow="false" fxShow.xs="true">
    <img [src]="insertImage">
  </div>

</div>
