<img class="xb-mobile-user__image" *ngIf="avatar" [src]="avatar"
     [ngClass]="{'xb-mobile-user__large':large}"
     onerror="src='https://xberts.imgix.net/static/icon/3c1b2af8-f7d3-4c91-a722-a6bc2b7f2f34.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=7e9ead51551e8088a7a15302738a85ed'"/>

<img class="xb-mobile-user__image" *ngIf="!avatar"
     [ngClass]="{'xb-mobile-user__large':large}"
     src="https://xberts.imgix.net/static/icon/3c1b2af8-f7d3-4c91-a722-a6bc2b7f2f34.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=7e9ead51551e8088a7a15302738a85ed"/>
