@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-store {
  &__footer {
    padding: 32px 0;
    background-color: #252525;
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
    position: relative;
    &-mgtop56{
      margin-top: 56px;
    }
    &-right{
      font-size: 14px;
      @include regular();
      color: rgba(255,255,255,.38);
    }


    &-word {
      font-size: 14px;
      @include regular();
      cursor: pointer;
      color: white;
      @include xb-xs-screen{
        line-height: 32px;
      }
    }

    &-margin-top-1 {
      margin-top: 8px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-margin-top-2 {
      margin-top: 0;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-left {
      margin-left: 48px;
      @include xb-xs-screen {
        margin-left: 0;
        text-align: center;
      }
    }

    &-icons {
      margin-top: 24px;
      @include xb-xs-screen {

      }
    }
  }
}
