<div class="xb-store__navigation-bg">
  <div class="xb-store__navigation-scroll" fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.xs="true">
    <div fxFlex="none" class="xb-store__navigation" *ngFor="let item of categories;let i = index;" (click)="changeCategory(item)"
         [ngClass]="{'active': item.name == category.name, 'xb-store__margin-right': i < categories.length - 1,
         'md-padding-right-2': i == categories.length - 1, 'md-margin-left-2':i == 0}">
      <span class="gtag-shop-category">{{ item.name }}</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxShow="true" fxShow.xs="false">
    <div class="xb-store__navigation" *ngFor="let item of categories;let i = index;" (click)="changeCategory(item)"
         [ngClass]="{'active': item.name == category.name, 'xb-store__margin-right': i < categories.length - 1,
         'md-margin-left-2':i == 0}">
      <span class="gtag-shop-category">{{ item.name }}</span>
    </div>
  </div>
</div>


