<div class="xb-guide-dialog__small">
  <div class="xb-guide-dialog__close" fxHide.xs>
    <i class="iconfontXberts icon-ic-close" (click)="close()" ></i>
  </div>
  <div class="xb-guide-dialog__container-2">
    <div class="xb-guide-dialog__text">
      Welcome！We’re currently optimizing our mobile website. To preview or edit a store template, please access our site from your computer!
      <br>
      PS. you can immediately earn $15 once you finish creating your store and share it on your social media!
    </div>
    <div class="xb-guide__margin-top-3" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="close()" >GOT IT</button>
    </div>
  </div>
</div>
