@import "../../../styles/utils/index.scss";
@import "../../../styles/variables.scss";


.xb-articles-header{
  height: 56px;
  background: $primaryColor;

  width: 100%;
  left: 0;

  &__hide{
    overflow: hidden;
    background: $primaryColor;
    height: 0;
  }

  &__icon{
    color: $whiteColor;
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
  }

  &__back{
    color: $whiteColor;
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 2px;
  }

  &__vote{
    color: $whiteColor;
    font-weight: 300;
  }


}


