<div class="xb-articles-header" [ngClass]="{
    'xb-articles-header__hide animation-height-hide':showHeader,
    'animation-height-show':!showHeader
    }" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex>
    <i class="iconfontXberts icon-ic-back xb-articles-header__back" (click)="back()"></i>
  </div>
  <i class="iconfontXberts xb-articles-header__icon icon-ic-upvote"
    [ngClass]="{'xb-articles-header__color':vote.vote}"
    (click)="toVote()"></i>
  <span class="xb-articles-header__vote md-margin-right-2">{{voteAmount > 0 ? voteAmount : ''}}</span>
  <i class="iconfontXberts icon-ic-comment xb-articles-header__icon md-margin-right-2"
     (click)="toComment(interactId, vote.id)"></i>
</div>
