@import "../../../styles/utils/index.scss";
@import "../../../styles/variables.scss";


.xb-articles-header{
  height: 56px;
  background: linear-gradient(180deg, rgba(0,0,0,.75), rgba(0,0,0,0));
  position: fixed;
  width: 100%;
  left: 0;

  &__icon{
    color: $whiteColor;
    padding: 8px;
    font-size: 24px;
    line-height: 24px;
  }

  &__back{
    color: $whiteColor;
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
  }

  &__vote{
    color: $whiteColor;
  }
}


