@import "../../../styles/utils/index.scss";
@import "../../../styles/variables.scss";


.xb-articles-header{
  height: 56px;
  background: $primaryColor;

  >div:nth-child(1){
    flex: 1 1 1px;
    box-sizing: border-box;
    -webkit-box-flex: 1;
  }

  &__hide{
    overflow: hidden;
    background: $primaryColor;
    height: 0;
  }

  &__icon{
    color: $whiteColor;
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
  }

  &__back{
    color: $whiteColor;
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 2px;
  }

  &__vote{
    color: $whiteColor;
    font-weight: 300;
  }

  &__color{
    color: $dangerColor;
  }

}


