<div class="container xb-landing-page__content-container-margin-top" fxLayout="row" fxLayoutAlign="start stretch"
     fxLayout.xs="column">
  <div fxFlex="60" fxLayout="row" fxLayoutAlign="end start" fxFlex.xs="none">
    <div class="xb-landing-page__content-container">
      <ng-container *ngFor="let slide of slides;let i = index;">
        <div class="xb-landing-page__content-container-image" *ngIf="i == slideIndex">
          <img class="animation-transform-auto-1" [src]="slide.image">
        </div>
      </ng-container>
      <swiper class="swiper-container" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" fxFlex="auto">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img [src]="slide.slideImage">
          </div>
        </div>
      </swiper>
    </div>
  </div>
  <div fxFlex="40" fxFlex.xs="none">
    <ng-container *ngFor="let slide of slides;let i = index;">
      <div *ngIf="i == slideIndex;">
        <div class="xb-landing-page__content-container-title-1 animation-transform-auto">{{slide.title}}</div>
        <div class="xb-landing-page__content-container-title-2 animation-transform-auto">
          {{slide.content}}
        </div>
        <div class="xb-landing-page__content-container-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-landing-page__content-container-header">
            <img [src]="slide.avatar">
          </div>
          <div class="xb-landing-page__content-container-name">{{slide.name}}</div>
        </div>
        <div fxLayout="row">
          <a class="xb-landing-page__content-container-button" href="{{slide.url}}" target="_blank">
            VISIT STORE
          </a>
        </div>
      </div>
    </ng-container>
    <div class="xb-landing-page__content-container-margin-top-2" fxLayout="row" fxLayoutAlign="end center"
         fxLayoutAlign.xs="start center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <ng-container *ngFor="let item of slides; let i = index;" >
          <div [ngClass]="{'swiper-pagination-handle':i != slideIndex,'swiper-pagination-handle-active': i == slideIndex}"
               (click)="changeIndex(i)" >
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
