<div class="xb-store-template__card">
  <div class="xb-pointer" >
    <div class="xb-store-template__card-image">
      <a (click)="jumpLink()">
        <img [src]="product.imageUrl">
      </a>
      <div class="xb-store-template__card-content" fxLayout="column" fxLayoutAlign="center center" (click)="jumpLink()">
        <div class="xb-store-template__card-title">{{product.title}}</div>
        <div>
          <div class="xb-store-template__card-price">{{product.salePriceAmount|currency: product.salePriceCurrency: true }}</div>
          <div class="xb-store-template__card-price-1 line-through"
               *ngIf="product.originalPriceAmount > 0 && product.salePriceAmount != product.originalPriceAmount">
            {{product.originalPriceAmount|currency: product.originalPriceCurrency: true }}</div>
          <div class="xb-store-template__card-sale xb-store-template__card-margin"
               *ngIf="product.originalPriceAmount > 0 && product.salePriceAmount != product.originalPriceAmount">
            {{product.salePriceAmount|saleDiscount:product.originalPriceAmount}} OFF</div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-store-template__card-content-1" fxLayout="column" fxLayoutAlign="center center" fxShow.gt-xs="false">
    <div class="xb-store-template__card-title">{{product.title}}</div>
    <div>
      <div class="xb-store-template__card-price">{{product.salePriceAmount|currency: product.salePriceCurrency: true }}</div>
      <div class="xb-store-template__card-price-1 line-through"
           *ngIf="product.originalPriceAmount > 0 && product.salePriceAmount != product.originalPriceAmount">
        {{product.originalPriceAmount|currency: product.originalPriceCurrency: true }}</div>
      <div class="xb-store-template__card-sale xb-store-template__card-margin"
           *ngIf="product.originalPriceAmount > 0 && product.salePriceAmount != product.originalPriceAmount">
        {{product.salePriceAmount|saleDiscount:product.originalPriceAmount}} OFF</div>
    </div>
  </div>
</div>
