<div class="xb-login__header" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-login__circle" [ngClass]="{'active':step == 0}"
       fxLayout="row" fxLayoutAlign="center center">
    GET<br>STARTED
  </div>
  <span class="xb-login__line" fxFlex></span>
  <div class="xb-login__circle" [ngClass]="{'active':step == 1}"
       fxLayout="row" fxLayoutAlign="center center">
    SET UP<br>STORE
  </div>
  <span class="xb-login__line" fxFlex></span>
  <div class="xb-login__circle" [ngClass]="{'active':step == 2}"
       fxLayout="row" fxLayoutAlign="center center">
    ADD<br>PRODUCTS
  </div>
</div>
