<div id="xb-6-template-to-top" (scroll)="changeFixed()" class="xb-4-template">
  <form [formGroup]="storeTemplateForm" novalidate>
    <div class="xb-4-template__container">
      <!--header-->
      <div>
        <div class="xb-4-template__cancel-save">
          <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
            <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
              SAVE
            </div>
            <div class="xb-4-template-edit__button" (click)="close()">
              CANCEL
            </div>
          </div>
          <div class="xb-4-template-edit__left" fxLayout="row" fxLayoutAlign="start center"
               *ngIf="!isShowBlog" (click)="changeIsShowBlog(true)">
            <i class="iconfontXberts icon-pic-show xb-4-template-edit__icon"></i>
            <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
              ADD BLOG SECTION
            </div>
          </div>
          <div class="xb-4-template-edit__left" *ngIf="isShowBlog" (click)="changeIsShowBlog(false)"
               fxLayout="row" fxLayoutAlign="start center">
            <i class="iconfontXberts  icon-pic-hide xb-4-template-edit__icon"></i>
            <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
              HIDE BLOG SECTION
            </div>
          </div>
        </div>
        <div class="xb-4-template__divider-line"></div>
        <div class="xb-4-template__box-shadow" fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-4-template__title">
            {{nameTag}}
          </div>
          <div class="md-margin-left-4" fxShow="true" fxShow.xs="false" fxLayout="row" fxLayoutAlign="start center">
            <app-shop-template-5-navigation [categories]="categories"
                                            [navigationIndex]="viewIndex"
                                            [isNavigationHaveBlog]="isShowBlog"
                                            [isHavePromotion]="isHavePromotion"
                                            (navigationChange)="changeNavigation($event)"
                                            (openCart)="OpenStoreCart()"
                                            (openOrder)="OpenStoreOrder()"
                                            (categoryChange)="changeCategoryNavigation($event)"
                                            [isCategory]="isCategory"></app-shop-template-5-navigation>
          </div>
        </div>
      </div>
      <!--home-->
      <div [hidden]="viewIndex != 0 || isCategory" class="xb-4-template-content">
        <div class="xb-4-template-home">
          <div class="xb-4-template-home__background xb-4-template__w960" fxLayout="column"
               fxLayoutAlign="start center">
            <div class="xb-4-template-home__background-w1200px">
              <div class="xb-4-template-home__title xb-4-template__edit-border">
                <quill-editor formControlName="titleTag" [(ngModel)]="titleTag"
                              (ready)="getTitleInputEdit($event)"
                              [options]="editorConfig"></quill-editor>
                <div class="xb-4-template__edit-text-button" (click)="editTitleInput()">
                  CLICK TO EDIT TEXT
                </div>
              </div>
              <div class="xb-4-template-home__des xb-4-template__edit-border">
                <quill-editor formControlName="desTag" [(ngModel)]="desTag"
                              (ready)="getDesInputEdit($event)"
                              [options]="editorConfig"></quill-editor>
                <div class="xb-4-template__edit-text-button" (click)="editDesInput()">
                  CLICK TO EDIT TEXT
                </div>
              </div>
              <div class="xb-4-template-home__banner-image xb-4-template__edit-border">
                <app-image-upload-preview-four-template [(previewImgFile)]="imageBanner"
                                                        [(previewImgSrc)]="imageBanner"
                                                        [type]="uploadAboutType"></app-image-upload-preview-four-template>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let category of categoryProduct ,let i=index">
            <div class="xb-4-template-category">
              <div class="xb-4-template-home__category-banner" fxLayout="row" fxLayoutAlign="center center"
                   [ngStyle]="{'background': 'url(' + (category.imageCategoryPicture)   + ') center / auto 100% '}">
                <div class="xb-4-template-home__category-mask"></div>
                <div formArrayName="categoryInfoList">
                  <div [formGroupName]="i">
                    <div class="xb-4-template-home__category-subtitle xb-4-template__w960 xb-4-template__edit-border">
                      <quill-editor formControlName="title" [(ngModel)]="tempCategoryList[i].title"
                                    (ready)="getCategoryInput($event)"
                                    [options]="editorConfig"></quill-editor>
                      <div class="xb-4-template__edit-text-button" (click)="editCategoryInput(i)">
                        CLICK TO EDIT TEXT
                      </div>
                    </div>
                  </div>
                </div>

                <div class="xb-4-template-edit__banner-button" (click)="openUpdateCategoryImage(category.id)">
                  CLICK TO CHANGE IMAGE
                </div>
              </div>
              <div class="xb-4-template-home__category-name">
                {{category?.name| makeFirstLetterBig }}
              </div>
              <div class="xb-4-template-collection__product xb-4-template__w960" fxLayoutAlign="space-between start"
                   fxLayout="row wrap"
                   fxLayoutGap.xs="16px">
                <app-shop-item-product-card-5 *ngFor="let item of category.goods"
                                              fxFlex="25"
                                              (productId)="jumpGoodsDetail($event)"
                                              [product]="item" [status]="0"></app-shop-item-product-card-5>
                <div fxFlex="25"></div>
                <div fxFlex="25"></div>
                <div fxFlex="25"></div>
              </div>
              <div class="xb-4-template-category__see-more xb-pointer" fxLayout="row" fxLayoutAlign="center center"
                   (click)="jumpCategory(i)">
                SEE MORE
              </div>
            </div>
          </ng-container>
          <div class="xb-4-template-products__collection-no-goods" *ngIf="categoryProduct.length == 0">
            <div>You haven't added any affiliate products yet.</div>
            <div class="xb-4-template__jump-button" fxLaout="row" fxLayoutAlign="center center"
            >
              <a routerLink="/shop/listings/items" target="_blank">
                Add Your First Product
              </a>
            </div>
          </div>
          <div [hidden]="!isShowBlog">
            <div class="xb-4-template-home__category-banner" fxLayout="row" fxLayoutAlign="center center"
                 [ngStyle]="{'background': 'url(' + (imageBlogCover)   + ') center / auto 100% '}">
              <div class="xb-4-template-home__category-mask"></div>
              <div class="xb-4-template-home__blog-name xb-4-template__edit-border">
                <quill-editor formControlName="blogDesTag" [(ngModel)]="blogDesTag"
                              (ready)="getBlogInputEdit($event)"
                              [options]="editorConfig"></quill-editor>
                <div class="xb-4-template__edit-text-button" (click)="editBlogInput()">
                  CLICK TO EDIT TEXT
                </div>
              </div>
              <div class="xb-4-template-edit__banner-button" (click)="editBlogCoverImage()">
                CLICK TO CHANGE IMAGE
              </div>
            </div>
            <div class="xb-4-template-home__category-name">Blog</div>
            <div class="xb-4-template-blog__article xb-4-template__w960" fxLayout="row wrap"
                 fxLayoutAlign="space-between start"
                 fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutGap.xs="32px">
              <app-shop-item-blog-card-5 *ngFor="let item of homeBlog"
                                         fxFlex.xs="48" fxFlex.gt-xs="50"
                                         [blog]="item" [status]="1"></app-shop-item-blog-card-5>
              <div fxFlex="50"></div>
            </div>
            <div class="xb-4-template-products__collection-no-goods" *ngIf="homeBlog.length == 0">
              <div>You haven't added any blog yet.</div>
              <div class="xb-4-template__jump-button" fxLaout="row" fxLayoutAlign="center center"
              >
                <a routerLink="/shop/blog" target="_blank">
                  Add Your First Blog
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--blog-->
      <div [hidden]="viewIndex != 1 || isCategory" class="xb-4-template-content">
        <div class="xb-4-template-blog">
          <div class="xb-4-template__w960" fxLayout="row wrap" fxLayoutAlign="start start"
               fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutGap.xs="32px">
            <app-shop-item-blog-card-5 *ngFor="let item of blog"
                                       fxFlex.xs="48" fxFlex.gt-xs="50"
                                       [blog]="item" [status]="1"></app-shop-item-blog-card-5>
          </div>
          <div class="xb-4-template-products__collection-no-goods" *ngIf="blog.length == 0">
            <div>You haven't added any blog yet.</div>
            <div class="xb-4-template__jump-button" fxLaout="row" fxLayoutAlign="center center"
            >
              <a routerLink="/shop/blog" target="_blank">
                Add Your First Blog
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--goods_detail-->
      <div [hidden]="viewIndex != 2 || isCategory" class="xb-4-template-content">
        <app-shop-template-6-store-edit-detail
          [productId]="selectProductId"
        ></app-shop-template-6-store-edit-detail>
      </div>
      <!--flash sale-->
      <div [hidden]="viewIndex != 3 || isCategory">
        <div class="xb-4-template-category__list ">
          <div class="xb-4-template-category__title">
            Flash Sale
          </div>
          <div class="xb-4-template-collection__product xb-4-template__w960 " fxLayoutAlign="space-between start"
               fxLayout="row wrap" fxLayoutGap.xs="16px">
            <app-edit-flash-sale-card-6 *ngFor="let item of flashSaleProduct"
                                        fxFlex.xs="44" fxFlex.gt-xs="31"
                                        (productId)="jumpGoodsDetail($event)"
                                        [product]="item" [status]="0"></app-edit-flash-sale-card-6>
            <div fxFlex.xs="44" fxFlex.gt-xs="31"></div>
          </div>
          <div class="xb-4-template-category__see-more xb-pointer" fxLayout="row" fxLayoutAlign="center center"
               *ngIf="nextFlashSalePage && flashSaleProduct.length>0 ">
            SEE MORE
          </div>
        </div>
      </div>
      <!--category-->
      <div [hidden]="!isCategory" class="xb-4-template-content">
        <div>
          <div class="xb-4-template-home__category-banner" fxLayout="row" fxLayoutAlign="center center"
               [ngStyle]="{'background': 'url(' + (category?.imageCategoryPicture)   + ') center / auto 100% ','margin-top':0}">
            <div class="xb-4-template-home__category-mask"></div>
            <div class="xb-4-template-home__category-subtitle xb-4-template__w960 xb-4-template__edit-border">
              <quill-editor formControlName="categoryTitle" [ngModel]="categoryTitle"
                            (ngModelChange)="changeCategoryTitle($event)"
                            (ready)="getCategorySingleInput($event)"
                            [options]="editorConfig"></quill-editor>
              <div class="xb-4-template__edit-text-button" (click)="editCategorySingleInput()">
                CLICK TO EDIT TEXT
              </div>
            </div>

            <div class="xb-4-template-edit__banner-button" (click)="openUpdateCategoryImage(category.id)">
              CLICK TO CHANGE IMAGE
            </div>
          </div>
          <div class="xb-4-template-collection__product xb-4-template__w960" fxLayoutAlign="space-between start"
               fxLayout="row wrap"
               fxLayoutGap.xs="16px">
            <app-shop-item-product-card-5 *ngFor="let item of product"
                                          fxFlex="25"
                                          (productId)="jumpGoodsDetail($event)"
                                          [product]="item" [status]="0"></app-shop-item-product-card-5>
            <div fxFlex="25"></div>
            <div fxFlex="25"></div>
            <div fxFlex="25"></div>
          </div>
          <div class="xb-4-template-category__see-more xb-pointer md-margin-bottom-4" fxLayout="row"
               fxLayoutAlign="center center"
               (click)="queryMoreProduct()" *ngIf="nextPage">
            SEE MORE
          </div>
        </div>
      </div>
      <!--footer-->
      <div>
        <div class="xb-store__footer__pink-line"></div>
        <div class="xb-store__footer xb-4-template__w960">
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="30">
              <div class="xb-store__footer-title">Contact Support</div>
              <div class="xb-store__footer-content"> If you need any help, please go to View Your Order section on the
                navigation bar where you can access your order
                information and contact our customer support!
              </div>
            </div>
            <div fxFlex="15">
              <div class="xb-store__footer-title">Share</div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
                <div class="xb-store__footer-icons xb-pointer gtag-shop-detail-share-button-facebook"
                     appSocialShare [facebook]="{u: shareLink}">
                  <i class="iconfontXberts icon-ic-facebook"></i>
                </div>
                <div class="xb-store__footer-icons xb-pointer md-margin-left-3 gtag-shop-detail-share-button-twitter"
                     appSocialShare [twitter]="{url: shareLink, text: text, hashtags: '' }">
                  <i class="iconfontXberts icon-ic-twitter"></i>
                </div>
                <div class="xb-store__footer-icons xb-pointer md-margin-left-3 gtag-shop-detail-share-button-whatsapp"
                     fxLayout="row" fxLayoutAlign="center center"
                     appSocialShare [whatsApp]="{text: text + ' '+ shareLink}">
                  <i class="iconfontXberts icon-ic-social-whatsapp"></i>
                </div>
              </div>
            </div>
            <div fxFlex="25">
              <div class="xb-store__footer-title">About</div>
              <div class="xb-store__footer-word">Why Shop With Us</div>
              <div class="xb-store__footer-word md-margin-top-1">FAQ</div>
              <div class="xb-store__footer-word md-margin-top-1">Privacy Policy</div>
              <div class="xb-store__footer-word md-margin-top-1">Return Policy</div>
            </div>
          </div>
          <div class="xb-store__footer-bottom-content" fxLayout="row" fxLayoutAlign="center center">
            © 2018 All rights reserved.<span class="md-margin-left-3">POWERED BY SocialCommer</span>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<ng-container *ngFor="let category of categoryProduct ,let i=index">
  <div class="xb-4-template-picture__background" *ngIf="isOpenUploadCategoryPicture && (category.id == cagegoryId)">
    <div class="xb-4-template__detail-close" (click)="closeUpdateCategoryImage(false,'')" fxShow="false"
         fxShow.sm="true"
         fxShow.xs="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-4-template__detail">
      <div class="xb-4-template__detail-close" (click)="closeUpdateCategoryImage(false,'')" fxShow="false"
           fxShow.gt-sm="true">
        <i class="iconfontXberts icon-ic-close"></i>
      </div>
      <div class="xb-4-template__mobile-dialog-inner">
        <app-image-upload-preview [ratio]="ratioBanner"
                                  (previewImgFileChange)="closeUpdateCategoryImage(true,$event)"></app-image-upload-preview>
      </div>
    </div>
  </div>
</ng-container>
<div class="xb-4-template-picture__background" *ngIf="imageBlogCoverEdited">
  <div class="xb-store-template__detail-close" (click)="editBlogCoverImage()" fxShow="false" fxShow.sm="true"
       fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-4-template__detail">
    <div class="xb-4-template__detail-close" (click)="editBlogCoverImage()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-4-template__mobile-dialog-inner">
      <app-image-upload-preview [(previewImgFile)]="imageBlogCover" [ratio]="ratio"
                                (previewImgFileChange)="editBlogCoverImage()"></app-image-upload-preview>
    </div>
  </div>
</div>
<div class="xb-4-template-picture__background" *ngIf="storeEdited">
  <div class="xb-4-template__detail-close" (click)="editStore()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-4-template__detail">
    <div class="xb-4-template__detail-close" (click)="editStore()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-4-template__mobile-dialog-inner">
      <div class="xb-4-template-store__title-1">
        Ready to Publish?
      </div>
      <div class="xb-4-template-store__content-1">
        Make sure all these setting are correct before your store goes live!
      </div>
      <form [formGroup]="storeForm" novalidate>
        <div class="md-margin-top-2 md-margin-right-2" fxLayout="column">
          <div class="md-dark-secondary">
            Store Name
          </div>
          <mat-form-field>
            <input matInput formControlName="name">
          </mat-form-field>
          <div *ngIf="formErrors['name']" class="xb-input-error">
            {{ formErrors['name'] }}
          </div>
          <div class="md-dark-secondary">
            Store Description (Used for social media sharing and search optimization)
          </div>
          <mat-form-field class="xb-4-template-store__width-100">
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <div *ngIf="formErrors['description']" class="xb-input-error">
            {{ formErrors['description'] }}
          </div>
          <div class="md-dark-secondary">
            Your Store URL
          </div>
          <div class="md-margin-bottom-1" fxLayout="row" fxLayoutAlign="start center">
            <div>
              https://www.socialcommer.com/store/
            </div>
            <mat-form-field class="md-margin-left-2 xb-shop__width-1">
              <input matInput formControlName="displayName">
            </mat-form-field>
          </div>
          <div *ngIf="formErrors['displayName']" class="xb-input-error">
            {{ formErrors['displayName'] }}
          </div>
          <div class="xb-4-template-store__margin-top-48" fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" (click)="changeStore()">PUBLISH</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="xb-4-template-picture__background" *ngIf="storeCart" [ngStyle]="{'background-color':'white'}">
  <div class="xb-4-template__cancel-save">
    <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
        SAVE
      </div>
      <div class="xb-4-template-edit__button" (click)="close()">
        CANCEL
      </div>
    </div>
    <div class="xb-4-template-edit__left" fxLayout="row" fxLayoutAlign="start center"
         *ngIf="!isShowBlog" (click)="changeIsShowBlog(true)">
      <i class="iconfontXberts icon-pic-show xb-4-template-edit__icon"></i>
      <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
        ADD BLOG SECTION
      </div>
    </div>
    <div class="xb-4-template-edit__left" *ngIf="isShowBlog" (click)="changeIsShowBlog(false)"
         fxLayout="row" fxLayoutAlign="start center">
      <i class="iconfontXberts  icon-pic-hide xb-4-template-edit__icon"></i>
      <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
        HIDE BLOG SECTION
      </div>
    </div>
  </div>
  <div class="xb-4-template__divider-line"></div>
  <app-edit-cart-main-6 [storeName]="nameTag" (closeStoreCart)="jumpStoreCart()"
                        (openStoreOrder)="OpenStoreOrder()"></app-edit-cart-main-6>
</div>
<div class="xb-4-template-picture__background" *ngIf="storeOrder" [ngStyle]="{'background-color':'white'}">
  <div class="xb-4-template__cancel-save">
    <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
        SAVE
      </div>
      <div class="xb-4-template-edit__button" (click)="close()">
        CANCEL
      </div>
    </div>
    <div class="xb-4-template-edit__left" fxLayout="row" fxLayoutAlign="start center"
         *ngIf="!isShowBlog" (click)="changeIsShowBlog(true)">
      <i class="iconfontXberts icon-pic-show xb-4-template-edit__icon"></i>
      <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
        ADD BLOG SECTION
      </div>
    </div>
    <div class="xb-4-template-edit__left" *ngIf="isShowBlog" (click)="changeIsShowBlog(false)"
         fxLayout="row" fxLayoutAlign="start center">
      <i class="iconfontXberts  icon-pic-hide xb-4-template-edit__icon"></i>
      <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
        HIDE BLOG SECTION
      </div>
    </div>
  </div>
  <div class="xb-4-template__divider-line"></div>
  <app-edit-6-order [storeName]="nameTag" (closeStoreOrder)="jumpStoreOrder()"
                    (openStoreCart)="OpenStoreCart()"></app-edit-6-order>
</div>
