<div class="xb-store-template__card">
  <div class="xb-pointer">
    <div class="xb-store-template__card-image">
      <a (click)="jumpLink()">
        <img [src]="product.mainImage">
      </a>
    </div>
    <div class="xb-store-template__card-content" fxLayout="column">
      <div class="xb-store-template__card-title">{{product.title}}</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center"
           fxLayout.xs="column" fxLayoutAlign.xs="start start">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-store-template__card-price">{{product.salePriceAmount|currency: product.salePriceCurrency: true }}</div>
          <div class="line-through md-margin-left-1" *ngIf="product.originalPriceAmount > 0">{{product.originalPriceAmount|currency: product.originalPriceCurrency: true }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
