@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-shop {

  &__products {
    &-title {
      font-size: 24px;
      @include media();
      color: rgba(0, 0, 0, .87);
    }

    &-title-1 {
      font-size: 14px;
      margin-top: 12px;
    }

    &-title-2 {
      font-size: 16px;
      @include media();
      color: rgba(0, 0, 0, .87);
    }

    &-title-bg {
      padding: 32px;
      background-color: $whiteColor;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    &-title-bg-1 {
      padding: 24px 32px;
      background-color: $whiteColor;
    }

    &-content {
      max-height: calc(100vh - 72px);
      overflow: scroll;
    }

    &-search {
      border: 1px solid #dcdcdc;
      border-radius: 10px;
      padding-left: 16px;
      height: 40px;
      margin-top: 16px;
      margin-bottom: 16px;
      position: relative;
      overflow: hidden;

      > i {
        line-height: 40px;
        width: 64px;
        text-align: center;
        color: $whiteColor;
        background-color: $primaryColor;
      }

      > input {
        border: none;
        background-color: transparent;
        width: 340px;
        color: rgba(0, 0, 0, .87);
        @include xb-xs-screen{
          width: 200px;
        }
      }

      &-close {
        position: absolute;
        cursor: pointer;
        right: 80px;
        top: 50%;
        @include transform(translateY(-50%));
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: rgba(0, 0, 0, .54);
        > i {
          font-size: 12px;
          line-height: 12px;
          color: $whiteColor;
        }
      }

      &-result {
        color: $primaryColor;
      }
    }

    &-sort {
      width: 180px;
      line-height: 40px;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      padding: 0 16px;
      background-color: $whiteColor;
    }

    &-padding-right {
      padding-right: 8px;
    }

    &-none {
      padding: 96px 0;
      border-radius: 4px;
      img {
        width: 300px;
      }
      span {
        margin-top: 16px;
        @include media();
      }
    }
  }

  &__width {
    width: 250px;
    margin: 0 10px;
  }
}

.box {
  max-width: 24% !important;
  flex: 1 1 240px !important;
  -webkit-flex: 1 1 240px !important;
  min-width: 24%;

  @include xb-xs-screen {
    max-width: 100% !important;
    flex: 1 1 507px !important;
    -webkit-flex: 1 1 507px !important;
    min-width: 100%;
  }
  @include xb-sm-screen {
    max-width: 48% !important;
    flex: 1 1 243px !important;
    -webkit-flex: 1 1 243px !important;
    min-width: 48%;
  }
  @include xb-md-screen {
    max-width: 24% !important;
    flex: 1 1 192px !important;
    -webkit-flex: 1 1 192px !important;
    min-width: 24%;
  }
  @include xb-lg-screen {
    max-width: 24% !important;
    flex: 1 1 245px !important;
    -webkit-flex: 1 1 245px !important;
    min-width: 24%;
  }

}
