<div class="xb-order-tracking__height-3" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <div class="xb-order-tracking__detail-width xb-order-tracking__detail-title-2
      xb-order-tracking__detail-margin-right" fxFlex="none">
      Product
    </div>
    <div class="xb-order-tracking__detail-title-2 xb-order-tracking__detail-margin-right md-align-center" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">Quantity</div>
    <div class="xb-order-tracking__detail-title-2 xb-order-tracking__detail-margin-right  md-align-center" fxFlex="25"
         fxLayout="column" fxLayoutAlign="center center">Order Price</div>
    <div class="xb-order-tracking__detail-title-2 xb-order-tracking__detail-margin-right md-align-center" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">Order Status</div>
  </div>
  <div class="xb-order-tracking__detail-title-2 xb-order-tracking__detail-width-3 md-align-center" fxFlex="none"
       fxLayout="column" fxLayoutAlign="center center">Action</div>
</div>
