<div class="xb-4-template-blog md-margin-bottom-4 xb-4-template__container-content">
  <div class="xb-4-template-blog__article xb-4-template__w960" fxLayout="row wrap" fxLayoutAlign="space-between start"
       fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutGap.xs="32px">
    <app-shop-item-blog-card-5 *ngFor="let item of blog"
                               fxFlex.xs="48" fxFlex.gt-xs="50"
                               [blog]="item" [status]="1"></app-shop-item-blog-card-5>
    <div fxFlex="50"></div>
  </div>
  <div class="xb-4-template__center md-margin-top-4" *ngIf="isBlog">There are no blogs.</div>
  <div class="xb-4-template-category__see-more xb-pointer" fxLayout="row" fxLayoutAlign="center center"
       (click)="jumpList()" *ngIf="nextPage">
    SEE MORE
  </div>
</div>
