<div class="xb-login__mobile-bg" fxLayout="column" >
  <div class="xb-login__login-title md-margin-top-2">Log In</div>
  <div class="xb-login__error md-margin-bottom-2" *ngIf="loginErr">{{loginErr}}</div>
  <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginGroup" (ngSubmit)="login()" novalidate>
    <div class="xb-login__width">
      <mat-form-field>
        <input matInput placeholder="Email Address" formControlName="username">
      </mat-form-field>
      <div *ngIf="formErrors['username']" class="xb-input-error">
        {{ formErrors['username'] }}
      </div>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <div *ngIf="formErrors['password']" class="xb-input-error">
        {{ formErrors['password'] }}
      </div>
    </div>
    <div fxLayout="row">
      <a class="text-underline md-margin-bottom-3 md-dark-primary" (click)="openResetPassword()">Forgot password?</a>
    </div>
    <div fxLayout="column">
      <button class="gtag-login-email-btn" mat-raised-button color="primary" type="submit">LOG IN</button>
    </div>
  </form>
  <div fxLayout="column">
    <div class="md-align-center md-margin-top-2 md-margin-bottom-2">OR</div>
    <button class="xb-login__facebook" mat-raised-button (click)="facebookLogin('facebook')">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="iconfontXberts icon-ic-facebook"></i>
        <span class="md-align-center gtag-login-facebook-btn" fxFlex>Continue with Facebook</span>
      </div>
    </button>
    <button class="xb-login__google" mat-raised-button (click)="googleLogin('google')">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="iconfontXberts icon-pic-google"></i>
        <span class="md-align-center gtag-login-google-btn" fxFlex>Continue with Google</span>
      </div>
    </button>
  </div>
  <div>Don't have an account?
    <a class="text-underline md-margin-left-1 md-dark-primary" (click)="openSignUp()">Sign Up</a>
  </div>
</div>
<div class="xb-login__mobile-height" fxLayout="row" fxLayoutAlign="center center">
  <i class="iconfontXberts icon-ic-close" fxFlex="none" (click)="close()"></i>
</div>
