<div class="xb-login__hidden">
  <google-signin [clientId]="systemConstant.googleClientId"
                 (googleSignInSuccess)="onGoogleSignInSuccess($event)">
  </google-signin>
</div>
<div class="xb-login__scroll background-bg-light" fxShow.xs="false"  fxLayout="row" fxLayoutAlign="stretch stretch">
  <div fxLayout="column" fxFlex>
    <div class="background-bg-white">
      <div class="container">
        <app-navigation-header [status]="true"></app-navigation-header>
      </div>
    </div>
    <div  fxFlex="noshrink" fxLayout="row" fxLayoutAlign="center center">
      <div class="xb-login__container" fxLayout="column" >
        <div class="xb-login__login-title">Log In</div>
        <div class="xb-login__error md-margin-bottom-2" *ngIf="loginErr">{{loginErr}}</div>
        <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginGroup" (ngSubmit)="login()" novalidate>
          <div class="xb-login__width">
            <mat-form-field>
              <input matInput placeholder="Email Address" formControlName="username">
            </mat-form-field>
            <div *ngIf="formErrors['username']" class="xb-input-error">
              {{ formErrors['username'] }}
            </div>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <div *ngIf="formErrors['password']" class="xb-input-error">
              {{ formErrors['password'] }}
            </div>
          </div>
          <a class="text-underline md-margin-bottom-3 md-dark-primary" routerLink="/cp/resetPassword">Forgot password?</a>
          <div fxLayout="column">
            <button mat-raised-button color="primary" type="submit">LOG IN</button>
          </div>
        </form>
        <div [hidden]="true">
          <div class="md-align-center md-margin-top-2 md-margin-bottom-2">OR</div>
          <button class="xb-login__facebook" mat-raised-button >
            <div fxLayout="row" fxLayoutAlign="start center">
              <i class="iconfontXberts icon-ic-facebook"></i>
              <span class="md-align-center" fxFlex>Continue with Facebook</span>
            </div>
          </button>
          <button class="xb-login__google" mat-raised-button (click)="googleLogin()">
            <div fxLayout="row" fxLayoutAlign="start center">
              <i class="iconfontXberts icon-pic-google"></i>
              <span class="md-align-center" fxFlex>Continue with Google</span>
            </div>
          </button>
        </div>
        <div class="md-margin-top-2">Don't have an account?
          <a class="text-underline md-margin-left-1 md-dark-primary" routerLink="/cp/signUp">Sign Up</a>
        </div>
      </div>
    </div>
    <app-bottom-footer></app-bottom-footer>
  </div>
</div>
<div class="background-bg-black" *ngIf="!dialogRef" fxShow.gt-xs="false">
  <div class="container">
    <app-navigation-header [status]="true"></app-navigation-header>
  </div>
</div>
<div class="xb-login__mobile-bg" fxLayout="column" fxShow.gt-xs="false">
  <div class="xb-login__login-title md-margin-top-2">Log In</div>
  <div class="xb-login__error md-margin-bottom-2" *ngIf="loginErr">{{loginErr}}</div>
  <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginGroup" (ngSubmit)="login()" novalidate>
    <div class="xb-login__width">
      <mat-form-field>
        <input matInput placeholder="Email Address" formControlName="username">
      </mat-form-field>
      <div *ngIf="formErrors['username']" class="xb-input-error">
        {{ formErrors['username'] }}
      </div>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <div *ngIf="formErrors['password']" class="xb-input-error">
        {{ formErrors['password'] }}
      </div>
    </div>
    <a class="text-underline md-margin-bottom-3 md-dark-primary" (click)="openResetPassword()">Forgot password?</a>
    <div fxLayout="column">
      <button mat-raised-button color="primary" type="submit">LOG IN</button>
    </div>
  </form>
  <div [hidden]="true">
    <div class="md-align-center md-margin-top-2 md-margin-bottom-2">OR</div>
    <button class="xb-login__facebook" mat-raised-button >
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="iconfontXberts icon-ic-facebook"></i>
        <span class="md-align-center" fxFlex>Continue with Facebook</span>
      </div>
    </button>
    <button class="xb-login__google" mat-raised-button (click)="googleLogin()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="iconfontXberts icon-pic-google"></i>
        <span class="md-align-center" fxFlex>Continue with Google</span>
      </div>
    </button>
  </div>
  <div class="md-margin-top-2">Don't have an account?
    <a class="text-underline md-margin-left-1 md-dark-primary" (click)="openSignUp()">Sign Up</a>
  </div>
</div>
<div class="xb-login__mobile-height" fxLayout="row" fxLayoutAlign="center center" fxShow.gt-xs="false">
  <i class="iconfontXberts icon-ic-close" fxFlex="none" (click)="close()"></i>
</div>
