@import "../../styles/utils/_index";
@import "../../styles/_variables";

// main
.xb-4-template {

  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
  }

  &__return-policy {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__red {
    color: red;
  }

  &__top-100 {
    margin-top: 100px;
  }
  &__center {
    text-align: center;
  }
  &__nav-close {
    font-size: 24px;
  }
  &__navigation-fixed {
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
  }
  &__navigation-height {
    margin-top: 72px;
    @include xb-xs-screen {
      margin-top: 56px;
    }
  }
  &-content {
    min-height: calc(100vh - 408px);
  }

  &__mobile {
    position: fixed;
    background-color: white;
    z-index: 5;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    &-navigation-fixed {
      position: absolute;
      top: 56px;
    }
  }
  &__menu {
    position: absolute;
    top: 16px;
  }
  &__w960 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  &__w720 {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    &-content {
      min-height: calc(100vh - 407px);
    }
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-family: Didot, Helvetica;
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
    line-height: 56px;
    max-width: 240px;
    @include text-overflow();
  }
  &__left-24px {
    margin-left: 24px;
  }
  &__edit-border {
    border: 1px solid $primaryColor;
    > input {
      border: none;
      font-size: 24px;
      width: auto;
      height: 60px;
      line-height: 58px;
      font-family: Didot, Helvetica;
      text-align: center;
      background-color: transparent;
    }
  }
  &__detail {
    margin-top: 20px;
    margin-bottom: 56px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 40px 40px;
    background-color: $whiteColor;
    @include xb-xs-screen {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    &-close {
      position: absolute;
      left: calc(100% + 24px);
      top: 0;
      color: $whiteColor;
      cursor: pointer;
      i {
        font-size: 56px;
        line-height: 56px;
      }

      @include xb-xs-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }

      @include xb-sm-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }
  &__mobile-dialog-inner {
    @include xb-xs-screen {
      padding: 16px;
    }
    @include xb-sm-screen {
      padding: 16px;
    }
  }

}

// home
.xb-4-template-home {
  background-color: #f1f1f1;
  padding-bottom: 100px;
  @include xb-xs-screen {
    padding-bottom: 60px;
  }
  &__background {
    height: 645px;
    position: relative;
    @include xb-xs-screen {
      height: 320px;
    }
  }
  &__title {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: $whiteColor;
    margin-top: 200px;
    @include xb-xs-screen {
      margin-top: 105px;
      text-align: center;
      min-width: 100px;
      width: calc(100vw - 64px);
    }
  }
  &__des {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 200px;
    @include xb-xs-screen {
      margin-top: 120px;
      width: 100vw;
    }
  }
  &__about-store {
    margin-top: 112px;
    @include xb-xs-screen {
      margin-top: 40px;
    }
  }
  &__about-cover {
    position: relative;
    width: 393px;
    height: 393px;
    @include xb-xs-screen {
      width: calc(100vw - 32px);
      height: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__about-des {
    background-color: $whiteColor;
    height: 393px;
    max-width: 607px;
    @include xb-xs-screen {
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
    &-content {
      margin-left: 48px;
      margin-right: 48px;
      @include xb-xs-screen {
        margin: 32px 16px;
      }
    }
  }
  &__about-title {
    position: relative;
    height: auto;
    color: $whiteColor;
    margin-top: 126px;
    margin-left: auto;
    margin-right: auto;
  }
  &__blog {
    &-background {
      height: 560px;
      position: relative;
      margin-top: 96px;
      @include xb-xs-screen {
        height: 320px;
        margin-top: 88px;
      }
    }

    &-title {
      font-family: Didot, Helvetica;
      font-size: 48px;
      font-weight: bold;
      margin-top: 180px;
      color: $whiteColor;
      text-align: center;
      position: relative;
      @include xb-xs-screen {
        margin-top: 96px;
        font-size: 34px;
      }

    }

    &-des {
      margin-top: 12px;
      height: auto;
      position: relative;
      width: 1000px;
      color: $whiteColor;
      @include xb-xs-screen {
        width: 100vw;
        margin-top: 8px;
        margin-left: 24px;
        margin-right: 24px;
      }
    }
    &-see-more {
      position: relative;
      width: 160px;
      height: 48px;
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      font-family: Helvetica;
      @include regular();
      color: white;
      border: 1px solid white;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

}

// home ->products
.xb-4-template-products {
  margin-top: 88px;
  @include xb-xs-screen {
    margin-top: 24px;
  }
  &__text {
    width: 48%;
    @include xb-xs-screen {
      width: 100%;
    }
  }
  &__title {
    margin-top: 72px;
    position: relative;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    @include xb-xs-screen {
      margin-top: 54px;
    }
  }
  &__subtitle {
    margin-left: 48px;
    margin-right: 48px;
    position: relative;
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;
    @include xb-xs-screen {
      margin-bottom: 28px;
    }
    &-image {
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      position: relative;
      > a {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        > img {
          position: absolute;
          width: 100%;
          left: 50%;
          top: 50%;
          @include transform(translate(-50%, -50%));
        }
      }
    }

    &-title {
      margin-top: 24px;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      height: 28px;
      font-family: Didot, Helvetica;
      @include text-overflow();
      width: 100%;
      @include xb-xs-screen {
        width: 265px;
      }
      text-align: center;
    }
    &-price {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }
    &-original {
      font-size: 16px;
      font-family: Didot, Helvetica;
      font-weight: bold;
      margin-left: 16px;
      @include regular();
      color: black;
    }
  }

}

//home->blog
.xb-4-template-blog {
  padding-top: 64px;
  padding-bottom: 40px;
  background-color: #f1f1f1;
  @include xb-xs-screen {
    padding-top: 32px;
  }
  &__article {
    margin-top: 48px;
    @include xb-xs-screen {
      margin-top: 40px;
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: bold;
    font-family: Didot, Helvetica;
    text-align: center;
    @include xb-xs-screen {
      @include xb-xs-screen {
        font-size: 34px;
      }
    }
  }
  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;
    @include xb-xs-screen {
      margin-bottom: 0;
      width: calc(100vw - 32px);
    }
    &-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 40%;
      overflow: hidden;
      > img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
    &-date {
      font-size: 14px;
      margin-top: 16px;
      color: rgba(0, 0, 0, 0.54);
      font-family: Helvetica;
      @include regular();
    }
    &-context {
      font-size: 16px;
      @include regular();
      line-height: 28px;
      max-height: 84px;
      overflow: hidden;
      font-family: Helvetica;
      margin-top: 8px;

    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      height: 64px;
      overflow-y: hidden;
      line-height: 32px;
      font-family: Didot, Helvetica;
      margin-top: 8px;
    }
    &-more {
      font-size: 14px;
      font-family: Helvetica;
      font-weight: bold;
      color: black;
      margin-top: 16px;
      margin-bottom: 40px;
    }
  }
  // blog-->detail
  &__detail {
    background-color: #f1f1f1;
    padding-bottom: 40px;
    @include xb-xs-screen {
      background-color: white;
    }
    &-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 32%;
      overflow: hidden;
      @include xb-xs-screen {
        padding-bottom: 55%;
      }
      > img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
    &-content {
    }
    &-title {
      padding-top: 64px;
      font-family: Didot, Helvetica;
      font-size: 34px;
      font-weight: bold;
      line-height: 48px;
      text-align: center;
      @include xb-xs-screen {
        padding-top: 16px;
        text-align: left;
        font-size: 24px;
        line-height: 36px;
        margin-left: 16px;
        margin-right: 16px;
      }
    }
    &-time {
      margin-top: 24px;
      margin-bottom: 40px;
      font-size: 14px;
      font-family: Helvetica;
      @include regular();
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
      @include xb-xs-screen {
        text-align: left;
        margin-left: 16px;
        margin-top: 12px;
        margin-bottom: 24px;
      }
    }
    &-des {
      margin-top: 32px;
      line-height: 24px;
      margin-left: 16px;
      margin-right: 16px;
    }
    &-share {
      width: 40px;
      height: 92px;
      position: fixed;
      bottom: 32px;
      left: 0;

    }
    &-share-item {
      background-color: #e0ac18;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      i {
        font-size: 24px;
        color: white;
      }
    }
    &-display {
      position: relative;
    }
  }
}

//blog与首页的想区分
.xb-4-template-blog-two {
  margin-top: 32px;
  &__card {
    display: block;
    width: 720px;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
    @include xb-xs-screen {
      margin-bottom: 0;
    }
    &-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 41%;
      overflow: hidden;
      > img {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
    &-date {
      font-size: 14px;
      margin-top: 12px;
      color: rgba(0, 0, 0, 0.54);
      font-family: Helvetica;
      @include regular();
    }
    &-context {
      font-size: 16px;
      @include regular();
      line-height: 28px;
      max-height: 84px;
      overflow: hidden;
      font-family: Helvetica;
      margin-top: 8px;

    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      font-family: Didot, Helvetica;
      margin-top: 24px;
    }
    &-info {
      margin-left: 24px;
    }
    &-publish {
      font-family: Didot, Helvetica;
      font-size: 16px;
      font-weight: bold;
      margin-top: 16px;
      color: #000000;
    }
    &-view {
      font-family: Helvetica;
      font-size: 14px;
      @include regular();
      margin-top: 32px;
    }
  }
}

//导航 navigation
.xb-4-template-navigation {
  @include regular();
  text-align: center;
  font-size: 16px;
  font-family: Helvetica;
  &.active {
    font-weight: bold;
  }
  &__container {
    height: 72px;
    max-width: 1280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  &__side-bg {
    width: 100vw;
    background-color: black;
  }
  &__side-flex {
    font-size: 14px;
    height: 48px;
    color: white;
    line-height: 48px;
    width: 100%;
    text-align: center;
    &.active {
      font-weight: bold;
    }
  }
  &__side_container {
    width: calc(100vw - 56px);
    padding-top: 20px;
    background-color: #f9f9f9;
  }
  &__store-name {
    font-family: 'Didot';
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-left: 40px;
    padding-right: 50px;
  }
  &__more {
    @include regular();
    position: relative;
    text-align: center;
    font-size: 16px;
    font-family: Helvetica;
    cursor: pointer;
    &-bold {
      font-weight: bold;
    }
    &-bg {
      position: relative;
    }
    &-category {
      position: absolute;
      top: 40px;
      z-index: 5;
      background-color: white;
      left: -15px;
      min-width: 200px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    }
    &-flex {
      @include regular();
      font-size: 16px;
      font-family: Helvetica;
      height: 40px;
      line-height: 40px;
      white-space: nowrap;
      padding-right: 16px;
      padding-left: 16px;

      &.active {
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.04);
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
  &__up-triangle {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid black;
  }
  &__down-triangle {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid black;
  }
}

//collections
.xb-4-template-collection {
  margin-top: 24px;
  &__category {
    width: 220px;
  }
  &__product {
    width: 100%;
    margin-top: 40px;
    @include xb-xs-screen {
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__product-scroll {
    position: relative;
    overflow-x: scroll;
    margin-top: 16px;
    &-no-bar {
      ::-webkit-scrollbar {
        height: 0;
      }
    }
  }

}

//分类category
.xb-4-template-category {
  margin-top: 72px;
  @include xb-xs-screen {
    margin-top: 40px;
  }
  &__list {
    padding-top: 64px;
    padding-bottom: 32px;
    background-color: #f1f1f1;
    @include xb-xs-screen {
      padding-top: 32px;
      padding-bottom: 20px;
    }
  }
  &__title {
    font-family: Didot, Helvetica;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    @include xb-xs-screen {
      font-size: 28px;
    }
  }

  &__see-more {
    width: 160px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: Helvetica;
    @include regular();
    border: 1px solid #000000;
    &:hover {
      background-color: black;
      color: $whiteColor;
    }
  }

}

//about
.xb-4-template-about {
  margin-top: 24px;
  &__image {
    width: 100%;
  }
  &__content {
    position: relative;
  }
}

//图片
.xb-4-template-picture {
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

    @include xb-xs-screen {
      overflow-y: hidden;
    }
  }
}

// store
.xb-4-template-store {
  &__title-1 {
    font-size: 24px;
    @include media();
    margin-bottom: 8px;
  }
  &__content-1 {
    margin-bottom: 24px;
  }
  &__width-100 {
    width: 100%;
  }
  &__margin-top-48 {
    margin-top: 48px;
  }

}

//edit
.xb-4-template-edit {

  &__nav-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__button {
    line-height: 40px;
    border-radius: 16px;
    background-color: $whiteColor;
    color: $blackColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  &__button-1 {
    line-height: 40px;
    border-radius: 16px;
    background-color: $primaryColor;
    color: $whiteColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  &__save-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
  &__banner-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
}

//product --detail
.xb-4-template-detail {
  padding-top: 64px;
  background-color: #f1f1f1;
  overflow-x: hidden;
  @include xb-xs-screen {
    padding-top: 16px;
    background-color: white;
  }

  &__nav-line {
    height: 0;
    background-color: rgba(0, 0, 0, 0.12);
    @include xb-xs-screen {
      height: 1px;
    }
  }
  &__content {
    position: fixed;
    max-width: 365px;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    margin-left: 640px;
    &-mobile{
      height: 100%;
      overflow-y: visible;
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
      padding-left: 0;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }
  &__price {
    font-size: 16px;
    font-weight: bold;
  }
  &__original-price {
    font-size: 16px;
    margin-left: 40px;
    @include regular();
  }
  &__buy-buttons {
    display: block;
    background-color: black;
    border-radius: 4px;
    height: 40px;
    width: 132px;
    cursor: pointer;
    color: $whiteColor;
    font-size: 14px;
    @include media();
    @include xb-xs-screen {
    }
  }
  &__line {
    margin-top: 32px;
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
  }
  &__store-owner {
    margin-top: 32px;
    max-width: 600px;
    padding-bottom: 40px;
    &-title {
      font-weight: bold;
      font-size: 24px;
      color: black;
      font-family: Didot, Helvetica;
    }
    &-des {
      margin-top: 24px;
      font-size: 14px;
      @include regular();
      line-height: 24px;
      margin-right: 24px;
      margin-bottom: 32px;

    }
  }
  &__recommend {
    @include xb-xs-screen {
      background-color: #f1f1f1;
    }

    &-title {
      margin-top: 95px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      font-family: Didot, Helvetica;
      @include xb-xs-screen {
        margin-top: 0;
        padding-top: 40px;
      }
    }
  }
  &__buttons_bg {
    @include xb-xs-screen {
      margin-top: 16px;
    }
  }
}

// 购物车变体
.xb-store-template {
  &__car {
    &-margin-top {
      margin-top: 24px;
      @include xb-xs-screen {
        margin-top: 32px;
      }
    }

    &-margin-top-1 {
      margin-top: 12px;
      @include xb-xs-screen {
        margin-top: 0px;
      }
    }

    &-margin-top-2 {
      margin-top: 20px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-left-part {
      @include media();
      color: rgba(0, 0, 0, .54);
      width: 54px;
      margin-right: 24px;
      @include xb-xs-screen {
        width: auto;
        margin-right: 0;
        margin-bottom: 12px;
      }
    }

    &-bg {
      margin-top: 40px;
      background-color: #efefef;
      border-radius: 4px;
      padding: 24px;
      @include xb-xs-screen {
        margin-top: 32px;
      }
    }

    &-left-part-1 {
      @include media();
      color: rgba(0, 0, 0, .54);
      width: 145px;
      margin-right: 32px;
    }

    &-image {
      width: 54px;
      height: 54px;
      position: relative;
      margin-right: 8px;
      margin-bottom: 8px;
      border: 1px solid #dedede;
      overflow: hidden;
      cursor: pointer;
      > img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
      &.active {
        border: 2px solid black;
      }
    }

    &-text {
      font-size: 16px;
      color: rgba(0, 0, 0, .87);
      padding: 0 8px;
      line-height: 32px;
      margin-right: 16px;
      cursor: pointer;
      @include text-overflow();
      &.active {
        @include media();
        border: 2px solid black;
      }
    }

    &-item {

      &-input {
        border: 1px solid #dedede;
        border-radius: 2px;
        input {
          width: 100%;
          line-height: 40px;
          font-size: 16px;
          border: none;
          text-align: center;
          padding: 0;
        }
      }

      &-add {
        > i {
          display: block;
          user-select: none;
        }
      }
    }
  }

}

.xb-store-template__cart {
  &-position {
    position: relative;
    @include xb-xs-screen {
      margin-right: 24px;
    }
  }
  &-icon {
    font-size: 24px;
    color: black;
    cursor: pointer;
    position: relative;
  }
  &-order-and-cart {
    position: absolute;
    right: 32px;
  }
  &-circle {
    width: 16px;
    height: 16px;
    background: red;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: -11px;
    top: 0;
    text-align: center;
  }
}

.xb-store-about {
  min-height: 100vh;
  height: 100vh;
  overflow: scroll;
  &__mobile-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: bold;
  }
  &__faq {
    &-left {
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      padding: 16px 16px 16px 16px;
      &-title {
        font-size: 16px;
        @include regular();
        cursor: pointer;
        line-height: 40px;
        &.active {
          font-weight: bold;
        }
      }
    }
    &-right {
      margin-left: 32px;
    }
  }
  &__content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 64px;
    @include xb-xs-screen {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 0;
    }
    &-title {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      padding-top: 32px;
    }
    &-subtitle {
      font-size: 18px;
      font-weight: bold;
    }
    &-subtitle-2 {
      font-size: 18px;
      font-weight: bold;
    }
    &-des {
      font-size: 16px;
      line-height: 28px;
      color: #000;
      font-weight: 300;
    }

  }

  &__store-name {
    font-size: 18px;
    font-weight: bold;
  }

  &__navigation {
    max-width: 1000px;
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  &__footer {
    padding: 40px 0;
    background-color: #252525;
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
    position: relative;

    &-word {
      font-size: 12px;
      @include regular();
      cursor: pointer;
      color: rgba(255, 255, 255, .54);
    }

    &-margin-top {
      margin-top: 16px;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-top-1 {
      margin-top: 8px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-margin-top-2 {
      margin-top: 0;
      @include xb-xs-screen {
        margin-top: 8px;
      }
    }

    &-margin-left {
      margin-left: 16px;
      @include xb-xs-screen {
        margin-left: 0;
        text-align: center;
      }
    }

    &-icons {
      position: absolute;
      right: 0;
      bottom: 40px;
      margin-right: 10vw;

      @include xb-xs-screen {
        position: relative;
        bottom: 0;
        margin-right: 0;
        margin-top: 12px;
      }
    }
  }
}

.xb-store-about-shop {
  &__title {
    margin-top: 40px;
    padding-top: 30px;
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-align: center;
    @include xb-xs-screen {
      font-size: 34px;
      margin-top: 40px;
      padding-top: 30px;
    }
  }
  &__title_sub {
    font-size: 24px;
    @include light();
    color: black;
    margin-top: 32px;
    text-align: center;
    @include xb-xs-screen {
      font-size: 14px;
    }
  }
  &__magtop144 {
    margin-top: 80px;
    @include xb-xs-screen {
      margin-top: 32px;
    }
  }
  &__magtop24px {
    margin-top: 0;
    @include xb-xs-screen {
      margin-top: 24px;
    }
  }

  &__magtop48 {
    margin-top: 48px;
  }
  &__16sizeBold {
    font-size: 16px;
    font-weight: bold;
  }
  &__14sizeBold {
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  &__14sizeLight {
    font-size: 14px;
    @include light();
    line-height: 24px;
  }

  &__item {
    max-width: 450px;
  }
  &__icon {
    font-size: 32px;
    color: black;
  }

}

// 添加购物车成功时的弹框
.xb-store-cart-dialog {
  width: 640px;
  padding-bottom: 64px;
  background-color: white;
  @include xb-xs-screen {
    width: calc(100vw - 32px);
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    @include xb-xs-screen {
      padding-left: 16px;
      padding-right: 16px;
    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      color: black;
      line-height: 40px;
      @include xb-xs-screen {
        font-size: 16px;
        line-height: 28px;
      }
    }
    &-button {
      width: 258px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      height: 48px;
      color: black;
      line-height: 48px;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4px;
      border: 1px solid black;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

