<div class="xb-shop__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-shop__product-width xb-shop__product-title-1" fxFlex="none">
    Product Picture
  </div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="35">Product Name</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="12"
       fxLayout="column" fxLayoutAlign="center center">Product ID</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Category</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="12"
       fxLayout="column" fxLayoutAlign="center center">Update Time</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Price</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">Action</div>
</div>
