<div class="xb-store">
  <div class="xb-4-template-navigation__mobile" fxShow="false" fxShow.xs="true" fxLayout="row"
       fxLayoutAlign="start center">
    <i class="material-icons xb-pointer" *ngIf="!isShowMenu"
       [ngStyle]="{'color': 'black','margin-left':'16px'}" (click)="changeShowMenu()">menu</i>

    <i class="iconfontXberts icon-ic-close xb-4-template-navigation__nav-close" *ngIf="isShowMenu"
       [ngStyle]="{'color': 'black','margin-left':'16px'}" (click)="changeShowMenu()"></i>

    <div fxLayout="row" fxLayoutAlign="center start" fxFlex>
      <div class="xb-4-template-navigation__title ">
        {{storeName}}
      </div>
    </div>
    <div class="xb-store-template__cart-position" (click)="jumpCart()">
      <i class="iconfontXberts icon-pic-cart1 xb-store-template__cart-icon" [ngStyle]="{'color':'black'}"></i>
      <div class="xb-store-template__cart-circle" *ngIf="productNumber > 0">{{productNumber > 99 ? '99+':
        productNumber}}
      </div>
    </div>
    <div class="xb-4-template-navigation__navigation-fixed" fxShow="false" fxShow.xs="true" *ngIf="isShowMenu">
      <app-store-template-1-navigation (routerChange)="closeShowMenu()"
                                       [displayName]="displayName"
                                       [storeName]="storeName"></app-store-template-1-navigation>
    </div>
  </div>

  <div class="xb-store__banner" fxLayout="column" fxLayoutAlign.xs="center center"
       [ngStyle]="{'background': 'url(' + (imageList.imageSrc == ''? baseImageUrl:imageList.imageSrc) + ') center / auto 100% ' }">
    <div class="xb-store__template-mask"></div>
    <div class="xb-store__content-2">
      <div class="xb-store__template-name" fxShow.xs="false">
        {{contextList.nameTag != '' ? contextList.nameTag : store.name}}
      </div>
      <div class="ql-editor xb-store__template-title"
           [innerHTML]="contextList.titleTag| safeHtml" *ngIf="contextList.titleTag != ''">
      </div>
      <div class="xb-store__store-description" *ngIf="contextList.descriptionTag == ''">
        {{store.description}}
      </div>
      <div class="xb-store__template-description ql-editor"
           [innerHTML]="contextList.descriptionTag | safeHtml" *ngIf="contextList.descriptionTag != ''">
      </div>
    </div>
    <div class="xb-store__store-buttons" fxShow="false" fxShow.gt-xs="true">
      <span>Shop Now</span>
      <br>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <div class="xb-store-template__cart-container" fxShow="true" fxShow.xs="false">
      <div class="xb-store-template__cart-order-and-cart" fxLayout="row" fxLayoutAlign="start center">
        <i class="iconfontXberts icon-pic-per xb-store-template__cart-icon md-margin-right-4"
           (click)="jumpOrder()"></i>
        <div class="xb-store-template__cart-position" (click)="jumpCart()">
          <i class="iconfontXberts icon-pic-cart1 xb-store-template__cart-icon"></i>
          <div class="xb-store-template__cart-circle" *ngIf="productNumber > 0">{{productNumber > 99 ? '99+':
            productNumber}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="xb-store__title">My Collections</div>
    <app-store-navigation [(category)]="category" [categories]="categories" (categoryChange)="changeCategory()"
                          fxShow="true" fxShow.xs="false" *ngIf="categories.length > 0"></app-store-navigation>
    <div class="xb-store__content xb-store__border-bottom">
      <div class="md-dark-secondary" fxLayout="row" fxLayoutAlign="center center"
           *ngIf="categories.length<=0 && product.length <= 0">
        There are no products available.
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
        <app-store-item-card *ngFor="let item of product"
                             fxFlex.xs="48" fxFlex.gt-xs="30"
                             [currency]="currency"
                             [product]="item" [status]="0"></app-store-item-card>
        <div fxFlex.xs="48" fxFlex.gt-xs="30"></div>
      </div>
      <div class="xb-store__buttons-bg" fxLaout="row" fxLayoutAlign="center center"
           (click)="jumpList()" *ngIf="!isMobile && nextPage && product.length > 0">
        <div>
          SEE MORE
        </div>
      </div>
      <div class="xb-store__buttons-bg" fxLaout="row" fxLayoutAlign="center center"
           (click)="jumpList()" *ngIf="isMobile && categories.length > 0">
        <div>
          SEE MORE
        </div>
      </div>
    </div>
    <div class="xb-store__content-1">
      <div class="xb-store__title">About Me</div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxLayoutAlign.xs="start center">
        <div class="xb-store__content-left" fxFlex="none">
          <app-store-template-1-store-avatar [avatar]="store.ownerAvatar"
                                             [name]="store.ownerFirstName"></app-store-template-1-store-avatar>
          <div class="md-subhead md-margin-top-2">{{store.ownerFirstName}}</div>
          <div class="md-margin-top-1">{{store.ownerCountry}}</div>
        </div>
        <div class="xb-store__content-right" fxFlex>
          <div class="xb-store__icons md-dark-third" fxShow.xs="false">
            <i class="iconfontXberts icon-pic-quota"></i>
          </div>
          <div class="md-margin-top-2 xb-store__content-text" *ngIf="contextList.userTag == ''">
            Thank you for visiting my store! Have a nice day.
          </div>
          <div class="xb-store__template-user ql-editor"
               [innerHTML]="contextList.userTag | safeHtml" *ngIf="contextList.userTag != ''">
          </div>
          <div class="xb-store__icons md-dark-third md-margin-top-2" fxLayout="row" fxLayoutAlign="end start"
               fxShow.xs="false">
            <i class="iconfontXberts icon-pic-quota-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-store__bottom-bg" fxShow="false">
    <div class="xb-store__title-1">
      Subscribe My Newsletter
    </div>
    <div class="xb-store__bottom-1" fxLayout="row" fxLayoutAlign="center center">
      <div class="xb-store__width">
        <input type="text">
      </div>
      <div class="md-margin-left-2">
        <button mat-raised-button color="primary">SUBSCRIBE</button>
      </div>
    </div>
  </div>
  <div class="xb-store__footer">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="xb-store__footer-margin-top" fxLayout="row" fxLayoutAlign="center center"
           fxLayout.xs="column" fxLayoutAlign.xs="center center">
        <div class="xb-store__footer-word" (click)="jumpAbout()">Why Shop With Us</div>
        <div class="xb-store__footer-word xb-store__footer-margin-left" (click)="jumpFaq()">FAQ</div>
        <div class="xb-store__footer-word xb-store__footer-margin-left" (click)="jumpPrivacy()">Privacy Policy</div>
        <div class="xb-store__footer-word xb-store__footer-margin-left" (click)="jumpReturn()">Return Policy</div>
      </div>
      <div class="md-margin-top-1">© 2018 {{contextList.nameTag || store.name}}. All rights reserved.</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="center center"
           fxLayout.xs="column" fxLayoutAlign.xs="center center">
        <img class="xb-store__footer-margin-top-1 xb-pointer"
             src="https://media.xberts.com/collector/source/web/pic/pic-power.png"
             routerLink="/">
        <img class="xb-store__footer-margin-left xb-store__footer-margin-top-2 xb-pointer"
             src="https://media.xberts.com/collector/source/web/pic/pic-foot-logo.png"
             routerLink="/">
      </div>
    </div>
    <div class="xb-store__footer-icons" fxLayout="row" fxLayoutAlign="end center"
         fxLayoutAlign.xs="center center">
      <app-share-button [link]="shareLink" [text]="text" [style]="{'store':true}"></app-share-button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
