<div class="xb-about">
  <div class="xb-about__banner">
    <div class="container" fxLayout="column">
      <app-navigation-header></app-navigation-header>
      <div class="xb-about__navigation-title">Privacy Policy</div>
    </div>
  </div>
  <div class="xb-about-privacy">
    <div class="xb-about-container">
      <div class="xb-about-privacy__content-1">
        This Privacy Policy explains how SocialCommer collects, uses and discloses your Personal Information when you
        use our Services. We will not use or share your information with anyone except as described in this Privacy
        Policy. The Privacy Policy constitutes a binding and enforceable legal contract between you and
        its Affiliates (SocialCommer) – so please read them carefully. By using the Platform and/or using the Services,
        you agree to the collection and use of your Personal Information in accordance with this Privacy Policy. If you
        do not agree to the Privacy Policy, please do not access and/or use this Platform or the Services. Unless
        otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our
        Terms of Service.
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">1. Collection of Personal Information</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>1.1</div>
          <div class="xb-about__left-2">When you open an Account with SocialCommer, use our Services or otherwise
            provide us with your details,we
            may collect certain personally identifiable information that can be used to contact or identify you.
            Personally
            identifiable information may include, but is not limited to, your email address, name, phone number, mailing
            address and other information (“Personal Information”).
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>1.2</div>
          <div class="xb-about__left-2"> When you browse our Platform (and not open an Account), you generally do so
            anonymously but please see
            Clause 5 on log data and Clause 6 below on cookies.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>1.3</div>
          <div class="xb-about__left-2">We may collect Personal Information of End Users when they use our Services,
            such as when they place an
            order on a User Website or sign up for an account on the User Website.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>1.4</div>
          <div class="xb-about__left-2">Please ensure that all Personal Information you submit to us is complete,
            accurate true and correct,
            otherwise we may not be able to provide you with our Services.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>1.5</div>
          <div class="xb-about__left-2">You may access and update your Personal Information submitted to us at any time
            as described below (See
            Clause 16).
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">2. Use and Disclosure of Personal Information</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1</div>
          <div class="xb-about__left-2"> The Personal Information that we collect from you will be used or shared with
            third parties (including Affiliates and Third Party Services) for the following purposes:
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.1</div>
          <div class="xb-about__left-2">To provide and operate the Services and/or access to the Platform;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.2</div>
          <div class="xb-about__left-2">To manage and administer your Account and our relationship with you;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.3</div>
          <div class="xb-about__left-2">To process and complete transactions and send you related information including
            purchase confirmations and invoices;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.4</div>
          <div class="xb-about__left-2">To send transactional messages including responding to your questions, comments,
            questions or requests, providing customer service and support, and sending you technical notices, updates,
            security alerts and support and administrative messages;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.5</div>
          <div class="xb-about__left-2">To process and deliver contest or sweepstakes entries and rewards;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.6</div>
          <div class="xb-about__left-2">To monitor and analyse trends, usage and activities in connection with the
            Services;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.7</div>
          <div class="xb-about__left-2">To investigate and prevent fraudulent transactions, unauthorised access to the
            Platform and/or use of the Services and other illegal activities;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.8</div>
          <div class="xb-about__left-2">To personalise the Services, including providing content, features or
            advertisements that match your interests or preferences;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.9</div>
          <div class="xb-about__left-2">To send marketing and/or promotional materials about our Services or products or
            services of our Users, features, surveys, newsletters, offers, promotions, contests, events, updates and
            other news about SocialCommer, which you may opt out of receiving in accordance with Clause 7 below;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.10</div>
          <div class="xb-about__left-2">To notify you of any changes to the Platform or our Services that may affect
            you;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.1.11</div>
          <div class="xb-about__left-2">To comply with applicable laws and regulations.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.2</div>
          <div class="xb-about__left-2">SocialCommer may share or transfer your Personal Information in connection with
            or during negotiations of any merger, sale of company assets, financing or acquisition of all or a portion
            of its business to another company. You will have the opportunity to opt out of such transfer if the new
            entity’s planned processing of your Personal Information differs materially from that set forth in this
            Privacy Policy.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>2.3</div>
          <div class="xb-about__left-2"> SocialCommer will not sell, share or disclose Personal Information with third
            parties except as described in this Privacy Policy.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">3. Information About Other Individuals</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>3.1</div>
          <div class="xb-about__left-2"> If you give us information on behalf of someone else, you warrant that the
            other person has appointed you to act on his or her behalf and has agreed that you can:
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>3.1.1</div>
          <div class="xb-about__left-2"> Give consent on his or her behalf to the processing of his or her personal
            data;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>3.1.2</div>
          <div class="xb-about__left-2">Receive on his or her behalf any data protection notices;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>3.1.3</div>
          <div class="xb-about__left-2">Give consent to the transfer of his or her personal data abroad.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">4. Third Party Services</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>4.1</div>
          <div class="xb-about__left-2"> As part of using the Services (and Third Party Services available on the
            Platform), SocialCommer and Third Party Services may require the collection, access and use of Personal
            Information pertaining to you and End Users including the activities or navigation undertaken by you and End
            Users through the Services and/or User Websites. Such Third Party Service Providers shall include, but not
            limited to:
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>4.1.1</div>
          <div class="xb-about__left-2"> Our Affiliates;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>4.1.2</div>
          <div class="xb-about__left-2">Our agents and relevant service providers;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>4.1.3</div>
          <div class="xb-about__left-2">Credit reference agents;
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>4.1.4</div>
          <div class="xb-about__left-2">Law enforcement agencies in connection with any investigation to help prevent
            unlawful activity.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>4.2</div>
          <div class="xb-about__left-2">You acknowledge and agree that our Privacy Policy and each such Third Party
            Services’ privacy policy govern such activities.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">5. Log data</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>5.1</div>
          <div class="xb-about__left-2"> We may also collect information that your browser sends whenever you visit our
            Platform ("Log Data"). This Log Data may include information such as your computer's Internet Protocol
            ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of
            your visit, the time spent on those pages and other statistics.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>5.2</div>
          <div class="xb-about__left-2"> In addition, we may use third party services such as Google Analytics that
            collect, monitor and analyse this type of information in order to increase our Services' functionality.
            These third party service providers have their own privacy policies addressing how they use such
            information.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">6. Cookies</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>6.1</div>
          <div class="xb-about__left-2"> Cookies are files with small amount of data, which may include an anonymous
            unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard
            drive.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>6.2</div>
          <div class="xb-about__left-2"> We use "cookies" to collect information to (a) improve and customise our
            Services and your experience; (b) allow you to access the Platform or use the Services without re-entering
            your username or password; and (c) to count visits and understand which areas and features of the Platform
            and/or Services are most popular. You can instruct your browser to refuse all cookies or to indicate when a
            cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our
            Services.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">7. Opting Out of Marketing Communications</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>7.1</div>
          <div class="xb-about__left-2"> We may use your Personal Information to contact you with newsletters, marketing
            or promotional materials and other information about our Services and products or services of our Users
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>7.2</div>
          <div class="xb-about__left-2"> You may opt out of receiving any, or all, of these marketing or promotional
            communications from us by following the unsubscribe link or instructions provided in any email we send or by
            emailing us at support@socialcommer.com
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>7.3</div>
          <div class="xb-about__left-2"> Although opt-out requests are usually processed immediately, please allow up to
            fourteen (14) days for removal requests to be processed. Please note that even after you have opted out from
            receiving marketing messages from SocialCommer, you will continue to receive information about transactions
            that occur on your User Website, your Account and our Services.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">8. Compliance with Laws</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>8.1</div>
          <div class="xb-about__left-2"> We will disclose your Personal Information where required to do so by law or
            subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests
            of law enforcement or to protect the security or integrity of our Services.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">9. Law Enforcement</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>9.1</div>
          <div class="xb-about__left-2"> We cooperate with government and law enforcement authorities or private
            parties to enforce and comply with the law. We may disclose any information about you to government or law
            enforcement authorities or private parties as we, in our sole discretion, believe necessary or appropriate
            to respond to claims, legal process (including subpoenas), to protect the property and rights of
            SocialCommer or a third party, the safety of the public or any person, to prevent or stop any illegal,
            unethical, or legally actionable activity, or to comply with the law.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">10. Credit Checking</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>10.1</div>
          <div class="xb-about__left-2"> To enable us and our Affiliates to make credit decisions about you and for
            fraud prevention and money laundering purposes, we may search the files of credit reference and fraud
            prevention agencies (who will record the search). We may disclose information about how you conduct your
            account to such agencies. Other credit grantors may use this information to make credit decisions about you
            and the people with whom you are financially associated, as well as for fraud prevention, debtor tracing and
            money laundering purposes. If you provide false or inaccurate information and we suspect fraud, we will
            record this and if the situation warrants it, we may have to make a police report.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">11. Security</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>11.1</div>
          <div class="xb-about__left-2"> SocialCommer hosts Personal Information with hosting service providers in
            numerous countries around the world. The servers on which Personal Information is stored are kept in a
            controlled environment.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>11.2</div>
          <div class="xb-about__left-2"> The security of your Personal Information is important to us, but do remember
            that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we
            strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee the
            security or integrity of any personal data that are transferred from you or to you via the Internet.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">12. International Transfer</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>12.1</div>
          <div class="xb-about__left-2"> Your information, including Personal Information, may be transferred to — and
            maintained on — computers located outside of your jurisdiction of residence where the data protection laws
            may differ than those from your jurisdiction.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>12.2</div>
          <div class="xb-about__left-2"> Your consent to this Privacy Policy followed by your submission of such
            information represents your agreement to that transfer.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">13. Links to Other Sites</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>13.1</div>
          <div class="xb-about__left-2"> Our Platform may contain links to other sites that are not operated by us. If
            you click on a third party link, you will be directed to that third party's site. We strongly advise you to
            review the privacy policy of every site you visit.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>13.2</div>
          <div class="xb-about__left-2"> We have no control over, and assume no responsibility for the content, privacy
            policies or practices of any third party sites or services.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">14. Monitoring</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>14.1</div>
          <div class="xb-about__left-2"> We may monitor and record communications with you (such as telephone
            conversations and emails) for the purpose of quality assurance, training, fraud prevention and compliance.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">15. Changes to This Privacy Policy</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>15.1</div>
          <div class="xb-about__left-2">We may amend, modify or otherwise update our Privacy Policy from time to time at
            our sole discretion, without prior notification. You are advised to review this Privacy Policy periodically
            for any changes.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>15.2</div>
          <div class="xb-about__left-2">Changes to this Privacy Policy are effective when they are posted on the
            Platform.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>15.3</div>
          <div class="xb-about__left-2">Your continued use of the Services constitutes acceptance of any updates or
            changes to the Privacy Policy as SocialCommer may make and post from time to time. If you disagree with any
            changes to this Privacy Policy, do not access this Platform and/or the Services.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">16. Updating your Personal Information</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>16.1</div>
          <div class="xb-about__left-2">You can update your Personal Information at any time by accessing your Account
            on the Platform.
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>16.2</div>
          <div class="xb-about__left-2">We take steps to share the updates to your Personal Information with third
            parties and our Affiliates with whom we have shared your Personal Information if your Personal Information
            is still necessary for the above stated purposes.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2">
        <span class="xb-about-privacy__content-2-title">17. Retention of Personal Information</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>17.1</div>
          <div class="xb-about__left-2">We will retain your Account information as long as your Account is active or as
            reasonably useful for commercial purposes or as necessary to comply with our legal obligations under any
            applicable laws or resolve disputes and enforce our agreements.
          </div>
        </div>
      </div>
      <div class="xb-about-privacy__content-2 md-margin-bottom-4">
        <span class="xb-about-privacy__content-2-title">18. Contact Us</span><br>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div>18.1</div>
          <div class="xb-about__left-2">If you have any questions relating to your Personal Information or about this
            Privacy Policy, please contact us at support@socialcommer.com
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-bottom-footer></app-bottom-footer>
</div>
