<div class="xb-order-tracking" fxLayout="column">
  <div class="background-bg-white">
    <div class="container">
      <app-store-cart-header></app-store-cart-header>
    </div>
  </div>
  <div class="background-bg-light" fxFlex="noshrink" >
    <div class="">
      <div class="xb-order-tracking__title">
        Order Tracking
      </div>
      <div class="md-margin-top-4 md-margin-bottom-4" fxLayout="row" FxLayoutAlign="center start">
        <div class="xb-order-tracking__container unicorn-dark-theme">
          <div class="xb-order-tracking__title-1">Track Your Orders & Contact Support</div>
          <div class="md-margin-top-2">
            Please enter your Guest Order Number and the Email Address you used during checkout to get help with your order.
          </div>
          <div class="md-margin-top-1"><span class="xb-bold">·</span> Track Your Order Status</div>
          <div><span class="xb-bold">·</span> Change Your Shipping Address</div>
          <div><span class="xb-bold">·</span> Cancel an Order</div>
          <div><span class="xb-bold">·</span> View Order Details</div>
          <div><span class="xb-bold">·</span> Contact Customer Support</div>
          <form class="md-margin-top-3" fxLayout="column" fxLayoutAlign="start start" [formGroup]="loginGroup" (ngSubmit)="login()" novalidate>
            <div class="xb-input-error md-margin-bottom-2" *ngIf="loginErr">{{loginErr}}</div>
            <mat-form-field>
              <input matInput placeholder="Enter Your Email Address" formControlName="email">
            </mat-form-field>
            <div *ngIf="formErrors['email']" class="xb-input-error">
              {{ formErrors['email'] }}
            </div>
            <mat-form-field>
              <input matInput type="text" placeholder="Enter Your Guest Order Number" formControlName="number">
            </mat-form-field>
            <div *ngIf="formErrors['number']" class="xb-input-error">
              {{ formErrors['number'] }}
            </div>
            <div class="md-margin-bottom-3">
              <a class="text-underline md-dark-primary xb-pointer" (click)="forgetOrderNumber()">Forgot Your Guest Order Number?</a>
            </div>
            <div class="md-margin-top-1">
              <button mat-raised-button color="primary" type="submit">
                CONTINUE
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="background-bg-white" fxHide.xs>
    <div class="container">
      <app-store-cart-footer></app-store-cart-footer>
    </div>
  </div>
</div>
