<div class="xb-store__nav" fxLayout="row" fxLayoutAlign="center center" fxShow="false" fxShow.xs="show">
  Your store name here
</div>
<div class="xb-store__banner" fxLayout="column" fxLayoutAlign.xs="center center"
     style="background: url('https://media.xberts.com/collector/source/web/templats/01-pic-7.jpg') center/auto 100% repeat;">
  <div class="xb-store__store-name">
    Your store name here
  </div>
  <div class="xb-store__store-description">
    This is your starter site, a single page online storefront. All of the images and text on this page can
    be changed to personalize the site for brand and to communicate your unique story to your customers.
  </div>
  <div class="xb-store__store-buttons" fxShow="false" fxShow.gt-xs="true">
    <span>Shop Now</span>
    <br>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
</div>
<div>
  <div class="xb-store__title">My Collections</div>
  <app-store-navigation [(category)]="category" [categories]="categories"
                        fxShow="true" fxShow.xs="false"></app-store-navigation>
  <div class="xb-store__content xb-store__border-bottom">
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
      <app-store-item-card-preview *ngFor="let item of product"
                           fxFlex.xs="48" fxFlex.gt-xs="30"
                           [product]="item" [status]="0"></app-store-item-card-preview>
    </div>
    <div class="xb-store__buttons-bg" fxLaout="row" fxLayoutAlign="center center">
      <div>
        SEE MORE
      </div>
    </div>
  </div>
  <div class="xb-store__content-1">
    <div class="xb-store__title">Store Owner</div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxLayoutAlign.xs="start center">
      <div class="xb-store__content-left" fxFlex="none">
        <div class="xb-store__header">
          <img [src]="user.avatar">
        </div>
        <div class="md-subhead md-margin-top-2">{{user.firstName}}</div>
        <div class="md-margin-top-1">{{user.country}}</div>
      </div>
      <div class="xb-store__content-right">
        <div class="xb-store__icons md-dark-third" fxShow.xs="false">
          <i class="iconfontXberts icon-pic-quota"></i>
        </div>
        <div class="md-margin-top-2 xb-store__content-text">
          Here you let your customers get to know you. Tell them a little bit about yourself and why you create
          this business. Do you have a passion, hobby or life experience that inspired you to get started? Do you
          have special skills or training that make you an expert in your field? Show your customers that there
          are real people with interesting stories working behind the scenes. Helping customers feel connected
          to you and your purpose will inspire more trust in your brand.
        </div>
        <div class="xb-store__icons md-dark-third md-margin-top-2" fxLayout="row" fxLayoutAlign="end start" fxShow.xs="false">
          <i class="iconfontXberts icon-pic-quota-2"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="xb-store__bottom-bg" fxShow="false">
  <div class="xb-store__title-1">
    Subscribe My Newsletter
  </div>
  <div class="xb-store__bottom-1" fxLayout="row" fxLayoutAlign="center center">
    <div class="xb-store__width">
      <input type="text">
    </div>
    <div class="md-margin-left-2">
      <button mat-raised-button color="primary">SUBSCRIBE</button>
    </div>
  </div>
</div>
<div class="xb-store__footer">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="xb-store__footer-margin-left">©2017 Xberts, Inc. All rights reserved</div>
    <div class="xb-store__footer-margin-top" fxLayout="row" fxLayoutAlign="center center"
         fxLayout.xs="column" fxLayoutAlign.xs="center center">
      <img class="xb-store__footer-margin-top-1" src="https://media.xberts.com/collector/source/web/pic/pic-power.png">
      <img class="xb-store__footer-margin-left xb-store__footer-margin-top-2" src="https://media.xberts.com/collector/source/web/pic/pic-foot-logo.png">
    </div>
  </div>
  <div class="xb-store__footer-icons" fxLayout="row" fxLayoutAlign="end center"
       fxLayoutAlign.xs="center center">
    <app-share-button [link]="shareLink" [text]="text" [style]="{'store':true}"></app-share-button>
  </div>
</div>

