<div class="container">
  <div class="xb-login__title md-headline">
    Welcome back to SocialCommer!<br>
    Please enter your invitation code to proceed.
  </div>
  <div class="xb-login__margin-top" fxLayout="row" fxLayoutAlign="start center">
    <div class="xb-login__container" fxFlex>
      <div fxFLex class="xb-login__width">
        <div class="xb-login__error md-margin-bottom-2" *ngIf="inviteErr">{{inviteErr}}</div>
        <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="inviteForm" novalidate>
          <mat-form-field>
            <input matInput placeholder="Please enter your invitation code" formControlName="inviteToken">
          </mat-form-field>
        </form>
        <div *ngIf="formErrors['inviteToken']" class="xb-input-error">
          {{ formErrors['inviteToken'] }}
        </div>
      </div>
    </div>
    <button class="xb-login__margin-left" mat-raised-button color="primary"
      (click)="resetPassword()">SEND</button>
  </div>
</div>

