<div class="xb-login__scroll background-bg-light" fxShow.xs="false" >
  <div class="xb-login__scroll-inner">
    <div fxLayout="column" fxFlex>
      <div class="background-bg-black">
        <div class="container">
          <app-navigation-header [status]="true"></app-navigation-header>
        </div>
      </div>
      <div  fxFlex="noshrink" fxLayout="row" fxLayoutAlign="center center">
        <div class="container">
          <div class="xb-login__container-1">
            <div class="xb-login__title md-headline">
              Welcome back to SocialCommer!<br>
              Please enter your invitation code to proceed.
            </div>
            <div class="xb-login__margin-top" fxLayout="row" fxLayoutAlign="start center"
                 fxLayout.xs="column" fxLayoutAlign.xs="start start" >
              <div>
                <div>
                  <div class="xb-login__error md-margin-bottom-2" *ngIf="inviteErr">{{inviteErr}}</div>
                  <form fxLayout="column" fxLayoutAlign="start" [formGroup]="inviteForm" novalidate>
                    <mat-form-field>
                      <input matInput placeholder="Please enter your invitation code" formControlName="inviteToken">
                    </mat-form-field>
                  </form>
                  <div *ngIf="formErrors['inviteToken']" class="xb-input-error">
                    {{ formErrors['inviteToken'] }}
                  </div>
                </div>

              </div>
              <button class="xb-login__margin-left" mat-raised-button color="primary"
                      (click)="validateCode()">ENTER</button>
            </div>
            <div class="xb-login__margin-top xb-login__image">
              <img src="https://media.xberts.com/collector/source/web/pic/pic-invitation code-01.png">
            </div>
          </div>
        </div>
      </div>
      <app-bottom-footer></app-bottom-footer>
    </div>
  </div>
</div>
<div class="background-bg-black" *ngIf="!dialogRef" fxShow.gt-xs="false">
  <div class="container">
    <app-navigation-header [status]="true"></app-navigation-header>
  </div>
</div>
<div class="xb-login__mobile-bg" fxLayout="column" fxShow.gt-xs="false">
  <div fxLayout="column">
    <div class="xb-login__title md-headline">
      Welcome back to SocialCommer!<br>
      Please enter your invitation code to proceed.
    </div>
    <div class="xb-login__margin-top" fxLayout="row" fxLayoutAlign="start center"
         fxLayout.xs="column" fxLayoutAlign.xs="start start" >
      <div>
        <div>
          <div class="xb-login__error md-margin-bottom-2" *ngIf="inviteErr">{{inviteErr}}</div>
          <form fxLayout="column" fxLayoutAlign="start" [formGroup]="inviteForm" novalidate>
            <mat-form-field>
              <input matInput placeholder="Please enter your invitation code" formControlName="inviteToken">
            </mat-form-field>
          </form>
          <div *ngIf="formErrors['inviteToken']" class="xb-input-error">
            {{ formErrors['inviteToken'] }}
          </div>
        </div>

      </div>
      <button class="xb-login__margin-left" mat-raised-button color="primary"
              (click)="validateCode()">ENTER</button>
    </div>
  </div>
</div>
<div class="xb-login__mobile-height" fxLayout="row" fxLayoutAlign="center center" fxShow.gt-xs="false">
  <i class="iconfontXberts icon-ic-close" fxFlex="none" (click)="close()"></i>
</div>
