@import "../../styles/utils/_index";
@import "../../styles/_variables";

// main
.xb-4-template {
  &__fixed-nav {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 100%;
  }
  &__mobile {
    position: relative;
  }
  &__menu {
    position: absolute;
    top: 16px;
  }
  &__w960 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  &__w720 {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    height: 100vh;
  }
  &__title {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 28px;
    height: 72px;
    text-align: center;
    line-height: 64px;
    margin-left: auto;
    color: #e1ab18;
    margin-right: auto;
    border: 4px solid #e1ab18;
    font-size: 34px;
    font-weight: bold;
    @include xb-xs-screen {
      border: 2px solid #e1ab18;
      border-radius: 4px;
      font-size: 16px;
      padding-left: 16px;
      padding-right: 16px;
      height: 40px;
      line-height: 36px;
      margin-top: 8px;
    }
  }

}

// home
.xb-4-template-home {
  margin-bottom: 100px;
  margin-top: 24px;
  &__background {
    height: 640px;
    position: relative;
    @include xb-xs-screen {
      height: 320px;
    }
  }
  &__title {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
    margin-top: 320px;
    @include xb-xs-screen {
      margin-top: 105px;
      text-align: center;
      min-width: 100px;
      width: calc(100vw - 64px);
    }
  }
  &__ad-bg {
    margin-top: -88px;
    position: relative;
    @include xb-xs-screen {
      margin-top: 0;
    }
  }
  &__ad-item {
    width: 280px;
    height: 360px;
    position: relative;
    @include xb-xs-screen {
      margin-top: 20px;
      width: 320px;
      height: 410px;

    }
  }
  &__ad-title {
    position: relative;
    max-width: 100%;
    margin-top: 64px;
    border: 4px solid $whiteColor;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    color: $whiteColor;
    font-size: 24px;
    @include light();
  }
}

// home ->products
.xb-4-template-products {
  margin-top: 88px;
  @include xb-xs-screen {
    margin-top: 24px;
  }
  &__text {
    width: 48%;
    @include xb-xs-screen {
      width: 100%;
    }
  }
  &__title {
    margin-top: 72px;
    position: relative;
    width: 100%;
    @include xb-xs-screen {
      margin-top: 54px;
      margin-left: 16px;
      margin-right: 16px;
      width: calc(100vw - 32px);
    }
  }
  &__subtitle {
    margin-left: 48px;
    margin-right: 48px;
    position: relative;
    width: 100%;
    margin-top: 16px;
    @include xb-xs-screen {
      margin-left: 16px;
      margin-right: 16px;
      width: calc(100vw - 32px);
    }
  }

  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;
    @include xb-xs-screen {
      margin-bottom: 28px;
    }
    &-image {
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      position: relative;
      > a {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        > img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          @include transform(translate(-50%, -50%));
        }
      }
    }

    &-title {
      margin-top: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 28px;
      max-height: 84px;
      overflow: hidden;
      text-align: center;
    }
    &-price {
      font-size: 24px;
      font-weight: bold;
      color: black;
    }
    &-original {
      font-size: 14px;
      @include regular();
      color: black;
    }
  }

}

//home->blog
.xb-4-template-blog {
  margin-top: 32px;
  &__article {
    margin-top: 16px;
    @include xb-xs-screen {
      margin-top: 40px;
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__title {
    line-height: 32px;
    font-size: 24px;
    font-weight: bold;
    @include xb-xs-screen {
      text-align: center;
    }
  }
  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;
    @include xb-xs-screen {
      margin-bottom: 0;
    }
    &-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 66.66%;
      overflow: hidden;
      > img {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
    &-date {
      font-size: 14px;
      margin-top: 12px;
      @include regular();
    }
    &-context {
      font-size: 14px;
      @include regular();
      line-height: 24px;
      max-height: 72px;
      overflow: hidden;

    }
    &-title {
      margin-top: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 28px;
    }
  }
  // blog-->detail
  &__detail {
    &-container {
      @include xb-xs-screen {
        margin-top: 8px;
      }
      > img {
        width: 100vw;
        max-height: 480px;
        @include xb-xs-screen {
          width: calc(100vw - 32px);
          margin-left: 16px;
          margin-right: 16px;
        }
      }
    }
    &-content {

    }
    &-title {
      margin-top: 32px;
      font-size: 34px;
      font-weight: bold;
      line-height: 48px;
      text-align: center;
      @include xb-xs-screen {
        text-align: left;
        font-size: 24px;
        line-height: 36px;
        margin-left: 16px;
        margin-right: 16px;
      }
    }
    &-time {
      margin-top: 12px;
      font-size: 14px;
      @include regular();
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
      @include xb-xs-screen {
        text-align: left;
        margin-left: 16px;
      }
    }
    &-des {
      margin-top: 32px;
      line-height: 24px;
      margin-left: 16px;
      margin-right: 16px;
    }
    &-share {
      width: 40px;
      height: 92px;
      position: fixed;
      bottom: 32px;
      left: 0;

    }
    &-share-item {
      background-color: #e0ac18;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      i {
        font-size: 24px;
        color: white;
      }
    }
    &-display {
      position: relative;
    }
  }
}

//导航 navigation
.xb-4-template-navigation {
  color: #e1ab18;
  @include light();
  text-align: center;
  &.active {
    font-weight: bold;
  }
  &__container {
    height: 54px;
  }

  &__side-bg {
    height: 100vh;
    margin-left: 16px;
  }
  &__side-flex {
    font-size: 18px;
    height: 56px;
    line-height: 56px;
    &.active {
      font-weight: bold;
    }
  }
  &__side_container {
    width: calc(100vw - 56px);
    padding-top: 20px;
    background-color: #f9f9f9;
  }

}

// collections
.xb-4-template-collection {
  margin-top: 24px;
  &__category {
    width: 220px;
  }
  &__category-title {
    text-align: center;
    font-size: 18px;
  }
  &__product {
    margin-left: 16px;
    width: 100%;
    @include xb-xs-screen {
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__more-button {
    margin-top: 20px;
    margin-bottom: 40px;
    > div {
      width: 224px;
      text-align: center;
      line-height: 40px;
      border-radius: 4px;
      cursor: pointer;
      background-color: #e1ab18;
      color: $whiteColor;
      @include media();

      @include xb-xs-screen {
        line-height: 36px;
      }
    }
  }
  &__up-triangle {
    margin-top: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid black;
  }
  &__down-triangle {
    margin-top: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid black;
  }
}

//分类 category
.xb-4-template-category {
  border: 1px solid #e3e3e3;
  padding-left: 16px;
  padding-right: 16px;
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 8px;

  }
  &__name {
    font-size: 14px;
    line-height: 24px;
    margin-top: 12px;
    &.active {
      @include media();
    }
  }
  &__bottom_40 {
    margin-bottom: 30px;
  }

  &__mobile-category {

  }

}

// about
.xb-4-template-about {
  margin-top: 24px;
  &__image {
    width: 100%;
  }
  &__content {
    position: relative;
  }
}

//图片
.xb-4-template-picture {
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

    @include xb-xs-screen {
      overflow-y: hidden;
    }
  }

}

// store
.xb-4-template-store {
  &__title-1 {
    font-size: 24px;
    @include media();
    margin-bottom: 8px;
  }
  &__content-1 {
    margin-bottom: 24px;
  }
  &__width-100 {
    width: 100%;
  }
  &__margin-top-48 {
    margin-top: 48px;
  }

}

//edit
.xb-4-template-edit {

  &__nav-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__button {
    line-height: 40px;
    border-radius: 16px;
    background-color: $whiteColor;
    color: $blackColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  &__button-1 {
    line-height: 40px;
    border-radius: 16px;
    background-color: $primaryColor;
    color: $whiteColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  &__save-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
  &__banner-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
}

//product --detail
.xb-4-template-detail {
  margin-top: 24px;
  overflow-x: hidden;
  &__container {
  }
  &__content {
    overflow-y: scroll;
    height: 576px;
    margin-left: 16px;
    padding-right: 16px;
    @include xb-xs-screen {
      height: 100%;
      overflow-y: visible;
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }
  &__price {
    font-size: 16px;
    font-weight: bold;
  }
  &__original-price {
    font-size: 16px;
    margin-left: 40px;
    @include regular();
  }
  &__buy-buttons {
    display: block;
    background-color: #e1ab18;
    border-radius: 4px;
    height: 40px;
    width: 132px;
    cursor: pointer;
    color: $whiteColor;
    font-size: 14px;
    @include media();
    @include xb-xs-screen {
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__line {
    margin-top: 24px;
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
  }
  &__store-owner {
    margin-top: 32px;
    &-title {
      font-weight: bold;
      font-size: 16px;
    }
    &-des {
      margin-top: 24px;
      font-size: 14px;
      @include regular();
      line-height: 24px;
      margin-right: 24px;
      margin-bottom: 32px;

    }
  }
  &__recommend {
    &-title {
      margin-top: 80px;
      font-size: 24px;
      font-weight: bold;
    }
  }
  &__buttons_bg {
    @include xb-xs-screen {
      margin-top: 16px;
    }
  }
}

