<div class="xb-store-template__category-bg">
  <div class="xb-store-template__category-scroll" fxLayout="row wrap" fxLayoutAlign="start center">
    <ng-container *ngFor="let item of categories;let i = index;" >
      <div fxFlex="none" class="xb-store-template__category" (click)="changeCategory(item)"
           [ngClass]="{'active': item.name == category.name, 'xb-store-template__category-margin-right': i < categories.length - 1,
         'md-padding-right-2': i == categories.length - 1}">
        {{ item.name }}
      </div>
    </ng-container>
  </div>
</div>


