<div class="xb-store" >
  <div class="xb-store-template__banner" fxLayout="column" fxLayoutAlign="center center"
     [ngStyle]="{'background': 'url(' + (imageList.imageSrc? baseImageUrl:imageList.imageSrc) + ') center / auto 100% ' }">
    <div class="xb-store-template__template-mask"></div>
    <div class="xb-store__content-2">
      <div class="ql-editor xb-store-template__template-title"
           [innerHTML]="contextList.titleTag | safeHtml"  *ngIf="contextList.titleTag" >
      </div>
      <div class="xb-store-template__template-description ql-editor"
           [innerHTML]="contextList.descriptionTag | safeHtml" *ngIf="contextList.descriptionTag">
      </div>
    </div>
  </div>
  <div>
    <div class="xb-store__content xb-store__border-bottom">
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
        <app-store-item-card *ngFor="let item of product"
          fxFlex="49" fxFlex.xs="100"
          [product]="item" [status]="0"></app-store-item-card>
        <div fxFlex="49" fxFlex.xs="100"></div>
      </div>
    </div>
    <div class="xb-store-template__blog-content">
      <div class="xb-store-template__blog-title">BLOG</div>

      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
        <app-store-template-3-store-blog-card *ngFor="let item of blog"
                             fxFlex="45" fxFlex.xs="100"
                             [blog]="item" [status]="0"></app-store-template-3-store-blog-card>
        <div fxFlex="49" fxFlex.xs="100"></div>
      </div>
    </div>
  </div>
</div>
