<div class="xb-login__mobile-bg" fxLayout="column" >
  <div fxLayout="column" *ngIf="step == 0 && !isFirstLogin">
    <div class="xb-login__login-title">Sign Up For Free</div>
    <div class="xb-login__error md-margin-bottom-2" *ngIf="signUpErr">{{signUpErr}}</div>
    <form [formGroup]="signUpGroup" (ngSubmit)="signUp()" novalidate>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="48">
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field fxFlex="48">
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </div>
      <div *ngIf="formErrors['firstName']" class="xb-input-error">
        {{ formErrors['firstName'] }}
      </div>
      <div *ngIf="formErrors['lastName']" class="xb-input-error">
        {{ formErrors['lastName'] }}
      </div>
      <div class="xb-login__width" >
        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email">
        </mat-form-field>
        <div *ngIf="formErrors['email']" class="xb-input-error">
          {{ formErrors['email'] }}
        </div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <div *ngIf="formErrors['password']" class="xb-input-error">
          {{ formErrors['password'] }}
        </div>
        <mat-form-field>
          <mat-select placeholder="Country" [(ngModel)]="country" name="country" formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="formErrors['country']" class="xb-input-error">
          {{ formErrors['country'] }}
        </div>
      </div>
      <div fxLayout="column">
        <button class="gtag-signup-email-btn" mat-raised-button color="primary" type="submit">SIGN UP</button>
      </div>
    </form>

    <div fxLayout="column">
      <div class="md-align-center md-margin-top-2 md-margin-bottom-2">OR</div>
      <button class="xb-login__facebook" mat-raised-button (click)="facebookLogin('facebook')">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfontXberts icon-ic-facebook"></i>
          <span class="md-align-center gtag-signup-facebook-btn" fxFlex>Continue with Facebook</span>
        </div>
      </button>
      <button class="xb-login__google" mat-raised-button (click)="googleLogin('google')">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfontXberts icon-pic-google"></i>
          <span class="md-align-center gtag-signup-google-btn" fxFlex>Continue with Google</span>
        </div>
      </button>
    </div>
    <div>Already have an account?
      <a class="text-underline md-dark-primary md-margin-left-1" (click)="openLogIn()">Log In</a>
    </div>
  </div>
  <div fxLayout="column" *ngIf="step == 0 && isFirstLogin">
    <div class="xb-login__login-title">Complete Your Registration</div>
    <div class="xb-login__error md-margin-bottom-2" *ngIf="settingErr">{{settingErr}}</div>
    <form [formGroup]="settingForm" (ngSubmit)="setting()" novalidate>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="48">
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field fxFlex="48">
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </div>
      <div *ngIf="formErrors['firstName']" class="xb-input-error">
        {{ formErrors['firstName'] }}
      </div>
      <div *ngIf="formErrors['lastName']" class="xb-input-error">
        {{ formErrors['lastName'] }}
      </div>
      <div class="xb-login__width" >
        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email">
        </mat-form-field>
        <div *ngIf="formErrors['email']" class="xb-input-error">
          {{ formErrors['email'] }}
        </div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <div *ngIf="formErrors['password']" class="xb-input-error">
          {{ formErrors['password'] }}
        </div>
        <mat-form-field>
          <mat-select placeholder="Country" [(ngModel)]="country" name="country" formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="formErrors['country']" class="xb-input-error">
          {{ formErrors['country'] }}
        </div>
      </div>
      <div fxLayout="column">
        <button class="gtag-signup-email-btn" mat-raised-button color="primary" type="submit">SIGN UP</button>
      </div>
    </form>
  </div>
  <div fxLayout="column" *ngIf="step == 1">
    <div class="xb-login__login-title">Set Up Your Store</div>
    <div class="xb-login__error md-margin-bottom-2" *ngIf="storeErr">{{storeErr}}</div>
    <form [formGroup]="storeForm" (ngSubmit)="complete()" novalidate>
      <div fxFLex class="xb-login__width">
        <mat-form-field>
          <input matInput placeholder="Store Name" formControlName="name">
        </mat-form-field>
        <div *ngIf="formErrors['name']" class="xb-input-error">
          {{ formErrors['name'] }}
        </div>
        <mat-form-field>
          <mat-select placeholder="Store Currency"  name="currency" formControlName="currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency.code">
              {{ currency.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="formErrors['currency']" class="xb-input-error">
          {{ formErrors['currency'] }}
        </div>
      </div>
      <div class="md-dark-secondary">
        Your Store URL:
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>
          https://www.socialcommer.net/store/
        </div>
        <mat-form-field class="md-margin-left-2 xb-login__width" fxFlex>
          <input matInput formControlName="displayName">
        </mat-form-field>
      </div>
      <div *ngIf="formErrors['displayName']" class="xb-input-error">
        {{ formErrors['displayName'] }}
      </div>
      <div class="md-dark-secondary">
        Your Social Media Link :
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex >
          <input type="url" matInput formControlName="socialMediaLink">
        </mat-form-field>
      </div>
      <div *ngIf="formErrors['socialMediaLink']" class="xb-input-error">
        {{ formErrors['socialMediaLink'] }}
      </div>
      <div class="md-margin-top-1" fxLayout="column">
        <button mat-raised-button color="primary" type="submit">COMPLETE</button>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="step == 2">
    <div fxLayout="column" fxLayoutAlign="start center">
      <div class="xb-login__title-1 md-headline xb-login__margin-top">
        Thank you for your interest in SocialCommer.
      </div>
      <div class="md-margin-top-2">Our platform is still in private beta. We will send you an invitation code via email once your application
        is approved. Please be patient and stay tuned.</div>
    </div>
  </div>
</div>
<div class="xb-login__mobile-height" fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
  <i class="iconfontXberts icon-ic-close" fxFlex="none" (click)="close()"></i>
</div>
