<div class="xb-shop__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    Category Name
  </div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="35"
       fxLayout="column" fxLayoutAlign="center center">Number of Products</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">Created Time</div>
  <div class="xb-shop__product-title-1" fxFlex="20"
       fxLayout="column" fxLayoutAlign="start center">Action</div>
</div>
