<div class="xb-shop__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Category Name
  </div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="35"
       fxLayout="column" fxLayoutAlign="center center">Number of Products</div>
  <div class="xb-shop__product-title-1 md-margin-right-2" fxFlex="30"
       fxLayout="column" fxLayoutAlign="center center">Create Time</div>
  <div class="xb-shop__product-title-1" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">Action</div>
</div>
