<div class="xb-order-tracking" fxLayout="column">
  <div class="background-bg-light xb-order-tracking__inner-container" fxFlex="noshrink" >
    <div class="">
      <div>Check Your Order Status</div>
      <div>
        <app-shop-order-list-title></app-shop-order-list-title>
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="changePage($event)"
                       *ngIf="orderList && orderList.length > 0">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
