<form [formGroup]="storeTemplateForm" novalidate>
  <div class="xb-store-template__store-bg">
    <div class="xb-4-template-edit__cancel-save">
      <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
        <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
          SAVE
        </div>
        <div class="xb-4-template-edit__button" (click)="close()" [hidden]="isGuide">
          CANCEL
        </div>
      </div>
      <div class="xb-4-template-edit__left" fxLayout="row" fxLayoutAlign="start center"
           *ngIf="!isShowBlog" (click)="changeIsShowBlog(true)">
        <i class="iconfontXberts icon-pic-show xb-4-template-edit__icon"></i>
        <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
          ADD BLOG SECTION
        </div>
      </div>
      <div class="xb-4-template-edit__left" *ngIf="isShowBlog" (click)="changeIsShowBlog(false)"
           fxLayout="row" fxLayoutAlign="start center">
        <i class="iconfontXberts  icon-pic-hide xb-4-template-edit__icon"></i>
        <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
          HIDE BLOG SECTION
        </div>
      </div>
    </div>
    <div class="xb-4-template-edit__divider-line"></div>

    <div class="xb-store-template__container xb-store-template__content" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="xb-store-template__left" fxFlex="none" fxShow.xs="false" fxLayout="column">
        <div class="xb-store-template__store-name">
          {{nameTag}}
        </div>

        <div class="xb-store-template__cart-order-and-cart" fxLayout="row" fxLayoutAlign="center center">
          <i class="iconfontXberts icon-pic-per xb-store-template__cart-icon md-margin-right-4"
             (click)="jumpStoreOrder()"></i>
          <div style="position: relative" (click)="jumpStoreCart()">
            <i class="iconfontXberts icon-pic-cart1 xb-store-template__cart-icon"></i>
          </div>
        </div>

        <div fxFlex="noshrink">
          <app-shop-template-3-navigation (routerChange)="changeViewPort($event)"
                                          [isNavigationHaveBlog]="isShowBlog"
                                          [isHavePromotion]="isHavePromotion"
                                          [navigationIndex]="viewIndex"></app-shop-template-3-navigation>
        </div>
        <app-shop-template-3-store-footer [text]="text" [name]="storeName"></app-shop-template-3-store-footer>
      </div>

      <div class="xb-store-template__right" fxFlex fxLayout="column">
        <div class="xb-store-template__top-navigation" fxShow.gt-xs="false"
             fxLayout="row" fxLayoutAlign="start center" fxFlex="none">
          <i class="material-icons" (click)="openDialog()">menu</i>
          <div class="xb-store-template__top-navigation-title" fxFlex>
            {{nameTag}}
          </div>
        </div>
        <div class="xb-store-template__dialog" *ngIf="isDialogOpen" fxShow.gt-xs="false">
          <div class="xb-store-template__top-navigation" fxLayout="row" fxLayoutAlign="end center">
            <i class="material-icons" (click)="openNavigationDialog()">close</i>
          </div>
          <app-shop-template-3-navigation
            (routerChange)="openNavigationDialog($event)"></app-shop-template-3-navigation>
        </div>
        <div fxFlex="noshrink">
          <div class="xb-store" [hidden]="viewIndex != 0">
            <div class="xb-store-template__banner xb-shop__template-edit" fxLayout="column"
                 fxLayoutAlign="center center"
                 [ngStyle]="{'background': 'url(' + imageSrc + ') center / auto 100% ' }">
              <div class="xb-store-template__template-mask"></div>
              <div class="xb-store-template__content-2">
                <div class="xb-shop__template-title xb-shop__template-edit">
                  <quill-editor formControlName="titleTag" [(ngModel)]="titleTag"
                                (ready)="getTitleInputEdit($event)"
                                [options]="editorConfig"></quill-editor>
                  <div class="xb-shop__template-edit-text-button" (click)="editTitleInput()">
                    CLICK TO EDIT TEXT
                  </div>
                </div>
                <div class="xb-shop__template-description xb-shop__template-edit">
                  <quill-editor formControlName="descriptionTag" [(ngModel)]="descriptionTag"
                                (ready)="getDesInputEdit($event)"
                                [options]="editorConfig"></quill-editor>
                  <div class="xb-shop__template-edit-text-button" (click)="editDesInput()">
                    CLICK TO EDIT TEXT
                  </div>
                </div>
              </div>
              <div class="xb-shop__template-edit-button" (click)="editImage()">
                CLICK TO CHANGE IMAGE
              </div>
            </div>
            <div>
              <div class="xb-store__content xb-store__border-bottom">
                <div class="md-margin-top-1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                  <ng-container *ngFor="let item of product ; let i = index">
                    <app-shop-item-card class="preview-home-box"
                                        fxFlex="33" fxFlex.xs="100"
                                        (productId)="jumpGoodsDetail($event)"
                                        *ngIf="i<6"
                                        [product]="item" [status]="0"></app-shop-item-card>
                  </ng-container>
                  <div class="preview-home-box" fxFlex="33" fxFlex.xs="100"></div>
                  <div class="preview-home-box" fxFlex="33" fxFlex.xs="100"></div>
                </div>
                <div *ngIf="product.length > 0" class="xb-store-template__buttons-bg" fxLaout="row"
                     fxLayoutAlign="center center">
                  <div (click)="jumpToCollection()">
                    SEE MORE
                  </div>
                </div>
                <div class="md-margin-top-4" *ngIf="categories.length <=0 && !nextPage && product.length <= 0"
                     fxLayout="column" fxLayoutAlign="center center">
                  <div class="md-padding-top-2">You haven't added any affiliate products yet.</div>
                  <div class="md-margin-top-4">
                    <a class="xb-store__buttons-bg-1" routerLink="/shop/listings/items" target="_blank">Add Your First
                      Product</a>
                  </div>
                </div>
              </div>
              <div class="xb-store-template__blog-content" *ngIf="isShowBlog">
                <div class="xb-store-template__blog-title">BLOG</div>

                <div class="md-margin-top-1" fxLayout="row wrap" fxLayoutAlign="space-between start">
                  <app-shop-template-3-store-blog-card class="preview-home-blog-box"
                                                       *ngFor="let item of blog"
                                                       fxFlex="45" fxFlex.xs="100"
                                                       [blog]="item" [status]="0"></app-shop-template-3-store-blog-card>
                  <div class="preview-home-blog-box" fxFlex="45" fxFlex.xs="100"></div>
                </div>
                <div *ngIf="blog.length > 0" class="xb-store-template__buttons-bg" fxLaout="row"
                     fxLayoutAlign="center center">
                  <div (click)="jumpToBlog()">
                    SEE MORE
                  </div>
                </div>
                <div class="md-margin-top-4" *ngIf="blog && !nextBlogPage && blog.length <= 0" fxLayout="column"
                     fxLayoutAlign="center center">
                  <div>You haven't added any blog yet.</div>
                  <div class="md-margin-top-2">
                    <a class="xb-store__buttons-bg-1" routerLink="/shop/blog" target="_blank">Add Your First Blog</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="xb-store-template__collection-bottom" [hidden]="viewIndex != 1">
            <div class="xb-store-template__collection-container">
              <div class="xb-store-template__collection-title" fxShow.xs="false">
                FLASH SALE
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
              <app-flash-sale-card-3 class="preview-flash-box"
                                     *ngFor="let item of flashSaleProduct"
                                     fxFlex="31" fxFlex.xs="100"
                                     (productId)="jumpGoodsDetail($event)"
                                     [product]="item" [status]="1"></app-flash-sale-card-3>
              <div class="preview-flash-box" fxFlex="31" fxFlex.xs="100"></div>
              <div class="preview-flash-box" fxFlex="31" fxFlex.xs="100"></div>
            </div>
          </div>
          <div class="xb-store-template__collection-bottom" [hidden]="viewIndex != 2">
            <div class="xb-store-template__collection-container">
              <div class="xb-store-template__collection-title" fxShow.xs="false">
                COLLECTIONS
              </div>
              <app-shop-template-3-category [(category)]="category" [categories]="categories"
                                            (categoryChange)="changeCategory()"></app-shop-template-3-category>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
              <app-shop-item-card class="preview-home-box"
                                  *ngFor="let item of product"
                                  fxFlex="33" fxFlex.xs="100"
                                  (productId)="jumpGoodsDetail($event)"
                                  [product]="item" [status]="1"></app-shop-item-card>
              <div class="preview-home-box" fxFlex="33" fxFlex.xs="100"></div>
              <div class="preview-home-box" fxFlex="33" fxFlex.xs="100"></div>
            </div>
            <div class="md-margin-top-4" *ngIf="categories.length <=0 && !nextPage && product.length <= 0"
                 fxLayout="column" fxLayoutAlign="center center">
              <div>You haven't added any affiliate products yet.</div>
              <div class="md-margin-top-4">
                <a class="xb-store__buttons-bg-1" routerLink="/shop/products" target="_blank">Add Your First Product</a>
              </div>
            </div>
          </div>
          <div class="xb-store-template__blog-content" [hidden]="viewIndex != 3">
            <div class="xb-store-template__blog-title">BLOG</div>
            <div class="md-margin-top-1" fxLayout="row wrap" fxLayoutAlign="space-between start">
              <app-shop-template-3-store-blog-card class="preview-home-blog-box"
                                                   *ngFor="let item of blog"
                                                   fxFlex="45" fxFlex.xs="100"
                                                   [blog]="item" [status]="1"></app-shop-template-3-store-blog-card>
              <div class="preview-home-blog-box" fxFlex="45" fxFlex.xs="100"></div>

            </div>
            <div class="md-margin-top-4" *ngIf="blog && !nextBlogPage && blog.length <= 0" fxLayout="column"
                 fxLayoutAlign="center center">
              <div>You haven't added any blog yet.</div>
              <div class="md-margin-top-2">
                <a class="xb-store__buttons-bg-1" routerLink="/shop/blog" target="_blank">Add Your First Blog</a>
              </div>
            </div>
          </div>
          <div class="xb-store-template__about" [hidden]="viewIndex != 5">
            <div class="xb-store-template__about-title">About Me</div>
            <div class="xb-store-template__about-image-bg xb-shop__template-edit">
              <app-image-upload-preview-blog [(previewImgFile)]="aboutMeSrc" [(previewImgSrc)]="aboutMeSrc"
                                             [type]="uploadAboutType"></app-image-upload-preview-blog>
            </div>
            <div class="xb-store-template__about-user xb-shop__template-edit">
              <quill-editor formControlName="userTag" [(ngModel)]="userTag"
                            (ready)="getAboutMeInputEdit($event)"
                            [options]="editorConfig"></quill-editor>
              <div class="xb-shop__template-edit-text-button" (click)="editAboutMeInput()">
                CLICK TO EDIT TEXT
              </div>
            </div>
          </div>
          <div [hidden]="viewIndex != 4">
            <app-store-template-3-store-edit-detail
              [productId]="selectProductId" (closeDetail)="changeGoodsDetail($event)">
            </app-store-template-3-store-edit-detail>
          </div>
        </div>
        <div class="background-light-gray">
          <app-shop-template-3-store-footer [text]="text" [name]="storeName"
                                            fxShow.gt-xs="false"></app-shop-template-3-store-footer>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="xb-store__background" *ngIf="imageEdited">
  <div class="xb-store__details-close" (click)="editImage()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store__details">
    <div class="xb-store__details-close" (click)="editImage()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-shop__mobile-dialog-inner">
      <app-image-upload-preview [(previewImgFile)]="imageSrc"
                                (previewImgFileChange)="editImage()"></app-image-upload-preview>
    </div>
  </div>
</div>

<div class="xb-store__background" *ngIf="storeEdited">
  <div class="xb-store__details-close" (click)="editStore()" fxShow="false" fxShow.sm="true" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store__details">
    <div class="xb-store__details-close" (click)="editStore()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-shop__mobile-dialog-inner">
      <div class="xb-shop__template-title-1">
        Ready to Publish?
      </div>
      <div class="xb-shop__template-content-1">
        Make sure all these setting are correct before your store goes live!
      </div>
      <form [formGroup]="storeForm" novalidate>
        <div class="md-margin-top-2 md-margin-right-2" fxLayout="column">
          <div class="md-dark-secondary">
            Store Name
          </div>
          <mat-form-field>
            <input matInput formControlName="name">
          </mat-form-field>
          <div *ngIf="formErrors['name']" class="xb-input-error">
            {{ formErrors['name'] }}
          </div>
          <div class="md-dark-secondary">
            Store Description (Used for social media sharing and search optimization)
          </div>
          <mat-form-field class="xb-shop__width-100">
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <div *ngIf="formErrors['description']" class="xb-input-error">
            {{ formErrors['description'] }}
          </div>
          <div class="md-dark-secondary">
            Your Store URL
          </div>
          <div class="md-margin-bottom-1" fxLayout="row" fxLayoutAlign="start center">
            <div>
              https://www.socialcommer.com/store/
            </div>
            <mat-form-field class="md-margin-left-2 xb-shop__width-1">
              <input matInput formControlName="displayName">
            </mat-form-field>
          </div>
          <div *ngIf="formErrors['displayName']" class="xb-input-error">
            {{ formErrors['displayName'] }}
          </div>
          <div class="xb-shop__margin-top" fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" (click)="changeStore()">PUBLISH</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="xb-store__background" *ngIf="storeCart" [ngStyle]="{'background-color':'white'}">
  <div class="xb-4-template-edit__cancel-save">
    <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
        SAVE
      </div>
      <div class="xb-4-template-edit__button" (click)="close()" [hidden]="isGuide">
        CANCEL
      </div>
    </div>
    <div class="xb-4-template-edit__left" fxLayout="row" fxLayoutAlign="start center"
         *ngIf="!isShowBlog" (click)="changeIsShowBlog(true)">
      <i class="iconfontXberts icon-pic-show xb-4-template-edit__icon"></i>
      <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
        ADD BLOG SECTION
      </div>
    </div>
    <div class="xb-4-template-edit__left" *ngIf="isShowBlog" (click)="changeIsShowBlog(false)"
         fxLayout="row" fxLayoutAlign="start center">
      <i class="iconfontXberts  icon-pic-hide xb-4-template-edit__icon"></i>
      <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
        HIDE BLOG SECTION
      </div>
    </div>
  </div>
  <div class="xb-store-template__line"></div>
  <app-edit-cart-main-3 [storeName]="nameTag" (closeStoreCart)="jumpStoreCart()"
                        (openStoreOrder)="OpenStoreOrder()"></app-edit-cart-main-3>
</div>
<div class="xb-store__background" *ngIf="storeOrder" [ngStyle]="{'background-color':'white'}">
  <div class="xb-4-template-edit__cancel-save">
    <div class="xb-4-template-edit__nav-right" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-4-template-edit__button-1 md-margin-right-2" (click)="submitTemplate()">
        SAVE
      </div>
      <div class="xb-4-template-edit__button" (click)="close()" [hidden]="isGuide">
        CANCEL
      </div>
    </div>
    <div class="xb-4-template-edit__left" fxLayout="row" fxLayoutAlign="start center"
         *ngIf="!isShowBlog" (click)="changeIsShowBlog(true)">
      <i class="iconfontXberts icon-pic-show xb-4-template-edit__icon"></i>
      <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
        ADD BLOG SECTION
      </div>
    </div>
    <div class="xb-4-template-edit__left" *ngIf="isShowBlog" (click)="changeIsShowBlog(false)"
         fxLayout="row" fxLayoutAlign="start center">
      <i class="iconfontXberts  icon-pic-hide xb-4-template-edit__icon"></i>
      <div class="xb-4-template-edit__add-blog xb-4-template-edit__magleft-12">
        HIDE BLOG SECTION
      </div>
    </div>
  </div>
  <div class="xb-store-template__line"></div>
  <app-edit-3-order [storeName]="nameTag" (closeStoreOrder)="jumpStoreOrder()"
                    (openStoreCart)="OpenStoreCart()"></app-edit-3-order>
</div>
