@import "../styles/utils/_index";
@import "../styles/_variables";

.xb-landing-page {
  font-family: ProximaNova;
  width: 100vw;

  &__flex-box-1 {

    @include xb-xs-screen {
      max-width: 50% !important;
      flex: 1 1 200px !important;
      -webkit-flex: 1 1 200px !important;
      min-width: 50%;
    }
    @include xb-sm-screen {
      max-width: 25% !important;
      flex: 1 1 163px !important;
      -webkit-flex: 1 1 163px !important;
      min-width: 25%;
    }
    @include xb-md-screen {
      max-width: 25% !important;
      flex: 1 1 185px !important;
      -webkit-flex: 1 1 185px !important;
      min-width: 25%;
    }
    @include xb-lg-screen {
      max-width: 25% !important;
      flex: 1 1 300px !important;
      -webkit-flex: 1 1 300px !important;
      min-width: 25%;
    }
  }

  &__flex-box-2 {
    @include xb-xs-screen {
      max-width: 50% !important;
      flex: 1 1 200px !important;
      -webkit-flex: 1 1 200px !important;
      min-width: 50%;
    }
    @include xb-sm-screen {
      max-width: 25% !important;
      flex: 1 1 180px !important;
      -webkit-flex: 1 1 180px !important;
      min-width: 25%;
    }
    @include xb-md-screen {
      max-width: 25% !important;
      flex: 1 1 185px !important;
      -webkit-flex: 1 1 185px !important;
      min-width: 25%;
    }
    @include xb-lg-screen {
      max-width: 25% !important;
      flex: 1 1 240px !important;
      -webkit-flex: 1 1 240px !important;
      min-width: 25%;
    }
  }

  &__flex-box-3 {
    @include xb-sm-screen {
      max-width: 48% !important;
      flex: 1 1 290px !important;
      -webkit-flex: 1 1 290px !important;
      min-width: 48%;
    }
    @include xb-md-screen {
      max-width: 24% !important;
      flex: 1 1 193px !important;
      -webkit-flex: 1 1 193px !important;
      min-width: 24%;
    }
    @include xb-lg-screen {
      max-width: 24% !important;
      flex: 1 1 250px !important;
      -webkit-flex: 1 1 250px !important;
      min-width: 24%;
    }
  }



  &__inner {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  &__banner {
    height: 823px;
    background-image: url("https://media.socialcommer.com/source/web/pic/landing-banner1-20184026.jpg");
    background-position: center;
    background-size: auto 823px;
    background-repeat: repeat;

    @include xb-xs-screen {
      background-image: url("https://media.socialcommer.com/source/web/pic/landing-bitmap2-20180426.png");
      height: auto;
      background-size: auto 100%;
      padding: 0 16px 48px;
    }

    &-1 {
      padding: 112px 0 120px;
      border-bottom: 1px solid rgba(0,0,0,.12);

      @include xb-xs-screen{
        padding: 58px 16px 54px;
      }

      &-left{
        padding: 0 32px;
        @include xb-xs-screen{
          padding: 0;
        }
      }
    }

    &-title {
      font-family: Didot;
      font-size: 40px;
      line-height: 52px;
      letter-spacing: -0.29px;
      margin-top: 196px;
      @include media();

      @include xb-xs-screen {
        font-size: 24px;
        line-height: 31px;
        margin-top: 291px;
      }
    }
    &-subtitle {
      margin-top: 16px;
      font-size: 16px;
      letter-spacing: -0.29px;
      line-height: 24px;
      @include light();

      @include xb-xs-screen {
        margin-top: 6px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    &-title-2 {
      font-family: 'Didot';
      font-size: 34px;
      line-height: 56px;

      @include xb-sm-screen{
        margin-top: 0px;
      }
      @include xb-xs-screen {
        font-size: 24px;
        line-height: 40px;
        margin-top: 28px;
      }
    }

    &-subtitle-1 {
      margin-top: 24px;
      font-size: 16px;
      line-height: 19px;

      @include xb-xs-screen {
        margin-top: 12px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    &-button {
      margin-top: 63px;
      color: $whiteColor;
      background: $primaryColorNew;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: -0.29px;
      text-align: center;
      padding: 0 24px;
      display: block;
      @include xb-xs-screen {
        margin-top: 20px;
        line-height: 32px;
        font-size: 12px;
      }
    }

    &-button-1 {
      margin-top: 48px;
      color: $whiteColor;
      background: $primaryColorNew;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: -0.29px;
      text-align: center;
      padding: 0 24px;
      display: block;
      @include xb-xs-screen {
        margin-top: 32px;
        line-height: 32px;
        font-size: 12px;
      }
    }

    &-title-1 {
      height: 120px;
      color: $whiteColor;
      background-color: #231d1a;
      font-size: 34px;
      line-height: 48px;
      text-align: center;
      position: relative;
      z-index: 1;
      margin-top: -1px;

      @include media();

      @include xb-sm-screen {
        font-size: 24px;
        line-height: 32px;
        height: 120px;
      }

      @include xb-xs-screen {
        font-size: 16px;
        line-height: 24px;
        height: 88px;
      }
    }

    &-tri {
      position: absolute;
      top: 100%;
      left: 50%;
      @include transform(translateX(-50%));
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 16px solid #231d1a;

      @include xb-xs-screen {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 8px solid #231d1a;
      }
    }
  }

  &__navigation {

    &-bg {
      background-color: $blackColor;
    }
  }

  &__content {
    padding: 0 16px;

    &-bg {
      height: 471px;
      @include xb-xs-screen {
        height: auto;
        padding: 54px 16px;
      }
    }
    &-title {
      font-family: Didot;
      margin-top: 120px;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      margin-bottom: 82px;
      @include xb-xs-screen{
        margin: 0;
      }
    }
    i {
      font-size: 40px;
      line-height: 40px;
      display: block;
      color: $primaryColorNew;
      @include xb-xs-screen{
        margin-top: 32px;
      }
    }
    &-title-1 {
      font-size: 16px;
      margin-top: 12px;
      line-height: 19px;
      @include media();
      text-align: center;
    }
    &-title-2 {
      font-size: 14px;
      @include light();
      line-height: 20px;
      margin-top: 24px;
      text-align: center;
      @include xb-xs-screen {
        font-size: 12px;
        line-height: 18px;
        margin-top: 12px;
      }
    }
  }

  &__title {
    margin-top: 96px;
    font-size: 48px;
    @include media();
    text-align: center;
    color: $whiteColor;

    @include xb-sm-screen {
      margin-top: 48px;
      font-size: 32px;
    }

    @include xb-xs-screen {
      margin-top: 40px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__content-1 {

    &-image{
      padding: 0 88px;
      @include xb-sm-screen{
        padding: 0 32px;
      }
    }

    &-bg {
      overflow: hidden;
      height: 691px;
      background-color: #f8f3f3;
      padding: 116px 0 159px;
      @include xb-xs-screen{
        padding: 54px 16px;
        height: auto;
      }
    }
    &-title {
      font-size: 14px;
      line-height: 17px;
      @include media();
    }

    &-title-1 {
      font-size: 12px;
      color: #000000;
      line-height: 20px;
      margin-bottom: 36px;
      @include xb-sm-screen{
        margin-bottom: 24px;
      }
    }

    &-title-2{
      font-family: Didot;
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 32px;
      @include xb-xs-screen{
        text-align: center;
      }
    }

    &-circle{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #000000;
      line-height: 20px;
      font-size: 14px;
      text-align: center;
      display: block;
    }

    &-line{
      width: 1px;
      height: 100%;
      background-color: #AA7942;
      display: block;
    }
  }

  &__list {
    padding: 32px 28px;
    background-color: #231d1a;
    height: 292px;
    margin-bottom: 20px;
    @include xb-sm-screen {
      height: 240px;
      margin-bottom: 16px;
    }
    @include xb-xs-screen {
      height: auto;
      margin-bottom: 16px;
    }

    @media screen and (min-width: 960px) and (max-width: 1100px) {
      height: 360px;
      margin-bottom: 16px;
    }

    &-bg {
      padding: 64px 0 44px;
      background-color: #17120f;
      @include xb-xs-screen {
        padding: 16px 16px 0;
      }
    }
    i {
      color: $primaryColor;
      font-size: 32px;
      line-height: 32px;
    }

    &-title {
      margin-top: 16px;
      font-size: 22px;
      line-height: 32px;
      min-height: 64px;
      @include light();
      color: $whiteColor;
      @include xb-sm-screen {
        font-size: 24px;
      }

      @include xb-xs-screen {
        min-height: 0;
        font-size: 20px;
      }
    }

    &-title-1 {
      margin-top: 16px;
      font-size: 16px;
      line-height: 24px;
      @include light();
      color: rgba(255, 255, 255, .54);

      @include xb-xs-screen {
        font-size: 14px;
      }
    }
  }
}

