<div class="xb-landing-page" appModifyBodyStyle>
  <div>
    <div class="container" fxLayout="column">
      <app-navigation-header></app-navigation-header>
    </div>
  </div>
  <div class="xb-landing-page__banner">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlgin.xs="start start">
      <div fxFlex="50" fxHide.xs>
        <div class="xb-landing-page__banner-box animation-background-position"></div>
      </div>
      <div fxFlex="50" fxFlex.xs="none">
        <div class="xb-landing-page__banner-title">
          Earn Money from Home by Reselling Trendy Products on Your Social Media
        </div>
        <div class="xb-landing-page__banner-subtitle">
          Join now to earn newbie cash reward and resell 1,000+ profitable items across fashion, beauty & lifestyle categories.
        </div>
        <div fxLayout="row">
          <a class="xb-landing-page__banner-button" routerLink="/account/signup">GET STARTED FOR FREE</a>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-landing-page__content-bg">
    <div class="xb-landing-page__content-title">
      THE BENEFITS OF JOINING SOCIALCOMMER
    </div>
    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start center">
      <div class="xb-landing-page__content" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-trendy"></i>
        <div class="xb-landing-page__content-title-1" fxLayoutAlign="center center">Discover Trendy Products</div>
        <div class="xb-landing-page__content-title-2">Your destination for the latest fashion and beauty products</div>
      </div>
      <div class="xb-landing-page__content xb-landing-page__flex-box-1" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-rate1"></i>
        <div class="xb-landing-page__content-title-1" fxLayoutAlign="center center">High Commission Rate</div>
        <div class="xb-landing-page__content-title-2">Earn up to 50% sales commission on every item you sell</div>
      </div>
      <div class="xb-landing-page__content xb-landing-page__flex-box-1" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-rewards"></i>
        <div class="xb-landing-page__content-title-1" fxLayoutAlign="center center">Monthly Bonus Reward</div>
        <div class="xb-landing-page__content-title-2">Claim your monthly extra bonus by hitting sales target</div>
      </div>
      <div class="xb-landing-page__content xb-landing-page__flex-box-1" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-needed"></i>
        <div class="xb-landing-page__content-title-1" fxLayoutAlign="center center">No Investment Needed</div>
        <div class="xb-landing-page__content-title-2">You never need to handle any inventory, suppliers and logistics</div>
      </div>
    </div>
  </div>
  <div class="xb-landing-page__content-1-bg" >
    <div class="container" fxLayout="row" fxLayoutAlign="start start">
      <div class="xb-landing-page__content-1-image" fxFlex="60" fxHide.xs>
        <img src="https://media.socialcommer.com/source/web/pic/landing-how-work-20180426.png">
      </div>
      <div fxFlex="40" fxFlex.xs>
        <div class="container xb-landing-page__content-1-title-2">
          HOW IT WORKS
        </div>
        <div class="xb-landing-page__content-1" fxLayout="row" fxLayoutAlign="start stretch">
          <div class="md-margin-right-2" fxFlex="none" fxLayout="column" fxLayoutAlign="start center">
            <div class="xb-landing-page__content-1-circle">1</div>
            <div class="xb-landing-page__content-1-line" fxFlex></div>
          </div>
          <div>
            <div class="xb-landing-page__content-1-title">Create Your Store</div>
            <div class="xb-landing-page__content-1-title-1">
              Sign up to create your online store and list your favorite products offered by our suppliers</div>
          </div>
        </div>
        <div class="xb-landing-page__content-1" fxLayout="row" fxLayoutAlign="start stretch">
          <div class="md-margin-right-2" fxFlex="none" fxLayout="column" fxLayoutAlign="start center">
            <div class="xb-landing-page__content-1-circle">2</div>
            <div class="xb-landing-page__content-1-line" fxFlex></div>
          </div>
          <div>
            <div class="xb-landing-page__content-1-title">Promote Your Listings</div>
            <div class="xb-landing-page__content-1-title-1">
              Share your listings and market your online store across your social media channels</div>
          </div>
        </div>
        <div class="xb-landing-page__content-1" fxLayout="row" fxLayoutAlign="start stretch">
          <div class="md-margin-right-2" fxFlex="none" fxLayout="column" fxLayoutAlign="start center">
            <div class="xb-landing-page__content-1-circle">3</div>
            <div class="xb-landing-page__content-1-line" fxFlex></div>
          </div>
          <div>
            <div class="xb-landing-page__content-1-title">We Fulfill Your Orders</div>
            <div class="xb-landing-page__content-1-title-1">
              Our suppliers ship products directly to your customers and offer customer support</div>
          </div>
        </div>
        <div class="xb-landing-page__content-1" fxLayout="row" fxLayoutAlign="start stretch">
          <div class="md-margin-right-2" fxFlex="none" fxLayout="column" fxLayoutAlign="start center">
            <div class="xb-landing-page__content-1-circle">4</div>

          </div>
          <div>
            <div class="xb-landing-page__content-1-title">You Get Paid</div>
            <div class="xb-landing-page__content-1-title-1">
              Your earnings will be deposited into your Paypal or bank account every month</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-landing-page__list-bg">
    <div class="xb-landing-page__list-title">FEATURED PRODUCTS</div>
    <div class="xb-landing-page__list-bg-1">
      <swiper class="swiper-container" [config]="config1" [disabled]="disabled" (indexChange)="onIndexChange1($event)">
        <div *ngFor="let slide of slides1" class="xb-landing-page__list">
          <div class="xb-landing-page__list-image">
            <img [src]="slide.mainImage">
          </div>
          <div class="xb-landing-page__list-title-1">{{slide.title}}</div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div class="xb-landing-page__list-title-2" >{{slide.saleUnitPrice|currency:currency}}</div>
            <div class="xb-landing-page__list-title-3" >{{slide.unitPrice|currency:currency}}</div>
          </div>
          <div class="xb-landing-page__list-title-4"  fxLayout="row" fxLayoutAlign="center center">
            <div class="xb-bold">Sales Commission：</div>
            <div>{{slide.commissionRate}}%</div>
          </div>
        </div>
      </swiper>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="xb-landing-page__list-button" routerLink="/account/signup">
        VIEW MORE PRODUCTS
      </div>
    </div>
  </div>
  <div class="xb-landing-page__content-container-bg">
    <div class="xb-landing-page__content-container-title">FEATURED STORE OWNER</div>
    <app-landing-slide></app-landing-slide>
  </div>
  <div class="xb-landing-page__banner-1">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutAlgin.xs="start start">
      <div class="xb-landing-page__banner-1-left" fxFlex="50" fxLayout="column" fxLayoutAlign="center start" fxFlexOrder.xs="2">
        <div class="xb-landing-page__banner-title-2">
          Join Us for Free and Start Earning Today!
        </div>
        <div class="xb-landing-page__banner-subtitle-1">We help homepreneurs and influencers monetize their passions.</div>
        <div fxLayout="row">
          <a class="xb-landing-page__banner-button-1" routerLink="/account/signup">GET STARTED NOW</a>
        </div>
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start" fxFlexOrder.xs="1">
        <img src="https://media.socialcommer.com/source/web/pic/landing-group4-20180426.png">
      </div>
    </div>
  </div>
  <app-bottom-footer></app-bottom-footer>
</div>

