<div class="xb-landing-page" appModifyBodyStyle>
  <div class="xb-landing-page__banner">
    <div class="xb-landing-page__navigation-bg">
      <div class="container" fxLayout="column">
        <app-navigation-header></app-navigation-header>
      </div>
    </div>
    <div class="container" fxLayout="column">
      <div class="md-margin-left-2 md-margin-right-2 xb-landing-page__banner-title">
        A New Social Commerce Network to Monetize Your Influence</div>
      <div class="md-margin-left-2 md-margin-right-2 xb-landing-page__banner-subtitle">
        SocialCommer is a free, simple way for influencers and stylists to earn money by launching their personal
        online stores and selling popular <span class="xb-bold">DROPSHIPPED</span> products in <span class="xb-bold">just a few clicks</span>.</div>
      <div fxLayout="row">
        <a class="md-margin-left-2 xb-landing-page__banner-button" routerLink="/account/signup">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="xb-landing-page__banner-title-1" fxLayout="row" fxLayoutAlign="center center">
    The Benefits of Joining SocialCommer
    <div class="xb-landing-page__banner-tri"></div>
  </div>
  <div class="xb-landing-page__content-bg">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
      <div class="xb-landing-page__content" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="50">
        <div class="xb-landing-page__content-title">01</div>
        <i class="iconfontXberts icon-pic-income"></i>
        <div class="xb-landing-page__content-title-1" fxLayoutAlign="center center">Boost Your Income</div>
        <div class="xb-landing-page__content-title-2">Earn up to 50% commission per sale and win extra bonus</div>
      </div>
      <div class="xb-landing-page__content" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="50">
        <div class="xb-landing-page__content-title">02</div>
        <i class="iconfontXberts icon-pic-fans"></i>
        <div class="xb-landing-page__content-title-1" fxLayoutAlign="center center">Expand Your Audiences</div>
        <div class="xb-landing-page__content-title-2">Attract more visitors through our unique promotional offers</div>
      </div>
      <div class="xb-landing-page__content" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="50">
        <div class="xb-landing-page__content-title">03</div>
        <i class="iconfontXberts icon-pic-save"></i>
        <div class="xb-landing-page__content-title-1" fxLayoutAlign="center center">Save Time & Effort</div>
        <div class="xb-landing-page__content-title-2">We automate your order fulfillment to make your life easier</div>
      </div>
      <div class="xb-landing-page__content" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="50">
        <div class="xb-landing-page__content-title">04</div>
        <i class="iconfontXberts icon-pic-smile"></i>
        <div class="xb-landing-page__content-title-1" fxLayoutAlign="center center">No Investment Needed</div>
        <div class="xb-landing-page__content-title-2">You never need to handle any inventory, suppliers and logistics</div>
      </div>
    </div>
  </div>
  <div class="xb-landing-page__content-1-bg">
    <div class="container xb-landing-page__title">
      How It Works
    </div>
    <div class="container" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
      <div class="xb-landing-page__content-1" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="50">
        <i class="iconfontXberts icon-pic-shop1 xb-landing-page__content-1-icon-1"></i>
        <div class="xb-landing-page__content-1-title" fxLayoutAlign="center center">Create Your Store</div>
        <div class="xb-landing-page__content-1-title-1">
          Sign up to create your online store and list your favorite products offered by our suppliers</div>
      </div>
      <div class="xb-landing-page__content-1" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="50">
        <i class="iconfontXberts icon-pic-list xb-landing-page__content-1-icon-2"></i>
        <div class="xb-landing-page__content-1-title" fxLayoutAlign="center center">Promote Your Listings</div>
        <div class="xb-landing-page__content-1-title-1">
          Share your listings and market your online store across your social media channels</div>
      </div>
      <div class="xb-landing-page__content-1" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="50">
        <i class="iconfontXberts icon-pic-order1 xb-landing-page__content-1-icon-3"></i>
        <div class="xb-landing-page__content-1-title" fxLayoutAlign="center center">We Fulfill Your Orders</div>
        <div class="xb-landing-page__content-1-title-1">
          Our suppliers ship products directly to your customers and offer customer support</div>
      </div>
      <div class="xb-landing-page__content-1" fxLayout="column" fxLayoutAlign="start center" fxFlex="25" fxFlex.xs="50">
        <i class="iconfontXberts icon-pic-earning xb-landing-page__content-1-icon-1"></i>
        <div class="xb-landing-page__content-1-title" fxLayoutAlign="center center">You Get Paid</div>
        <div class="xb-landing-page__content-1-title-1">
          Your earnings will be directly deposited into your bank account every month</div>
      </div>
    </div>
  </div>
  <div class="xb-landing-page__banner-title-1" fxLayout="row" fxLayoutAlign="center center">
    Everything You Need to Start Your Ecommerce Business
    <div class="xb-landing-page__banner-tri"></div>
  </div>
  <div class="xb-landing-page__list-bg" fxLayout="row" fxLayoutAlign="center start">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutAlign.sm="space-around start"
         fxLayout.xs="column" fxLayoutAlign.xs="start stretch" fxLayoutWrap>
      <div class="xb-landing-page__list" fxLayout="column" fxLayoutAlign="start start" fxFlex="24" fxFlex.sm="48" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-one"></i>
        <div class="xb-landing-page__list-title">Best-Selling Dropshipped Products</div>
        <div class="xb-landing-page__list-title-1">
          Find and add great products to sell on your online store with just a few clicks
        </div>
      </div>
      <div class="xb-landing-page__list" fxLayout="column" fxLayoutAlign="start start" fxFlex="24" fxFlex.sm="48" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-shipping"></i>
        <div class="xb-landing-page__list-title">Automated Order Fulfillment</div>
        <div class="xb-landing-page__list-title-1">
          We partner with the best suppliers and ship products directly to your customers
        </div>
      </div>
      <div class="xb-landing-page__list" fxLayout="column" fxLayoutAlign="start start" fxFlex="24" fxFlex.sm="48" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-service"></i>
        <div class="xb-landing-page__list-title">Best-in-Class Customer Support</div>
        <div class="xb-landing-page__list-title-1">
          We provide dedicated customer support to process all customer queries for you
        </div>
      </div>
      <div class="xb-landing-page__list" fxLayout="column" fxLayoutAlign="start start" fxFlex="24" fxFlex.sm="48" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-safe"></i>
        <div class="xb-landing-page__list-title">100% Buyer Protection Policy</div>
        <div class="xb-landing-page__list-title-1">
          All products shipped to your customers will be covered under 30 day free return
        </div>
      </div>
      <div class="xb-landing-page__list" fxLayout="column" fxLayoutAlign="start start" fxFlex="24" fxFlex.sm="48" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-deco"></i>
        <div class="xb-landing-page__list-title">Customizable Storefront Templates</div>
        <div class="xb-landing-page__list-title-1">
          Pick the perfect template and customize your storefront based on your preference
        </div>
      </div>
      <div class="xb-landing-page__list" fxLayout="column" fxLayoutAlign="start start" fxFlex="24" fxFlex.sm="48" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-data"></i>
        <div class="xb-landing-page__list-title">Comprehensive Data Analytics</div>
        <div class="xb-landing-page__list-title-1">
          Track daily views, conversion and sales performance for each item in your store
        </div>
      </div>
      <div class="xb-landing-page__list" fxLayout="column" fxLayoutAlign="start start" fxFlex="24" fxFlex.sm="48" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-tool"></i>
        <div class="xb-landing-page__list-title">Content Marketing Tools</div>
        <div class="xb-landing-page__list-title-1">
          Use our content creation and social sharing tools to drive traffic to your store
        </div>
      </div>
      <div class="xb-landing-page__list" fxLayout="column" fxLayoutAlign="start start" fxFlex="24" fxFlex.sm="48" fxFlex.xs="100">
        <i class="iconfontXberts icon-pic-phone"></i>
        <div class="xb-landing-page__list-title">Mobile Responsive Design</div>
        <div class="xb-landing-page__list-title-1">
          Your online store automatically adapts to any smartphone and screen size
        </div>
      </div>
    </div>
  </div>

  <div class="xb-landing-page__banner-1">
    <div class="container" fxLayout="column" fxLayoutAlign="stretch center">
      <div class="xb-landing-page__banner-title-2">
        Launch Your Online Store to Make Money Today. It’s Free!
      </div>
      <div class="xb-landing-page__banner-subtitle-1">We help influencers and stylists monetize their passion and influence.</div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <a class="xb-landing-page__banner-button-1" routerLink="/account/signup">GET STARTED NOW</a>
      </div>
    </div>
  </div>
  <app-bottom-footer></app-bottom-footer>
</div>

