<div class="xb-landing-page">
  <div class="xb-landing-page__banner">
    <div class="container" fxLayout="column">
      <app-navigation-header></app-navigation-header>
      <div class="md-margin-left-2 xb-landing-page__banner-title">Start your affiliate online store and make money with zero cost</div>
      <div class="md-margin-left-2 md-margin-top-3 xb-landing-page__banner-subtitle" fxShow.xs="false">
        No Inventory Needed, No Shipment and Customer Queries to Handle!</div>
      <a class="md-margin-left-2 xb-landing-page__banner-button" routerLink="/cp/signUp">GET STARTED FOR FREE</a>
    </div>
  </div>
  <div class="xb-landing-page__height-1 background-bg-light">
    <div class="container">
      <div class="xb-landing-page__title-1">How It Works</div>
      <div class="xb-landing-page__content-3 md-margin-top-2">
        SocialCommer allows you to set up a FREE, beautiful online store with ease and make money by promoting any
        affiliate products of your choice.
      </div>
      <div class="xb-landing-page__image-list" fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column">
        <div fxLayout="column" fxLayoutAlign="start center">
          <img src="https://media.xberts.com/collector/source/web/pic/pic-open.png">
          <div class="xb-landing-page__title-2 md-margin-top-3">
            1. Create Your Store
          </div>
          <div class="xb-landing-page__content-2 md-margin-top-1">
            Set up your free online store in minutes
          </div>
        </div>
        <span fxFlex></span>
        <div fxLayout="column" fxLayoutAlign="start center">
          <img src="https://media.xberts.com/collector/source/web/pic/pic-list.png">
          <div class="xb-landing-page__title-2 md-margin-top-3">
            2. List Affiliate Products
          </div>
          <div class="xb-landing-page__content-2 md-margin-top-1">
            List any affiliate products of your choice
          </div>
        </div>
        <span fxFlex></span>
        <div fxLayout="column" fxLayoutAlign="start center">
          <img src="https://media.xberts.com/collector/source/web/pic/pic-earn.png">
          <div class="xb-landing-page__title-2 md-margin-top-3">
            3. Promote and Earn
          </div>
          <div class="xb-landing-page__content-2 md-margin-top-1">
            Promote your online store & earn commission
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-landing-page__height-3" fxShow.xs="false">
    <div class="xb-landing-page__background-2"></div>
    <div class="container" fxLayout="row">
      <div fxFlex="50"></div>
      <div fxFlex="50">
        <div class="xb-landing-page__title-4 md-margin-left-3">
          Hassle-free to make money with zero cost
        </div>
        <div class="md-margin-left-3 xb-landing-page__content-1 md-margin-top-2">
          As an affiliate store, you don't need to take care of any inventory, shipping and customer support
        </div>
      </div>
    </div>
  </div>
  <div fxShow.gt-xs="false">
    <div>
      <img src="https://media.xberts.com/collector/source/web/pic/B-pic-cost.jpg">
    </div>
    <div class="container">
      <div class="xb-landing-page__title-4 md-margin-left-2 md-margin-right-2">
        Hassle-free to make money with zero cost
      </div>
      <div class="md-margin-left-2 md-margin-right-2 xb-landing-page__content-1 md-margin-top-1 md-margin-bottom-2">
        As an affiliate store, you don't need to take care of any inventory, shipping and customer support
      </div>
    </div>
  </div>
  <div class="xb-landing-page__height-3" fxShow.xs="false">
    <div class="xb-landing-page__background-3"></div>
    <div class="container" fxLayout="row">
      <div fxFlex="50">
        <div class="xb-landing-page__title-4 md-margin-left-2">
          Easy to add unlimited products
        </div>
        <div class="md-margin-left-2 xb-landing-page__content-1 md-margin-top-2 md-margin-right-3">
          Add any affiliate products you wish to promote in only a few clicks
        </div>
      </div>
    </div>
  </div>
  <div fxShow.gt-xs="false">
    <div>
      <img src="https://media.xberts.com/collector/source/web/pic/B-pic-add.jpg">
    </div>
    <div class="container">
      <div class="xb-landing-page__title-4 md-margin-left-2 md-margin-right-2">
        Easy to add unlimited products
      </div>
      <div class="md-margin-left-2 md-margin-right-2 xb-landing-page__content-1 md-margin-top-1 md-margin-bottom-2">
        Add any affiliate products you wish to promote in only a few clicks
      </div>
    </div>
  </div>
  <div class="xb-landing-page__height-3" fxShow.xs="false">
    <div class="xb-landing-page__background-4"></div>
    <div class="container" fxLayout="row">
      <div fxFlex="50"></div>
      <div fxFlex="50">
        <div class="xb-landing-page__title-4 md-margin-left-3">
          Fully customizable storefront
        </div>
        <div class="md-margin-left-3 xb-landing-page__content-1 md-margin-top-2">
          Customize your store's content and design based on your preference
        </div>
      </div>
    </div>
  </div>
  <div fxShow.gt-xs="false">
    <div>
      <img src="https://media.xberts.com/collector/source/web/pic/B-pic-customer.jpg">
    </div>
    <div class="container">
      <div class="xb-landing-page__title-4 md-margin-left-2 md-margin-right-2">
        Fully customizable storefront
      </div>
      <div class="md-margin-left-2 md-margin-right-2 xb-landing-page__content-1 md-margin-top-1 md-margin-bottom-2">
        Customize your store's content and design based on your preference
      </div>
    </div>
  </div>
  <div class="xb-landing-page__height-3" fxShow.xs="false">
    <div class="xb-landing-page__background-5"></div>
    <div class="container" fxLayout="row">
      <div fxFlex="50">
        <div class="xb-landing-page__title-4 md-margin-left-2">
          Comprehensive data analytics
        </div>
        <div class="md-margin-left-2 xb-landing-page__content-1 md-margin-top-2 md-margin-right-3">
         Track daily views and conversions for each item in your store
        </div>
      </div>
    </div>
  </div>
  <div fxShow.gt-xs="false">
    <div>
      <img src="https://media.xberts.com/collector/source/web/pic/B-pic-data.jpg">
    </div>
    <div class="container">
      <div class="xb-landing-page__title-4 md-margin-left-2 md-margin-right-2">
        Comprehensive data analytics
      </div>
      <div class="md-margin-left-2 md-margin-right-2 xb-landing-page__content-1 md-margin-top-1 md-margin-bottom-2">
        Track daily views and conversions for each item in your store
      </div>
    </div>
  </div>
  <div class="xb-landing-page__height-3" fxShow.xs="false">
    <div class="xb-landing-page__background-6"></div>
    <div class="container" fxLayout="row">
      <div fxFlex="50"></div>
      <div fxFlex="50">
        <div class="xb-landing-page__title-4 md-margin-left-3">
          Mobile responsive design
        </div>
        <div class="md-margin-left-3 xb-landing-page__content-1 md-margin-top-2">
          Your store automatically adapts to any smartphone and screen size
        </div>
      </div>
    </div>
  </div>
  <div fxShow.gt-xs="false">
    <div class="xb-landing-page__height-3">
      <div class="xb-landing-page__background-6"></div>
    </div>
    <div class="container">
      <div class="xb-landing-page__title-4 md-margin-left-2 md-margin-right-2">
        Mobile responsive design
      </div>
      <div class="md-margin-left-2 md-margin-right-2 xb-landing-page__content-1 md-margin-top-1 md-margin-bottom-2">
        Your store automatically adapts to any smartphone and screen size
      </div>
    </div>
  </div>
  <div class="background-bg-light xb-landing-page__padding">
    <div class="container" fxLayout="column" fxLayoutAlign="stretch center">
      <div class="xb-landing-page__title-1">
        Launch Your Affiliate Online Store in Minutes.It's Free!
      </div>
      <a class="md-margin-top-4 xb-landing-page__navigation-button-1" routerLink="/cp/signUp">GET STARTED NOW</a>
      <img fxShow.xs="false" class="xb-landing-page__image-bg" src="https://media.xberts.com/collector/source/web/pic/pic-bottom.png">
    </div>
  </div>
  <app-bottom-footer></app-bottom-footer>
</div>

