<div class="xb-share-dialog">
  <div class="xb-share-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-share-dialog__content xb-bold">
    Promote this product by sharing it with your friends or followers!
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field fxFlex>
      <input matInput [(ngModel)]="text">
    </mat-form-field>
  </div>
  <div class="md-margin-top-2">
    <app-share-button-row [link]="data.shareLink" [text]="text"></app-share-button-row>
  </div>
</div>
