<div>
  <div class="xb-blog-detail__blog-content">
    <div class="xb-blog-detail__blog-title">BLOG</div>
    <div class="xb-blog-detail">
      <div class="xb-blog-detail__title">
        {{blog.title}}
      </div>
      <div class="xb-blog-detail__edit-time">
        {{blog.modified | amDateFormat:'MMMM Do, YYYY'}}
      </div>
      <div class="xb-blog-detail__image-bg">
        <img [src]="blog.cover" />
      </div>
      <div class="xb-blog-detail__description"  [innerHTML]="context | safeHtml"></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="start center">
      <div class="xb-blog-detail__share md-margin-right-3"
           appSocialShare  [facebook]="{u: shareLink}">
        <i class="iconfontXberts icon-ic-facebook"></i>
      </div>
      <div class="xb-blog-detail__share md-margin-right-3"
           appSocialShare [twitter]="{url: shareLink, text: text, hashtags: '' }">
        <i class="iconfontXberts icon-ic-twitter"></i>
      </div>
    </div>
  </div>
</div>

