<div class="xb-cart" fxLayout="column">
  <div class="background-bg-white">
    <div class="container">
      <app-store-cart-header></app-store-cart-header>
    </div>
  </div>
  <div class="background-bg-light xb-cart__body" fxFlex="noshrink" *ngIf="products && products.length > 0">
    <div class="container">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-margin-left-2 text-underline xb-pointer xb-bold" fxHide.xs
             routerLink="{{homeLink}}"><< Continue Shopping</div>
        <div fxFlex></div>
        <div class="unicorn-dark-theme md-margin-right-2" fxLayoutAlign="start center">
          Ship to: {{countryName}}
        </div>
        <div class="xb-cart__bill" fxHide.xs fxFlex="none">
        </div>
      </div>
      <div class="xb-cart__bg" fxLayout="row" fxLayoutAlign="start start">
        <div class="xb-cart__body-margin-right" fxFlex>
          <div class="background-bg-white" >
            <div class="xb-cart__product-title-bg" fxLayout="row" fxLayoutAlign="start center" fxHide.xs>
              <div class="xb-cart__title" fxFlex="40">
                Product
              </div>
              <div class="xb-cart__title" fxFlex="20" fxLaout="column" fxLayoutAlign="center center" fxHide.sm>
                Quantity
              </div>
              <div class="xb-cart__title" fxFlex="15" fxLaout="column" fxLayoutAlign="center center" fxHide.sm>
                Unit Price
              </div>
              <div class="xb-cart__title" fxFlex="20" fxLaout="column" fxLayoutAlign="center center" fxHide.sm>
                Shipping
              </div>
              <div fxFlex="5">

              </div>
            </div>
            <div class="xb-cart__product-list" *ngFor="let item of products;let i = index;">
              <app-store-cart-product-item [homeLink]="homeLink" [product]="item" [index]="i"
                                           (productChange)="productEdit($event)" [shippingList]="shippingList"></app-store-cart-product-item>
            </div>
          </div>
          <div *ngIf="cartErr" class="xb-input-error md-margin-top-2">
            {{ cartErr }}
          </div>
        </div>
        <div fxLayout="column" fxHide.xs>
          <div class="xb-cart__bill background-bg-white" fxHide.xs>
            <div class="xb-cart__bill-title" fxLayout="row" fxLayoutAlign="start center">
              Order Summary
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="xb-cart__bill-left">
                <div class="xb-cart__bill-margin-top-1">Subtotal</div>
                <div class="xb-cart__bill-margin-top-1">Shipping</div>
                <div class="xb-cart__bill-margin-top-1">Tax</div>
                <div class="xb-cart__bill-margin-top-2 xb-cart__bill-margin-bottom xb-cart__title">Grand Total</div>
              </div>
              <div>
                <div class="xb-cart__bill-margin-top-1">{{subTotalPrice | exchangeCurrency:(currency|uppercase) | currency: (currency|uppercase): true }}</div>
                <div class="xb-cart__bill-margin-top-1">{{shippingTotalPrice | exchangeCurrency:(currency|uppercase) | currency: (currency|uppercase): true }}</div>
                <div class="xb-cart__bill-margin-top-1">{{0 | exchangeCurrency:(currency|uppercase) | currency: (currency|uppercase): true }}</div>
                <div class="xb-cart__bill-margin-top-2 xb-cart__bill-margin-bottom xb-cart__title">{{totalPrice | exchangeCurrency:(currency|uppercase) |currency: (currency|uppercase): true }}</div>
              </div>
            </div>
          </div>
          <div class="md-margin-top-2 unicorn-dark-theme" fxLayout="column">
            <button mat-raised-button color="primary" (click)="checkout()">CHECKOUT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-cart__none background-bg-light" fxLayout="column" fxLayoutAlign="center center" fxFlex="noshrink"
    *ngIf="products && products.length == 0">
    <div class="xb-cart__none-image">
      <i class="iconfontXberts icon-ic-cart"></i>
    </div>
    <div class="xb-cart__none-title">Your shopping cart is empty now</div>
    <div class="xb-bold text-underline md-margin-top-2 xb-pointer" routerLink="{{homeLink}}">Continue Shopping</div>
  </div>
  <div class="xb-cart__none background-bg-light" fxLayout="column" fxLayoutAlign="center center" fxFlex="noshrink"
       *ngIf="!products">

  </div>
  <div class="xb-cart__fixed-bottom background-bg-white" fxLayout="row" fxLayoutAlign="start center" fxHide.gt-xs>
    <div class="xb-cart__fixed-bottom-dialog" *ngIf="isTotalDialogOpen">
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div>
          <div>{{subTotalPrice | exchangeCurrency:(currency|uppercase) | currency: (currency|uppercase): true }}</div>
          <div class="md-margin-top-3">{{shippingTotalPrice | exchangeCurrency:(currency|uppercase) | currency: (currency|uppercase): true }}</div>
          <div class="md-margin-top-3">{{0 | exchangeCurrency:(currency|uppercase) | currency: (currency|uppercase): true }}</div>
        </div>
        <div class="md-margin-left-3">
          <div>Subtotal</div>
          <div class="md-margin-top-3">Shipping</div>
          <div class="md-margin-top-3">Tax</div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex (click)="openDialog()">
      <div class="xb-cart__item-sale md-margin-left-1">
        {{totalPrice | exchangeCurrency:(currency|uppercase) |currency: (currency|uppercase): true }}
      </div>
      <div class="xb-cart__fixed-bottom-tri xb-cart__fixed-bottom-margin" *ngIf="isTotalDialogOpen"></div>
      <div class="xb-cart__fixed-bottom-tri-1 xb-cart__fixed-bottom-margin" *ngIf="!isTotalDialogOpen"></div>
    </div>
    <div class="unicorn-dark-theme" fxLayout="column">
      <button mat-raised-button color="primary" (click)="checkout()">CHECKOUT</button>
    </div>
  </div>
  <div class="background-bg-white" fxHide.xs>
    <div class="container">
      <app-store-cart-footer></app-store-cart-footer>
    </div>
  </div>
</div>
