<div>
  <div class="xb-store-template__blog-content">
    <div class="xb-store-template__blog-title">BLOG</div>

    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>
      <app-store-template-3-store-blog-card *ngFor="let item of blog"
                                            fxFlex="45" fxFlex.xs="100"
                                            [blog]="item" [status]="1"></app-store-template-3-store-blog-card>
    </div>
    <div class="xb-store-template__buttons-bg" fxLaout="row" fxLayoutAlign="center center"
         (click)="jumpList()" *ngIf="nextPage && blog.length > 0">
      <div>
        SEE MORE
      </div>
    </div>
  </div>
</div>

