<div class="xb-store__background" (click)="close()">
  <div class="xb-store__details-close" (click)="close()" fxShow="false" fxShow.xs="true">
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-store__details" (click)="$event.stopPropagation();">
    <div class="xb-store__details-close" (click)="close()" fxShow="false" fxShow.gt-xs="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-shop__edit-title">Product Title</div>
    <div class="xb-shop__margin-bottom-2">
      [Updated Version] Linner Active Noise Cancelling Headphones, Lightning In Ear Wired Earphone with Built-In
      Mic and Remote (Comfortable and Secure Fit, MFi Certified) for iPhone X 8 7 6 Plus, iPad iPod
    </div>
    <div class="xb-shop__edit-title">Category</div>
    <div class="xb-shop__margin-bottom-3">Electronics</div>
    <div class="xb-shop__edit-title">Price</div>
    <div class="xb-shop__margin-bottom-1" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-store__details-price">$8.00</div>
      <div class="line-through md-margin-left-2">$12.00</div>
      <div class="xb-store__details-sale md-margin-left-2">50% OFF</div>
    </div>
    <div class="xb-shop__edit-title">Store Owner Says</div>
    <div class="xb-shop__margin-bottom-2">
      Here you let your customers get to know you. Tell them a little bit about yourself and why you create this business.
      Do you have a passion, hobby or life experience that inspired you to get started? Do you have special skills or training
      that make you an expert in your field? Show your customers that there are read people with instersting stories working
      behind the scenes. Helping customers feel connected to you and your purpose will inspire more trust you brad.
    </div>
    <div class="xb-shop__edit-title">Description</div>
    <div class="xb-shop__margin-bottom-2 xb-shop__edit-description">
      <div class="md-margin-top-2 xb-store__content-text">
        Here you let your customers get to know you. Tell them a little bit about yourself and why you create this business.
        Do you have a passion, hobby or life experience that inspired you to get started? Do you have special skills or training
        that make you an expert in your field? Show your customers that there are read people with instersting stories working
        behind the scenes. Helping customers feel connected to you and your purpose will inspire more trust you brad.
      </div>
      <div class="md-margin-top-2">
        <img src="//img14.360buyimg.com/n1/jfs/t5404/37/1574400102/222809/4907a2f6/59123908Nffed2d63.jpg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <button mat-raised-button color="primary">PUBLISH</button>
        <div class="xb-shop__margin-left">
          <button mat-button color="primary">SAVE DRAFT</button>
        </div>
      </div>
      <div class="xb-shop__edit-color" fxLayout="row" fxLayoutAlign="start center">
        <i class="material-icons md-margin-right-1">mode_edit</i>
        Edit Product Detail
      </div>
    </div>

  </div>
</div>
