
<div fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-guide__text" fxFlex>Featured Beauty Collections</div>
  <div class="xb-guide__button">Add to Sell</div>
</div>

<div class="xb-guide__margin-top-2 xb-pointer" fxLayout="row" fxLayoutAlign="start stretch">
  <div fxFlex="50">
    <app-shop-guide-product-item></app-shop-guide-product-item>
  </div>
  <div fxFlex="25">
    <app-shop-guide-product-item></app-shop-guide-product-item>
    <app-shop-guide-product-item></app-shop-guide-product-item>
  </div>
  <div fxFlex="25">
    <app-shop-guide-product-item></app-shop-guide-product-item>
    <app-shop-guide-product-item></app-shop-guide-product-item>
  </div>
</div>
