<div class="xb-store__background" (click)="close()">
  <div class="xb-store__details-bg-new" (click)="$event.stopPropagation();"
       appViewScroll (onScrollChange)="scrollChange($event)" [selector]="'xb-store__details-buttons'">
    <div class="xb-store__details-close" (click)="close()" fxShow="false" fxShow.gt-sm="true">
      <i class="iconfontXberts icon-ic-close"></i>
    </div>
    <div class="xb-store__nav" fxShow="false" fxShow.xs="show">
      <i class="material-icons md-dark-primary" (click)="close()">keyboard_arrow_left</i> {{store.nameTag || store.name}}
    </div>
    <div class="xb-store__details-padding-bottom" fxLayout="row" fxLayoutAlign="start start" fxHide.xs>
      <div class="xb-store__details-margin-right">
        <app-left-products-image [images]="image" [selectedImage]="selectedImage"
                                 [imageSources]="imageSources" [insertImage]="insertImage"></app-left-products-image>
      </div>
      <div class="xb-store__details-content" fxFlex fxLayout="column" fxFlex.xs="none">
        <div>{{product.categoryName}}</div>
        <div class="xb-store__details-title md-margin-top-1">{{product.title}}</div>
        <div class="xb-store-promotion">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="xb-store__details-left-part">Price</div>
            <div class="xb-store__details-price" *ngIf="!isHaveVariant">
              {{ salePrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="xb-store__details-price" *ngIf="isHaveVariant && isPriceRange && minSalePrice!=maxSalePrice">
              {{minSalePrice | exchangeCurrency:currency |currency: currency }} - {{maxSalePrice |
              exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="xb-store__details-price" *ngIf="isHaveVariant && isPriceRange && minSalePrice==maxSalePrice">
              {{minSalePrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="xb-store__details-price" *ngIf="isHaveVariant && !isPriceRange">
              {{ salePrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="xb-store-promotion__details-sale md-margin-left-1"
                 *ngIf="!isHaveVariant && salePrice != originalPrice ">
              {{ salePrice|saleDiscount:originalPrice}} OFF
            </div>
            <div class="xb-store-promotion__details-sale md-margin-left-1"
                 *ngIf="isHaveVariant && salePrice != originalPrice && !isPriceRange">
              {{ salePrice|saleDiscount:originalPrice}} OFF
            </div>
          </div>
          <div [ngStyle]="{'margin-left':'54px'}" fxLayout="row" fxLayoutAlign="start center">
            <div class="line-through md-margin-top-1"
                 *ngIf="!isHaveVariant && salePrice != originalPrice ">
              {{ originalPrice | exchangeCurrency:currency |currency: currency }}
            </div>
            <div class="line-through md-margin-top-1"
                 *ngIf="isHaveVariant && salePrice != originalPrice && !isPriceRange">
              {{ originalPrice | exchangeCurrency:currency |currency: currency }}
            </div>
          </div>
          <div *ngIf="isPromotionOnGoing" [ngStyle]="{'margin-left':'54px'}">
            <div class="xb-store-promotion__processing">
              <div class="xb-store-promotion__processing-line"></div>
              <div class="xb-store-promotion__processing-line" [ngStyle]="{'width':progressPercentage+'%'}"></div>
            </div>
            <div class="xb-store-promotion__count md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="xb-store-promotion__count-word">{{progressPercentage}}% claimed</div>
              <div class="xb-store-promotion__count-word" fxLayout="row" fxLayoutAlign="start start">
                <span class="xb-bold">Ends in:&nbsp;&nbsp;</span>
                <app-edit-one-countdown [countdownTimer]="countdownLeftTime"></app-edit-one-countdown>
              </div>
            </div>
          </div>
          <div *ngIf="isPromotionScheduled" [ngStyle]="{'margin-left':'54px'}" class="md-margin-top-2" fxLayout="row"
               fxLayoutAlign="start center">
            <div class="xb-store-promotion__upcoming">Upcoming</div>
            <div class="xb-store-promotion__upcoming-time" fxLayout="row" fxLayoutAlign="start start">
              <span class="xb-bold">Starts in:&nbsp;&nbsp;</span>
              <app-edit-one-countdown [countdownTimer]="countdownLeftTime"></app-edit-one-countdown>
            </div>
          </div>
        </div>
        <div class="xb-store__details-margin-top-2">
          <div class="xb-store__details-margin-top" *ngFor="let item of variantList;let i = index;"
               fxLayout="row" fxLayoutAlign="start start"
               fxLayout.xs="column" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part" [ngClass]="{'xb-store__details-margin-top-1':item.id == 2}">{{item.name}}</div>
            <div fxLayout="row wrap" fxLayoutAlign="start start">
              <div *ngFor="let value of item.value;let j = index;">
                <div class="xb-store__details-image" [ngClass]="{'active':value.isSelected}"
                     *ngIf="value.image" (click)="selectVariant(value, item)">
                  <img [src]="value.image" />
                </div>
                <div *ngIf="!value.image" class="xb-store__details-text"
                     [ngClass]="{'active':value.isSelected}"(click)="selectVariant(value, item)">
                  {{value.value}}
                </div>
              </div>
            </div>
          </div>
          <div class="xb-store__details-margin-top" fxLayout="row" fxLayoutAlign="start center"
               fxLayout.xs="column" fxLayoutAlign.xs="start start" *ngIf="isCanBuy">
            <div class="xb-store__details-left-part">Quantity</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="md-margin-right-2 xb-store__details-item-add" fxFlex="none">
                <i class="material-icons" >add</i>
              </div>
              <div class="xb-store__details-item-input" fxFlex>
                <input type="number" [(ngModel)]="number" step="1" min="0">
              </div>
              <div class="md-margin-left-2 xb-store__details-item-add" fxFlex="none">
                <i class="material-icons" >remove</i>
              </div>
            </div>
          </div>
        </div>
        <div class="md-margin-top-3" fxLayout="column">
          <div *ngIf="isShowCartWarn" class="xb-store__red md-margin-bottom-2"> {{cartWarn}}</div>
          <button mat-raised-button color="primary" [ngStyle]="{'cursor':'initial'}"[disabled]="true" *ngIf="isCanBuy">
            <a class="xb-store__details-buttons-color gtag-shop-detail-get-it-now-button" >ADD TO CART</a></button>
          <button mat-raised-button color="primary"  [disabled]="true" *ngIf="!isCanBuy">
            <a class="xb-store__details-buttons-color gtag-shop-detail-get-it-now-button">OUT OF STOCK</a></button>
        </div>
        <div class="xb-store__details-bg" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part-1">Estimated Delivery</div>
            <div>{{shippingTimeMin}}-{{shippingTimeMax}} days</div>
          </div>
          <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part-1">Return Policy</div>
            <div class="xb-store__return-policy" [ngStyle]="{'cursor':'initial'}">{{returnDays}}</div>
          </div>
          <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part-1">Shipping Availability</div>
            <div>{{deliveryCountry}}</div>
          </div>
        </div>
        <div class="md-margin-top-2">
          <app-share-button [link]="shareLink" [text]="text"></app-share-button>
        </div>
      </div>
    </div>
    <div class="xb-store__details-padding-bottom" fxHide.gt-xs>
      <div class="xb-store__details-margin-right">
        <app-left-products-image [images]="image" [selectedImage]="selectedImage"
                                 [imageSources]="imageSources" [insertImage]="insertImage"></app-left-products-image>
      </div>
      <div class="xb-store__details-content">
        <div>{{product.categoryName}}</div>
        <div class="xb-store__details-title md-margin-top-1">{{product.title}}</div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
          <div class="xb-store__details-price" *ngIf="!isHaveVariant">
            {{ salePrice | exchangeCurrency:currency |currency: currency: true }}
          </div>

          <div class="xb-store__details-price" *ngIf="isHaveVariant && isPriceRange && minSalePrice!=maxSalePrice">
            {{minSalePrice | exchangeCurrency:currency |currency: currency:true }} - {{maxSalePrice |
            exchangeCurrency:currency |currency: currency:true }}
          </div>
          <div class="xb-store__details-price" *ngIf="isHaveVariant && isPriceRange && minSalePrice==maxSalePrice">
            {{minSalePrice | exchangeCurrency:currency |currency: currency:true }} - {{maxSalePrice |
            exchangeCurrency:currency |currency: currency:true }}
          </div>

          <div class="xb-store__details-price" *ngIf="isHaveVariant && !isPriceRange">
            {{ salePrice | exchangeCurrency:currency |currency: currency: true }}
          </div>

          <div class="line-through md-margin-left-2"
               *ngIf="!isHaveVariant && salePrice != originalPrice ">
            {{ originalPrice | exchangeCurrency:currency |currency: currency: true }}
          </div>
          <div class="line-through md-margin-left-2"
               *ngIf="isHaveVariant && salePrice != originalPrice && !isPriceRange">
            {{ originalPrice | exchangeCurrency:currency |currency: currency: true }}
          </div>

          <div class="xb-store__details-sale md-margin-left-2"
               *ngIf="!isHaveVariant && salePrice != originalPrice ">
            {{ salePrice|saleDiscount:originalPrice}} OFF
          </div>
          <div class="xb-store__details-sale md-margin-left-2"
               *ngIf="isHaveVariant && salePrice != originalPrice && !isPriceRange">
            {{ salePrice|saleDiscount:originalPrice}} OFF
          </div>
        </div>
        <div class="xb-store__details-margin-top-2">
          <div class="xb-store__details-margin-top" *ngFor="let item of variantList;let i = index;"
               fxLayout="row" fxLayoutAlign="start start"
               fxLayout.xs="column" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part" [ngClass]="{'xb-store__details-margin-top-1':item.id == 2}">{{item.name}}</div>
            <div fxLayout="row wrap" fxLayoutAlign="start start">
              <div *ngFor="let value of item.value;let j = index;">
                <div class="xb-store__details-image" [ngClass]="{'active':value.isSelected}"
                     *ngIf="value.image">
                  <img [src]="value.image" />
                </div>
                <div *ngIf="!value.image" class="xb-store__details-text"
                     [ngClass]="{'active':value.isSelected}">
                  {{value.value}}
                </div>
              </div>
            </div>
          </div>
          <div class="xb-store__details-margin-top" fxLayout="row" fxLayoutAlign="start center"
               fxLayout.xs="column" fxLayoutAlign.xs="start start" *ngIf="isCanBuy">
            <div class="xb-store__details-left-part">Quantity</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="md-margin-right-2 xb-store__details-item-add"fxFlex="none">
                <i class="material-icons xb-pointer" >add</i>
              </div>
              <div class="xb-store__details-item-input" fxFlex>
                <input type="number" [(ngModel)]="number" step="1" min="0">
              </div>
              <div class="md-margin-left-2 xb-store__details-item-add" fxFlex="none">
                <i class="material-icons xb-pointer" >remove</i>
              </div>
            </div>
          </div>
        </div>
        <div class="xb-store__details-bg" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part-1">Estimated Delivery</div>
            <div>{{shippingTimeMin}}-{{shippingTimeMax}} days</div>
          </div>
          <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part-1">Return Policy</div>
            <div class="xb-store__return-policy">{{returnDays}}</div>
          </div>
          <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
            <div class="xb-store__details-left-part-1">Shipping Availability</div>
            <div>{{deliveryCountry}}</div>
          </div>
        </div>
        <div class="xb-store__details-buttons" fxLayout="column">
          <div *ngIf="isShowCartWarn" class="xb-store__red md-margin-bottom-2"> {{cartWarn}}</div>
          <button mat-raised-button color="primary" *ngIf="isCanBuy && !(isPromotionOnGoing || isPromotionScheduled)">
            <a class="xb-store__details-buttons-color gtag-shop-detail-get-it-now-button">ADD TO CART</a></button>
          <button mat-raised-button color="primary" *ngIf="isCanBuy && (isPromotionOnGoing || isPromotionScheduled)">
            <a class="xb-store__details-buttons-color gtag-shop-detail-get-it-now-button">CLAIM IT NOW</a></button>
          <button mat-raised-button color="primary"  [disabled]="true" *ngIf="!isCanBuy">
            <a class="xb-store__details-buttons-color gtag-shop-detail-get-it-now-button">OUT OF STOCK</a></button>
        </div>
        <div fxHide.gt-xs class="xb-store__details-buttons-fixed" fxLayout="column"
             *ngIf="showButton && isCanBuy">
          <button mat-raised-button color="primary"  *ngIf="isCanBuy && (isPromotionOnGoing || isPromotionScheduled)" [disabled]="true">
            <a class="xb-store__details-buttons-color gtag-shop-detail-get-it-now-button">ADD TO CART</a></button>
          <button mat-raised-button color="primary"  *ngIf="isCanBuy && !(isPromotionOnGoing || isPromotionScheduled)" [disabled]="true">
            <a class="xb-store__details-buttons-color gtag-shop-detail-get-it-now-button">CLAIM IT NOW</a></button>
          <button mat-raised-button color="primary" [disabled]="true" *ngIf="!isCanBuy">
            <a class="xb-store__details-buttons-color gtag-shop-detail-get-it-now-button">OUT OF STOCK</a></button>
        </div>
        <div class="md-margin-top-2">
          <app-share-button [link]="shareLink" [text]="text"></app-share-button>
        </div>
      </div>
    </div>
    <div class="xb-store__details-padding-top" *ngIf="product.recommendation">
      <div class="xb-store__title">Store Owner Says</div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxLayoutAlign.xs="start center">
        <div class="xb-store__content-left" fxFlex="none">
          <div class="xb-store__header">
            <img [src]="store.ownerAvatar">
          </div>
          <div class="md-subhead md-margin-top-2">{{store.ownerFirstName}}</div>
          <div class="md-margin-top-1"> {{store.ownerCountry}}</div>
        </div>
        <div class="xb-store__content-right">
          <div class="xb-store__icons md-dark-third" fxShow.xs="false">
            <i class="iconfontXberts icon-pic-quota"></i>
          </div>
          <div class="md-margin-top-2 xb-store__content-text">
            {{product.recommendation}}
          </div>
          <div class="xb-store__icons md-dark-third md-margin-top-2" fxLayout="row" fxLayoutAlign="end start" fxShow.xs="false">
            <i class="iconfontXberts icon-pic-quota-2"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="xb-store__details-description" *ngIf="product.description">
      <div class="xb-store__title">About the Product</div>
      <div class="ql-editor ql-container xb-shop__margin-bottom-2"
           [innerHTML]="product.description | safeHtml"></div>
    </div>
  </div>
</div>
