<div class="xb-cart" fxLayout="column">
  <div class="background-bg-white">
    <div class="container">
      <app-store-cart-header></app-store-cart-header>
    </div>
  </div>
  <div class="xb-cart__none background-bg-light" fxLayout="column" fxLayoutAlign="center center" fxFlex="noshrink">
    <div class="xb-cart__none-image">
      <i class="iconfontXberts icon-ic-cart"></i>
    </div>
    <div class="xb-cart__none-title">Your shopping cart is empty now</div>
    <div class="xb-bold text-underline md-margin-top-2 xb-pointer" routerLink="{{homeLink}}">Continue Shopping</div>
  </div>
  <div class="xb-cart__none background-bg-light" fxLayout="column" fxLayoutAlign="center center" fxFlex="noshrink"
       *ngIf="!products">
  </div>
  <div class="background-bg-white" fxHide.xs>
    <div class="container">
      <app-store-cart-footer></app-store-cart-footer>
    </div>
  </div>
</div>
