@charset "UTF-8";
@import "../styles/utils/_index";
@import "../styles/_variables";

.xb-account {
  padding-bottom: 200px;
  padding-left: 32px;
  padding-right: 32px;
  &__margin-top-48 {
    margin-top: 48px;
  }
  &__w960px {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  &__regular {
    @include regular();
  }
  &__nav-title {
    font-size: 14px;
    color: black;
  }
}

.xb-account-balance {
  &__none{
    padding: 96px 0;
    background-color: $whiteColor;
    border-radius: 4px;
    span{
      margin-top: 16px;
      @include media();
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__withdraw {
    background-color: black;
    color: white;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
  }
  &__summary {
    background-color: white;
    padding-top: 56px;
    padding-bottom: 56px;
    &-word {
      font-size: 14px;
      @include regular();
    }
  }
  &__wenhao {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    &-word {
      height: 24px;
      width: 350px;
      color: black;
      font-size: 14px;
      padding: 0 16px;
      background-color: #dedede;
      line-height: 24px;
      font-weight: 400;
    }
    &-content {
      position: absolute;
      z-index: 5;
      right: -106px;
      border-radius: 4px;
      overflow: hidden;
    }
    &-triangle-up {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 7px solid #dedede;
      margin-left: 170px;
    }
    &-bg {
      margin-left: 5px;
      position: relative;
    }
  }
}

.xb-account-navigation {
  height: 56px;
  background-color: #F9F9F9;
  margin-top: 16px;
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
  }

}

.xb-account-item {
  height: 72px;
  background-color: $whiteColor;
  &__title {
    font-size: 14px;
  }
  &__line {
    height: 1px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, .12);
  }
}

.xb-account-money-dialog {
  width: 560px;
  padding: 40px;
  &__14regular {
    font-size: 14px;
    @include regular();
    color: black;
  }
  &__14bold {
    font-size: 14px;
    font-weight: bold;
  }
  &__color54 {
    color: rgba(0, 0, 0, .54);
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  &__payment {
    font-size: 16px;
    font-weight: bold;
    color: black;
    &-name {
      width: 130px;
      font-size: 14px;
      @include regular();
      color: rgba(0, 0, 0, .54);
    }
    &-content {
      font-size: 14px;
      @include regular();
      color: black;
    }
    &-withdraw {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      font-weight: bold;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 4px;
      margin-right: 32px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, .54);
      color: $whiteColor;
    }
    &-cancel {
      font-size: 14px;
      font-weight: bold;
      height: 40px;
      cursor: pointer;
      line-height: 40px;
      margin-right: 16px;
    }
  }
}

.xb-account-payment-settings {
  background-color: $whiteColor;
  padding-bottom: 96px;
  &__left {
    border-radius: 4px;
    width: 100%;
    padding: 40px 32px;
    &-tip {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }
    &-note {
      font-size: 14px;
      @include regular();
      color: black;
      margin-top: 8px;
    }
    &-email {
      width: 300px;
    }
  }
  &__warn {
    padding-left: 32px;
    padding-right: 32px;
    width: 520px;

    &-title {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }
    &-line {
      height: 1px;
      width: calc(100% - 20px);
      background-color: rgba(0, 0, 0, .12);
      margin-top: 24px;
    }
    &-paypal {
      font-size: 14px;
      font-weight: 400;
      color: black;
    }
  }
  &__paypal-info {

  }
}



