@import "../styles/utils/_index";
@import "../styles/_variables";

.xb-shop{
  &__logo{
    position: relative;
    &-badge{
      position: absolute;
      top: -2px;
      left: 100%;
      background-color: #fec32d;
      color: $whiteColor;
      line-height: 14px;
      font-size: 10px;
      border-radius: 2px;
      padding: 0 4px;
    }
  }
  &__bg-content{
    height: calc(100vh - 56px);
  }
  &__avatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  &__icons{
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 24px;
    line-height: 24px;
  }

  &__left-navigation{
    padding-top: 16px;
    border-right: 1px solid rgba(0,0,0,.12);
    background-color: #0a2529;

    &-arrow{
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $primaryColor;
      margin-left: 8px;
    }

    &-arrow-1{
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $whiteColor;
      margin-left: 8px;
      display: none;
    }

    &-bg{
      width: 160px;
    }

    &-buttons{
      padding-left: 8px;
      height: 56px;
      color: $whiteColor;
      @include media();
      cursor: pointer;
      &.active{
        color: $primaryColor;
      }

    }

    &-bg-1{
      background-color: #051c1d;
      border-top: 1px solid rgba(255,255,255,.12);
    }

    $parent: &;

    &-buttons-1{
      padding-left: 8px;
      height: 56px;
      color: $whiteColor;
      @include media();
      cursor: pointer;
      border-bottom: 1px solid rgba(255,255,255,.12);
      &.active{
        #{$parent}-arrow-1{
          display: block;
        }
      }

    }
  }

  &__scroll{
    overflow-y: scroll;
  }
  &__margin-top{
    margin-top: 48px;
  }

  &__margin-bottom{
    margin-bottom: 48px;
  }

  &__margin-bottom-1{
    margin-bottom: 40px;
  }

  &__margin-bottom-2{
    margin-bottom: 32px;
    padding: 0;
  }

  &__margin-bottom-3{
    margin-bottom: 16px;
  }

  &__margin-left{
    margin-left: 16px;
    position: relative;
  }

  &__width-100{
    width: 100%;
  }

  &__width-1{
    width: 100px;
  }

  &__header{
    position: absolute;
    background-color: $whiteColor;
    height: 65px;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  &__product{
    position: relative;

    &-navigation{
      height: 64px;
      background-color: $whiteColor;
      padding: 0 16px;
      border-radius: 2px;
    }

    &-bg{
      padding: 0;
      border-radius: 2px;
      overflow: hidden;
    }

    &-image{
      width: 160px;
      height: 160px;
      border-radius: 4px;
      overflow: hidden;
      margin-right: 16px;
      position: relative;
      border: 1px solid rgba(0,0,0,.12);

      >img{
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
    &-width{
      width: 160px;
      margin-right: 16px;
    }

    &-id{
      text-align: center;
    }

    &-time{
      text-align: center;
    }

    &-title{
      font-size: 14px;
      color: rgba(0,0,0, .87);
      line-height: 24px;
      max-height: 48px;
      overflow: hidden;
    }

    &-title-1{
      font-size: 14px;
      @include media();
      color: rgba(0,0,0,.87);
    }

    &-price{
      text-align: center;
      &-sale{
        font-size: 16px;
        font-weight: bold;
        color: rgba(0,0,0, .87);
        line-height: 24px;
      }
    }

    &-category{
      line-height: 28px;
      border-radius: 2px;
      text-align: center;
    }

    &-item{
      padding: 16px 0;
      border-bottom: 1px solid rgba(0,0,0,.12);
    }
    &-list{
      padding: 0 16px;
      background-color: $whiteColor;
    }

    &-none{
      padding: 96px 0;
      background-color: $whiteColor;
      border-radius: 4px;
      span{
        margin-top: 16px;
        @include media();
      }
    }

    &-buttons {
      position: absolute;
      right: 16px;
      top: 16px;
      z-index: 10;
    }

    &-button-list{
      width: 210px;
      position: absolute;
      right: 0;
      top: 100%;
      background-color: $lightWhiteColor;
      @include media();
      @include resetBorder();

      >a{
        height: 56px;
        color: rgba(0,0,0,.87);
        &:hover{
          background-color: rgba(0,0,0,.12);
        }
      }
    }
  }

  &__white{
    color: $whiteColor !important;
  }

  &__dialog{
    max-width: 960px;
    padding: 16px 24px;
    max-height: calc(100vh - 160px);

    &-margin-left{
      margin-left: 64px;
    }
  }

  &__dashboard{
    &-card{
      border-radius: 10px;
      padding: 28px 0 28px 28px;
      color: $whiteColor;
      margin-bottom: 32px;
      overflow: hidden;
      position: relative;

      >i{
        position: absolute;
        color: $whiteColor;
        font-size: 88px;
        line-height: 88px;
        right: 0;
        top: 0;
      }

      @include xb-xs-screen{
        margin-bottom: 16px;
      }
    }

    &-number{
      font-size: 34px;
      line-height: 34px;
      margin-bottom: 4px;
    }

    &-title{
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 8px;

      @include media();
    }

    &-margin-right{
      margin-right: 54px;
    }

    &-color-1{
      background-color: $navigationColor;
    }
    &-color-2{
      background-color: $primaryColor;
    }
    &-color-3{
      background-color: $orangeColor;
    }
    &-color-4{
      background-color: $successColor;
    }

    &-content{
      border-top: 1px solid rgba(0,0,0,.12);
    }

    &-margin-right{
      margin-right: 56px;
    }

    &-table{
      span{
        line-height: 28px;
        height: 28px;
        max-width: 100%;
        @include text-overflow();
      }
    }
  }

  &__select{
    position: relative;
    height: 40px;
    &-color{
      color: $primaryColor;
      @include media();
      margin-right: 8px;
      white-space: nowrap;
    }

    &-tri{
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0,0,0,.87);
    }

    &-panel{
      position: absolute;
      top: 100%;
      right: 0;
      width: 120px;
      background-color: $whiteColor;
      @include resetBorder();
      z-index: 10;

      >div{
        line-height: 40px;
        padding: 0 16px;

        &.active{
          background-color: rgba(0,0,0,.12);
        }
      }
    }
  }

  &__radio{
    display: inline-flex;
    flex-direction: column;
  }

  &__products{
    &-title{
      margin-top: 24px;
      font-size: 16px;
      @include media();
      color: rgba(0,0,0,.87);
    }

    &-title-1{
      height: 40px;
      font-size: 16px;
      @include media();
      color: rgba(0,0,0,.87);
    }

    &-title-2{
      font-size: 16px;
      @include media();
      color: rgba(0,0,0,.87);
    }

    &-left-bg{
      margin-top: 24px;
      width: 220px;
      border-right: 1px solid rgba(0,0,0,.12);
      margin-right: 16px;
      min-height: calc(100vh - 96px);
    }

    &-content{
      max-height: calc(100vh - 72px);
      overflow: scroll;
    }

    &-search{
      border: 1px solid $primaryColor;
      border-radius: 4px;
      height: 32px;
      margin-right: 50px;
      position: relative;

      >i{
        margin: 0 16px 0 12px;
        color: rgba(0,0,0,.54);
      }

      >input{
        border: none;
        background-color: transparent;
        width: 250px;
      }

      &-close{
        position: absolute;
        cursor: pointer;
        right: 12px;
        top: 50%;
        @include transform(translateY(-50%));
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: rgba(0,0,0,.54);
        >i{
          font-size: 12px;
          line-height: 12px;
          color: $whiteColor;
        }
      }

      &-result{
        color: $primaryColor;
      }
    }

  }

  &__card{
    display: block;
    width: 275px;
    height: 400px;
    position: relative;
    z-index: 0;

    &-image{
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      @include resetBorder();
      position: relative;
      >div{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: $whiteColor;
        overflow: hidden;
        >img{
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%))
        }
      }
    }

    &-content{
      position: relative;
      padding: 8px 16px 16px;
      height: 120px;
    }

    &-title{
      height: 56px;
      line-height: 28px;
      font-weight: 700;
      overflow: hidden;
    }

    &-price{
      font-size: 16px;
      font-weight: 700;
    }

    &-sale{
      background-color: $primaryColor;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 24px;
    }

    &-action{
      position: relative;
      display: none;
    }

    $parent: &;
    &:hover{
      position: relative;
      overflow: visible;
      z-index: 1;
      >div{
        border-radius: 4px;
        @include box-shadow(0 0 10px 1px rgba(0, 0, 0, 0.19));
        background-color: $whiteColor;
      }

      #{$parent}-action{
        width: 100%;
        display: block;
        >.mat-raised-button{
          width: 100%;
        }
      }
      #{$parent}-content{

        height: auto;
        border-radius: 4px;
      }
    }
  }

  &__edit{
    &-title{
      font-size: 16px;
      @include media();
      color: rgba(0,0,0,.87);
      margin-bottom: 16px;
    }

    &-description{
      img{
        width: 100%;
      }
    }

    &-color{
      color: $primaryColor;
      @include media();
      cursor: pointer;
    }
  }

  &__mobile-dialog-inner{
    @include xb-xs-screen{
      padding: 16px;
    }
    @include xb-sm-screen{
      padding: 16px;
    }
  }

  &__store{
    &-template{
      width: 360px;
      position: relative;
      overflow: hidden;
      margin-bottom: 24px;
      margin-right: 24px;
      @include resetBorder();

      >img{
        display: block;
        width: 100%;
      }

      $parent: &;
      &-cover{
        display: none !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
      }

      &:hover{
        #{$parent}-cover{
          display: flex !important;
        }
      }
    }
    &-button{
      width: 148px;
      border-radius: 16px;
      line-height: 32px;
      text-align: center;
      cursor: pointer;
      @include media();

      &-primary {
        background-color: $primaryColor;
        color: $whiteColor;
      }

      &-normal{
        background-color: $whiteColor;
        color: $blackColor;
      }
    }

    &-padding{
      padding: 0;
      max-width: 1200px;
      width: 100%;
    }

    &-bg{
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: $whiteColor;
      z-index: 500;
    }
  }

  &__template{

    &-edit{
      border: 3px solid $primaryColor;
    }

    &-banner{
      background-color: #000;
      height: 500px;
      position: relative;
      border: 1px solid $primaryColor;
      @include xb-xs-screen{
        padding: 0 16px;
        height: 320px;
      }
      @include xb-sm-screen{
        padding: 0 16px;
      }
      &-right{
        position: absolute;
        top: 16px;
        right: 0;
      }
    }

    &-name{
      margin: auto;
      width: 300px;
      height: 60px;
      line-height: 60px;
      color: $whiteColor;
      border: 1px solid $primaryColor;
      text-align: center;
      font-size: 24px;
      @include media();
      input{
        margin: 0;
        padding: 0;
        height: 60px;
        font-size: 24px;
        @include media();
        line-height: 60px;
        color: $whiteColor;
        border: none;
        background-color: transparent;
        text-align: center;
      }
    }

    &-title{
      width: 100%;
      margin-top: 100px;
      max-height: 112px;
      border: 1px solid $primaryColor;
      color: $whiteColor;
      position: relative;
      @include media();
      @include xb-xs-screen{
        margin-top: 0;
      }
    }

    &-description{
      width: 100%;
      margin-top: 24px;
      color: $whiteColor;
      border: 1px solid $primaryColor;
      position: relative;
      @include xb-xs-screen{
        margin-top: 16px;
      }
    }

    &-user{
      width: 100%;
      margin-top: 24px;
      border: 1px solid $primaryColor;
      position: relative;
      @include xb-xs-screen{
        margin-top: 16px;
      }

      &-name{
        width: 100%;
        margin-top: 12px;
        border: 1px solid $primaryColor;
        @include media();
        height: 20px;
        overflow: hidden;
        input{
          margin: 0;
          padding: 0;
          border: none;
          background-color: transparent;
          text-align: center;
          @include media();
          width: 100%;
        }
      }
      &-country{
        width: 100%;
        margin-top: 8px;
        border: 1px solid $primaryColor;
        height: 20px;
        overflow: hidden;
        &-input{
          width: 100%;
        }

      }
    }


    &-header{
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      border: 1px solid $primaryColor;

    }

    &-edit-button{
      padding: 0 32px;
      line-height: 32px;
      position: absolute;
      left: 50%;
      top: 100%;
      @include transform(translateX(-50%));
      background-color: $primaryColor;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      z-index: 1;
      font-size: 14px;
    }

    &-button{
      line-height: 40px;
      border-radius: 16px;
      background-color: $whiteColor;
      color: $blackColor;
      width: 100px;
      text-align: center;
      cursor: pointer;
    }
    &-button-1{
      line-height: 40px;
      border-radius: 16px;
      background-color: $primaryColor;
      color: $whiteColor;
      width: 100px;
      text-align: center;
      cursor: pointer;
    }

    &-title-1{
      font-size: 24px;
      @include media();
      margin-bottom: 8px;
    }
    &-content-1{
      margin-bottom: 24px;
    }

    &-mask{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
    }

  }

  &__toDo{
    &-title{
      margin-top: 64px;
      font-size: 48px;
      line-height: 1;
      text-align: center;
      @include media();
      color: rgba(0,0,0,.87);
    }

    &-description{
      margin-top: 8px;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      @include regular();
      color: rgba(0,0,0,.87);
    }

    &-content{
      margin-top: 56px;
    }

    &-card{
      width: 320px;
      height: 270px;
      border: 1px solid rgba(0,0,0,.12);
      border-radius: 10px;
      cursor: pointer;
      background-color: $whiteColor;
      margin-bottom: 16px;
      &:hover{
        @include box-shadow(0 0 3px 0 rgba(0,0,0,.19))
      }

      >img{
        width: 96px;
        height: 96px;
        display: block;
        margin-top: 56px;
      }

      >div{
        font-size: 24px;
        margin-top: 24px;
        @include media();
        text-align: center;
      }
    }

    &-margin-left{
      margin-left: 24px;

      @include xb-xs-screen{
        margin-left: 0;
      }

      @include xb-sm-screen{
        margin-left: 0;
      }
    }

    &-margin-left-1{
      margin-left: 24px;

      @include xb-xs-screen{
        margin-left: 0;
      }

      @include xb-sm-screen{
        margin-left: 0;
      }
    }
  }

  &__statistic{
    height: 48px;
    &-text{
      text-align: center;
      overflow: hidden;
      height: 20px;
      @include text-overflow();
    }

    &-bg{
      cursor: pointer;
      height: 48px;
      padding: 0 16px;
      &:hover{
        background-color: rgba(0,0,0,.08);
      }
    }
  }

  &__setting-bg{
    min-height: calc(100vh - 137px);
    background-color: $whiteColor;
    border-radius: 4px;
    overflow: hidden;
    padding: 16px;
  }

  &__setting-button{
    line-height: 40px;
    border-radius: 4px;
    color: $primaryColor;
    display: block;
    cursor: pointer;
    &:hover{
      background-color: rgba(0,0,0,.12);
    }
  }

  &__pop-bg{
    position: relative;
    padding: 8px 0 8px 8px;
    cursor: pointer;
    &-list{
      position: absolute;
      right: 0;
      top: 100%;
      padding: 0 16px;
      line-height: 36px;
      text-align: center;
      background-color: $lightWhiteColor;
      @include resetBorder();
      font-size: 16px;
      z-index: 100;
      display: none;
    }

    $parent: &;
    &:hover{
      #{$parent}-list{
        display: block;
      }
    }
  }
}

.xb-category{
  &__title{
    height: 56px;
    position: relative;
    z-index: 1;
  }
}

.xb-share-dialog{

  padding: 56px;
  max-width: 720px;
  position: relative;
  background-color: $whiteColor;
  border-radius: 4px;
  @include xb-xs-screen{
    padding: 56px 16px;
  }

  &__close{
    position: absolute;
    left: calc(100% - 40px);
    top: 16px;
    color: $blackColor;
    cursor: pointer;
    i{
      font-size: 24px;
      line-height: 24px;
      @include media();
    }
  }

  &__title{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    @include media();
  }

  &__content{
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    @include regular();
  }

  &__link{
    font-size: 24px;
    line-height: 32px;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-top: 12px;
    display: block;
    color: rgba(0,0,0,.87);
  }

  &__margin-top{
    margin-top: 48px;
  }

  &__width-100{
    width: 720px;
    .mat-form-field{
      width: 100%;
    }
    @include xb-xs-screen{
      width: 100%;
    }
  }
}

.xb-affiliate-dialog{

  padding: 56px;
  max-width: 720px;
  position: relative;
  border-radius: 4px;
  @include xb-xs-screen{
    padding: 0;
  }

  &__close{
    position: absolute;
    left: calc(100% - 40px);
    top: 16px;
    color: $blackColor;
    cursor: pointer;
    i{
      font-size: 24px;
      line-height: 24px;
      @include media();
    }
  }

  &__title{
    font-size: 24px;
    line-height: 32px;
    @include media();
  }

  &__content{
    margin-top: 16px;
    font-size: 14px;
    line-height: 28px;
    @include regular();
  }

  &__margin-top{
    margin-top: 32px;
  }
}

