@import "../styles/utils/_index";
@import "../styles/_variables";

.xb-shop{
  &__icons{
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 24px;
    line-height: 24px;
  }

  &__left-navigation{
    padding-top: 16px;
    margin-right: 16px;
    border-right: 1px solid rgba(0,0,0,.12);
    background-color: #0a2529;

    &-bg{
      width: 136px;;
      margin-right: 16px;
    }
    &-buttons{
      padding-left: 8px;
      height: 56px;
      color: $whiteColor;
      @include media();
      &.active{
        color: $primaryColor;
      }

    }
  }

  &__scroll{
    overflow-y: scroll;
  }
  &__margin-top{
    margin-top: 48px;
  }

  &__margin-bottom{
    margin-bottom: 48px;
  }

  &__margin-bottom-1{
    margin-bottom: 40px;
  }

  &__margin-bottom-2{
    margin-bottom: 32px;
  }

  &__margin-bottom-3{
    margin-bottom: 16px;
  }

  &__margin-left{
    margin-left: 16px;
    position: relative;
  }

  &__width-100{
    width: 100%;
  }

  &__width-1{
    width: 100px;
  }

  &__product{
    position: relative;
    .mat-button{
      padding: 0;
      margin-left: 16px;
      min-width: 0;
      min-height: 0;
      line-height: 1;
    }


    &-image{
      width: 192px;
      height: 192px;
      border-radius: 2px;
      overflow: hidden;
      margin-right: 16px;
      position: relative;

      >img{
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }

    &-title{
      font-size: 16px;
      font-weight: bold;
      color: rgba(0,0,0, .87);
      line-height: 24px;
      max-height: 48px;
      overflow: hidden;
    }

    &-price{
      font-size: 16px;
      font-weight: bold;
      color: rgba(0,0,0, .87);
      line-height: 24px;
      max-height: 48px;
    }

    &-category{
      padding: 0 12px;
      line-height: 28px;
      border-radius: 2px;
      background-color: rgba(0,0,0,.12);
    }

    &-list{
      padding: 16px 0;
      border-bottom: 1px solid rgba(0,0,0,.12);
      &:last-child{
        border-bottom: none;
      }
    }

    &-none{
      margin-top: 144px;
      span{
        margin-top: 16px;
        @include media();
      }
    }

    &-buttons {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
    }

    &-button-list{
      width: 212px;
      position: absolute;
      right: 0;
      top: 100%;
      background-color: $whiteColor;
      @include media();
      @include resetBorder();

      >a{
        height: 56px;
        color: rgba(0,0,0,.87);
        &:hover{
          background-color: rgba(0,0,0,.12);
        }
      }
    }
  }

  &__white{
    color: $whiteColor !important;
  }

  &__dialog{
    max-width: 960px;
    padding: 16px 24px;
    max-height: calc(100vh - 160px);

    &-margin-left{
      margin-left: 64px;
    }
  }

  &__dashboard{
    &-card{
      border-radius: 10px;
      padding: 28px 0 28px 28px;
      color: $whiteColor;
      margin-bottom: 32px;
    }

    &-number{
      font-size: 34px;
      line-height: 34px;
      margin-bottom: 4px;
    }

    &-title{
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 8px;

      @include media();
    }

    &-color-1{
      background-color: $navigationColor;
      background-image: url("https://media.xberts.com/collector/source/web/pic/pic-view.png");
      background-position: top right;
      background-size: auto 80%;
      background-repeat: no-repeat;
    }
    &-color-2{
      background-color: $primaryColor;
      background-image: url("https://media.xberts.com/collector/source/web/pic/pic-visitor.png");
      background-position: top right;
      background-size: auto 80%;
      background-repeat: no-repeat;
    }
    &-color-3{
      background-color: $orangeColor;
      background-image: url("https://media.xberts.com/collector/source/web/pic/pic-conversions.png");
      background-position: top right;
      background-size: auto 80%;
      background-repeat: no-repeat;
    }
    &-color-4{
      background-color: $dangerColor;
      background-image: url("https://media.xberts.com/collector/source/web/pic/pic-listings.png");
      background-position: top right;
      background-size: auto 80%;
      background-repeat: no-repeat;
    }

    &-content{
      border-top: 1px solid rgba(0,0,0,.12);
    }

    &-margin-right{
      margin-right: 56px;
    }

    &-table{
      span{
        line-height: 28px;
        height: 28px;
        max-width: 100%;
        @include text-overflow();
      }
    }
  }

  &__select{
    position: relative;
    height: 40px;
    &-color{
      color: $primaryColor;
      @include media();
      margin-right: 8px;
      white-space: nowrap;
    }

    &-tri{
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0,0,0,.87);
    }

    &-panel{
      position: absolute;
      top: 100%;
      right: 0;
      width: 120px;
      background-color: $whiteColor;
      @include resetBorder();


      >div{
        line-height: 40px;
        padding: 0 16px;

        &.active{
          background-color: rgba(0,0,0,.12);
        }
      }
    }
  }

  &__radio{
    display: inline-flex;
    flex-direction: column;
  }

  &__products{
    &-title{
      height: 56px;
      font-size: 16px;
      @include media();
    }

    &-title-1{
      height: 40px;
      font-size: 16px;
      @include media();
    }

    &-left-bg{
      width: 200px;
    }

    &-content{
      max-height: calc(100vh - 72px);
      overflow: scroll;
    }

  }

  &__card{
    display: block;
    width: 300px;
    height: 435px;
    position: relative;
    z-index: 0;

    &-image{
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;

      position: relative;
      >div{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: rgba(0,0,0,.12);
        overflow: hidden;
        >img{
          display: block;
        }
      }
    }

    &-content{
      position: relative;
      padding: 8px 16px 16px;
      height: 208px;
    }

    &-title{
      height: 56px;
      line-height: 28px;
      font-weight: 700;
      overflow: hidden;
    }

    &-price{
      font-size: 16px;
      font-weight: 700;
    }

    &-sale{
      background-color: $primaryColor;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 24px;
    }

    &-action{
      position: relative;
      display: none;
    }

    $parent: &;
    &:hover{
      position: relative;
      overflow: visible;
      z-index: 1;
      >div{
        border-radius: 4px;
        @include box-shadow(0 0 10px 1px rgba(0, 0, 0, 0.19));
        background-color: $whiteColor;
      }

      #{$parent}-action{
        width: 100%;
        display: block;
        >.mat-raised-button{
          width: 100%;
        }
      }
      #{$parent}-content{

        height: auto;
        border-radius: 4px;
      }
    }
  }

  &__edit{
    &-title{
      font-size: 16px;
      @include media();
      color: rgba(0,0,0,.87);
      margin-bottom: 16px;
    }

    &-description{
      img{
        width: 100%;
      }
    }

    &-color{
      color: $primaryColor;
      @include media();
      cursor: pointer;
    }
  }
}


