@import "../../styles/utils/_index";
@import "../../styles/_variables";

// main
.xb-4-template {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $whiteColor;
  z-index: 500;
  &__car-line {
    width: 100vw;
    height: 1px;
    background-color: rgba(0, 0, 0, .12);

  }
  &__edit-text-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }

  &__divider-line {
    background-color: #dcdcdc;
    height: 1px;
    width: 100vw;
  }
  &__cancel-save {
    position: relative;
    height: 72px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__jump-button {
    margin-top: 20px;
    margin-bottom: 40px;
    > a {
      width: 224px;
      text-align: center;
      line-height: 40px;
      border-radius: 4px;
      cursor: pointer;
      background-color: $primaryColor;
      color: $whiteColor;
      @include media();

      @include xb-xs-screen {
        line-height: 36px;
      }
    }
  }

  &-content {
    min-height: calc(100vh - 391px);
  }
  &__detail {
    margin-top: 20px;
    margin-bottom: 56px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 40px 40px;
    background-color: $whiteColor;
    @include xb-xs-screen {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    &-close {
      position: absolute;
      left: calc(100% + 24px);
      top: 0;
      color: $whiteColor;
      cursor: pointer;
      i {
        font-size: 56px;
        line-height: 56px;
      }

      @include xb-xs-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }

      @include xb-sm-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }
  &__mobile-dialog-inner {
    @include xb-xs-screen {
      padding: 16px;
    }
    @include xb-sm-screen {
      padding: 16px;
    }
  }
  &__w960 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  &__container {
    max-width: 1440px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  &__title {
    margin-top: 40px;
    height: 72px;
    width: 60%;
    text-align: center;
    line-height: 72px;
    margin-left: auto;
    color: #e1ab18;
    margin-right: auto;
    border: 4px solid #e1ab18;
    font-size: 34px;
    font-weight: bold;
  }
  &__edit-border {
    border: 1px solid $primaryColor;
    > input {
      border: none;
      font-size: 34px;
      color: #e1ab18;
      text-align: center;
      width: 100%;
      background-color: transparent;
    }
  }
}

// home
.xb-4-template-home {
  margin-bottom: 100px;
  margin-top: 24px;
  &__background {
    height: 640px;
    position: relative;
  }
  &__title {
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 320px;
  }
  &__ad-bg {
    margin-top: -88px;
    position: relative;

  }
  &__ad-item {
    width: 280px;
    height: 360px;
    position: relative;
  }
  &__ad-title {
    position: relative;
    max-width: 90%;
    margin-top: 64px;
    @include text-overflow();
    border: 4px solid $whiteColor;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    color: $whiteColor;
    font-size: 24px;
    @include light();
    > a {
      color: white;
    }
  }
}

// home ->products
.xb-4-template-products {
  margin-top: 88px;
  &__text {
    width: 48%;
  }
  &__title {
    position: relative;
    width: 100%;
  }
  &__subtitle {
    margin-left: 48px;
    margin-right: 48px;
    position: relative;
    width: 100%;
    margin-top: 16px;
  }

  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;
    @include xb-xs-screen {
      margin-bottom: 0;
    }
    &-image {
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      position: relative;
      > a {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        > img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          @include transform(translate(-50%, -50%));
        }
      }
    }

    &-title {
      margin-top: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 28px;
      width: 100%;
      @include text-overflow();
      text-align: center;
    }
    &-price {
      font-size: 24px;
      font-weight: bold;
      color: black;
    }
    &-original {
      font-size: 14px;
      @include regular();
      color: black;
    }
  }

  &__no-goods {
    margin-top: 32px;
    text-align: center;
  }
  &__collection-no-goods {
    margin-top: 105px;
    text-align: center;
  }
}

//home->blog
.xb-4-template-blog {
  margin-top: 32px;
  &__article {
    margin-top: 16px;
  }
  &__title {
    line-height: 32px;
    font-size: 24px;
    font-weight: bold;
  }
  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;
    @include xb-xs-screen {
      margin-bottom: 0;
    }
    &-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 66.66%;
      overflow: hidden;
      > img {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
    &-date {
      font-size: 14px;
      margin-top: 12px;
      @include regular();
    }
    &-context {
      font-size: 14px;
      @include regular();
      line-height: 24px;
      max-height: 72px;
      overflow: hidden;

    }
    &-title {
      margin-top: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 28px;
    }
  }

}

//导航 navigation
.xb-4-template-navigation {
  color: #e1ab18;
  @include light();
  font-size: 18px;
  text-align: center;
  &.active {
    font-weight: bold;
  }
  &__container {
    margin-top: 28px;
    height: 54px;
  }
}

// collections
.xb-4-template-collection {
  margin-top: 24px;
  &__category {
    width: 220px;
  }

}

//分类 category
.xb-4-template-category {
  border: 1px solid #e3e3e3;
  padding-left: 16px;
  padding-right: 16px;
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 8px;

  }
  &__name {
    font-size: 14px;
    line-height: 24px;
    margin-top: 12px;
    &.active {
      @include media();
    }
  }
  &__bottom_40 {
    margin-bottom: 30px;
  }
}

// about
.xb-4-template-about {
  margin-top: 24px;
  &__image {
    width: 100%;
  }
  &__content {
    position: relative;
  }
}

//图片
.xb-4-template-picture {
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

    @include xb-xs-screen {
      overflow-y: hidden;
    }
  }

}

// store
.xb-4-template-store {
  &__title-1 {
    font-size: 24px;
    @include media();
    margin-bottom: 8px;
  }
  &__content-1 {
    margin-bottom: 24px;
  }
  &__width-100 {
    width: 100%;
  }
  &__margin-top-48 {
    margin-top: 48px;
  }

}

//edit
.xb-4-template-edit {
  &__magleft-12 {
    margin-left: 12px;
  }
  &__add-blog {
    font-size: 14px;
    @include media();
    color: $primaryColor;
  }
  &__icon {
    font-size: 24px;
    color: $primaryColor;
  }
  &__nav-right {
    position: absolute;
    top: 16px;
    right: 48px;
  }
  &__left {
    position: absolute;
    height: 100%;
    left: 48px;
    cursor: pointer;
  }
  //是否编辑blog的页面
  &__button-2 {
    line-height: 40px;
    border-radius: 16px;
    background-color: #ffc400;
    color: black;
    width: 186px;
    text-align: center;
    cursor: pointer;
  }

  &__button {
    line-height: 40px;
    border-radius: 16px;
    background-color: $whiteColor;
    color: $primaryColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  &__button-1 {
    line-height: 40px;
    border-radius: 16px;
    background-color: $primaryColor;
    color: $whiteColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  &__save-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
  &__banner-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
}

//product --detail
.xb-4-template-detail {
  margin-top: 24px;
  overflow-x: hidden;
  &__container {
  }
  &__content {
    position: absolute;
    margin-left: 640px;
    padding-left: 16px;
    max-width: 360px;
    padding-right: 16px;
    &-mobile {
      height: 100%;
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }
  &__price {
    font-size: 16px;
    font-weight: bold;
    @include xb-xs-screen {
      margin-left: 8px;
    }
  }
  &__original-price {
    font-size: 16px;
    margin-left: 40px;
    @include regular();
  }
  &__buy-buttons {
    display: block;
    background-color: #e1ab18;
    border-radius: 4px;
    height: 40px;
    width: 132px;
    cursor: pointer;
    color: $whiteColor;
    font-size: 14px;
    @include media();
    @include xb-xs-screen {
      width: calc(100vw - 32px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__line {
    margin-top: 24px;
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
  }
  &__store-owner {
    margin-top: 32px;
    max-width: 600px;
    &-title {
      font-weight: bold;
      font-size: 16px;
    }
    &-des {
      margin-top: 24px;
      font-size: 14px;
      @include regular();
      line-height: 24px;
      margin-right: 24px;
      margin-bottom: 32px;

    }
  }
  &__recommend {
    &-title {
      margin-top: 80px;
      font-size: 24px;
      font-weight: bold;
    }
  }
  &__buttons_bg {
    @include xb-xs-screen {
      margin-top: 16px;
    }
  }
}

// cart
.xb-store-template {
  &__car {
    &-margin-top {
      margin-top: 24px;
      @include xb-xs-screen {
        margin-top: 32px;
      }
    }

    &-margin-top-1 {
      margin-top: 12px;
      @include xb-xs-screen {
        margin-top: 0px;
      }
    }

    &-margin-top-2 {
      margin-top: 20px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-left-part {
      @include media();
      color: rgba(0, 0, 0, .54);
      width: 54px;
      @include xb-xs-screen {
        width: auto;
        margin-right: 0;
        margin-bottom: 12px;
      }
    }

    &-bg {
      margin-top: 32px;
      background-color: #efefef;
      border-radius: 4px;
      padding: 24px;
      @include xb-xs-screen {
        margin-top: 32px;
      }
    }

    &-left-part-1 {
      @include media();
      color: rgba(0, 0, 0, .54);
      width: 145px;
      margin-right: 32px;
    }

    &-image {
      width: 54px;
      height: 54px;
      position: relative;
      margin-right: 8px;
      margin-bottom: 8px;
      border: 1px solid #dedede;
      overflow: hidden;
      cursor: pointer;
      > img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
      &.active {
        border: 2px solid #e1ab18;
      }
    }

    &-text {
      font-size: 16px;
      color: rgba(0, 0, 0, .87);
      padding: 0 8px;
      line-height: 32px;
      margin-right: 8px;
      cursor: pointer;
      @include text-overflow();
      &.active {
        @include media();
        border: 2px solid #e1ab18;
      }
    }

    &-item {

      &-input {
        border: 1px solid #dedede;
        border-radius: 2px;
        input {
          width: 100%;
          line-height: 40px;
          font-size: 16px;
          border: none;
          text-align: center;
          padding: 0;
        }
      }

      &-add {
        > i {
          display: block;
          user-select: none;
        }
      }
    }
  }

}

.xb-4-template__cart-order {
  height: 54px;
  background-color: rgba(0, 0, 0, .12);
  &-word {
    font-size: 14px;
    @include regular();
    color: black;
    height: 54px;
    line-height: 54px;
    cursor: pointer;
  }
}

.xb-store {
  &__promotion {
    &-ongoing {
      position: absolute;
      background-color: #755993;
      border-radius: 4px;
      font-size: 10px;
      @include regular();
      color: white;
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
      height: 22px;
      line-height: 22px;
      top: 8px;
      left: 8px;
    }
    &-upcoming {
      position: absolute;
      background-color: #f85279;
      border-radius: 4px;
      font-size: 10px;
      @include regular();
      color: white;
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
      height: 22px;
      line-height: 22px;
      top: 8px;
      left: 8px;
    }
    &-countdown {
      position: absolute;
      background-color: white;
      border-radius: 4px;
      font-size: 10px;
      @include regular();
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
      height: 22px;
      line-height: 22px;
      border: 1px solid #dcdcdc;
      right: 8px;
      top: 8px;
    }

  }
}

.xb-store-promotion {
  background-color: #F1F1F1;
  border-radius: 4px;
  padding: 24px 8px;
  margin-top: 16px;
  &__processing {
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    overflow: hidden;
    margin-top: 12px;
    background-color: white;
    &-line {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffc400;
      height: 3px;
    }
  }
  &__upcoming {
    font-size: 12px;
    width: 68px;
    color: #B38A00;
    @include regular();
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
    background-color: #F5E3A6;
    &-time {
      font-size: 12px;
      @include regular();
      margin-left: 8px;
      white-space: nowrap;
    }
  }
  &__count {
    &-word {
      font-size: 12px;
      @include regular();
    }
  }
  &__details{
    &-sale {
      background-color: #e1ab18;
      border-radius: 4px;
      padding: 0 4px;
      font-size: 12px;
      color: $whiteColor;
      white-space: nowrap;
      line-height: 24px;

      @include xb-xs-screen {
        line-height: 24px;
      }

      @include xb-sm-screen {
        line-height: 24px;
      }
    }
  }


}


