<div fxLayout="row" fxLayoutAlign="start start">
  <div class="xb-bonus__circle-bg" fxLayout="column" fxLayoutAlign="center center">
    <div class="xb-bold md-margin-top-2">Month-to-date Sales</div>
    <div class="md-margin-top-2 md-margin-bottom-2 xb-bonus__circle">
      <canvas #myCanvas width="150px" height="150px"></canvas>
      <div class="xb-bonus__circle-text">{{monthSale |currency:currency}}</div>
    </div>
    <div class="xb-bonus__title-1" *ngIf="targetBonus">{{targetOffSale|currency:currency}} way from reaching target for {{targetBonus|currency:currency}} bonus!</div>
    <div class="xb-bonus__title-1" *ngIf="!targetBonus">Congrats! You just unlock $4000 in total this month.</div>
  </div>

  <div class="xb-bonus__processing-bg" fxFlex>
    <div class="md-margin-top-2 xb-bonus__navigation" fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-3" fxFlex="20">Target<br *ngIf="currency == 'USD'"> Sales</div>
      <div class="md-margin-right-5" fxFlex="20">Cumulative<br *ngIf="currency == 'USD'"> Bonus</div>
      <div fxFlex>Current<br *ngIf="currency == 'USD'"> Progress</div>
    </div>
    <div class="xb-bonus__processing-item" *ngFor="let item of bonusList; let i = index;" fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-right-3" fxFlex="20" fxLayout="row" fxLayoutAlign="start start">
        <div class="xb-bonus__processing-target xb-bonus__color-{{i}}" >{{item.sales |currency:currency}}</div>
      </div>
      <div class="md-margin-right-5" fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
        <span class="md-margin-right-1">{{item.bonus |currency:currency}} </span>
        <i class="iconfontXberts icon-pic-lock md-dark-secondary" *ngIf="item.sales > monthSale "></i>
        <i class="iconfontXberts icon-pic-unlock" *ngIf="item.sales <= monthSale "></i>
      </div>
      <div fxFlex>
        <div class="xb-bonus__processing">
          <div class="xb-bonus__processing-line xb-bonus__color-{{i}}" *ngIf="i <= targetIndex()" style="width: 100%;"></div>
          <div class="xb-bonus__processing-line xb-bonus__color-{{i}}"
               *ngIf="i == targetIndex() + 1 && targetIndex() + 1 <= bonusList.length - 1" [ngStyle]="{width: targetOffSalePercent + '%'}"></div>
        </div>
        <div class="md-dark-secondary xb-bonus__text" *ngIf="i <= targetIndex()" >
          Bonus Unlocked!
        </div>
        <div class="md-dark-secondary xb-bonus__text" *ngIf="i == targetIndex() + 1 && targetIndex() + 1 <= bonusList.length - 1" >
          {{targetOffSalePercent + '%'}}</div>
        <div class="md-dark-secondary xb-bonus__text" *ngIf="i > targetIndex() + 1">
          0%
        </div>
      </div>
    </div>
  </div>
</div>
