@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-cart{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  &__width-100{
    width: 100%;
  }

  &__width-1{
    width: 180px;
  }

  &__none{
    padding: 120px 0;
    @include xb-xs-screen{
      padding: 40px 0;
    }
    &-image{
      >i{
        color: rgba(0,0,0,.24);
        font-size: 120px;
        @include xb-xs-screen{
          font-size: 96px;
        }
      }
    }

    &-title{
      margin-top: 64px;
      @include xb-xs-screen{
        margin-top: 40px;
      }
    }

  }

  &__navigation{
    height: 56px;
    &-title{
      font-size: 32px;
      padding: 0 16px;
      @include media();
      font-family: Didot, Helvetica;

      @include xb-xs-screen{
        font-size: 16px;
        padding: 0;
        @include text-overflow();
      }
    }

    &-icon{
      padding: 8px;
      >i{
        font-size: 24px;
      }
      @include xb-xs-screen{
        padding: 16px 16px 16px 8px;
      }

      &-left{
        padding: 8px;
        >i{
          font-size: 24px;
        }
        @include xb-xs-screen{
          padding: 16px 8px 16px 8px;
        }
      }
    }
  }

  &__bg{
    margin-top: 16px;
    margin-bottom: 64px;
    @include xb-xs-screen{
      margin-top: 16px;
      margin-bottom: 70px;
    }
  }

  &__body{
    overflow: hidden;

    &-margin-right{
      margin-right: 16px;
      @include xb-xs-screen{
        margin-right: 0;
        width: 100%;
      }
    }

    &-margin-right-1{
      margin-right: 64px;
      @include xb-xs-screen{
        margin-right: 0;
      }
    }

    &-margin-top{
      margin-top: 16px;
      @include xb-xs-screen{
        margin-top: 0;
      }
    }

    &-margin-top-1{
      margin-top: 16px;
      @include xb-xs-screen{
        margin-top: 8px;
      }
    }

    &-margin-top-2{
      margin-top: 24px;
    }

    &-left-form{
      padding: 32px 48px 40px;
      @include xb-xs-screen{
        padding: 16px 16px 24px;
      }
    }

    &-left-button{
      padding: 24px 48px;
      @include xb-xs-screen{
        padding: 16px 16px 0;
      }
    }

    &-100{
      width: 100% !important;
    }
  }

  &__bill{
    padding: 0 24px;
    width: 224px;

    &-title{
      height: 54px;
      font-size: 16px;
      @include media();
    }

    &-margin-left{
      margin-left: 32px;
      @include xb-xs-screen{
        margin-left: 24px;
      }
    }

    &-left-1{
      width: 120px;
      margin-right: 32px;
      @include xb-xs-screen{
        margin-right: 16px;
      }
    }

    &-left{
      width: 100px;
    }

    &-margin-top-1{
      margin-top: 16px;
    }

    &-margin-top-2{
      margin-top: 32px;
    }

    &-margin-bottom{
      margin-bottom: 24px;
    }
  }

  &__product-title-bg{
    height: 54px;
    padding: 0 16px;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  &__title{
    font-size: 16px;
    @include media();
  }

  &__product-list{
    margin: 0 16px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    &:last-child{
      border-bottom: none;
    }
  }

  &__item{

    .mat-form-field-underline{
      background-color: #000;
    }
    &-image{
      position: relative;
      width: 80px;
      height: 80px;
      margin-right: 16px;
      >img{
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%))
      }
    }

    &-title{
      font-size: 14px;
      line-height: 24px;
      max-height: 72px;
      overflow: hidden;
      @include xb-xs-screen{
        height: 14px;
        line-height: 14px;
        overflow: hidden;
      }
      @include xb-sm-screen{
        height: 14px;
        line-height: 14px;
        overflow: hidden;
      }
    }

    &-input{
      width: 48px;
    }

    &-select{
      width: 80px !important;

      &-mobile{
        position: relative;
        border-bottom: 2px solid;
        width: 80px;
        padding-right: 8px;
        height: 28px;
        line-height: 28px;
        @include text-overflow();
      }

      &-tri{
        width:0;
        height:0;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        border-top:6px solid #000;
        position: absolute;
        right: 0;
        top: 11px;
      }
    }

    &-button{
      padding: 0;
      min-width: 56px;
    }

    &-sale{
      font-size: 16px;
      @include media();
    }

    &-variant{
      font-size: 12px;
      color: rgba(0,0,0,.54);
    }

    &-shipping{
      font-size: 12px;
      @include media();
    }

    &-original{
      margin-top: 4px;
      @include xb-xs-screen{
        margin-top: 0;
        margin-left: 12px;
      }
      @include xb-sm-screen{
        margin-top: 0;
        margin-left: 12px;
      }
    }

    &-icon{
      @include xb-xs-screen{
        line-height: 24px;
        >i{
          font-size: 16px;
          line-height: 24px;
        }
      }
      @include xb-sm-screen{
        height: 24px;
        >i{
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    &-add{
      >i{
        display: block;
        user-select: none;
      }
    }
  }

  &__footer{
    padding: 64px 16px 0;

    &-title{
      font-size: 24px;
      @include media();
      font-family: Didot, Helvetica;
      line-height: 24px;
      margin-bottom: 16px;
    }

    &-content{
      font-size: 14px;
      line-height: 28px;
    }

    &-bottom-content{
      font-size: 14px;
      color: rgba(0,0,0,.54);
      height: 54px;
      margin-top: 72px;
    }

    &-icons{
      i{
        font-size: 24px;
      }
    }
  }

  &__dialog{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    background-color: rgba(0,0,0,.7);

    &-list{
      padding: 16px;
      border-bottom: 1px solid rgba(0,0,0,.12);
      &:last-child{
        border-bottom: none;
      }
    }

    &-margin{
      margin-top: 8px;
      margin-left: 40px;
    }
  }

  &__fixed-bottom{
    position: fixed;
    width: 100%;
    padding: 8px;
    bottom: 0;
    left: 0;

    &-margin{
      margin-left: 12px;
    }

    &-tri{
      width:0;
      height:0;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      border-top:6px solid #000;
    }

    &-tri-1{
      width:0;
      height:0;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      border-bottom:6px solid #000;
    }

    &-dialog{
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      padding: 24px 16px 16px;
      background-color: $whiteColor;
      @include resetBorder();
    }
  }

  &__position {
    position: relative;
    @include xb-xs-screen {
      margin-right: 24px;
    }
  }

  &__order-and-cart {
    margin-right: 16px;
    @include xb-xs-screen{
      margin-right: 0;
    }
  }

  &__icon {
    font-size: 24px;
    color: black;
    cursor: pointer;
    position: relative;
  }

  &__circle {
    width: 16px;
    height: 16px;
    background: red;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: -11px;
    top: 0;
    text-align: center;
  }

  &__side-bg {
    width: 100vw;
    background-color: black;
  }

  &__side-flex {
    font-size: 14px;
    height: 48px;
    color: white;
    line-height: 48px;
    width: 100%;
    text-align: center;
    &.active {
      font-weight: bold;
    }
  }

  &__navigation-fixed {
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
  }

}

