<div class="xb-bonus-dialog">
  <div class="xb-bonus-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="xb-bonus-dialog__title">
    Earn Extra Bonus for Reaching Monthly Sales Target
  </div>
  <div class="xb-bonus-dialog__title-1">
    The higher sales target you reach, the higher bonus you earn!
  </div>
  <div *ngIf="storeCurrency == 'USD'">
    <div>
      Earn $100 bonus for reaching $500 in sales within the current month
    </div>
    <div>
      Earn $200 bonus for reaching $1,000 in sales within the current month
    </div>
    <div>
      Earn $400 bonus for reaching $2,000 in sales within the current month
    </div>
    <div>
      Earn $600 bonus for reaching $3,000 in sales within the current month
    </div>
    <div>
      Earn $1,000 bonus for reaching $4,000 in sales within the current month
    </div>
  </div>
  <div *ngIf="storeCurrency == 'INR'">
    <div>
      Earn Rs. 500 bonus for reaching Rs. 2,500 in sales within the current month
    </div>
    <div>
      Earn Rs. 1,000 bonus for reaching Rs. 5,000 in sales within the current month
    </div>
    <div>
      Earn Rs. 2,000 bonus for reaching Rs. 10,000 in sales within the current month
    </div>
    <div>
      Earn Rs. 3,500 bonus for reaching Rs. 15,000 in sales within the current month
    </div>
    <div>
      Earn Rs. 5,000 bonus for reaching Rs. 20,000 in sales within the current month
    </div>
  </div>
  <div class="md-margin-top-2 xb-bold">
    * Please note this doesn’t include any canceled and refunded orders.
  </div>
  <div class="xb-bonus-dialog__title-1">How can I check my total bonus? </div>
  <div>
    You can check your bonus history by following “Payment —> Balance —> Bonus Earned” on the navigation bar.
  </div>
  <div class="xb-bonus-dialog__title-1">
    When can I withdraw my bonus?
  </div>
  <div>
    Your monthly bonus will be paid 60 days from the end of the current month, because it takes time for us to
    deliver your orders and process potential refunds.
  </div>
  <div class="xb-bonus-dialog__title-1">
    Does canceled or refunded orders affect my bonus?
  </div>
  <div>
    Yes. For any canceled or refunded orders, it will be deducted from your sales revenue. If your adjusted
    revenue is lower than the original sales target you have reached, your bonus will also be adjusted accordingly.
  </div>
  <div class="xb-bonus-dialog__title-1">
    How do I withdraw my bonus?
  </div>
  <div>
    Your bonus will be calculated into your total earnings, so you can withdraw your bonus from your available
    balance. The money will be deposited into your selected payment method.
  </div>
  <div class="xb-bonus-dialog__margin-top" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="close()">GOT IT!</button>
  </div>
</div>
