<div class="xb-4-template-collection xb-4-template__w960">
  <div fxLayout="row" fxLayoutAlign="start stretch">
    <div class="xb-4-template-collection__category" fxShow="true" fxShow.xs="false">
      <app-shop-template-4-category
        [(category)]="category" [categories]="categories"
        (categoryChange)="changeCategory()"></app-shop-template-4-category>
    </div>
    <div class="xb-4-template-collection__product md-margin-left-2" fxLayoutAlign="space-between start" fxLayout="row"
         fxLayoutGap.xs="16px"
         fxLayoutWrap>
      <app-shop-item-product-card-4 *ngFor="let item of product"
                                    fxFlex.xs="44" fxFlex.gt-xs="30"
                                    [product]="item" [status]="0"></app-shop-item-product-card-4>
      <div fxFlex.xs="44" fxFlex.gt-xs="30"></div>
    </div>
  </div>
</div>


