<div fxLayout="column" class="xb-store-about" fxLayoutAlign="start stretch">
  <div>
    <div class="xb-store-about__navigation" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="xb-store-about__store-name xb-pointer" (click)="jumpStore()">
        {{contextList.nameTag != '' ? contextList.nameTag : store.name}}
      </div>
      <div class="xb-store-template__cart-order-and-cart" fxLayout="row" fxLayoutAlign="start center">
        <i class="iconfontXberts icon-pic-per xb-store-template__cart-icon md-margin-right-4"
           (click)="jumpOrder()"></i>
        <div class="xb-store-template__cart-position" (click)="jumpCart()">
          <i class="iconfontXberts icon-pic-cart1 xb-store-template__cart-icon"></i>
          <div class="xb-store-template__cart-circle" *ngIf="productNumber > 0">{{productNumber > 99 ? '99+':
            productNumber}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-store-about__content" fxFlex>
    <div class="xb-store-about-shop__title">Welcome!</div>
    <div class="xb-store-about-shop__title_sub">
      This online store is run by {{ownerFirstName}} {{ownerLastName}} and powered by SocialCommer
      <br>
      with the aim of providing you with the best product recommendations!
    </div>
    <div class="xb-store-about-shop__16sizeBold  xb-store-about-shop__magtop48">
      SocialCommer’s Authorized Store
    </div>
    <div class="xb-store-about-shop__14sizeLight md-margin-top-1">
      The store {{contextList.nameTag || store.name}} is a member of SocialCommer’s Global Seller Network – which is the
      leading ecommerce platform for brands and influencers. All the merchandises are authorized to sell by SocialCommer
      and they’re 100% authentic
      and genuine!
    </div>
    <div class="xb-store-about-shop__16sizeBold  xb-store-about-shop__magtop48">
      Why Shop With Us?
    </div>
    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column"
         fxLayoutAlign.xs="start start">
      <div class="xb-store-about-shop__item">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfontXberts icon-pic-low-price xb-store-about-shop__icon"></i>
          <div class="xb-store-about-shop__14sizeBold md-margin-left-1">Incredibly Affordable Price</div>
        </div>
        <div class="xb-store-about-shop__14sizeLight">
          We source all the products directly from brands and manufacturers.<br>
          By cutting out the middle man, you get the best price!
        </div>
      </div>
      <div class="xb-store-about-shop__item xb-store-about-shop__magtop24px">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfontXberts icon-pic-standard xb-store-about-shop__icon"></i>
          <div class="xb-store-about-shop__14sizeBold md-margin-left-1">Strict Quality Standards</div>
        </div>
        <div class="xb-store-about-shop__14sizeLight">
          We set a strict qualification standard for our suppliers, so you never have to worry about the product
          quality.
        </div>
      </div>
    </div>

    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column"
         fxLayoutAlign.xs="start start">
      <div class="xb-store-about-shop__item">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfontXberts icon-pic-guarantee xb-store-about-shop__icon"></i>
          <div class="xb-store-about-shop__14sizeBold md-margin-left-1">Customer Satisfaction Guarantee</div>
        </div>
        <div class="xb-store-about-shop__14sizeLight">
          You may return all items purchased from our store within 30 days of delivery.
        </div>
      </div>
      <div class="xb-store-about-shop__item xb-store-about-shop__magtop24px">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfontXberts icon-pic-time-limit xb-store-about-shop__icon"></i>
          <div class="xb-store-about-shop__14sizeBold md-margin-left-1">Exclusive Limited-Time Offers</div>
        </div>
        <div class="xb-store-about-shop__14sizeLight">
          We offer lightning deals and group buying offers every week to help you save big.
        </div>
      </div>
    </div>

    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column"
         fxLayoutAlign.xs="start start">
      <div class="xb-store-about-shop__item">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfontXberts icon-pic-service1 xb-store-about-shop__icon"></i>
          <div class="xb-store-about-shop__14sizeBold md-margin-left-1">Dedicated Customer Support</div>
        </div>
        <div class="xb-store-about-shop__14sizeLight">
          Our customer service team will respond to your issues within 1-2 business days.
        </div>
      </div>
      <div class="xb-store-about-shop__item xb-store-about-shop__magtop24px">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfontXberts icon-pic-protect xb-store-about-shop__icon"></i>
          <div class="xb-store-about-shop__14sizeBold md-margin-left-1">Protecting Your Privacy</div>
        </div>
        <div class="xb-store-about-shop__14sizeLight">
          We respect and protect our customer’s privacy. For more information, please see our Privacy Policy.
        </div>
      </div>
    </div>

  </div>
  <div class="xb-store-about__footer">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="xb-store-about__footer-margin-top" fxLayout="row" fxLayoutAlign="center center"
           fxLayout.xs="column" fxLayoutAlign.xs="center center">
        <div class="xb-store-about__footer-word" (click)="jumpAbout()">Why Shop With Us</div>
        <div class="xb-store-about__footer-word xb-store-about__footer-margin-left" (click)="jumpFaq()">FAQ</div>
        <div class="xb-store-about__footer-word xb-store-about__footer-margin-left" (click)="jumpPrivacy()">Privacy Policy</div>
        <div class="xb-store-about__footer-word xb-store-about__footer-margin-left" (click)="jumpReturn()">Return Policy</div>
      </div>
      <div class="md-margin-top-1">© 2018 {{contextList.nameTag || store.name}}. All rights reserved.</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="center center"
           fxLayout.xs="column" fxLayoutAlign.xs="center center">
        <img class="xb-store__footer-margin-top-1 xb-pointer"
             src="https://media.xberts.com/collector/source/web/pic/pic-power.png"
             routerLink="/">
        <img class="xb-store__footer-margin-left xb-store__footer-margin-top-2 xb-pointer"
             src="https://media.xberts.com/collector/source/web/pic/pic-foot-logo.png"
             routerLink="/">
      </div>
    </div>
    <div class="xb-store-about__footer-icons" fxLayout="row" fxLayoutAlign="end center"
         fxLayoutAlign.xs="center center">
      <app-share-button [link]="shareLink" [text]="text" [style]="{'store':true}"></app-share-button>
    </div>
  </div>
</div>
