@charset "UTF-8";
@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-guide {

  &__bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $whiteColor;
    z-index: 1000;
  }

  &__title{
    margin-top: 72px;
    font-size: 24px;
    letter-spacing: -.58px;
    line-height: 29px;
    text-align: center;
    padding: 0 16px;
    @include media();
    @include xb-xs-screen{
      margin-top: 40px;
    }
  }

  &__subtitle{
    margin-top: 12px;
    font-size: 12px;
    letter-spacing: -.24px;
    line-height: 17px;
    text-align: center;
    padding: 0 16px;
    &-color{
      color: $redColor;
      @include media();
    }
    @include xb-xs-screen{
      text-align: left;
    }
  }

  &__text{
    letter-spacing: -0.34px;
    @include media();
  }

  &__text-1{
    font-size: 16px;
    line-height: 19px;
    @include media();
    letter-spacing: -0.39px;
  }

  &__text-2{
    margin-top: 64px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
    text-align: center;
    @include media();
    @include xb-xs-screen{
      margin-top: 40px;
      margin-bottom: 8px;
    }
  }

  &__template{
    width: 100%;
    padding-bottom: 112.5%;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    @include box-shadow(0px 1px 3px 0px rgba(0,0,0,0.19));

    > img {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__button{
    width: 100px;
    font-size: 12px;
    line-height: 32px;
    color: $whiteColor;
    background-color: $primaryColor;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    letter-spacing: -0.29px;

    &-added{
      width: 100px;
      font-size: 12px;
      line-height: 32px;
      color: $whiteColor;
      background-color: rgba(0,0,0,.54);
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      letter-spacing: -0.29px;
    }
  }
  $parent: &;

  &__added{
    #{$parent}__button{
      display: none;
    }
    #{$parent}__button-added{
      display: block;
    }

    &:hover{
      #{$parent}__button{
        display: block;
      }
      #{$parent}__button-added{
        display: none;
      }
    }

  }

  &__button-1{
    width: 100px;
    font-size: 12px;
    line-height: 30px;
    color: $primaryColor;
    background-color: $whiteColor;
    border: 1px solid $primaryColor;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    letter-spacing: -0.29px;
  }

  &__card{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    @include box-shadow(0 0 0 1px rgba(0, 0, 0, .12));
    overflow: hidden;

    img{
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
    }
  }

  &__cover{
    display: none !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include box-shadow(0 0 0 1px rgba(0, 0, 0, .12));
    background-color: rgba(255,255,255,.68);

    &-1{
      background-color: rgba(0,0,0,.68);
    }

    @include xb-xs-screen{
      display: block !important;
      padding: 8px 0 17px;
      width: 100%;
      height: auto;
      position: relative;
      @include box-shadow(none);
    }
    &-commission{
      font-size: 12px;
      line-height: 14px;
      letter-spacing: -.29px;
      text-align: center;
      padding: 0 12px;
    }
    &-sale{
      margin-top: 13px;
      font-size: 14px;
      letter-spacing: -.34px;
      line-height: 17px;
      text-align: center;
      padding: 0 12px;
      @include media();
    }
    &-color{
      font-size: 14px;
      letter-spacing: -.34px;
      line-height: 20px;
      text-align: center;
      @include media();
      color: $whiteColor;
    }
    &-original{
      margin-top: 2px;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: -.24px;
      text-align: center;
      color: rgba(0,0,0,.55);
      padding: 0 12px;
    }
  }

  &__list{
    position: relative;
    @include xb-gt-xs-screen{
      &:hover{
        #{$parent}__cover{
          display: flex !important;
        }
      }
    }
  }

  &__card-1{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    @include box-shadow(0 0 0 1px rgba(0, 0, 0, .12));
    cursor: pointer;
    overflow: hidden;

    img{
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
    }
    @include xb-gt-xs-screen{
      &:hover{
        #{$parent}__cover{
          display: flex !important;
        }
      }
    }
    @include xb-xs-screen{
      @include box-shadow(none);
    }

    &-container{
      @include xb-xs-screen{
        @include box-shadow(0 0 0 .5px rgba(0, 0, 0, .12));
      }
    }
  }

  &__margin-top{
    margin-top: 55px;
    @include xb-xs-screen{
      margin-top: 40px;
    }
  }

  &__margin-top-1{
    margin-top: 80px;
  }

  &__margin-top-2{
    margin-top: 16px;
    @include xb-xs-screen{
      margin-top: 8px;
    }
  }

  &__margin-top-3{
    margin-top: 17px;
  }

  &__margin-left{
    margin-left: 12px;
  }

  &__bottom-button{
    @include xb-xs-screen{
      padding: 8px 0;
      background-color: rgba(255, 255, 255, .94);
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      @include box-shadow(0px -.5px 2.5px 0px rgba(0,0,0,0.19))
    }
  }

  &__margin-bottom{
    margin-bottom: 72px;
  }

  &__margin-bottom-1{
    margin-bottom: 1px;
  }

  &__margin{
    margin-bottom: 1px;
    margin-right: 1px;
  }


  &__container{
    @include xb-xs-screen{
      padding: 0 16px;
    }
  }

  &__top{
    position: absolute;
    z-index: 1001;
    left: 0;
    top: 0;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .7);

    @include xb-xs-screen {
      overflow-y: hidden;
    }

    &-close {
      position: absolute;
      left: calc(100% + 24px);
      top: 0;
      color: $whiteColor;
      cursor: pointer;
      i {
        font-size: 56px;
        line-height: 56px;
      }

      @include xb-xs-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }

      @include xb-sm-screen {
        left: 50%;
        top: calc(100% - 40px);
        @include transform(translateX(-50%));
        i {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }

  &__details{
    margin-top: 56px;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0;
    max-width: 1200px;
    width: 100%;
    background-color: $whiteColor;

    @include xb-xs-screen {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  &__loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
    z-index: 1001;

    &-close {
      position: absolute;
      right: 56px;
      top: 56px;
      color: $whiteColor;
      cursor: pointer;
      i {
        font-size: 56px;
      }
    }

    &-text {
      position: absolute;
      left: 50%;
      top: 50%;
      color: $whiteColor;
      @include transform(translate(-50%, -50%));
    }
  }

}


.xb-guide-dialog{
  position: relative;
  width: 800px;
  height: 80vh;
  @include xb-xs-screen{
    width: 100%;
    height: 100vh;
    background-color: $whiteColor;
  }

  &__small{
    position: relative;
    max-width: 640px;
    @include xb-xs-screen{
      width: 80%;
      margin: auto;
    }
  }

  &__text{
    font-size: 14px;
    letter-spacing: -.58px;
    line-height: 17px;
  }

  &__close{
    position: absolute;
    left: calc(100% - 32px);
    top: 16px;
    cursor: pointer;
    i {
      font-size: 24px;
      line-height: 24px;
      color: rgba(0,0,0,.6);
    }
    @include xb-xs-screen{
      left: 0;
      top: 0;
      position: relative;
      padding: 16px;
    }
  }

  &__container{
    padding: 32px 40px 26px;
    @include xb-xs-screen{
      padding: 0 16px 18px;
    }
  }

  &__container-1{
    padding: 24px 40px;
    @include xb-xs-screen{
      padding: 12px 0;
      background-color: $whiteColor;
    }
  }

  &__container-2{
    padding: 32px 40px;
    @include xb-xs-screen{
      margin: auto;
      padding: 24px 16px;
      background-color: $whiteColor;
      border-radius: 4px;
    }
  }
  &__scroll{
    height: calc(80vh - 165px);
    overflow-y: scroll;
    padding: 0 40px;
    @include xb-xs-screen{
      height: calc(100vh - 155px);
      padding: 0 16px;
    }
  }

  &__inner-container{
    padding: 1px 0;
    @include xb-xs-screen{
      padding: 1px;
    }
  }
}
