@import "../../styles/utils/_index";
@import "../../styles/_variables";

.c-user {
  &__header{
    width: 100%;
    height: 0;
    border-radius: 50%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
  }
  $colors: (1 #93b7d3) (2 #85b58e) (3 #e1a56a) (4 #a99dc2) (5 #dfa1a1);
  @each $color in $colors {
    &__bg-#{nth($color, 1)} {
      background-color: nth($color, 2);
    }
  }
  &__name{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  &__avatar{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
  }
}
