<div class="xb-cart__footer">
  <div fxLayout="row" fxLayoutAlign="start start">
    <div>
      <div>Contact us</div>
      <div>Any questions? Let us know in store at 24/6h Street, or call us on 0800 637 637</div>
    </div>
    <div>
      <div>Links</div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="start center">
        <div class="xb-blog-detail__share md-margin-right-3">
          <i class="iconfontXberts icon-ic-facebook"></i>
        </div>
        <div class="xb-blog-detail__share md-margin-right-3">
          <i class="iconfontXberts icon-ic-twitter"></i>
        </div>
      </div>
    </div>
    <div>
      <div>Newsletter</div>
      <input placeholder="email@example.com">
      <button mat-raised-button>SUBSCRIBE</button>
    </div>
  </div>
  <div>
    © 2017 All rights reserved.  POWERED BY SocialCommer
  </div>
</div>
