<div class="xb-4-template-products__card">
  <div class="xb-pointer">
    <div class="xb-4-template-products__card-image">
      <a >
        <img [src]="product.imageUrl">
      </a>
    </div>
    <div class="xb-4-template-products__card-content" fxLayout="column" fxLayoutAlign="start center">
      <div class="xb-4-template-products__card-title">{{product.title}}</div>
      <div class="xb-4-template-products__card-price">{{product.salePriceAmount|currency: product.salePriceCurrency: true }}</div>
      <div class="xb-4-template-products__card-original line-through " *ngIf="product.originalPriceAmount > 0">{{product.originalPriceAmount|currency: product.originalPriceCurrency: true }}</div>
    </div>
  </div>
</div>
