<div class="md-padding-left-2 md-padding-right-2">
  <div class="md-margin-top-4">
    <span class="xb-pointer" routerLink="../">Balance </span> > <span class="xb-bold">Orders Under Pending Balance</span>
  </div>
  <div class="xb-shop__title md-margin-top-3 md-align-center">Orders Under Pending Balance</div>
  <div class="md-margin-top-3">
    <app-shop-account-balance-pending-title></app-shop-account-balance-pending-title>
    <div class="md-margin-top-2">
      <div *ngIf="true" class="xb-shop__product-none" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <img src="https://media.xberts.com/collector/source/web/pic/pic-no-product.png">
          <span class="md-dark-secondary">There’s no payment history to show.</span>
        </div>
      </div>
    </div>
  </div>
</div>

