@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-image-display{
  &__bottom{
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    >img{
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
    }

    &-bg{
      width: 120px;
      height: 120px;
      @include xb-sm-screen{
        width: 70px;
        height: 70px;
      }
    }
    &.active{
      border: 4px solid #6446c3;
    }
    @include xb-sm-screen{
      width: 70px;
      height: 70px;
      &.active{
        border: 2px solid #6446c3;
      }
    }
  }

  &__margin-left{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    @include xb-sm-screen{
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  &__top{
    width: 720px;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    position: relative;

    >img{
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
    }

    @include xb-sm-screen{
      width: 100%;
    }
  }

  &__slide{
    width: 100vw;
    height: 100vw;
    position: relative;

    @include xb-sm-screen{
      width: calc(100vw - 240px);
      height: calc(100vw - 240px);
      position: relative;
    }

    > span{
      position: absolute;
      font-size: 12px;
      right: 16px;
      bottom: 12px;
    }

    >img{
      width: 100%;
      display: block;
    }
  }
}



