<div class="xb-image-display" fxHide.sm fxHide.xs>
  <div>
    <div class="xb-image-display__top">
      <img *ngIf="selectedImage" [src]="selectedImage">
    </div>
  </div>
</div>
<div *ngIf="!insertImage">
  <div class="xb-image-display__slide" fxShow="false" fxShow.xs="true" fxShow.sm="true"
       *ngIf="imageSources.length >= 2">
    <carousel [sources]="imageSources" [config]="config" (currentSlideChange)="slideChange($event)"></carousel>
    <span>{{ (slideNumber + 1) + ' / ' + imageSources.length }}</span>
  </div>
  <div class="xb-image-display__slide" fxHide.gt-sm
       *ngIf="imageSources.length < 2">
    <img *ngIf="imageSources[0]" [src]="imageSources[0]"/>
  </div>
</div>
<div *ngIf="insertImage">
  <div class="xb-image-display__slide" fxShow="false" fxShow.xs="true">
    <img [src]="insertImage">
  </div>
</div>
