<div class="xb-4-template__container" appModifyBodyStyle>
  <div class="xb-4-template__mobile" fxShow="false" fxShow.xs="true" fxLayout="row" fxLayoutAlign="start center">
    <i class="material-icons xb-pointer" *ngIf="!isShowMenu"
       [ngStyle]="{'color': 'black','margin-left':'16px'}" (click)="changeShowMenu()">menu</i>

    <i class="iconfontXberts icon-ic-close xb-4-template__nav-close" *ngIf="isShowMenu"
       [ngStyle]="{'color': 'black','margin-left':'16px'}" (click)="changeShowMenu()"></i>

    <div fxLayout="row" fxLayoutAlign="center start" fxFlex>
      <div class="xb-4-template__title ">
        {{storeName}}
      </div>
    </div>
    <div class="xb-store-template__cart-position" (click)="jumpCart()">
      <i class="iconfontXberts icon-pic-cart1 xb-store-template__cart-icon"></i>
      <div class="xb-store-template__cart-circle" *ngIf="productNumber > 0">{{productNumber > 99 ? '99+': productNumber}}</div>
    </div>
    <div class="xb-4-template__mobile-navigation-fixed" fxShow="false" fxShow.xs="true" *ngIf="isShowMenu">
      <app-store-template-5-navigation [categories]="categories"
                                       (routerChange)="closeShowMenu()"
                                       [isHaveBlog]="isHaveBlog"
                                       [displayName]="displayName"
                                       [storeName]="storeName"></app-store-template-5-navigation>
    </div>
  </div>
  <div class="xb-4-template__navigation-fixed" fxShow="true" fxShow.xs="false">
    <app-store-template-5-navigation [categories]="categories"
                                     [isHaveBlog]="isHaveBlog"
                                     [productNumber]="productNumber"
                                     [displayName]="displayName"
                                     [storeName]="storeName"></app-store-template-5-navigation>
  </div>
  <router-outlet></router-outlet>
  <div>
    <app-shop-template-5-store-foot [contactUsTag]="contactUsTag" [storeName]="storeName"
                                    [text]="text"></app-shop-template-5-store-foot>
  </div>
</div>

