@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-template-2-edit {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $whiteColor;
  z-index: 500;
  &__100vh {
    min-height: 100vh;
    background-color: white;
  }
  &__container {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }

  &__edit-border {
    border: 1px solid $primaryColor;
    > input {
      border: none;
      background-color: transparent;

    }
  }
  &__image-position {
    position: absolute;
    top: 200px;
    left: 360px;
    width: 200px;
    height: 240px;
  }
  &__image-home-position {
    width: 200px;
    height: 240px;
    position: absolute;
    top: -120px;
    left: -80px;
  }
  &__edit-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
  &__edit-text-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
    white-space: nowrap;
  }
  &__store-name {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    padding-left: 8px;
    padding-right: 8px;
    color: $whiteColor;
    > input {
      border: none;
      background-color: transparent;
      font-size: 24px;
      text-align: center;
      color: $whiteColor;
    }
  }
  &__store-title {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: $whiteColor;
    position: relative;
    margin-top: 144px;
    @include xb-xs-screen {
      margin-top: 0;
    }
  }
  &__store-description {
    @include media();
    color: $whiteColor;
    position: relative;
    margin-top: 24px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    z-index: 1;
  }

  &__nav-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &__button {
    line-height: 40px;
    border-radius: 16px;
    background-color: $whiteColor;
    color: $blackColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  &__button-1 {
    line-height: 40px;
    border-radius: 16px;
    background-color: $primaryColor;
    color: $whiteColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

    @include xb-xs-screen {
      overflow-y: hidden;
    }
  }

  &__mobile-dialog-inner {
    @include xb-xs-screen {
      padding: 16px;
    }
    @include xb-sm-screen {
      padding: 16px;
    }
  }
  &__title-1 {
    font-size: 24px;
    @include media();
    margin-bottom: 8px;
  }
  &__content-1 {
    margin-bottom: 24px;
  }

  &__width-100 {
    width: 100%;
  }
  &__margin-top-48 {
    margin-top: 48px;
  }

}

.xb-store-template {
  &__details-bg-new {
    max-width: 1184px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    @include xb-xs-screen {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: $whiteColor;
    }
  }

  &__buttons-color {
    color: $whiteColor;
    display: block;
  }

  &__car {
    &-margin-top {
      margin-top: 24px;
      @include xb-xs-screen {
        margin-top: 32px;
      }
    }

    &-margin-top-1 {
      margin-top: 12px;
      @include xb-xs-screen {
        margin-top: 0px;
      }
    }

    &-margin-top-2 {
      margin-top: 20px;
      @include xb-xs-screen {
        margin-top: 0;
      }
    }

    &-left-part {
      @include media();
      color: rgba(0, 0, 0, .54);
      width: 54px;
      @include xb-xs-screen {
        width: 54px;
        margin-right: 0;
        margin-bottom: 12px;
      }
    }

    &-bg {
      margin-top: 24px;
      background-color: #efefef;
      border-radius: 4px;
      padding: 24px;
      @include xb-xs-screen {
        margin-top: 32px;
      }
    }

    &-left-part-1 {
      @include media();
      color: rgba(0, 0, 0, .54);
      width: 145px;
      margin-right: 32px;
    }

    &-image {
      width: 54px;
      height: 54px;
      position: relative;
      margin-right: 8px;
      margin-bottom: 8px;
      border: 1px solid #dedede;
      overflow: hidden;
      cursor: pointer;
      > img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
      &.active {
        border: 2px solid #501c19;
      }
    }

    &-text {
      font-size: 16px;
      color: rgba(0, 0, 0, .87);
      padding: 0 8px;
      line-height: 32px;
      margin-right: 40px;
      cursor: pointer;
      @include text-overflow();
      &.active {
        @include media();
        border: 2px solid #501c19;
      }
    }

    &-item {

      &-input {
        border: 1px solid #dedede;
        border-radius: 2px;
        input {
          width: 100%;
          line-height: 40px;
          font-size: 16px;
          border: none;
          text-align: center;
          padding: 0;
        }
      }

      &-add {
        > i {
          display: block;
          user-select: none;
        }
      }
    }
  }

  &__nav {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, .19);
    position: relative;
    @include text-overflow();
    padding: 0 56px;
    width: 100%;
    text-align: center;

    i {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 32px;
      line-height: 32px;
      padding: 12px;
    }
  }

  &__collection-no-goods {
    margin-top: 105px;
    text-align: center;
  }

  &__jump-button {
    margin-top: 20px;
    margin-bottom: 40px;
    > a {
      width: 224px;
      text-align: center;
      line-height: 40px;
      border-radius: 4px;
      cursor: pointer;
      background-color: $primaryColor;
      color: $whiteColor;
      @include media();

      @include xb-xs-screen {
        line-height: 36px;
      }
    }
  }

  &__left {
    text-align: center;
    max-width: 1200px;
    height: 56px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    @include xb-xs-screen {
    }
  }

  &__store-name {
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 24px;
    color: $whiteColor;
    @include media();
    @include xb-xs-screen {
      margin-left: 15px;
      font-size: 16px;
    }
  }
  &__category-store-name {
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    @include media();
  }

  &__nav_container {
    margin-left: 44px;
  }

  &__navigation {
    margin-left: 32px;
    text-align: center;
    font-size: 18px;
    color: $whiteColor;
    &.active {
      @include media();
    }
  }
  &__right {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  &__banner {
    background-color: #000;
    height: 560px;
    position: relative;
    @include xb-xs-screen {
      height: 320px;
    }
  }

  &__introduce {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;

    @include xb-xs-screen {
      margin-top: 32px;
      margin-left: 16px;
      margin-right: 16px;;
    }
    &-mobile-top-1 {
      height: 200px;
      margin-right: -5%;
      width: 55%;
    }
    &-mobile-top-2 {
      margin-top: 20px;
      height: 200px;
      width: 50%;
    }
    &-mobile-top-title {
      margin-top: 24px;
      font-size: 24px;
      @include regular();
      color: rgba(0, 0, 0, 0.87);
    }
    &-title-line {
      width: 145px;
      background-color: rgba(0, 0, 0, 0.87);
      height: 2px;
    }

    &-one {

      &-top-left {
        width: 400px;
        margin-left: 160px;
      }
      &-title {
        color: rgba(0, 0, 0, .87);
        font-size: 34px;
      }
      &-describe {
        position: relative;
        margin-top: 32px;
      }
      &-top-right {
        margin-left: 80px;
        width: 480px;
        height: 320px;
        position: relative;
      }
      &-top-image {
        position: relative;
        width: 480px;
        height: 320px;
        > img {
          /* position: absolute;
           top: 200px;
           left: 360px;
           width: 200px;
           height: 240px;*/
        }
      }
    }
    &-two {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 160px;

      &-bottom-right {
        width: 400px;
        margin-right: 160px;
        position: relative;
      }
      &-describe {
        position: relative;
        color: rgba(0, 0, 0, 0.87);
      }
      &-bottom-left {
        margin-right: 80px;
      }
      &-bottom-image {
        position: relative;
        width: 480px;
        height: 320px;
        > img {

        }
      }

    }

  }
  &__home-made {
    position: relative;
    height: 270px;
    margin-top: 72px;
    @include xb-xs-screen {
      height: 120px;
    }
    &-title {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      color: $whiteColor;
      text-align: center;
      margin-top: 100px;
      max-height: 80px;
      @include xb-xs-screen {
        margin-top: 46px;
        font-weight: 600;
      }
    }
    &-des {
      position: relative;
      font-size: 24px;
      color: $whiteColor;
      text-align: center;
      margin-top: 32px;
    }
  }

  &__content {
    min-height: 100vh;
    overflow: hidden;
  }
  &__product {
    &-content {
      max-width: 1200px;
      margin-top: 53px;
      padding-bottom: 40px;
      margin-left: auto;
      margin-right: auto;

      @include xb-xs-screen {
        margin-top: 16px;
        padding: 0 16px 40px;
      }

      @include xb-sm-screen {
        padding: 0 16px 40px;
      }
    }

    &-border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
  &__card {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;

    @include xb-xs-screen {
      margin-bottom: 0;
    }

    &-image {
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      overflow: hidden;
      @include resetBorder();
      position: relative;
      > a {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        > img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          @include transform(translate(-50%, -50%));
        }
      }
    }

    &-margin {
      margin-left: 8px;
      @include xb-xs-screen {
        margin-left: 0;
        margin-top: 8px;
      }
    }

    &-content {
      position: relative;
      padding: 8px 0 16px;

      @include xb-xs-screen {
        padding: 8px 0 16px;
      }
    }

    &-title {
      max-height: 56px;
      height: 56px;
      line-height: 28px;
      font-weight: 700;
      overflow: hidden;
    }

    &-price {
      font-size: 16px;
      font-weight: 700;
    }

    &-sale {
      background-color: $primaryColor;
      border-radius: 4px;
      padding: 0 8px;
      color: $whiteColor;
      line-height: 24px;
    }

    &-action {
      position: relative;
      display: none;
    }
  }

  &__buttons-bg {
    margin-top: 20px;
    > div {
      width: 224px;
      text-align: center;
      line-height: 40px;
      border-radius: 4px;
      cursor: pointer;
      background-color: #501c19;
      color: $whiteColor;
      @include media();

      @include xb-xs-screen {
        line-height: 36px;
      }
    }
  }

  &__subscribe {
    height: 420px;
    position: relative;
    margin-top: 48px;
    @include xb-xs-screen {
      height: 220px;
      margin-top: 8px;
    }
    &-parent {
      margin-top: 24px;
    }
    &-title {
      color: $whiteColor;
      position: relative;
      font-size: 34px;
      font-weight: 400;
      text-align: center;
      margin-top: 144px;
      @include xb-xs-screen {
        margin-top: 40px;
        font-size: 24px;
      }
    }
    &-email {
      position: relative;
      width: 296px;
      height: 40px;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #B8B8B8;
      @include xb-xs-screen {
        width: calc(100vw - 32px);
        margin-left: 16px;
        margin-right: 16px;
      }
      input {
        background-color: rgba(0, 0, 0, 0.5);
        color: $whiteColor;
        width: 100%;
        line-height: 36px;
        padding: 0 8px;
        border: none;
      }
    }
    &-submit {
      position: relative;
      background-color: #501c19;
      width: 120px;
      height: 40px;
      color: white;
      margin-left: 12px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      @include regular();
      @include xb-xs-screen {
        width: calc(100vw - 32px);
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 8px;
      }
    }
  }

  &__store-buttons {
    position: absolute;
    font-size: 16px;
    @include media();
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: $whiteColor;
    i {
      font-size: 40px;
      font-weight: 200;
    }

    @include xb-xs-screen {
      bottom: 8px;
      i {
        font-size: 24px;
      }
    }
  }

  &__category {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    &.active {
      @include media();
    }

    &-bg {
      ::-webkit-scrollbar {
        height: 2px;
      }
      @include xb-xs-screen {
        ::-webkit-scrollbar {
          height: 0;
        }
        height: 48px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
      }
    }
    &-scroll {
      overflow-x: scroll;
      width: 100%;
    }

    &-margin-right {
      margin-right: 40px;
      @include xb-xs-screen {
        margin-left: 16px;
      }
    }

    @include xb-xs-screen {
      line-height: 48px;
    }
  }

  &__template {

    &-mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
    }

    &-banner {
      background-color: #000;
      height: 500px;
      position: relative;
      @include xb-xs-screen {
        padding: 0 16px;
        height: 320px;
      }
      @include xb-sm-screen {
        padding: 0 16px;
      }
      &-right {
        position: absolute;
        top: 16px;
        right: 0;
      }
    }

    &-name {
      margin: 0 auto;
      width: 300px;
      height: 60px;
      line-height: 60px;
      color: $whiteColor;
      text-align: center;
      font-size: 24px;
      @include media();
    }

    &-title {
      width: 100%;
      text-align: center;
      font-size: 54px;
      color: $whiteColor;
      position: relative;
      margin-top: 144px;
      @include xb-xs-screen {
        margin-top: 35px;
        font-size: 24px;
        font-weight: 600;
      }
    }

    &-description {
      width: 100%;
      margin-top: 24px;
      color: $whiteColor;
      position: relative;
      overflow: hidden;
      margin-left: 8px;
      margin-right: 8px;
      @include xb-xs-screen {
        margin-top: 16px;
        padding: 0 16px;
      }
    }

    &-user {
      width: 100%;
      margin-top: 24px;
      position: relative;
      padding: 0;
      @include xb-xs-screen {
        margin-top: 16px;
      }
    }
  }

  &__about {
    margin: 72px 120px;
    @include xb-xs-screen {
      margin: 0;
    }

    &-title {
      font-size: 24px;
      @include media();
      margin-bottom: 40px;

      @include xb-xs-screen {
        padding: 0 24px;
        margin: 24px 0;
      }
    }

    &-image-bg {
      display: block;
      > img {
        width: 100%;
      }
    }
    &-bg {
      max-width: 1000px;
      padding-bottom: 56px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  //  商品列表样式

  &__collection {

    &-background {
      background-color: #f4f4f4;
      height: 252px;
      @include xb-xs-screen {
        height: 152px;
      }
    }

    &-container {
      max-width: 1200px;
      height: 56px;
      margin-left: auto;
      margin-right: auto;
      @include xb-xs-screen {
        margin: 0;
        height: auto;
      }
    }

    &-title {
      font-size: 48px;
      width: 100%;
      margin-bottom: 30px;
      margin-top: 60px;
      text-align: center;
      color: rgba(0, 0, 0, 0.87);
      @include regular();
      @include xb-xs-screen {
        font-size: 24px;
        margin-top: 30px;
      }
    }

    &—category {
      margin-top: 56px;
      margin-bottom: 40px;
      @include xb-xs-screen {
        margin-top: 1px;
      }
    }
    &—product {
      max-width: 1160px;
      margin-left: auto;
      margin-right: auto;
    }

    &-margin-right {
      margin-right: 40px;
    }
  }

  //商品详情
  &__detail {
    height: calc(100vh - 55px);
    max-width: 1130px;
    position: relative;
    padding: 40px 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 40px auto;
    background-color: $whiteColor;
    @include xb-xs-screen {
      margin: 0;
      padding: 0;
    }
    &-background {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      overflow-y: hidden;
      overflow-x: hidden;
      background-color: rgba(0, 0, 0, .7);
      z-index: 1000;
      @include xb-xs-screen {
        overflow-y: scroll;
      }
    }
    &-close {
      position: absolute;
      left: calc(100% - 24px);
      top: 0;
      color: $whiteColor;
      cursor: pointer;
      i {
        font-size: 56px;
        line-height: 56px;
      }
    }
    &-image-close {
      position: absolute;
      left: calc(100% - 80px);
      top: 25px;
      color: $whiteColor;
      cursor: pointer;
      i {
        font-size: 56px;
        line-height: 56px;
      }
    }

    &-margin-right {
      margin-right: 32px;
      width: 624px;
      @include xb-xs-screen {
        width: auto;
        height: auto;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;
        @include resetBorder();
      }
      @include xb-sm-screen {
        width: 416px;
        height: 320px;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;

      }
    }

    &-content {
      position: fixed;
      max-width: 400px;
      margin-left: 656px;
      &-mobile {
        height: 100%;
        overflow-y: visible;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
      }
    }
    &-title {
      font-size: 24px;
      line-height: 32px;
      @include media();

      @include xb-xs-screen {
        font-size: 16px;
        line-height: 24px;
      }

      @include xb-sm-screen {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &-price {
      font-size: 24px;
      line-height: 32px;
      @include media();

      @include xb-xs-screen {
        font-size: 16px;
      }

      @include xb-sm-screen {
        font-size: 16px;
      }
    }
    &-original-price {
      font-size: 14px;
      @include media();
      color: rgba(0, 0, 0, 0.54);
    }
    &-sale {
      background-color: #d93813;
      border-radius: 4px;
      padding: 0 12px;
      color: $whiteColor;
      font-size: 14px;
      line-height: 28px;
      @include media();

      @include xb-xs-screen {
        line-height: 24px;
      }

      @include xb-sm-screen {
        line-height: 24px;
      }
    }
    &-buttons-bg {
      margin-top: 25px;
      > a {
        height: 40px;
        width: 132px;
      }
      @include xb-xs-screen {
        margin-left: 0;
        margin-top: 16px;
        overflow-x: hidden;
        > a {
          height: 40px;
          width: calc(100vw - 32px);
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    &-buttons {
      display: block;
      background-color: #511a1a;
      border-radius: 4px;
      height: 40px;
      width: 132px;
      cursor: pointer;
      color: $whiteColor;
      font-size: 14px;
      @include media();
      @include xb-xs-screen {
        width: calc(100vw - 32px);
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-line {
      margin-top: 24px;
      background-color: rgba(0, 0, 0, 0.12);
      height: 1px;
    }
    &-store-owner {
      margin-top: 24px;
      &-title {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.87);
        @include media();

      }
      &-des {
        margin-top: 12px;
        font-size: 14px;
        line-height: 28px;
        @include regular();
        color: rgba(0, 0, 0, 0.87);
      }

    }
    &-product {
      margin-top: 24px;
      &-title {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.87);
        @include media();

      }
      &-des {
        margin-top: 12px;
      }
    }

  }

  &__side_container {
    //右侧栏目的主div
    width: calc(100vw - 64px);
    padding-top: 20px;
    background-color: black;
  }

  &__side-bg {
    height: 100vh;

  }
  &__side-flex {
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    color: $whiteColor;
    &.active {
      @include media();
    }
  }

  &__about-text {
    font-size: 14px;
    line-height: 28px;
    @include regular();

  }
  &__list-products {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include xb-xs-screen {
      margin-top: 16px;
      padding: 0 15px 40px;
    }
  }

}

.xb-4-template-edit {
  &__divider-line {
    background-color: #dcdcdc;
    height: 1px;
    width: 100vw;
  }
  &__cancel-save {
    position: relative;
    height: 72px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__magleft-12 {
    margin-left: 12px;
  }
  &__add-blog {
    font-size: 14px;
    @include media();
    color: $primaryColor;
  }
  &__icon {
    font-size: 24px;
    color: $primaryColor;
  }
  &__nav-right {
    position: absolute;
    top: 16px;
    right: 48px;
  }
  &__left {
    position: absolute;
    height: 100%;
    left: 48px;
    cursor: pointer;
  }
  //是否编辑blog的页面
  &__button-2 {
    line-height: 40px;
    border-radius: 16px;
    background-color: #ffc400;
    color: black;
    width: 186px;
    text-align: center;
    cursor: pointer;
  }

  &__button {
    line-height: 40px;
    border-radius: 16px;
    background-color: $whiteColor;
    color: $primaryColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  &__button-1 {
    line-height: 40px;
    border-radius: 16px;
    background-color: $primaryColor;
    color: $whiteColor;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  &__save-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
  &__banner-button {
    padding: 0 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    @include transform(translateX(-50%));
    background-color: $primaryColor;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
}

.xb-store-template__cart {
  &-position {
    position: relative;
    @include xb-xs-screen {
      margin-right: 16px;
    }
  }
  &-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: relative;
  }
  &-order-and-cart {
    position: absolute;
    right: 24px;
  }
  &-circle {
    width: 16px;
    height: 16px;
    background: red;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: -11px;
    top: 0;
  }
}

.xb-store {
  &__promotion {
    &-ongoing {
      position: absolute;
      background-color: #755993;
      border-radius: 4px;
      font-size: 10px;
      @include regular();
      color: white;
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
      height: 22px;
      line-height: 22px;
      top: 8px;
      left: 8px;
    }
    &-upcoming {
      position: absolute;
      background-color: #f85279;
      border-radius: 4px;
      font-size: 10px;
      @include regular();
      color: white;
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
      height: 22px;
      line-height: 22px;
      top: 8px;
      left: 8px;
    }
    &-countdown {
      position: absolute;
      background-color: white;
      border-radius: 4px;
      font-size: 10px;
      @include regular();
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
      height: 22px;
      line-height: 22px;
      border: 1px solid #dcdcdc;
      right: 8px;
      top: 8px;
    }

  }
}

.xb-store-promotion {
  background-color: #F1F1F1;
  border-radius: 4px;
  padding: 24px 8px;
  margin-top: 16px;
  &__processing {
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    overflow: hidden;
    margin-top: 12px;
    background-color: white;
    &-line {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #501c19;
      height: 3px;
    }
  }
  &__upcoming {
    font-size: 12px;
    width: 68px;
    color: #B38A00;
    @include regular();
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
    background-color: #F5E3A6;
    &-time {
      font-size: 12px;
      @include regular();
      margin-left: 8px;
      white-space: nowrap;
    }
  }
  &__count {
    &-word {
      font-size: 12px;
      @include regular();
    }
  }
  &__details {
    &-sale {
      background-color: #501c19;
      border-radius: 4px;
      padding: 0 4px;
      font-size: 12px;
      color: $whiteColor;
      white-space: nowrap;
      line-height: 24px;

      @include xb-xs-screen {
        line-height: 24px;
      }

      @include xb-sm-screen {
        line-height: 24px;
      }
    }
  }

}

//每行3个
.preview-home-box {
  max-width: 30% !important;
  flex: 1 1 300px !important;
  -webkit-flex: 1 1 300px !important;
  min-width: 30%;

  @include xb-xs-screen {
    max-width: 48% !important;
    flex: 1 1 200px !important;
    -webkit-flex: 1 1 200px !important;
    min-width: 48%;
  }
  @include xb-sm-screen {
    max-width: 30% !important;
    flex: 1 1 200px !important;
    -webkit-flex: 1 1 200px !important;
    min-width: 30%;
  }
  @include xb-md-screen {
    max-width: 30% !important;
    flex: 1 1 300px !important;
    -webkit-flex: 1 1 300px !important;
    min-width: 30%;
  }
  @include xb-lg-screen {
    max-width: 30% !important;
    flex: 1 1 310px !important;
    -webkit-flex: 1 1 310px !important;
    min-width: 30%;
  }

}
