<div class="container" appViewResize fxLayout="column">
  <app-articles-detail-header [showHeader]="scrollUp" [backFrom]="'review'"
    [interactId]="interact.id" [userId]="userId" [voteAmount]="interact.vote_amount"></app-articles-detail-header>
  <div class="xb-scroll" fxFlex appViewScroll (onScrollChange)="onScrollChange($event)">
    <img [src]="image.image_origin" *ngIf="image.image_origin" class="xb2-img-responsible" />
    <div *ngIf="!image.image_origin" class="xb2-page-head__loading-image"></div>
    <div class="xb2-page-head__content background-whitem">
      <div class="xb2-page-head__title">{{project.title}}</div>
      <div class="xb2-page-head__subtitle">{{reviews.title}}</div>
      <div class="md-margin-bottom-1" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="xb2-page-head__info">By {{userprofile.first_name}}</div>
        <div class="xb2-page-head__info">{{reviews.created | amDateFormat:'MMMM Do, YYYY'}}</div>
      </div>
      <div class="xb2-page-head__margin-bottom" fxLayout="row" fxLayoutAlign="start center">
        <app-score-points fxLayout="row" fxLayoutAlign="start center"
        [score]="getScore(reviews.presentation, reviews.cost_performance, reviews.usability)" ></app-score-points>
        <div class="xb2-page-head__star-title">
          {{getScore(reviews.presentation, reviews.cost_performance, reviews.usability)}}
        </div>
      </div>
    </div>
    <div class="xb2-page-head__content background-whitem md-margin-top-1">
      <div class="xb2-page-head__margin-top">
        <div *ngIf="reviews.pros">
          <div class="xb2-page-head__subtitle">Pros</div>
          <ul class="xb2-ul">
            <li *ngFor="let pro of getPros(reviews.pros); trackBy: trackByPro">{{ pro }}</li>
          </ul>
        </div>
        <div *ngIf="reviews.cons">
          <div class="xb2-page-head__subtitle">Cons</div>
          <ul class="xb2-ul">
            <li *ngFor="let con of getCons(reviews.cons); trackBy: trackByCon">{{ con }}</li>
          </ul>
        </div>
      </div>
      <div *ngIf="reviews.details" [innerHTML]="reviews.details | safeHtml"></div>
    </div>
    <div class="xb2-page-head__content background-whitem md-margin-top-1 xb2-page-head__content-2">
    <div fxLayout="row">
      <app-user-avatar [avatar]="userprofile.avatar" [name]="userprofile.first_name" [large]="true" fxFlex="none"
                       (click)="toProfile(reviewer.id)"></app-user-avatar>
      <div class="xb2-page-head__min-width" fxLayout="column" fxFlex>
        <div class="md-margin-left-1" fxLayout="column" fxLayoutAlign="start">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="xb2-page-head__content-1" fxFlex>
              <div class="md-subhead" fxLayout="row" fxLayoutAlign="start center" >
                {{userprofile.first_name}}
                <app-user-badge class="md-margin-left-1" [point]="userprofile.badge_point"></app-user-badge>
              </div>
              <div class="md-margin-top-1 xb2-page-head__info-1 xb2-page-head__ellipsis" *ngIf="userprofile.position || userprofile.company">
                {{getPosition(userprofile.position, userprofile.company)}}
              </div>
            </div>
            <app-user-follow [follow]="currentUser.follow" [id]="reviewer.id"
                             [expertId]="userId" (onFollowerChange)="onFollowerChange($event)"></app-user-follow>
          </div>
          <div class="xb2-page-head__head-bottom" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center start">
              <div class="xb-bold">{{achievement.blogApprovedAmount}}</div>
              <div class="xb2-page-head__info-1">{{achievement.blogApprovedAmount > 1? 'Articles':'Article'}}</div>
            </div>
            <span fxFlex="none"></span>
            <div fxLayout="column" fxLayoutAlign="center start">
              <div class="xb-bold">{{achievement.followersAmount}}</div>
              <div class="xb2-page-head__info-1">{{achievement.followersAmount > 1? 'Followers':'Follower'}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>
