<div>
  <div class="xb-store__footer__pink-line"></div>
  <div class="xb-store__footer" fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column">
    <div fxFlex="30">
      <div class="xb-store__footer-title">Contact Support</div>
      <div class="xb-store__footer-content"> If you need any help, please go to My Order section on the navigation bar where you can access your order
        information and contact our customer support!
      </div>
    </div>
    <div fxFlex="15">
      <div class="xb-store__footer-title">Links</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
        <div class="xb-store__footer-icons xb-pointer gtag-shop-detail-share-button-google"
             appSocialShare [googlePlus]="{url: shareLink}">
          <i class="iconfontXberts icon-google"></i>
        </div>
        <div class="xb-store__footer-icons xb-pointer md-margin-left-3"
             appSocialShare [facebook]="{u: shareLink}">
          <i class="iconfontXberts icon-ic-facebook"></i>
        </div>
        <div class="xb-store__footer-icons xb-pointer md-margin-left-3"
             appSocialShare [twitter]="{url: shareLink, text: text, hashtags: '' }">
          <i class="iconfontXberts icon-ic-twitter"></i>
        </div>
      </div>
    </div>
    <div fxFlex="25">
      <div class="xb-store__footer-title">About</div>
      <div class="xb-store__footer-word">Why Shop With Us</div>
      <div class="xb-store__footer-word md-margin-top-1">FAQ</div>
      <div class="xb-store__footer-word md-margin-top-1">Privacy Policy</div>
      <div class="xb-store__footer-word md-margin-top-1">Return Policy</div>
    </div>
  </div>
  <div class="xb-store__footer-bottom-content" fxLayout="row" fxLayoutAlign="center center"
       fxLayout.xs="column" fxLayoutAlign.xs="start start">
    <div>© 2018 All rights reserved.</div>
    <div class="xb-store__footer-bottom-content-left xb-pointer" routerLink="/">POWERED BY SocialCommer</div>
  </div>
</div>
