@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-shop{

  &__padding-bottom{
    padding-bottom: 32px;
  }

  &__tab{
    line-height: 40px;
    margin-right: 54px;
    white-space: nowrap;
    cursor: pointer;

    &.active{
      @include media();
      color: $primaryColor;
      border-bottom: 2px solid $primaryColor;
    }
    &-bg{
      overflow-x: scroll;
    }

    &-scroll{
      border-bottom: 1px solid rgba(0,0,0, .12);
      ::-webkit-scrollbar {
        height: 2px;
      }
      @include xb-xs-screen{
        padding: 0 16px;
      }
    }
  }

  &__title{
    font-size: 16px;
    @include media();
  }

  &__title-1{
    font-size: 24px;
    @include media();
  }

  &__text{
    line-height: 24px;
  }

  &__margin-top{
    margin-top: 12px;
  }

  &__content{
    padding: 24px 0;
    @include xb-xs-screen{
      padding: 16px;
    }
  }

  &__recommend-content{
    @include xb-xs-screen{
      padding: 0 16px;
    }
  }

}
